pug/blog_cont.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'部落格','url':'###'}],'actName':'浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉'}
            +travelBread(bread)
        .blog-tit-area
            .cloud.cloud05
            .cloud.cloud06
            .blog-tit
                h2 浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉
                .travel-page-info
                    .info by
                        span.art 文學小編
                    .info 2021.11.13
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_wh_collect.svg", alt="")
                        .txt 54
                    .info
                        .icon
                            img(src="img/icon_wh_comment.svg", alt="")
                        .txt 11
                    //- .share-btn-box
                    //-     a(href="###")
                    //-         i(class="far fa-check")
                    //-         | 讚 <span>234</span>
        .travel-area
            .travel-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-txt
                            .edit-box
                                p.def 苗栗卓蘭是水果之鄉，也是詩人詹冰的故鄉。卓蘭四季盛產不同的水果，遊客到此不免來趟採果之旅，小鎮上也有詩人留下的許多童詩，展現了生活裡可愛又生動的一面。
                                p.def 詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉：「現在是笑的極點。其證據是，正在滴下美麗的淚珠…。」也將觀察到的生態摘引入詩（〈山路上的螞蟻〉）：
                                p.def 小鎮留有他豐富生活足跡，他在卓蘭國中當了25年的理化教師，有藥師執照的他，開了當時鎮上最大的存仁藥局（也是當年鎮上唯一由專門藥師執業的藥局），此處更是笠詩社的誕生地──詹冰邀請了預計籌備詩刊的文友們來此討論、因而此處也成了《笠》詩刊創社之所在。他的故居至今仍維持完好，安靜的院落留有生活的痕跡，在水果之鄉生活的詩人夫妻，感情甜蜜動人，詹冰曾寫下的《椪柑》一詩，就是他看著太太「充滿食慾的眼睛」，慫恿被中醫禁口的太太偷吃水果，兩人的互動溫馨可愛，吃完一整個椪柑的太太，還賴皮說，醫生只說不要吃酸的水果。跟水果一樣甜蜜的情感，或許也是詹冰的創作原動力。
                                p.def 如今，鎮上已開幕的詹冰故事館煥然一新，它前身為卓蘭國小的日式宿舍，此刻已修整為紀念詹冰的文學園地，裡面有滿滿的故事，以全新的面貌迎接遊人，訴說小鎮詩人的文學軌跡。鎮上的信仰中心峨崙廟，也有著詹冰詩作的立牌，寫著「我在童年摸過的龍珠龍柱…（略）…到現在都不改變」，廟宇紀錄了歷史，詩人卻留下了情意，來峨崙廟拜神，「老妻要祈求一家平安子孫幸福，我只求老妻好好愛我」。在卓蘭小鎮唯一要擔心的就是路人被閃瞎了眼吧！
                                p.def 在出發前往果園採果之前，卓蘭小鎮正是最好的休憩點，果園四季開放，椪柑的清甜一如小鎮生活的滋潤清爽，來鎮上整備時別忘了在小鎮散步繞一繞—─路上處處可見的詹冰詩作，語言平易又充滿生活感，更沒有艱澀，詩人的現世生活幸福完滿，因此揮灑了無盡的童趣與愛吧！
                        .travel-route-article-area
                            .travel-route-article-box
                                .tit 撰寫作者
                                .route-article
                                    .icon
                                        img(src="img/default_member.svg", alt="")
                                    .name 劉雅婷
                                .route-article-cont 大家好，我是再台灣土生土長的雅婷，熱衷於探索台灣，維持身心靈的健康快樂。
                            .travel-route-article-box
                                .tit 相關標籤
                                .travel-tag-area
                                    a(href="###") #美食之旅
                    .travel-page-side
                        .travel-page-side-box
                            .travel-page-tit 體驗主題路線
                            .travel-theme-side-area
                                a(href="travel_cont.html").travel-theme-side-box
                                    img(src="img/t_page_banner.jpg", alt="")
                                    .tit 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                                a(href="travel_cont.html").travel-theme-side-box
                                    img(src="img/travel_theme01.jpg", alt="")
                                    .tit 樟之細路：走走步道、悠遊苗栗大湖小鎮—老官道...
                        .travel-page-tool
                            //- .icon.i-heart
                            .icon.i-link
                            .icon.i-fb
                            .icon.i-line
                            .icon.i-thumb
                    .btn-area
                        a(href="###").travel-m-btn <i class="far fa-chevron-left"></i> 返回部落格
        .travel-area.travel-pagebg02
            .travel-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-tit 評論
                        .travel-page-common-area
                            .travel-page-common-user
                                .user-img
                                    img(src="img/default_member.svg", alt="")
                                .travel-page-common-cont
                                    //  未登入
                                    .travel-page-common-note(style="display:none") 您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。
                                    //  登入後
                                    .page-common-star-box
                                        -const starNum=[1,2,3,4,5];
                                        each n in starNum
                                            .star
                                                input(type="checkbox" id="star"+n).star-input
                                                .star-c.fas
                                    .travel-page-common-input
                                        input(type="text" placeholder="留言...")
                                        .sumbit
                                            img(src="img/brown_arrow_r.svg", alt="")
                                    .travel-page-robot-box 機器人驗證Box
                            -const pageCommonReq01={'img':'icon_t_user.svg','name':'雅婷','cont':'是一個非常棒的地方，會想去看看～','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq01)
                            -const pageCommonReq02={'img':'icon_t_user.svg','name':'雯雯','cont':'居然是我的家鄉，等假期去附近走走：）','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq02)
                    .travel-page-recommon
                        -const travelRecommon02={'tit':'活動月曆','sup':'各大館舍、實體展覽推薦。','img':'bg_go02.png','link':'###'}
                        +travelRecommon(travelRecommon02)
                .travel-page-more-cont
                    .tit 猜你應該會喜歡的內容
                    .travel-theme-area
                        -const linkTo='travel_blog_cont.html'
                        -const tagTo="###";
                        -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的台灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','台南景點']};
                        +travelThemeBox(travelTheme01,linkTo,tagTo)
                        -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                        +travelThemeBox(travelTheme02,linkTo,tagTo)
                        -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                        +travelThemeBox(travelTheme03,linkTo,tagTo)
        include includes/footer_travel02

script.
    $(document).ready(function () {
        var travelPageSwiper = new Swiper('#travelPageSwiper', {
            slidesPerView: 5,
            spaceBetween: 20,
            //- initialSlide: 2,
            breakpoints: {
                1024: {
            		slidesPerView: 4,
            		spaceBetween: 20,
            	},
            	768: {
            		slidesPerView: 3,
            		spaceBetween: 10,
            	},
            	480: {
            		slidesPerView: 2,
            		spaceBetween: 10,
            	},
            },
            navigation: {
            	nextEl: '#travelPageNext',
            	prevEl: '#travelPagePrev',
            },
            //- pagination: {
            //- 	el: '#ExPage',
            //- 	clickable: true,
            //- },
        });
        //=== 點選banner換圖 ===
        $('.travel-page-img').on('click',function(){
            $('.travel-page-img').removeClass('act');
            $(this).addClass('act');
            var actImgLink=$(this).find('img').attr('src');
            $('#tMainBanner').find('img').attr('src',actImgLink);
        });
        //- $('.travel-footer-area').addClass('bg2');
        //== 星星評分 ==
        var starList=[
            {'btn':'#star1','list':['#star1']},
            {'btn':'#star2','list':['#star1','#star2']},
            {'btn':'#star3','list':['#star1','#star2','#star3']},
            {'btn':'#star4','list':['#star1','#star2','#star3','#star4']},
            {'btn':'#star5','list':['#star1','#star2','#star3','#star4','#star5']}
        ];
        $.each(starList,function(ind,val){
            var $btn=$(val.btn);
            $btn.on('click',function(){
                $('.star-input').prop('checked', false);
                $.each(val.list,function(ind,val){
                    $(val).prop('checked', true);
                });
            });
        });
        
        //== 景點popup ==
        var routeL=$('.travel-route-area').find('.travel-route-box').length;
        var routeList=[];
        for(var i = 1; i < routeL+1; i++) {
            //- printf("%d ", i);
            routeList.push(i);
        }
        $.each(routeList,function(ind,val){
            $('#route'+val).on('click',function(){
                $('#routePopup'+val).fadeIn(300);
                $('#mask').fadeIn(300);
                $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
            });
            $('#routeSide'+val).on('click',function(){
                $('#routePopup'+val).fadeIn(300);
                $('#mask').fadeIn(300);
                $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
            });
        })
        //= 關閉時消除滾輪 =
        $('.route-popup-close').on('click',function(){
            $('.travel-route-popup-area,#mask').fadeOut(300);
            $('.route-popup-cont').mCustomScrollbar("destroy");
        });
    });

public/blog_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <a href="###">部落格</a> / <span>浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉</span>
      </div>
    </div>
    <div class="blog-tit-area">
      <div class="cloud cloud05"></div>
      <div class="cloud cloud06"></div>
      <div class="blog-tit">
        <h2>浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉</h2>
        <div class="travel-page-info">
          <div class="info">by<span class="art">文學小編</span></div>
          <div class="info">2021.11.13</div>
          <div class="info">358 次點閱</div>
          <div class="info">
            <div class="icon"><img src="img/icon_wh_collect.svg" alt=""/></div>
            <div class="txt">54</div>
          </div>
          <div class="info">
            <div class="icon"><img src="img/icon_wh_comment.svg" alt=""/></div>
            <div class="txt">11</div>
          </div>
        </div>
      </div>
    </div>
    <div class="travel-area">
      <div class="travel-cont">
        <div class="travel-page-cont">
          <div class="travel-page-txt-cont">
            <div class="travel-page-txt">
              <div class="edit-box">
                <p class="def">苗栗卓蘭是水果之鄉，也是詩人詹冰的故鄉。卓蘭四季盛產不同的水果，遊客到此不免來趟採果之旅，小鎮上也有詩人留下的許多童詩，展現了生活裡可愛又生動的一面。</p>
                <p class="def">詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉：「現在是笑的極點。其證據是，正在滴下美麗的淚珠…。」也將觀察到的生態摘引入詩（〈山路上的螞蟻〉）：</p>
                <p class="def">小鎮留有他豐富生活足跡，他在卓蘭國中當了25年的理化教師，有藥師執照的他，開了當時鎮上最大的存仁藥局（也是當年鎮上唯一由專門藥師執業的藥局），此處更是笠詩社的誕生地──詹冰邀請了預計籌備詩刊的文友們來此討論、因而此處也成了《笠》詩刊創社之所在。他的故居至今仍維持完好，安靜的院落留有生活的痕跡，在水果之鄉生活的詩人夫妻，感情甜蜜動人，詹冰曾寫下的《椪柑》一詩，就是他看著太太「充滿食慾的眼睛」，慫恿被中醫禁口的太太偷吃水果，兩人的互動溫馨可愛，吃完一整個椪柑的太太，還賴皮說，醫生只說不要吃酸的水果。跟水果一樣甜蜜的情感，或許也是詹冰的創作原動力。</p>
                <p class="def">如今，鎮上已開幕的詹冰故事館煥然一新，它前身為卓蘭國小的日式宿舍，此刻已修整為紀念詹冰的文學園地，裡面有滿滿的故事，以全新的面貌迎接遊人，訴說小鎮詩人的文學軌跡。鎮上的信仰中心峨崙廟，也有著詹冰詩作的立牌，寫著「我在童年摸過的龍珠龍柱…（略）…到現在都不改變」，廟宇紀錄了歷史，詩人卻留下了情意，來峨崙廟拜神，「老妻要祈求一家平安子孫幸福，我只求老妻好好愛我」。在卓蘭小鎮唯一要擔心的就是路人被閃瞎了眼吧！</p>
                <p class="def">在出發前往果園採果之前，卓蘭小鎮正是最好的休憩點，果園四季開放，椪柑的清甜一如小鎮生活的滋潤清爽，來鎮上整備時別忘了在小鎮散步繞一繞—─路上處處可見的詹冰詩作，語言平易又充滿生活感，更沒有艱澀，詩人的現世生活幸福完滿，因此揮灑了無盡的童趣與愛吧！</p>
              </div>
            </div>
            <div class="travel-route-article-area">
              <div class="travel-route-article-box">
                <div class="tit">撰寫作者</div>
                <div class="route-article">
                  <div class="icon"><img src="img/default_member.svg" alt=""/></div>
                  <div class="name">劉雅婷</div>
                </div>
                <div class="route-article-cont">大家好，我是再台灣土生土長的雅婷，熱衷於探索台灣，維持身心靈的健康快樂。</div>
              </div>
              <div class="travel-route-article-box">
                <div class="tit">相關標籤</div>
                <div class="travel-tag-area"><a href="###">#美食之旅</a></div>
              </div>
            </div>
          </div>
          <div class="travel-page-side">
            <div class="travel-page-side-box">
              <div class="travel-page-tit">體驗主題路線</div>
              <div class="travel-theme-side-area"><a class="travel-theme-side-box" href="travel_cont.html"><img src="img/t_page_banner.jpg" alt=""/>
                  <div class="tit">砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作</div></a><a class="travel-theme-side-box" href="travel_cont.html"><img src="img/travel_theme01.jpg" alt=""/>
                  <div class="tit">樟之細路：走走步道、悠遊苗栗大湖小鎮—老官道...</div></a></div>
            </div>
            <div class="travel-page-tool">
              <div class="icon i-link"></div>
              <div class="icon i-fb"></div>
              <div class="icon i-line"></div>
              <div class="icon i-thumb"></div>
            </div>
          </div>
          <div class="btn-area"><a class="travel-m-btn" href="###"><i class="far fa-chevron-left"></i> 返回部落格</a></div>
        </div>
      </div>
    </div>
    <div class="travel-area travel-pagebg02">
      <div class="travel-cont">
        <div class="travel-page-cont">
          <div class="travel-page-txt-cont">
            <div class="travel-page-tit">評論</div>
            <div class="travel-page-common-area">
              <div class="travel-page-common-user">
                <div class="user-img"><img src="img/default_member.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <!--  未登入-->
                  <div class="travel-page-common-note" style="display:none">您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。</div>
                  <!--  登入後-->
                  <div class="page-common-star-box">
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star1"/>
                      <div class="star-c fas"></div>
                    </div>
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star2"/>
                      <div class="star-c fas"></div>
                    </div>
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star3"/>
                      <div class="star-c fas"></div>
                    </div>
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star4"/>
                      <div class="star-c fas"></div>
                    </div>
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star5"/>
                      <div class="star-c fas"></div>
                    </div>
                  </div>
                  <div class="travel-page-common-input">
                    <input type="text" placeholder="留言..."/>
                    <div class="sumbit"><img src="img/brown_arrow_r.svg" alt=""/></div>
                  </div>
                  <div class="travel-page-robot-box">機器人驗證Box</div>
                </div>
              </div>
              <div class="travel-page-common-user req">
                <div class="user-img"><img src="img/icon_t_user.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <div class="page-common-req">
                    <div class="info">
                      <div class="name-box">
                        <div class="name">雅婷</div>
                      </div>
                      <div class="cont">是一個非常棒的地方，會想去看看～
                      </div>
                    </div>
                    <div class="date">2021/10/10</div>
                  </div>
                </div>
              </div>
              <div class="travel-page-common-user req">
                <div class="user-img"><img src="img/icon_t_user.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <div class="page-common-req">
                    <div class="info">
                      <div class="name-box">
                        <div class="name">雯雯</div>
                      </div>
                      <div class="cont">居然是我的家鄉，等假期去附近走走：）
                      </div>
                    </div>
                    <div class="date">2021/10/10</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="travel-page-recommon"><a class="travel-recommon-cont" href="###">
              <div class="travel-recommon-box">
                <div class="travel-recommon-tit">
                  <h3>活動月曆</h3><span>各大館舍、實體展覽推薦。</span>
                  <div class="icon"><img src="img/wh_arrow_r.svg" alt=""/></div>
                </div><img class="bg" src="img/bg_go02.png" alt=""/>
              </div></a>
          </div>
        </div>
        <div class="travel-page-more-cont">
          <div class="tit">猜你應該會喜歡的內容</div>
          <div class="travel-theme-area">
            <div class="travel-theme-box"><a class="travel-theme" href="travel_blog_cont.html">
                <div class="travel-theme-box-img"><img src="img/travel02.png" alt=""/></div>
                <div class="travel-theme-txt">
                  <div class="date">2020.11.20</div>
                  <div class="tit">置身典雅的台灣文學館，捕捉幸福的最佳地點</div>
                </div></a>
              <div class="travel-tag-area"><a href="###">#歷史古蹟</a><a href="###">#文學創作</a><a href="###">#台南景點</a>
              </div>
            </div>
            <div class="travel-theme-box"><a class="travel-theme" href="travel_blog_cont.html">
                <div class="travel-theme-box-img"><img src="img/travel03.png" alt=""/></div>
                <div class="travel-theme-txt">
                  <div class="date">2020.10.20</div>
                  <div class="tit">文學力 —— 書寫 LÁN 臺灣常設展</div>
                </div></a>
              <div class="travel-tag-area"><a href="###">#活動講座</a>
              </div>
            </div>
            <div class="travel-theme-box"><a class="travel-theme" href="travel_blog_cont.html">
                <div class="travel-theme-box-img"><img src="img/travel04.png" alt=""/></div>
                <div class="travel-theme-txt">
                  <div class="date">2020.11.20</div>
                  <div class="tit">浪漫台三線．214公里的踏查之旅 ─ 前往梨之鄉</div>
                </div></a>
              <div class="travel-tag-area"><a href="###">#歷史古蹟</a><a href="###">#文學創作</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
<script>
  $(document).ready(function () {
      var travelPageSwiper = new Swiper('#travelPageSwiper', {
          slidesPerView: 5,
          spaceBetween: 20,
          //- initialSlide: 2,
          breakpoints: {
              1024: {
          		slidesPerView: 4,
          		spaceBetween: 20,
          	},
          	768: {
          		slidesPerView: 3,
          		spaceBetween: 10,
          	},
          	480: {
          		slidesPerView: 2,
          		spaceBetween: 10,
          	},
          },
          navigation: {
          	nextEl: '#travelPageNext',
          	prevEl: '#travelPagePrev',
          },
          //- pagination: {
          //- 	el: '#ExPage',
          //- 	clickable: true,
          //- },
      });
      //=== 點選banner換圖 ===
      $('.travel-page-img').on('click',function(){
          $('.travel-page-img').removeClass('act');
          $(this).addClass('act');
          var actImgLink=$(this).find('img').attr('src');
          $('#tMainBanner').find('img').attr('src',actImgLink);
      });
      //- $('.travel-footer-area').addClass('bg2');
      //== 星星評分 ==
      var starList=[
          {'btn':'#star1','list':['#star1']},
          {'btn':'#star2','list':['#star1','#star2']},
          {'btn':'#star3','list':['#star1','#star2','#star3']},
          {'btn':'#star4','list':['#star1','#star2','#star3','#star4']},
          {'btn':'#star5','list':['#star1','#star2','#star3','#star4','#star5']}
      ];
      $.each(starList,function(ind,val){
          var $btn=$(val.btn);
          $btn.on('click',function(){
              $('.star-input').prop('checked', false);
              $.each(val.list,function(ind,val){
                  $(val).prop('checked', true);
              });
          });
      });
      
      //== 景點popup ==
      var routeL=$('.travel-route-area').find('.travel-route-box').length;
      var routeList=[];
      for(var i = 1; i < routeL+1; i++) {
          //- printf("%d ", i);
          routeList.push(i);
      }
      $.each(routeList,function(ind,val){
          $('#route'+val).on('click',function(){
              $('#routePopup'+val).fadeIn(300);
              $('#mask').fadeIn(300);
              $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
          });
          $('#routeSide'+val).on('click',function(){
              $('#routePopup'+val).fadeIn(300);
              $('#mask').fadeIn(300);
              $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
          });
      })
      //= 關閉時消除滾輪 =
      $('.route-popup-close').on('click',function(){
          $('.travel-route-popup-area,#mask').fadeOut(300);
          $('.route-popup-cont').mCustomScrollbar("destroy");
      });
  });
</script>
