pug/create_platform_cont.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'共創平台 - 共創文章','link':'create_platform.html'}],'actPage':'陳允元：台灣文青的歧路——劉吶鷗的《新文藝日記》1927'}
				+breadBox(breadList)
				-const back={'name':'返回共創平台','link':'create_platform.html'}
				+backPage(back)
				-const subNavList=[{'name':'共創文章','icon':'<i class="fal fa-pencil-alt"></i>'},{'name':'交流討論','icon':'<i class="fas fa-comments"></i>','link':'create_qa_list.html'}]
				+subNav(subNavList)
		.inner-single-page.article-cont-area
			.main-cont
				.article-cont-banner(style="background: url(img/art_banner.jpg) no-repeat center center/cover")
					h2 陳允元：台灣文青的歧路——劉吶鷗的《新文藝日記》1927
				.article-cont-info
					.article-maker
						.name 作者：<span>陳允元</span>
						.date 2019/12/09
					.article-share
						// v5 add
						.num <i class="fas fa-eye"></i>：<span>559</span>
						.coll-heart-box
							.collect-tag <i class="fas fa-heart"></i> 66
							.collect-btn <i class="fas fa-heart"></i> 加入收藏
							// .collect-btn.on <i class="fas fa-heart"></i> 已加入收藏
						// v5 add end
						//- .article-banner-share.share-btn-box
						//- 	a(href="###")
						//- 		i(class="far fa-check")
						//- 		| 讚 <span>234</span>
						//- 	a(href="###") 分享
				.edit-area
					.edit-box
						p 【我們為什麼挑選這件藏品】
						p 劉吶鷗以「台灣人」的身分而為故鄉台灣認識，是非常晚近的事。他出生於日本時代的柳營、留學東京，後赴上海發展，奠定了「上海新感覺派」基礎。在戰後中國，由於獨尊現實主義左翼文學，現代主義的價值要到80年代才被重新肯定。而在這波浪潮中被發現的劉吶鷗，是被與施蟄存、穆時英等一同視為中國作家的。隨著史料出土，劉吶鷗的台灣身分逐漸廓清，並在2001年由台南縣文化局出版全集，正式回到故鄉台灣。
						p 除了以「台灣人」身分重新受到矚目，劉吶鷗也因為他依違於殖民地台灣、帝國日本與租界地上海的曖昧身分、混雜的語言使用、摩登前衛的美學光譜、多面向的藝術參與而被稱為「世界人」。也就是說，他是不被民族與國籍束縛的、藝術至上的世界主義者。但我始終覺得，「世界人」這個看似超越一切疆界藩籬、優游自在的形象，事實上正疊覆著其身為殖民地人苦澀的暗面，以及東亞情勢洶湧的暗潮。否則，他為什麼要離鄉背井、模糊身分，到他其實也並不喜歡的上海去當一個「世界人」呢？
						p 劉吶鷗可說是日本時代台灣的初代文青。台文館藏的劉吶鷗日記，紀錄的正是他頻繁越境於台灣、東京、上海之間而終於下定決心的1927年。到了日語世代形成、文青輩出的1930年代，那些他並不認識的文青晚輩們如翁鬧、巫永福、風車詩人們，也在有限的選項中做著人生的抉擇。殖民地的文青要往何處去？對於文青而言，這幾座東亞都市究竟意味著什麼？是什麼使他們熱血沸騰、又是什麼讓他們躑躅不前？這些都是很有趣的問題。而他們當初所下的決定，如今都交織成了我們的臺灣文學史。歷史沒有如果。但在正式翻開之前，它曾也是一張多歧路的卷軸。
						img.img-l(src="img/txt_img01.jpg", alt="")
						<br>
						p 這本日記的企畫出版者，是1904年創立、以文藝類書籍雜誌聞名的新潮社。翻開日記我們可以看到，上欄是以菊池寬（1888-1948）為首一字排開的十二位當月作家；下欄則說明它的出版緣起與定位：「本日記，去年改名為《新文藝日記》，以煥然一新的樣態面世，獲得預期以上的好評，發行部數創下創刊以來的紀錄。本年，我們在卷頭刊載『文壇寫真畫報』，卷末則附上『文藝年鑑』等，在各處改變面貌，裝幀也變得藝術感十足。作為文藝愛好者桌上一年的伴侶，本年也殷切期盼能夠大受歡迎。」除了卷頭多達八頁的文壇寫真畫報，每月的初始也刊有當月作家的親筆題辭、日記選錄、西洋文藝家介紹。月中則插入小品文、詩、短歌的「懸賞募集」用紙，使用者可將作品撕下寄回編輯部參加徵稿。卷末厚達五十九頁的「文藝年鑑」，包含由文壇名家撰寫的各文類年度文壇概觀、文壇大事記、現代文士錄等，內容相當豐富。就算是廣告頁，也是滿滿的文藝書籍介紹，可視為給文藝愛好者的推薦閱讀目錄。如同研究者徐禎苓所說的，這是一本作為「文藝商品」的日記。它不僅販賣給文青，也用來培養文青。
						img.img-r(src="img/txt_img02.jpg", alt="")
						p 而台文館藏的這本日記的使用者，是奠定了「上海新感覺派」之基礎的台灣青年劉吶鷗（本名劉燦波，1905-1940）。他可以說是日本時代殖民地台灣的初代文青。
						p 在新文學初啟的1920年代台灣，文學是作為社會運動之一環存在的。此時寫下作品的台灣青年們，將文學（特別是小說）視為文化啟蒙或殖民抵抗的手段。他們不是因為想成為作家，而是基於知識分子的社會民族責任而寫。也許我們可以說這些作品是一種「覺青的文學」、「憤青的文學」吧。但1930年代就不太一樣了，台灣開始出現了所謂的「文學志向者」。其外在原因是，日本政府在走向法西斯化、對外發動侵略的同時，對國內反政府勢力的鎮壓也日趨嚴峻，包括其統治下的殖民地台灣。1920年代曾經風起雲湧的各種政治社會運動於是由盛轉衰，失去實質的運動空間的知識分子，只能轉戰文學界。但更重要的內在原因是，隨著新文學發展的日益成熟、以及更年輕一輩的日語世代青年的登場，以作家為志向的「台灣文青」也於焉誕生。
					.btn-area
						a(href="create_platform.html").btn <i class="far fa-angle-left"></i> <span>返回共創平台</span>
					.article-share.edit-share
						.num 瀏覽人數：<span>559</span>
						.article-banner-share.share-btn-box
							a(href="###")
								i(class="far fa-check")
								| 讚 <span>234</span>
							a(href="###") 分享
				.more-article-link-area
					.more-article-link-box
						.more-article-link-tit 推薦文章
						.recom-link
							-const recomLinkImg01={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink01={'img':recomLinkImg01,'tit':'台灣當代影像：持攝影機的男人－劉吶鷗'}
							+recomLinkBox(recomLink01)
							-const recomLinkImg02={"background": "url(img/recom_img02.png) no-repeat center center/cover"};
							-const recomLink02={'img':recomLinkImg02,'tit':'李香蘭和劉吶鷗的一段情？！'}
							+recomLinkBox(recomLink02)
							-const recomLinkImg03={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink03={'img':recomLinkImg03,'tit':'東亞解剖台：作為日記電影的《持攝影機的男人》與跨界合作'}
							+recomLinkBox(recomLink03)
							-const recomLinkImg04={"background": "url(img/recom_img02.png) no-repeat center center/cover"};
							-const recomLink04={'img':recomLinkImg04,'tit':'台灣當代影像：持攝影機的男人－劉吶鷗'}
							+recomLinkBox(recomLink04)
							-const recomLinkImg05={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink05={'img':recomLinkImg05,'tit':'李香蘭和劉吶鷗的一段情？！'}
							+recomLinkBox(recomLink05)
					.more-article-link-box
						.more-article-link-tit 標籤
						.more-tag
							-const moreTagLink=['大事記','臺灣文學','文化','文青','政治','小說']
							each n in moreTagLink
								a(href="###") ##{n}
						.more-article-link-tit 我要留言
						.send-msg-nulog 您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。
						.send-msg-box
							.textarea-box
								textarea#sendMsg.send-msgs-sty(name="sendMsg" placeholder="請輸入留言...")
							.send-btn-area
								.send-btn.btn 送出
						.more-article-link-tit 留言
						.article-msg-box
							//- 一般留言者
							.article-msg
								.user-img(style="background: url(img/maker.png) no-repeat center center/cover")
								.user-box
									.user-name Truesun
									.user-info
										.acc truesun@gmail.com
										.date 2019/09/09
								.article-msg-cont
									.cont 有人知道這本書的出處嗎？
							//- 文學小編
							.article-msg.editer-article-msg
								.user-box
									.user-info
										.date 2019/09/09
										.acc 文學小編
								.user-img.editer-img
								.article-msg-cont
									.cont Truesun你好～全台各大書店，譬如誠品、金石堂或是小北百或皆可購買喔～小北還有買一送一活動～不要錯過喔
							//- 一般留言者
							.article-msg
								.user-img(style="background: url(img/default_user.png) no-repeat center center/cover")
								.user-box
									.user-name Truesun
									.user-info
										.acc truesun@gmail.com
										.date 2019/09/09
								.article-msg-cont
									.cont 有人知道這本書的出處嗎？
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//輸入匡必填
		var lang = getCookie('CacheLang');//語系
		var reqTxt;
		lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
		var validator = $("#replyForm").validate({
			messages:{
				reply:{
					required: reqTxt,
				},
			},
			submitHandler: function (form) {
				//- alert("完成");
				//- 資料修改完成！
				alertTxt('資料修改完成！');
				//- form.submit();
			}
		});
	});

public/create_platform_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">科技．人文．友善體驗</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600">親愛的會員</span><a href="member_info.html">周子瑜</a>您好</div>
            <div class="log-btn logout-btn" id="loginOut">登出</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">註冊會員</a><a class="log-btn" href="login_page.html">會員登入</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="" disabled="disabled" selected="selected">語言</option>
              <option value="zh">繁中</option>
              <option value="en">English</option>
            </select>
          </div>
        </div>
      </div>
      <div class="nav-fix-box" id="navFixBox">
        <nav>
          <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
          <div class="nav-cont">
            <!--有英文版要加.en => .nav-item.en#navItem -->
            <div class="nav-item" id="navItem"> 
              <!--英文版 -const nav=[{'name':'Virtual Reality','enName':'','link':'###'}, {'name':'Literary History','enName':'','link':'history_list_p2.html'}, {'id':'navLiteraryBtn','name':'Literary Tour','enName':'','subNav':[{'name':'Writer\'s history','enName':'','link':'writer_list.html'},{'name':'Story map','enName':'','link':'writer_story_list.html'},{'name':'Theme tour','enName':'','link':'theme_list.html'},{'name':'Real Escape','enName':'','link':'###'}]}, {'name':'Digital 3D','enName':'','link':'http://211.75.82.187/WS/3dmodel.php','isOut':true}, {'id':'navThemeBtn','name':'Theme Platform','enName':'','link':'###','subNav':[{'name':'Writer\'s platform','enName':'','link':'https://literature.sds.com.tw/','isOut':true},{'name':'Literary Exhibition','enName':'','link':'exhibition_list_p2.html'},{'name':'Virtual Reality(laiho)','enName':'','link':'###'}]}, {'id':'navMakerBtn','name':'Maker Space','enName':'','subNav':[{'name':'Maker Articles','enName':'','link':'create_platform.html'},{'name':'Forum','enName':'','link':'create_qa_list.html'}]}, {'name':'Collecting Literature','enName':'','link':'###'} ]; //-n 是值 i 是KEY--><a class="n-item" href="travel.html"><span>筆尖上的地圖</span></a><a class="n-item" href="history_list_p2.html"><span>臺灣文學史</span></a>
              <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>文學踏查</span>
                <div class="n-nav-sup"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
                  <div class="n-nav-three-box"><a href="###"><span class="tit">實境解謎</span><span class="cont">小封神藏寶圖系列1</span></a><a href="###"><span class="cont">小封神藏寶圖系列2</span></a>
                  </div>
                </div>
              </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php" target="_blank"><span>數位3D</span></a>
              <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>主題平台</span>
                <div class="n-nav-sup"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
                </div>
              </div>
              <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>共創平台</span>
                <div class="n-nav-sup"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
                </div>
              </div><a class="n-item" href="###"><span>拾藏文學</span></a>
            </div>
            <div class="src-box">
              <input class="input-src" type="text" placeholder="搜尋..."/>
              <div class="src-btn"><i class="fas fa-search"></i></div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </nav>
        <div class="sub-nav-list">
          <div class="nav-sup sub-literaryList" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
            <div class="nav-three"><span>城市解謎</span>
              <div class="nav-three-box"><a href="###">小封神藏寶圖系列1</a><a href="###">小封神藏寶圖系列2</a>
              </div>
            </div>
          </div>
          <div class="nav-sup sub-themeList" id="navThemeList"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
          </div>
          <div class="nav-sup sub-makerList" id="navMakerList"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
          </div>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="stepMask"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-tab-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><a href="create_platform.html">共創平台 - 共創文章</a><span>/</span>
          <div class="act-page">陳允元：台灣文青的歧路——劉吶鷗的《新文藝日記》1927</div>
        </div><a class="back-btn" href="create_platform.html"><i class="far fa-angle-left"></i> 返回共創平台</a>
        <div class="page-nav-area"><a class="page-nav-box"><i class="fal fa-pencil-alt"></i> 共創文章</a><a class="page-nav-box" href="create_qa_list.html"><i class="fas fa-comments"></i> 交流討論</a>
        </div>
      </div>
    </div>
    <div class="inner-single-page article-cont-area">
      <div class="main-cont">
        <div class="article-cont-banner" style="background: url(img/art_banner.jpg) no-repeat center center/cover">
          <h2>陳允元：台灣文青的歧路——劉吶鷗的《新文藝日記》1927</h2>
        </div>
        <div class="article-cont-info">
          <div class="article-maker">
            <div class="name">作者：<span>陳允元</span></div>
            <div class="date">2019/12/09</div>
          </div>
          <div class="article-share">
            <!-- v5 add-->
            <div class="num"><i class="fas fa-eye"></i>：<span>559</span></div>
            <div class="coll-heart-box">
              <div class="collect-tag"><i class="fas fa-heart"></i> 66</div>
              <div class="collect-btn"><i class="fas fa-heart"></i> 加入收藏</div>
              <!-- .collect-btn.on <i class="fas fa-heart"></i> 已加入收藏-->
            </div>
            <!-- v5 add end-->
          </div>
        </div>
        <div class="edit-area">
          <div class="edit-box">
            <p>【我們為什麼挑選這件藏品】</p>
            <p>劉吶鷗以「台灣人」的身分而為故鄉台灣認識，是非常晚近的事。他出生於日本時代的柳營、留學東京，後赴上海發展，奠定了「上海新感覺派」基礎。在戰後中國，由於獨尊現實主義左翼文學，現代主義的價值要到80年代才被重新肯定。而在這波浪潮中被發現的劉吶鷗，是被與施蟄存、穆時英等一同視為中國作家的。隨著史料出土，劉吶鷗的台灣身分逐漸廓清，並在2001年由台南縣文化局出版全集，正式回到故鄉台灣。</p>
            <p>除了以「台灣人」身分重新受到矚目，劉吶鷗也因為他依違於殖民地台灣、帝國日本與租界地上海的曖昧身分、混雜的語言使用、摩登前衛的美學光譜、多面向的藝術參與而被稱為「世界人」。也就是說，他是不被民族與國籍束縛的、藝術至上的世界主義者。但我始終覺得，「世界人」這個看似超越一切疆界藩籬、優游自在的形象，事實上正疊覆著其身為殖民地人苦澀的暗面，以及東亞情勢洶湧的暗潮。否則，他為什麼要離鄉背井、模糊身分，到他其實也並不喜歡的上海去當一個「世界人」呢？</p>
            <p>劉吶鷗可說是日本時代台灣的初代文青。台文館藏的劉吶鷗日記，紀錄的正是他頻繁越境於台灣、東京、上海之間而終於下定決心的1927年。到了日語世代形成、文青輩出的1930年代，那些他並不認識的文青晚輩們如翁鬧、巫永福、風車詩人們，也在有限的選項中做著人生的抉擇。殖民地的文青要往何處去？對於文青而言，這幾座東亞都市究竟意味著什麼？是什麼使他們熱血沸騰、又是什麼讓他們躑躅不前？這些都是很有趣的問題。而他們當初所下的決定，如今都交織成了我們的臺灣文學史。歷史沒有如果。但在正式翻開之前，它曾也是一張多歧路的卷軸。</p><img class="img-l" src="img/txt_img01.jpg" alt=""/><br>
            <p>這本日記的企畫出版者，是1904年創立、以文藝類書籍雜誌聞名的新潮社。翻開日記我們可以看到，上欄是以菊池寬（1888-1948）為首一字排開的十二位當月作家；下欄則說明它的出版緣起與定位：「本日記，去年改名為《新文藝日記》，以煥然一新的樣態面世，獲得預期以上的好評，發行部數創下創刊以來的紀錄。本年，我們在卷頭刊載『文壇寫真畫報』，卷末則附上『文藝年鑑』等，在各處改變面貌，裝幀也變得藝術感十足。作為文藝愛好者桌上一年的伴侶，本年也殷切期盼能夠大受歡迎。」除了卷頭多達八頁的文壇寫真畫報，每月的初始也刊有當月作家的親筆題辭、日記選錄、西洋文藝家介紹。月中則插入小品文、詩、短歌的「懸賞募集」用紙，使用者可將作品撕下寄回編輯部參加徵稿。卷末厚達五十九頁的「文藝年鑑」，包含由文壇名家撰寫的各文類年度文壇概觀、文壇大事記、現代文士錄等，內容相當豐富。就算是廣告頁，也是滿滿的文藝書籍介紹，可視為給文藝愛好者的推薦閱讀目錄。如同研究者徐禎苓所說的，這是一本作為「文藝商品」的日記。它不僅販賣給文青，也用來培養文青。</p><img class="img-r" src="img/txt_img02.jpg" alt=""/>
            <p>而台文館藏的這本日記的使用者，是奠定了「上海新感覺派」之基礎的台灣青年劉吶鷗（本名劉燦波，1905-1940）。他可以說是日本時代殖民地台灣的初代文青。</p>
            <p>在新文學初啟的1920年代台灣，文學是作為社會運動之一環存在的。此時寫下作品的台灣青年們，將文學（特別是小說）視為文化啟蒙或殖民抵抗的手段。他們不是因為想成為作家，而是基於知識分子的社會民族責任而寫。也許我們可以說這些作品是一種「覺青的文學」、「憤青的文學」吧。但1930年代就不太一樣了，台灣開始出現了所謂的「文學志向者」。其外在原因是，日本政府在走向法西斯化、對外發動侵略的同時，對國內反政府勢力的鎮壓也日趨嚴峻，包括其統治下的殖民地台灣。1920年代曾經風起雲湧的各種政治社會運動於是由盛轉衰，失去實質的運動空間的知識分子，只能轉戰文學界。但更重要的內在原因是，隨著新文學發展的日益成熟、以及更年輕一輩的日語世代青年的登場，以作家為志向的「台灣文青」也於焉誕生。</p>
          </div>
          <div class="btn-area"><a class="btn" href="create_platform.html"><i class="far fa-angle-left"></i> <span>返回共創平台</span></a></div>
          <div class="article-share edit-share">
            <div class="num">瀏覽人數：<span>559</span></div>
            <div class="article-banner-share share-btn-box"><a href="###"><i class="far fa-check"></i>讚 <span>234</span></a><a href="###">分享</a></div>
          </div>
        </div>
        <div class="more-article-link-area">
          <div class="more-article-link-box">
            <div class="more-article-link-tit">推薦文章</div>
            <div class="recom-link"><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img01.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">台灣當代影像：持攝影機的男人－劉吶鷗</div>
                  <div class="recom-txt">與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人...</div>
                </div></a><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img02.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">李香蘭和劉吶鷗的一段情？！</div>
                  <div class="recom-txt">與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人...</div>
                </div></a><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img01.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">東亞解剖台：作為日記電影的《持攝影機的男人》與跨界合作</div>
                  <div class="recom-txt">與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人...</div>
                </div></a><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img02.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">台灣當代影像：持攝影機的男人－劉吶鷗</div>
                  <div class="recom-txt">與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人...</div>
                </div></a><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img01.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">李香蘭和劉吶鷗的一段情？！</div>
                  <div class="recom-txt">與其形容它們是配件，在某種意義上，它們算是與作家一同見證了臺灣文壇的發展與演進，特別是首飾的擁有人...</div>
                </div></a>
            </div>
          </div>
          <div class="more-article-link-box">
            <div class="more-article-link-tit">標籤</div>
            <div class="more-tag"><a href="###">#大事記</a><a href="###">#臺灣文學</a><a href="###">#文化</a><a href="###">#文青</a><a href="###">#政治</a><a href="###">#小說</a>
            </div>
            <div class="more-article-link-tit">我要留言</div>
            <div class="send-msg-nulog">您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。</div>
            <div class="send-msg-box">
              <div class="textarea-box">
                <textarea class="send-msgs-sty" id="sendMsg" name="sendMsg" placeholder="請輸入留言..."></textarea>
              </div>
              <div class="send-btn-area">
                <div class="send-btn btn">送出</div>
              </div>
            </div>
            <div class="more-article-link-tit">留言</div>
            <div class="article-msg-box">
              <div class="article-msg">
                <div class="user-img" style="background: url(img/maker.png) no-repeat center center/cover"></div>
                <div class="user-box">
                  <div class="user-name">Truesun</div>
                  <div class="user-info">
                    <div class="acc">truesun@gmail.com</div>
                    <div class="date">2019/09/09</div>
                  </div>
                </div>
                <div class="article-msg-cont">
                  <div class="cont">有人知道這本書的出處嗎？</div>
                </div>
              </div>
              <div class="article-msg editer-article-msg">
                <div class="user-box">
                  <div class="user-info">
                    <div class="date">2019/09/09</div>
                    <div class="acc">文學小編</div>
                  </div>
                </div>
                <div class="user-img editer-img"></div>
                <div class="article-msg-cont">
                  <div class="cont">Truesun你好～全台各大書店，譬如誠品、金石堂或是小北百或皆可購買喔～小北還有買一送一活動～不要錯過喔</div>
                </div>
              </div>
              <div class="article-msg">
                <div class="user-img" style="background: url(img/default_user.png) no-repeat center center/cover"></div>
                <div class="user-box">
                  <div class="user-name">Truesun</div>
                  <div class="user-info">
                    <div class="acc">truesun@gmail.com</div>
                    <div class="date">2019/09/09</div>
                  </div>
                </div>
                <div class="article-msg-cont">
                  <div class="cont">有人知道這本書的出處嗎？</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo"><a class="f-logo" href="https://www.nmtl.gov.tw/" target="_blank"><img src="img/logo_his.svg" alt=""/></a>
          <div class="f-logo-txt">700 臺南市中西區中正路1號<br><i class="far fa-phone-rotary"></i>（06）221-7201</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="web-link-cont">
              <div class="web-link-box"><a href="about.html">關於本站</a><a href="traffic_page.html">交通資訊</a><a href="###">聯絡我們</a>
                <div class="web-link" id="privacyBtn">隱私權及安全政策</div>
                <div class="web-link" id="questBtn">線上問卷</div>
                <!-- v4 add--><a href="medal_info_v4.html">集章任務說明</a>
                <!-- v4 add end-->
              </div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>瀏覽人次</span><span>5915</span></div>
            <div class="web-info"><span>更新日期</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
      <!-- 地圖推廣入口-->
      <div class="travel-enter-area close" id="travelEnterArea">
        <div class="switch-btn-box" id="travelEnterBtn">
          <div class="icon"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="c-step-side-box" id="cStepSideBtn">
          <div class="c-step-side-img"><img src="img/c_step_side.svg" alt=""/></div>
          <div class="c-step-side-txt"><i class="fas fa-comment-alt-exclamation"></i><span>集章任務開跑</span></div>
        </div>
      </div>
      <div class="light-wrap" id="privacyBox">
        <div class="light-tit">
          <h2>隱私權與安全政策</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <h3>一、隱私權保護政策</h3>
            <p> 個人隱私權已是使用者於網路世界瀏覽中主要之顧慮，國立臺灣文學館（以下簡稱本館）特創設隱私權保護政策，以下將對： 『個人資料的蒐集與使用方式』、『Cookies、IP address』、『對個人資料之保護與利用』加以說明與宣示：</p>
            <div class="tit">(一) 個人資料的蒐集與使用方式：</div>
            <p>為了在本網站上提供您最佳的網站服務，依不同頁面會請您提供相關個人的資料，其範圍如下：本網站在您使用電子報訂閱、團體導覽預約、活動報名、加入文學之友與刊登研討會訊息等系統功能表單時，會保留您所提供的姓名、電子郵件地址、連絡方式及使用時間等。</p>
            <div class="tit">(二) Cookies and IP Address：</div>
            <p>當使用者到本網站瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。</p>
            <div class="tit">(三) 對個人資料之保護與利用：</div>
            <p>本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料。我們採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義者，將會受到相關的法律處分。</p>
            <p>本網站雖將盡最大之努力以維護使用者之個人資料（不濫用與 不揭露），但因網路資料之傳輸無法確保百分之百的安全性， 因此本網站無法確信或擔保使用者所傳來或我們傳送予使用者 的資料完全安全。關於上述之風險，必須請使用者自行負擔。</p>
            <p>除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露於第三人或使用於蒐集目的以外之其他用途。</p>
            <h3>二、資訊安全政策</h3>
            <p>國立臺灣文學館(以下簡稱本館)尊重並保護您在使用網際網路時的安全及隱私保護利，為了幫助您瞭解「國立臺灣文學館全球資訊網」如何保護您在使用本網站各項服務的安全、及如何蒐集、應用及保護您所提供的個人資訊，請您詳細閱讀「國立臺灣文學館全球資訊網」的隱私保護及安全政策。請您仔細閱讀以下各項說明， 也歡迎您告訴我們您的想法，若有任何意見或疑 問，請E-mail至 twp@nmtl.gov.tw</p>
            <p>任何未經授權而企圖上載或更改本館所提供的各項服務及相關資訊的行為，都是嚴厲禁止而且可能觸犯法律。為了網站安全的目的和確保這項服務能夠繼續服務所有的網路使用者，本網站提供了以下的安全保護措施：</p>
          </div>
        </div>
      </div>
      <div class="light-wrap" id="questBox">
        <div class="light-tit">
          <h2>線上問卷</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <div class="quest-list-box">
              <div class="quest-list-tit">問卷主題</div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 日本文學之興趣調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 臺灣文學虛擬博物館滿意度調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 現代文學調查</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 集章步驟-->
      <div class="light-step-wrap close" id="lightStepWrap">
        <div class="light-step-close-box">
          <div class="light-step-close" id="lightStepClose"><img src="img/c_step_close.svg"/></div>
        </div>
        <div class="light-step-area">
          <div class="light-step-cont">
            <div class="light-step-tit">
              <div class="stpe-tit-d"><img src="img/c_step_d.svg"/></div>
              <div class="tit1"><span>集章任務開跑</span>
                <div class="arr"><img src="img/c_step_arr.svg"/></div>
              </div>
            </div>
            <div class="light-step-nav">
              <div class="step-box act" id="stepC1">STEP.1</div>
              <div class="step-box" id="stepC2">STEP.2</div>
              <div class="step-box" id="stepC3">STEP.3</div>
              <div class="step-box" id="stepC4">STEP.4</div>
            </div>
            <div class="light-step-sw-area">
              <div class="light-step-sw">
                <div class="swipe" id="lightStepSw">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">註冊會員或會員登入</div>
                        <div class="light-step-img cstep1"><img src="img/c_step1.png"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">前往「會員中心」，查看徽章收集進度</div>
                        <div class="light-step-img cstep2"><img src="img/c_step2.jpg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">完成各項集章任務，獲得更多徽章</div>
                        <div class="light-step-img cstep3"><img src="img/c_step3.svg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">累積更多徽章，兌換更多獎勵吧！</div>
                        <div class="light-step-img cstep4"><img src="img/c_step4.svg"/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function(){
  	//輸入匡必填
  	var lang = getCookie('CacheLang');//語系
  	var reqTxt;
  	lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
  	var validator = $("#replyForm").validate({
  		messages:{
  			reply:{
  				required: reqTxt,
  			},
  		},
  		submitHandler: function (form) {
  			//- alert("完成");
  			//- 資料修改完成！
  			alertTxt('資料修改完成！');
  			//- form.submit();
  		}
  	});
  });
</script>
