pug/create_platform_en.pug
include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'Maker Space - Maker Articles'}
				+breadBox(breadList)
				-const subNavList=[{'name':'Maker Articles','icon':'<i class="fal fa-pencil-alt"></i>'},{'name':'Forum','icon':'<i class="fas fa-comments"></i>','link':'create_qa_list.html'}]
				+subNav(subNavList)
		.article-banner-area
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="Search Maker Articles...")
					.creat-src-btn
						i(class="fas fa-search")
						| Search
				.article-banner-cont
					a.article-banner-img(href="create_platform_cont_en.html" style="background: url(img/article01.jpg) no-repeat center center/cover")
						img(src="img/article01.jpg", alt="")
					.article-banner-box
						.article-banner-info
							.date 2019/01/09
							a(href="create_platform_cont_en.html").tit Sheng Haowei: The Burning Point of Poetry ──The story of "Letter from Tada Nanming to Guo Shuitan" and "Nanming Paradise" New Year No. 4
							a(href="create_platform_cont_en.html").cont
								p
									|【 Why did we choose this collection 】<br>
									| Hanging around in the bookstore, maybe we are all used to displaying a magazine or a book on the shelf. But behind the publication of these books, even newspapers, magazines, and articles, there are many detailed communications, discussions and struggles that most readers cannot see. And there are many creators who are writing...
						.article-banner-tag-box
							.article-banner-tag.gin-tag-box
								a(href="###") #literature
								a(href="###") #female
								a(href="###") #music
							.article-banner-share.share-btn-box
								a(href="###")
									i(class="far fa-check")
									| like <span>234</span>
								a(href="###") Share
		.creat-article-list-area
			.main-cont
				.creat-article-tag-box
					.creat-article-tag-tit
						div Representative Tag
						.creat-article-tag-more#moreTagBtn Show All
							i(class="far fa-angle-down")
					.creat-article-tag.gin-tag-box
						.article-all-tag#articleAllTagBox
							-const tagList=['memorabilia','political','United Literature','film','White horror','Aboriginal','modern','political','United Literature','film','White horror','Aboriginal','modern']
								each n,i in tagList
									a(href="###") ##{n}
				.creat-article-list
					-const creatArtImg01={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt01={'img':creatArtImg01,'date':'2019/01/03','tit':'Zheng Qinghong: That year, they used literature to circle the island - Zhang Shenqi','txt':'In 2007, after the movie "Etudes" by cycling around the island was released, Taiwan set off a wave of "circle the island fever", whether it was taking a train, driving a car, riding a motorcycle...','maker':'Zheng Qinghong'}
					+creatArt(creatArt01)
					-const creatArtImg02={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt02={'img':creatArtImg02,'date':'2019/01/03','tit':'Xiong Yiping: From now on, rock is not just music','txt':'The independent orchestra sings the aspirations of contemporary young people, but do you know what independent music is? If you say','maker':'Xiong Yiping'}
					+creatArt(creatArt02)
					-const creatArtImg03={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt03={'img':creatArtImg03,'date':'2019/01/03','tit':'Chen Yunyuan: A Survivor of Time──The Windmill Issue 3','txt':'The independent orchestra sings the aspirations of contemporary young people, but do you know what independent music is? If it is said that the independent orchestra sings the aspirations of contemporary young people, do you know what independent music is? If you say','maker':'Chen Yunyuan'}
					+creatArt(creatArt03)
					-const creatArtImg04={"background": "url(img/art_list01.jpg) no-repeat center center/cover"};
					-const creatArt04={'img':creatArtImg04,'date':'2019/01/03','tit':'Zheng Qinghong: That year, they used literature to circle the island-the story of Zhang Shenqie and the "Taiwan Literature and Art League"','txt':'In 2007, after the movie "Etudes" by cycling around the island was released, Taiwan set off a wave of "circle the island fever", whether it was taking a train, driving a car, riding a motorcycle...','maker':'Zheng Qinghong'}
					+creatArt(creatArt04)
				+pagination
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){
		//標籤打開 隱藏
		$('#moreTagBtn').on('click',function(){
			var tagOpen=$('#articleAllTagBox').hasClass('act-open');
			if(tagOpen){
				$('#articleAllTagBox').removeClass('act-open');
				$('#moreTagBtn').find('i').removeClass('fa-angle-up');
				$('#moreTagBtn').find('i').addClass('fa-angle-down');
			}else{
				$('#articleAllTagBox').addClass('act-open');
				$('#moreTagBtn').find('i').addClass('fa-angle-up');
				$('#moreTagBtn').find('i').removeClass('fa-angle-down');
			}
		});
	});

public/create_platform_en.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">tech．humanity．friendly</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600"> </span><a href="member.html">周子瑜</a>,Hello</div>
            <div class="log-btn logout-btn" id="loginOut">LogOut</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">Register</a><a class="log-btn" href="login_page.html">Login</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="zh">繁中</option>
              <option value="en" selected="selected">English</option>
            </select>
          </div>
        </div>
      </div>
      <nav>
        <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
        <div class="nav-cont">
          <div class="nav-item en" id="navItem"><a class="n-item" href="###"><span>Virtual Reality</span><span class="en"></span></a><a class="n-item" href="history_list.html"><span>Literary History</span><span class="en"></span></a>
            <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>Literary Tour</span><span class="en"></span>
              <div class="n-nav-sup"><a href="writer_list.html"><span>Writer's history</span><span class="en"></span></a><a href="writer_story_list.html"><span>Story map</span><span class="en"></span></a><a href="theme_list.html"><span>Theme tour</span><span class="en"></span></a><a href="###"><span>Real Escape</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php"><span>Digital 3D</span><span class="en"></span></a>
            <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>Theme Platform</span><span class="en"></span>
              <div class="n-nav-sup"><a href="https://literature.sds.com.tw/"><span>Writer's platform</span><span class="en"></span></a><a href="exhibition_list.html"><span>Literary Exhibition</span><span class="en"></span></a><a href="###"><span>Virtual Reality(laiho)</span><span class="en"></span></a>
              </div>
            </div>
            <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>Maker Space</span><span class="en"></span>
              <div class="n-nav-sup"><a href="create_platform.html"><span>Maker Articles</span><span class="en"></span></a><a href="create_qa_list.html"><span>Forum</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="###"><span>Collecting Literature</span><span class="en"></span></a>
          </div>
          <div class="src-box">
            <input class="input-src" type="text" placeholder="Search..."/>
            <div class="src-btn"><i class="fas fa-search"></i></div>
          </div>
          <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </nav>
      <div class="sub-nav-list">
        <div class="nav-sup" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span><span class="en">Writer‘s history</span></a><a href="###"><span>故事地圖</span><span class="en">Story map</span></a><a href="###"><span>主題之旅</span><span class="en">Theme tour</span></a><a href="###"><span>實境解謎</span><span class="en">Real Escape</span></a>
        </div>
        <div class="nav-sup" id="navThemeList"><a href="###"><span>作家平台</span><span class="en">Writer‘s platform</span></a><a href="exhibition_list_en.html"><span>文學展示</span><span class="en">Literary Exhibition</span></a><a href="###"><span>虛擬實境</span><span class="en">Virtual Reality(laiho)</span></a>
        </div>
        <div class="nav-sup" id="navMakerList"><a href="create_platform_en.html"><span>共創文章</span><span class="en">Maker Articles</span></a><a href="create_qa_list.html"><span>交流討論</span><span class="en">Forum</span></a>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-tab-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index_en.html">Index</a><span>/</span>
          <div class="act-page">Maker Space - Maker Articles</div>
        </div>
        <div class="page-nav-area">
          <div class="page-nav-box act"><i class="fal fa-pencil-alt"></i> Maker Articles</div><a class="page-nav-box" href="create_qa_list.html"><i class="fas fa-comments"></i> Forum</a>
        </div>
      </div>
    </div>
    <div class="article-banner-area">
      <div class="main-cont">
        <div class="creat-src-box">
          <div class="creat-src">
            <input type="text" name="" placeholder="Search Maker Articles..."/>
          </div>
          <div class="creat-src-btn"><i class="fas fa-search"></i>Search</div>
        </div>
        <div class="article-banner-cont"><a class="article-banner-img" href="create_platform_cont_en.html" style="background: url(img/article01.jpg) no-repeat center center/cover"><img src="img/article01.jpg" alt=""/></a>
          <div class="article-banner-box">
            <div class="article-banner-info">
              <div class="date">2019/01/09</div><a class="tit" href="create_platform_cont_en.html">Sheng Haowei: The Burning Point of Poetry ──The story of "Letter from Tada Nanming to Guo Shuitan" and "Nanming Paradise" New Year No. 4</a><a class="cont" href="create_platform_cont_en.html">
                <p>
                  【 Why did we choose this collection 】<br>
                  Hanging around in the bookstore, maybe we are all used to displaying a magazine or a book on the shelf. But behind the publication of these books, even newspapers, magazines, and articles, there are many detailed communications, discussions and struggles that most readers cannot see. And there are many creators who are writing...
                </p></a>
            </div>
            <div class="article-banner-tag-box">
              <div class="article-banner-tag gin-tag-box"><a href="###">#literature</a><a href="###">#female</a><a href="###">#music</a></div>
              <div class="article-banner-share share-btn-box"><a href="###"><i class="far fa-check"></i>like <span>234</span></a><a href="###">Share</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="creat-article-list-area">
      <div class="main-cont">
        <div class="creat-article-tag-box">
          <div class="creat-article-tag-tit">
            <div>Representative Tag</div>
            <div class="creat-article-tag-more" id="moreTagBtn">Show All<i class="far fa-angle-down"></i></div>
          </div>
          <div class="creat-article-tag gin-tag-box">
            <div class="article-all-tag" id="articleAllTagBox"><a href="###">#memorabilia</a><a href="###">#political</a><a href="###">#United Literature</a><a href="###">#film</a><a href="###">#White horror</a><a href="###">#Aboriginal</a><a href="###">#modern</a><a href="###">#political</a><a href="###">#United Literature</a><a href="###">#film</a><a href="###">#White horror</a><a href="###">#Aboriginal</a><a href="###">#modern</a>
            </div>
          </div>
        </div>
        <div class="creat-article-list">
          <div class="creat-article-box"><a class="creat-article-img" style="background:url(img/art_list01.jpg) no-repeat center center/cover;" href="create_platform_cont_en.html"><img src="img/art_list01.jpg" alt=""/></a>
            <div class="creat-article-cont">
              <div class="date">2019/01/03</div><a class="tit" href="create_platform_cont_en.html">Zheng Qinghong: That year, they used literature to circle the island - Zhang Shenqi</a><a class="cont" href="create_platform_cont_en.html">
                <p>In 2007, after the movie &quot;Etudes&quot; by cycling around the island was released, Taiwan set off a wave of &quot;circle the island fever&quot;, whether it was taking a train, driving a car, riding a motorcycle...</p></a>
              <div class="tag-box gin-tag-box"><a class="tag" href="###">#literature</a><a class="tag" href="###">#female</a><a class="tag" href="###">#music</a></div>
            </div>
            <div class="share-btn-area">
              <div class="share-btn-box">
                <div class="sbtn"><i class="far fa-check"></i>like <span>234</span></div>
                <div class="sbtn">Share</div>
              </div>
              <div class="maker">——— Zheng Qinghong</div>
            </div>
          </div>
          <div class="creat-article-box"><a class="creat-article-img" style="background:url(img/art_list01.jpg) no-repeat center center/cover;" href="create_platform_cont_en.html"><img src="img/art_list01.jpg" alt=""/></a>
            <div class="creat-article-cont">
              <div class="date">2019/01/03</div><a class="tit" href="create_platform_cont_en.html">Xiong Yiping: From now on, rock is not just music</a><a class="cont" href="create_platform_cont_en.html">
                <p>The independent orchestra sings the aspirations of contemporary young people, but do you know what independent music is? If you say</p></a>
              <div class="tag-box gin-tag-box"><a class="tag" href="###">#literature</a><a class="tag" href="###">#female</a><a class="tag" href="###">#music</a></div>
            </div>
            <div class="share-btn-area">
              <div class="share-btn-box">
                <div class="sbtn"><i class="far fa-check"></i>like <span>234</span></div>
                <div class="sbtn">Share</div>
              </div>
              <div class="maker">——— Xiong Yiping</div>
            </div>
          </div>
          <div class="creat-article-box"><a class="creat-article-img" style="background:url(img/art_list01.jpg) no-repeat center center/cover;" href="create_platform_cont_en.html"><img src="img/art_list01.jpg" alt=""/></a>
            <div class="creat-article-cont">
              <div class="date">2019/01/03</div><a class="tit" href="create_platform_cont_en.html">Chen Yunyuan: A Survivor of Time──The Windmill Issue 3</a><a class="cont" href="create_platform_cont_en.html">
                <p>The independent orchestra sings the aspirations of contemporary young people, but do you know what independent music is? If it is said that the independent orchestra sings the aspirations of contemporary young people, do you know what independent music is? If you say</p></a>
              <div class="tag-box gin-tag-box"><a class="tag" href="###">#literature</a><a class="tag" href="###">#female</a><a class="tag" href="###">#music</a></div>
            </div>
            <div class="share-btn-area">
              <div class="share-btn-box">
                <div class="sbtn"><i class="far fa-check"></i>like <span>234</span></div>
                <div class="sbtn">Share</div>
              </div>
              <div class="maker">——— Chen Yunyuan</div>
            </div>
          </div>
          <div class="creat-article-box"><a class="creat-article-img" style="background:url(img/art_list01.jpg) no-repeat center center/cover;" href="create_platform_cont_en.html"><img src="img/art_list01.jpg" alt=""/></a>
            <div class="creat-article-cont">
              <div class="date">2019/01/03</div><a class="tit" href="create_platform_cont_en.html">Zheng Qinghong: That year, they used literature to circle the island-the story of Zhang Shenqie and the &quot;Taiwan Literature and Art League&quot;</a><a class="cont" href="create_platform_cont_en.html">
                <p>In 2007, after the movie &quot;Etudes&quot; by cycling around the island was released, Taiwan set off a wave of &quot;circle the island fever&quot;, whether it was taking a train, driving a car, riding a motorcycle...</p></a>
              <div class="tag-box gin-tag-box"><a class="tag" href="###">#literature</a><a class="tag" href="###">#female</a><a class="tag" href="###">#music</a></div>
            </div>
            <div class="share-btn-area">
              <div class="share-btn-box">
                <div class="sbtn"><i class="far fa-check"></i>like <span>234</span></div>
                <div class="sbtn">Share</div>
              </div>
              <div class="maker">——— Zheng Qinghong</div>
            </div>
          </div>
        </div>
        <div class="pagination-area"><a class="lim-btn" href="###"><i class="far fa-arrow-to-left"></i></a><a class="pre-btn" href="###"><i class="far fa-arrow-left"></i></a>
          <div class="page-box"><a class="act" href="###">1</a><a href="###">2</a><a href="###">3</a><a href="###">4</a><a href="###">5</a></div><a class="next-btn" href="###"><i class="far fa-arrow-right"></i></a><a class="lim-btn" href="###"><i class="far fa-arrow-to-right"></i></a>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo">
          <div class="f-logo"><img src="img/logo_his.svg" alt=""/></div>
          <div class="f-logo-txt">700 No. 1, Zhongzheng Road, West Central District, Tainan City</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="qrcode-cont">
              <div class="qrcode"><img src="img/qrcode.jpg" alt=""/></div>
              <div class="qr-info"><span><i class="far fa-phone-rotary">（06）221-7201</i></span><span><i class="far fa-phone-office">（06）222-6115</i></span><span><i class="far fa-envelope">info@tlvm.com.tw</i></span></div>
            </div>
            <div class="web-link-cont">
              <div class="web-link-box"><a href="###">About Us</a><a href="###">Traffic</a><a href="###">Contact Us</a><a href="###">Privacy and Security</a><a href="###">Questionnaire</a></div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>Visits</span><span>5915</span></div>
            <div class="web-info"><span>Updated</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function(){
  	//標籤打開 隱藏
  	$('#moreTagBtn').on('click',function(){
  		var tagOpen=$('#articleAllTagBox').hasClass('act-open');
  		if(tagOpen){
  			$('#articleAllTagBox').removeClass('act-open');
  			$('#moreTagBtn').find('i').removeClass('fa-angle-up');
  			$('#moreTagBtn').find('i').addClass('fa-angle-down');
  		}else{
  			$('#articleAllTagBox').addClass('act-open');
  			$('#moreTagBtn').find('i').addClass('fa-angle-up');
  			$('#moreTagBtn').find('i').removeClass('fa-angle-down');
  		}
  	});
  });
</script>
