pug/create_qa_cont.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'共創平台 - 討論交流','link':'create_qa_list.html'}],'actPage':'討論交流'}
				+breadBox(breadList)
				-const back={'name':'返回交流討論','link':'create_qa_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'共創文章','icon':'<i class="fal fa-pencil-alt"></i>','link':'create_platform.html'},{'name':'交流討論','icon':'<i class="fas fa-comments"></i>'}]
				+subNav(subNavList)
		.page-wrap
			.main-cont
				.page-group
					.page-cont
						.communicate-cont-area
							h2 臺灣文學界的霸主是誰
							.communicate-maker-box
								.maker-box
									.maker-photo
										img(src="img/maker.png", alt="")
									.maker-name 發問人<span>okcool</span>說：
								.comm-info-box
									.comm-msg <i class="fas fa-comments-alt"></i> 已有<span>5</span>篇回應
									.comm-time <i class="fas fa-clock"></i> 日期：<span>2020-10-10 23:12:22</span>
							.communicate-cont
								.communicate-txt-box
									p
										| 張曉風女士？地毯的那一端.我在<br>
										| 席慕容女士？以詩之名.七里香<br>
										| 請問台灣現在文學界的領袖（霸主）是誰呢？？？
								.admin-reply-box.reply-article
									div <i class="far fa-reply-all"></i> <span class="reply-name">文學小編</span>說：
									p 依小編之主見，當仁不讓席慕容女士，話說席慕容女士在1972年便以七里香之名
								.communicate-reply-enter-box#replyBox
									-const replyTit={'tit':'<i class="fas fa-reply"></i> 回應主題：'}
									+replyEnter(replyTit)
								.communicate-reply-box
									.reply-info-box
										div <i class="fas fa-reply"></i><span class="reply-name">aaalan</span>回應說：
										.reply-time <i class="fas fa-clock"></i> 回覆日期：<span>2020-10-10 23:12:22</span>
									.reply-txt
										p
											| 難得台文所肥宅可以回應這問題<br>
											| 在這裡要先稱讚你一點是你至少知道台灣有文學<br>
											| 老一輩的人有時會有種概念，認為台灣並沒有文學
										p
											| 他們那一輩認為，台灣的文學最多就是「在台灣的中國文學」<br>
											|「臺灣文學」一詞能夠出現，也是自1970、80年代的幾次筆戰之後<br>
											| 才慢慢光明正大出現的
								.communicate-reply-box
									.reply-info-box
										div <i class="fas fa-reply"></i><span class="reply-name">aaalan</span>回應說：
										.reply-time <i class="fas fa-clock"></i> 回覆日期：<span>2020-10-10 23:12:22</span>
									.reply-txt
										p 小編專業給推
									.admin-reply-box
										div <i class="far fa-reply-all"></i> <span class="reply-name">文學小編</span>說：
										p 感謝你的支持
										
								.communicate-reply-box
									.reply-info-box
										div <i class="fas fa-reply"></i><span class="reply-name">aaalan</span>回應說：
										.reply-time <i class="fas fa-clock"></i> 回覆日期：<span>2020-10-10 23:12:22</span>
									.reply-txt
										.reply-alert 此內容可能違反規定或涉嫌洗版，已將內容屏蔽

					.page-side
						.communicate-btn-cont.side-fixed
							.communicate-btn.communicate-btn2#replyBtn <i class="fas fa-comments-alt"></i> 我要回應主題
							a(href="create_qa.html").communicate-btn <i class="fas fa-comment-exclamation"></i> 我要發起討論
							p 
								| 歡迎來到交流討論區。<br>
								| 親愛的使用者您好，在發起討論之前，請先<a href="###" target="_blank">閱讀並同意討論區相關規則</a>，這些規則保證討論區仍然是一個令所有用戶愉快、有條理且易於訪問的地方。
							p 如有違規行為，將對其帳戶作出警告或暫時/永久性封鎖。


		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//回應輸入匡 打開 隱藏
		var $replyBox=$('#replyBox');
		$('#replyBtn').on('click',function(){
			var replyBoxS=$('#replyBox').is(':visible');
			if(replyBoxS){
				$replyBox.hide();
			}else{
				$replyBox.show();
			}
		});
		$('#cancelReply').on('click',function(){
			$replyBox.hide();
		});
		//輸入匡必填
		var lang = getCookie('CacheLang');//語系
		var reqTxt;
		lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
		var validator = $("#askForm").validate({
			messages:{
				sendMsg:{
					required: reqTxt,
				},
			},
			submitHandler: function (form) {
				//- alert("完成");
				//- 資料修改完成！
				alertTxt('資料修改完成！');
				//- form.submit();
			}
		});
	});

public/create_qa_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">科技．人文．友善體驗</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600">親愛的會員</span><a href="member_info.html">周子瑜</a>您好</div>
            <div class="log-btn logout-btn" id="loginOut">登出</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">註冊會員</a><a class="log-btn" href="login_page.html">會員登入</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="" disabled="disabled" selected="selected">語言</option>
              <option value="zh">繁中</option>
              <option value="en">English</option>
            </select>
          </div>
        </div>
      </div>
      <div class="nav-fix-box" id="navFixBox">
        <nav>
          <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
          <div class="nav-cont">
            <!--有英文版要加.en => .nav-item.en#navItem -->
            <div class="nav-item" id="navItem"> 
              <!--英文版 -const nav=[{'name':'Virtual Reality','enName':'','link':'###'}, {'name':'Literary History','enName':'','link':'history_list_p2.html'}, {'id':'navLiteraryBtn','name':'Literary Tour','enName':'','subNav':[{'name':'Writer\'s history','enName':'','link':'writer_list.html'},{'name':'Story map','enName':'','link':'writer_story_list.html'},{'name':'Theme tour','enName':'','link':'theme_list.html'},{'name':'Real Escape','enName':'','link':'###'}]}, {'name':'Digital 3D','enName':'','link':'http://211.75.82.187/WS/3dmodel.php','isOut':true}, {'id':'navThemeBtn','name':'Theme Platform','enName':'','link':'###','subNav':[{'name':'Writer\'s platform','enName':'','link':'https://literature.sds.com.tw/','isOut':true},{'name':'Literary Exhibition','enName':'','link':'exhibition_list_p2.html'},{'name':'Virtual Reality(laiho)','enName':'','link':'###'}]}, {'id':'navMakerBtn','name':'Maker Space','enName':'','subNav':[{'name':'Maker Articles','enName':'','link':'create_platform.html'},{'name':'Forum','enName':'','link':'create_qa_list.html'}]}, {'name':'Collecting Literature','enName':'','link':'###'} ]; //-n 是值 i 是KEY--><a class="n-item" href="travel.html"><span>筆尖上的地圖</span></a><a class="n-item" href="history_list_p2.html"><span>臺灣文學史</span></a>
              <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>文學踏查</span>
                <div class="n-nav-sup"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
                  <div class="n-nav-three-box"><a href="###"><span class="tit">實境解謎</span><span class="cont">小封神藏寶圖系列1</span></a><a href="###"><span class="cont">小封神藏寶圖系列2</span></a>
                  </div>
                </div>
              </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php" target="_blank"><span>數位3D</span></a>
              <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>主題平台</span>
                <div class="n-nav-sup"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
                </div>
              </div>
              <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>共創平台</span>
                <div class="n-nav-sup"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
                </div>
              </div><a class="n-item" href="###"><span>拾藏文學</span></a>
            </div>
            <div class="src-box">
              <input class="input-src" type="text" placeholder="搜尋..."/>
              <div class="src-btn"><i class="fas fa-search"></i></div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </nav>
        <div class="sub-nav-list">
          <div class="nav-sup sub-literaryList" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
            <div class="nav-three"><span>城市解謎</span>
              <div class="nav-three-box"><a href="###">小封神藏寶圖系列1</a><a href="###">小封神藏寶圖系列2</a>
              </div>
            </div>
          </div>
          <div class="nav-sup sub-themeList" id="navThemeList"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
          </div>
          <div class="nav-sup sub-makerList" id="navMakerList"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
          </div>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="stepMask"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-tab-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><a href="create_qa_list.html">共創平台 - 討論交流</a><span>/</span>
          <div class="act-page">討論交流</div>
        </div><a class="back-btn" href="create_qa_list.html"><i class="far fa-angle-left"></i> 返回交流討論</a>
        <div class="page-nav-area"><a class="page-nav-box" href="create_platform.html"><i class="fal fa-pencil-alt"></i> 共創文章</a><a class="page-nav-box"><i class="fas fa-comments"></i> 交流討論</a>
        </div>
      </div>
    </div>
    <div class="page-wrap">
      <div class="main-cont">
        <div class="page-group">
          <div class="page-cont">
            <div class="communicate-cont-area">
              <h2>臺灣文學界的霸主是誰</h2>
              <div class="communicate-maker-box">
                <div class="maker-box">
                  <div class="maker-photo"><img src="img/maker.png" alt=""/></div>
                  <div class="maker-name">發問人<span>okcool</span>說：</div>
                </div>
                <div class="comm-info-box">
                  <div class="comm-msg"><i class="fas fa-comments-alt"></i> 已有<span>5</span>篇回應</div>
                  <div class="comm-time"><i class="fas fa-clock"></i> 日期：<span>2020-10-10 23:12:22</span></div>
                </div>
              </div>
              <div class="communicate-cont">
                <div class="communicate-txt-box">
                  <p>
                    張曉風女士？地毯的那一端.我在<br>
                    席慕容女士？以詩之名.七里香<br>
                    請問台灣現在文學界的領袖（霸主）是誰呢？？？
                  </p>
                </div>
                <div class="admin-reply-box reply-article">
                  <div><i class="far fa-reply-all"></i> <span class="reply-name">文學小編</span>說：</div>
                  <p>依小編之主見，當仁不讓席慕容女士，話說席慕容女士在1972年便以七里香之名</p>
                </div>
                <div class="communicate-reply-enter-box" id="replyBox">
                  <form action="###">
                    <div class="reply-enter-tit"><i class="fas fa-reply"></i> 回應主題：</div>
                    <div class="textarea-box">
                      <textarea class="reply-sty" id="reply" name="reply" maxlength="1000" placeholder="請輸入內容..."></textarea>
                    </div>
                    <div class="reply-enter-btn-box">
                      <div class="enter-note">字數限制1000字元</div>
                      <div class="enter-btn-box">
                        <div class="cancel-btn" id="cancelReply">取消</div>
                        <div class="submit-btn">確認送出
                          <input type="submit"/>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="communicate-reply-box">
                  <div class="reply-info-box">
                    <div><i class="fas fa-reply"></i><span class="reply-name">aaalan</span>回應說：</div>
                    <div class="reply-time"><i class="fas fa-clock"></i> 回覆日期：<span>2020-10-10 23:12:22</span></div>
                  </div>
                  <div class="reply-txt">
                    <p>
                      難得台文所肥宅可以回應這問題<br>
                      在這裡要先稱讚你一點是你至少知道台灣有文學<br>
                      老一輩的人有時會有種概念，認為台灣並沒有文學
                    </p>
                    <p>
                      他們那一輩認為，台灣的文學最多就是「在台灣的中國文學」<br>
                      「臺灣文學」一詞能夠出現，也是自1970、80年代的幾次筆戰之後<br>
                      才慢慢光明正大出現的
                    </p>
                  </div>
                </div>
                <div class="communicate-reply-box">
                  <div class="reply-info-box">
                    <div><i class="fas fa-reply"></i><span class="reply-name">aaalan</span>回應說：</div>
                    <div class="reply-time"><i class="fas fa-clock"></i> 回覆日期：<span>2020-10-10 23:12:22</span></div>
                  </div>
                  <div class="reply-txt">
                    <p>小編專業給推</p>
                  </div>
                  <div class="admin-reply-box">
                    <div><i class="far fa-reply-all"></i> <span class="reply-name">文學小編</span>說：</div>
                    <p>感謝你的支持</p>
                  </div>
                </div>
                <div class="communicate-reply-box">
                  <div class="reply-info-box">
                    <div><i class="fas fa-reply"></i><span class="reply-name">aaalan</span>回應說：</div>
                    <div class="reply-time"><i class="fas fa-clock"></i> 回覆日期：<span>2020-10-10 23:12:22</span></div>
                  </div>
                  <div class="reply-txt">
                    <div class="reply-alert">此內容可能違反規定或涉嫌洗版，已將內容屏蔽</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-side">
            <div class="communicate-btn-cont side-fixed">
              <div class="communicate-btn communicate-btn2" id="replyBtn"><i class="fas fa-comments-alt"></i> 我要回應主題</div><a class="communicate-btn" href="create_qa.html"><i class="fas fa-comment-exclamation"></i> 我要發起討論</a>
              <p>
                 歡迎來到交流討論區。<br>
                親愛的使用者您好，在發起討論之前，請先<a href="###" target="_blank">閱讀並同意討論區相關規則</a>，這些規則保證討論區仍然是一個令所有用戶愉快、有條理且易於訪問的地方。
              </p>
              <p>如有違規行為，將對其帳戶作出警告或暫時/永久性封鎖。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo"><a class="f-logo" href="https://www.nmtl.gov.tw/" target="_blank"><img src="img/logo_his.svg" alt=""/></a>
          <div class="f-logo-txt">700 臺南市中西區中正路1號<br><i class="far fa-phone-rotary"></i>（06）221-7201</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="web-link-cont">
              <div class="web-link-box"><a href="about.html">關於本站</a><a href="traffic_page.html">交通資訊</a><a href="###">聯絡我們</a>
                <div class="web-link" id="privacyBtn">隱私權及安全政策</div>
                <div class="web-link" id="questBtn">線上問卷</div>
                <!-- v4 add--><a href="medal_info_v4.html">集章任務說明</a>
                <!-- v4 add end-->
              </div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>瀏覽人次</span><span>5915</span></div>
            <div class="web-info"><span>更新日期</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
      <!-- 地圖推廣入口-->
      <div class="travel-enter-area close" id="travelEnterArea">
        <div class="switch-btn-box" id="travelEnterBtn">
          <div class="icon"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="c-step-side-box" id="cStepSideBtn">
          <div class="c-step-side-img"><img src="img/c_step_side.svg" alt=""/></div>
          <div class="c-step-side-txt"><i class="fas fa-comment-alt-exclamation"></i><span>集章任務開跑</span></div>
        </div>
      </div>
      <div class="light-wrap" id="privacyBox">
        <div class="light-tit">
          <h2>隱私權與安全政策</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <h3>一、隱私權保護政策</h3>
            <p> 個人隱私權已是使用者於網路世界瀏覽中主要之顧慮，國立臺灣文學館（以下簡稱本館）特創設隱私權保護政策，以下將對： 『個人資料的蒐集與使用方式』、『Cookies、IP address』、『對個人資料之保護與利用』加以說明與宣示：</p>
            <div class="tit">(一) 個人資料的蒐集與使用方式：</div>
            <p>為了在本網站上提供您最佳的網站服務，依不同頁面會請您提供相關個人的資料，其範圍如下：本網站在您使用電子報訂閱、團體導覽預約、活動報名、加入文學之友與刊登研討會訊息等系統功能表單時，會保留您所提供的姓名、電子郵件地址、連絡方式及使用時間等。</p>
            <div class="tit">(二) Cookies and IP Address：</div>
            <p>當使用者到本網站瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。</p>
            <div class="tit">(三) 對個人資料之保護與利用：</div>
            <p>本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料。我們採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義者，將會受到相關的法律處分。</p>
            <p>本網站雖將盡最大之努力以維護使用者之個人資料（不濫用與 不揭露），但因網路資料之傳輸無法確保百分之百的安全性， 因此本網站無法確信或擔保使用者所傳來或我們傳送予使用者 的資料完全安全。關於上述之風險，必須請使用者自行負擔。</p>
            <p>除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露於第三人或使用於蒐集目的以外之其他用途。</p>
            <h3>二、資訊安全政策</h3>
            <p>國立臺灣文學館(以下簡稱本館)尊重並保護您在使用網際網路時的安全及隱私保護利，為了幫助您瞭解「國立臺灣文學館全球資訊網」如何保護您在使用本網站各項服務的安全、及如何蒐集、應用及保護您所提供的個人資訊，請您詳細閱讀「國立臺灣文學館全球資訊網」的隱私保護及安全政策。請您仔細閱讀以下各項說明， 也歡迎您告訴我們您的想法，若有任何意見或疑 問，請E-mail至 twp@nmtl.gov.tw</p>
            <p>任何未經授權而企圖上載或更改本館所提供的各項服務及相關資訊的行為，都是嚴厲禁止而且可能觸犯法律。為了網站安全的目的和確保這項服務能夠繼續服務所有的網路使用者，本網站提供了以下的安全保護措施：</p>
          </div>
        </div>
      </div>
      <div class="light-wrap" id="questBox">
        <div class="light-tit">
          <h2>線上問卷</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <div class="quest-list-box">
              <div class="quest-list-tit">問卷主題</div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 日本文學之興趣調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 臺灣文學虛擬博物館滿意度調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 現代文學調查</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 集章步驟-->
      <div class="light-step-wrap close" id="lightStepWrap">
        <div class="light-step-close-box">
          <div class="light-step-close" id="lightStepClose"><img src="img/c_step_close.svg"/></div>
        </div>
        <div class="light-step-area">
          <div class="light-step-cont">
            <div class="light-step-tit">
              <div class="stpe-tit-d"><img src="img/c_step_d.svg"/></div>
              <div class="tit1"><span>集章任務開跑</span>
                <div class="arr"><img src="img/c_step_arr.svg"/></div>
              </div>
            </div>
            <div class="light-step-nav">
              <div class="step-box act" id="stepC1">STEP.1</div>
              <div class="step-box" id="stepC2">STEP.2</div>
              <div class="step-box" id="stepC3">STEP.3</div>
              <div class="step-box" id="stepC4">STEP.4</div>
            </div>
            <div class="light-step-sw-area">
              <div class="light-step-sw">
                <div class="swipe" id="lightStepSw">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">註冊會員或會員登入</div>
                        <div class="light-step-img cstep1"><img src="img/c_step1.png"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">前往「會員中心」，查看徽章收集進度</div>
                        <div class="light-step-img cstep2"><img src="img/c_step2.jpg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">完成各項集章任務，獲得更多徽章</div>
                        <div class="light-step-img cstep3"><img src="img/c_step3.svg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">累積更多徽章，兌換更多獎勵吧！</div>
                        <div class="light-step-img cstep4"><img src="img/c_step4.svg"/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function(){
  	//回應輸入匡 打開 隱藏
  	var $replyBox=$('#replyBox');
  	$('#replyBtn').on('click',function(){
  		var replyBoxS=$('#replyBox').is(':visible');
  		if(replyBoxS){
  			$replyBox.hide();
  		}else{
  			$replyBox.show();
  		}
  	});
  	$('#cancelReply').on('click',function(){
  		$replyBox.hide();
  	});
  	//輸入匡必填
  	var lang = getCookie('CacheLang');//語系
  	var reqTxt;
  	lang== 'zh' ? reqTxt= '必填' : reqTxt= 'Required';
  	var validator = $("#askForm").validate({
  		messages:{
  			sendMsg:{
  				required: reqTxt,
  			},
  		},
  		submitHandler: function (form) {
  			//- alert("完成");
  			//- 資料修改完成！
  			alertTxt('資料修改完成！');
  			//- form.submit();
  		}
  	});
  });
</script>
