pug/create_platform_cont_en.pug
include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'Maker Space - Maker Articles','link':'create_platform_en.html'}],'actPage':'Chen Yunyuan: The Forked Road of Taiwanese Culture and Youth—— Liu Naou‘s "New Literature and Art Diary" 1927'}
				+breadBox(breadList)
				-const back={'name':'Back','link':'create_platform_en.html'}
				+backPage(back)
				-const subNavList=[{'name':'Maker Articles','icon':'<i class="fal fa-pencil-alt"></i>'},{'name':'Forum','icon':'<i class="fas fa-comments"></i>','link':'create_qa_list.html'}]
				+subNav(subNavList)
		.inner-single-page.article-cont-area
			.main-cont
				.article-cont-banner(style="background: url(img/art_banner.jpg) no-repeat center center/cover")
					h2 Chen Yunyuan: The Forked Road of Taiwanese Culture and Youth—— Liu Naou‘s "New Literature and Art Diary" 1927
				.article-cont-info
					.article-maker
						.name Author：<span>Chen Yunyuan</span>
						.date 2019/12/09
					.article-share
						.num Visits：<span>559</span>
						.article-banner-share.share-btn-box
							a(href="###")
								i(class="far fa-check")
								| like <span>234</span>
							a(href="###") Share
				.edit-area
					.edit-box
						p 【Why did we choose this collection】
						p It is very late for Liu Naou to get to know his hometown of Taiwan as a "Taiwanese." He was born in Liuying in the Japanese era, studied in Tokyo, and then went to Shanghai to develop, laying the foundation for the "Shanghai New Sensation School". In post-war China, due to the dominance of realist left-wing literature, the value of modernism was not reaffirmed until the 1980s. Liu Naou, who was discovered in this wave, is regarded as a Chinese writer along with Shi Zhecun and Mu Shiying. As historical materials were unearthed, Liu Naou's Taiwan identity was gradually clarified. In 2001, the complete collection was published by the Tainan County Cultural Bureau and officially returned to his hometown of Taiwan.
						p In addition to regaining attention as a "Taiwanese", Liu Naou was also known for his ambiguous identity, mixed language use, modern and avant-garde aesthetic spectrum, and multi-faceted artistic participation in colonial Taiwan, imperial Japan, and concession Shanghai. Called "World People". In other words, he is an artistic cosmopolitan who is not bound by nation and nationality. But I always feel that the image of "world people", which seems to transcend all borders and freedom of travel, is in fact overlying the bitter side of being a colonist and the turbulent undercurrent of East Asia. Otherwise, why should he leave his hometown and lose his identity, and become a "world man" in Shanghai, which he actually doesn't like?
						p Liu Naou can be said to be the first literary youth of Taiwan in the Japanese era. The diary of Liu Naou in the Taiwanese Collection records the year of 1927 when he frequently crossed the border between Taiwan, Tokyo and Shanghai and finally made up his mind. In the 1930s, when the Japanese generation was formed and the younger generations of scholars emerged, those younger generations who he did not know, such as Weng Nao, Wu Yongfu, and the windmill poets, were also making life choices among limited options. Where are the cultural youths in the colonies going? For Wenqing, what do these East Asian cities mean? What makes them excited, and what makes them hesitate? These are very interesting questions. The decisions they made at the beginning are now intertwined into our history of Taiwanese literature. History has no ifs. But before it was officially opened, it was also a divergent scroll.
						img.img-l(src="img/txt_img01.jpg", alt="")
						<br>
						p The planning and publisher of this diary is Xinchaosha, founded in 1904 and known for its literature and art books and magazines. Looking at the diary, we can see that the upper column is the twelve writers of the month headed by Hiroshi Kikuchi (1888-1948); the lower column explains its publication origin and positioning: "This diary was renamed last year." "New Literary Diary" was released in a completely new style and received more than expected praise. The number of publications set a record since its inception. This year, we published the "Literary and Art Pictorial" on the front of the volume and the "Literary Yearbook" at the end of the volume. It has changed its appearance everywhere, and the decoration has become full of artistic sense. As a companion for a year on the table of art lovers, I am eagerly looking forward to being popular this year.” In addition to the eight-page literary pictorial, At the beginning of each month, there are also autographs, diary selections, and introductions by Western artists of the month. In the middle of the month, the "reward solicitation" papers for essays, poems, and short songs are inserted, and users can tear off the work and send it back to the editorial department for submission. The 59-page "Literary and Art Yearbook" at the end of the volume contains an annual overview of the literary world, memorabilia of the literary world, and a list of modern scribes, etc., written by famous literary figures. The content is quite rich.
						img.img-r(src="img/txt_img02.jpg", alt="")
						p The user of this diary in the Taiwanese Collection is Liu Naou (real name Liu Canbo, 1905-1940), a young Taiwanese who laid the foundation of the "Shanghai New Feeling School". He can be said to be the first literary youth of Taiwan, a colony in the Japanese era.
						p In Taiwan in the 1920s when the new literature began, literature existed as a link of social movements. The young people in Taiwan who wrote works at this time regarded literature (especially novels) as a means of cultural enlightenment or colonial resistance. They did not want to be writers, but based on the social and national responsibility of intellectuals. Perhaps we can say that these works are a kind of "jueqing literature" or "angry youth literature." But it was different in the 1930s. So-called "literary aspirants" began to appear in Taiwan. The external reason is that while the Japanese government is moving towards fascism and launching aggression abroad, its suppression of domestic anti-government forces has become increasingly severe, including Taiwan, the colony under its rule. The various political and social movements that were surging in the 1920s turned from prosperity to decline. Intellectuals who lost their physical space for movement could only move to the literary world. But the more important internal reason is that with the maturity of the development of new literature and the appearance of younger generations of Japanese youth, the "Taiwanese literary youth" with the ambition of writers was also born.
					.btn-area
						a(href="create_platform_en.html").btn <i class="far fa-angle-left"></i> <span>Back</span>
					.article-share.edit-share
						.num Visits：<span>559</span>
						.article-banner-share.share-btn-box
							a(href="###")
								i(class="far fa-check")
								| like <span>234</span>
							a(href="###") Share
				.more-article-link-area
					.more-article-link-box
						.more-article-link-tit Recommended
						.recom-link
							-const recomLinkImg01={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink01={'img':recomLinkImg01,'tit':'Taiwan Contemporary Video: The Man with a Camera-Liu Naou'}
							+recomLinkBox(recomLink01)
							-const recomLinkImg02={"background": "url(img/recom_img02.png) no-repeat center center/cover"};
							-const recomLink02={'img':recomLinkImg02,'tit':'A relationship between Li Xianglan and Liu Naou？！'}
							+recomLinkBox(recomLink02)
							-const recomLinkImg03={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink03={'img':recomLinkImg03,'tit':'East Asia Anatomy Station: As a diary film "Man with a Camera" and cross-border cooperation'}
							+recomLinkBox(recomLink03)
							-const recomLinkImg04={"background": "url(img/recom_img02.png) no-repeat center center/cover"};
							-const recomLink04={'img':recomLinkImg04,'tit':'Taiwan Contemporary Video: The Man with a Camera-Liu Naou'}
							+recomLinkBox(recomLink04)
							-const recomLinkImg05={"background": "url(img/recom_img01.png) no-repeat center center/cover"};
							-const recomLink05={'img':recomLinkImg05,'tit':'A relationship between Li Xianglan and Liu Naou？！'}
							+recomLinkBox(recomLink05)
					.more-article-link-box
						.more-article-link-tit Tag
						.more-tag
							-const moreTagLink=['memorabilia','film','culture','hipster','political','Fiction']
							each n in moreTagLink
								a(href="###") ##{n}
						.more-article-link-tit Leave Comments
						.send-msg-nulog You need to<a href="login_page.html">log in</a>to leave a message. If you have not yet become a member, please<a href="register.html">register</a>first.
						.send-msg-box
							textarea#sendMsg.send-msgs-sty(name="sendMsg" placeholder="Please enter a message...")
							.send-btn-area
								.send-btn.btn Send
						.more-article-link-tit Comments
						.article-msg-box
							//- 一般留言者
							.article-msg
								.user-img(style="background: url(img/maker.png) no-repeat center center/cover")
								.user-box
									.user-name Truesun
									.user-info
										.acc truesun@gmail.com
										.date 2019/09/09
								.article-msg-cont
									.cont Does anyone know the source of this book?
							//- 文學小編
							.article-msg.editer-article-msg
								.user-box
									.user-info
										.date 2019/09/09
										.acc Literary Editor
								.user-img.editer-img
								.article-msg-cont
									.cont Hello, Truesun~ All major bookstores in Taiwan, such as Eslite, Jinshitang or Xiaobeibai, can buy it~ Xiaobei also has a buy one get one free event~ Don’t miss it!
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){

	});

public/create_platform_cont_en.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">tech．humanity．friendly</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600"> </span><a href="member.html">周子瑜</a>,Hello</div>
            <div class="log-btn logout-btn" id="loginOut">LogOut</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">Register</a><a class="log-btn" href="login_page.html">Login</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="zh">繁中</option>
              <option value="en" selected="selected">English</option>
            </select>
          </div>
        </div>
      </div>
      <nav>
        <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
        <div class="nav-cont">
          <div class="nav-item en" id="navItem"><a class="n-item" href="###"><span>Virtual Reality</span><span class="en"></span></a><a class="n-item" href="history_list.html"><span>Literary History</span><span class="en"></span></a>
            <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>Literary Tour</span><span class="en"></span>
              <div class="n-nav-sup"><a href="writer_list.html"><span>Writer's history</span><span class="en"></span></a><a href="writer_story_list.html"><span>Story map</span><span class="en"></span></a><a href="theme_list.html"><span>Theme tour</span><span class="en"></span></a><a href="###"><span>Real Escape</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php"><span>Digital 3D</span><span class="en"></span></a>
            <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>Theme Platform</span><span class="en"></span>
              <div class="n-nav-sup"><a href="https://literature.sds.com.tw/"><span>Writer's platform</span><span class="en"></span></a><a href="exhibition_list.html"><span>Literary Exhibition</span><span class="en"></span></a><a href="###"><span>Virtual Reality(laiho)</span><span class="en"></span></a>
              </div>
            </div>
            <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>Maker Space</span><span class="en"></span>
              <div class="n-nav-sup"><a href="create_platform.html"><span>Maker Articles</span><span class="en"></span></a><a href="create_qa_list.html"><span>Forum</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="###"><span>Collecting Literature</span><span class="en"></span></a>
          </div>
          <div class="src-box">
            <input class="input-src" type="text" placeholder="Search..."/>
            <div class="src-btn"><i class="fas fa-search"></i></div>
          </div>
          <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </nav>
      <div class="sub-nav-list">
        <div class="nav-sup" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span><span class="en">Writer‘s history</span></a><a href="###"><span>故事地圖</span><span class="en">Story map</span></a><a href="###"><span>主題之旅</span><span class="en">Theme tour</span></a><a href="###"><span>實境解謎</span><span class="en">Real Escape</span></a>
        </div>
        <div class="nav-sup" id="navThemeList"><a href="###"><span>作家平台</span><span class="en">Writer‘s platform</span></a><a href="exhibition_list_en.html"><span>文學展示</span><span class="en">Literary Exhibition</span></a><a href="###"><span>虛擬實境</span><span class="en">Virtual Reality(laiho)</span></a>
        </div>
        <div class="nav-sup" id="navMakerList"><a href="create_platform_en.html"><span>共創文章</span><span class="en">Maker Articles</span></a><a href="create_qa_list.html"><span>交流討論</span><span class="en">Forum</span></a>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-tab-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index_en.html">Index</a><span>/</span><a href="create_platform_en.html">Maker Space - Maker Articles</a><span>/</span>
          <div class="act-page">Chen Yunyuan: The Forked Road of Taiwanese Culture and Youth—— Liu Naou‘s &quot;New Literature and Art Diary&quot; 1927</div>
        </div><a class="back-btn" href="create_platform_en.html"><i class="far fa-angle-left"></i> Back</a>
        <div class="page-nav-area">
          <div class="page-nav-box act"><i class="fal fa-pencil-alt"></i> Maker Articles</div><a class="page-nav-box" href="create_qa_list.html"><i class="fas fa-comments"></i> Forum</a>
        </div>
      </div>
    </div>
    <div class="inner-single-page article-cont-area">
      <div class="main-cont">
        <div class="article-cont-banner" style="background: url(img/art_banner.jpg) no-repeat center center/cover">
          <h2>Chen Yunyuan: The Forked Road of Taiwanese Culture and Youth—— Liu Naou‘s "New Literature and Art Diary" 1927</h2>
        </div>
        <div class="article-cont-info">
          <div class="article-maker">
            <div class="name">Author：<span>Chen Yunyuan</span></div>
            <div class="date">2019/12/09</div>
          </div>
          <div class="article-share">
            <div class="num">Visits：<span>559</span></div>
            <div class="article-banner-share share-btn-box"><a href="###"><i class="far fa-check"></i>like <span>234</span></a><a href="###">Share</a></div>
          </div>
        </div>
        <div class="edit-area">
          <div class="edit-box">
            <p>【Why did we choose this collection】</p>
            <p>It is very late for Liu Naou to get to know his hometown of Taiwan as a "Taiwanese." He was born in Liuying in the Japanese era, studied in Tokyo, and then went to Shanghai to develop, laying the foundation for the "Shanghai New Sensation School". In post-war China, due to the dominance of realist left-wing literature, the value of modernism was not reaffirmed until the 1980s. Liu Naou, who was discovered in this wave, is regarded as a Chinese writer along with Shi Zhecun and Mu Shiying. As historical materials were unearthed, Liu Naou's Taiwan identity was gradually clarified. In 2001, the complete collection was published by the Tainan County Cultural Bureau and officially returned to his hometown of Taiwan.</p>
            <p>In addition to regaining attention as a "Taiwanese", Liu Naou was also known for his ambiguous identity, mixed language use, modern and avant-garde aesthetic spectrum, and multi-faceted artistic participation in colonial Taiwan, imperial Japan, and concession Shanghai. Called "World People". In other words, he is an artistic cosmopolitan who is not bound by nation and nationality. But I always feel that the image of "world people", which seems to transcend all borders and freedom of travel, is in fact overlying the bitter side of being a colonist and the turbulent undercurrent of East Asia. Otherwise, why should he leave his hometown and lose his identity, and become a "world man" in Shanghai, which he actually doesn't like?</p>
            <p>Liu Naou can be said to be the first literary youth of Taiwan in the Japanese era. The diary of Liu Naou in the Taiwanese Collection records the year of 1927 when he frequently crossed the border between Taiwan, Tokyo and Shanghai and finally made up his mind. In the 1930s, when the Japanese generation was formed and the younger generations of scholars emerged, those younger generations who he did not know, such as Weng Nao, Wu Yongfu, and the windmill poets, were also making life choices among limited options. Where are the cultural youths in the colonies going? For Wenqing, what do these East Asian cities mean? What makes them excited, and what makes them hesitate? These are very interesting questions. The decisions they made at the beginning are now intertwined into our history of Taiwanese literature. History has no ifs. But before it was officially opened, it was also a divergent scroll.</p><img class="img-l" src="img/txt_img01.jpg" alt=""/><br>
            <p>The planning and publisher of this diary is Xinchaosha, founded in 1904 and known for its literature and art books and magazines. Looking at the diary, we can see that the upper column is the twelve writers of the month headed by Hiroshi Kikuchi (1888-1948); the lower column explains its publication origin and positioning: "This diary was renamed last year." "New Literary Diary" was released in a completely new style and received more than expected praise. The number of publications set a record since its inception. This year, we published the "Literary and Art Pictorial" on the front of the volume and the "Literary Yearbook" at the end of the volume. It has changed its appearance everywhere, and the decoration has become full of artistic sense. As a companion for a year on the table of art lovers, I am eagerly looking forward to being popular this year.” In addition to the eight-page literary pictorial, At the beginning of each month, there are also autographs, diary selections, and introductions by Western artists of the month. In the middle of the month, the "reward solicitation" papers for essays, poems, and short songs are inserted, and users can tear off the work and send it back to the editorial department for submission. The 59-page "Literary and Art Yearbook" at the end of the volume contains an annual overview of the literary world, memorabilia of the literary world, and a list of modern scribes, etc., written by famous literary figures. The content is quite rich.</p><img class="img-r" src="img/txt_img02.jpg" alt=""/>
            <p>The user of this diary in the Taiwanese Collection is Liu Naou (real name Liu Canbo, 1905-1940), a young Taiwanese who laid the foundation of the "Shanghai New Feeling School". He can be said to be the first literary youth of Taiwan, a colony in the Japanese era.</p>
            <p>In Taiwan in the 1920s when the new literature began, literature existed as a link of social movements. The young people in Taiwan who wrote works at this time regarded literature (especially novels) as a means of cultural enlightenment or colonial resistance. They did not want to be writers, but based on the social and national responsibility of intellectuals. Perhaps we can say that these works are a kind of "jueqing literature" or "angry youth literature." But it was different in the 1930s. So-called "literary aspirants" began to appear in Taiwan. The external reason is that while the Japanese government is moving towards fascism and launching aggression abroad, its suppression of domestic anti-government forces has become increasingly severe, including Taiwan, the colony under its rule. The various political and social movements that were surging in the 1920s turned from prosperity to decline. Intellectuals who lost their physical space for movement could only move to the literary world. But the more important internal reason is that with the maturity of the development of new literature and the appearance of younger generations of Japanese youth, the "Taiwanese literary youth" with the ambition of writers was also born.</p>
          </div>
          <div class="btn-area"><a class="btn" href="create_platform_en.html"><i class="far fa-angle-left"></i> <span>Back</span></a></div>
          <div class="article-share edit-share">
            <div class="num">Visits：<span>559</span></div>
            <div class="article-banner-share share-btn-box"><a href="###"><i class="far fa-check"></i>like <span>234</span></a><a href="###">Share</a></div>
          </div>
        </div>
        <div class="more-article-link-area">
          <div class="more-article-link-box">
            <div class="more-article-link-tit">Recommended</div>
            <div class="recom-link"><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img01.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">Taiwan Contemporary Video: The Man with a Camera-Liu Naou</div>
                  <div class="recom-txt">Rather than describing them as accessories, in a sense, they can be regarded as witnessing the development and evolution of Taiwan’s literary world with writers, especially the owners of jewelry...</div>
                </div></a><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img02.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">A relationship between Li Xianglan and Liu Naou？！</div>
                  <div class="recom-txt">Rather than describing them as accessories, in a sense, they can be regarded as witnessing the development and evolution of Taiwan’s literary world with writers, especially the owners of jewelry...</div>
                </div></a><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img01.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">East Asia Anatomy Station: As a diary film &quot;Man with a Camera&quot; and cross-border cooperation</div>
                  <div class="recom-txt">Rather than describing them as accessories, in a sense, they can be regarded as witnessing the development and evolution of Taiwan’s literary world with writers, especially the owners of jewelry...</div>
                </div></a><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img02.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">Taiwan Contemporary Video: The Man with a Camera-Liu Naou</div>
                  <div class="recom-txt">Rather than describing them as accessories, in a sense, they can be regarded as witnessing the development and evolution of Taiwan’s literary world with writers, especially the owners of jewelry...</div>
                </div></a><a class="recom-link-box" href="###">
                <div class="recom-img" style="background:url(img/recom_img01.png) no-repeat center center/cover;"><img src="img/recom_img01.png" alt=""/></div>
                <div class="recom-cont">
                  <div class="recom-tit">A relationship between Li Xianglan and Liu Naou？！</div>
                  <div class="recom-txt">Rather than describing them as accessories, in a sense, they can be regarded as witnessing the development and evolution of Taiwan’s literary world with writers, especially the owners of jewelry...</div>
                </div></a>
            </div>
          </div>
          <div class="more-article-link-box">
            <div class="more-article-link-tit">Tag</div>
            <div class="more-tag"><a href="###">#memorabilia</a><a href="###">#film</a><a href="###">#culture</a><a href="###">#hipster</a><a href="###">#political</a><a href="###">#Fiction</a>
            </div>
            <div class="more-article-link-tit">Leave Comments</div>
            <div class="send-msg-nulog">You need to<a href="login_page.html">log in</a>to leave a message. If you have not yet become a member, please<a href="register.html">register</a>first.</div>
            <div class="send-msg-box">
              <textarea class="send-msgs-sty" id="sendMsg" name="sendMsg" placeholder="Please enter a message..."></textarea>
              <div class="send-btn-area">
                <div class="send-btn btn">Send</div>
              </div>
            </div>
            <div class="more-article-link-tit">Comments</div>
            <div class="article-msg-box">
              <div class="article-msg">
                <div class="user-img" style="background: url(img/maker.png) no-repeat center center/cover"></div>
                <div class="user-box">
                  <div class="user-name">Truesun</div>
                  <div class="user-info">
                    <div class="acc">truesun@gmail.com</div>
                    <div class="date">2019/09/09</div>
                  </div>
                </div>
                <div class="article-msg-cont">
                  <div class="cont">Does anyone know the source of this book?</div>
                </div>
              </div>
              <div class="article-msg editer-article-msg">
                <div class="user-box">
                  <div class="user-info">
                    <div class="date">2019/09/09</div>
                    <div class="acc">Literary Editor</div>
                  </div>
                </div>
                <div class="user-img editer-img"></div>
                <div class="article-msg-cont">
                  <div class="cont">Hello, Truesun~ All major bookstores in Taiwan, such as Eslite, Jinshitang or Xiaobeibai, can buy it~ Xiaobei also has a buy one get one free event~ Don’t miss it!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo">
          <div class="f-logo"><img src="img/logo_his.svg" alt=""/></div>
          <div class="f-logo-txt">700 No. 1, Zhongzheng Road, West Central District, Tainan City</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="qrcode-cont">
              <div class="qrcode"><img src="img/qrcode.jpg" alt=""/></div>
              <div class="qr-info"><span><i class="far fa-phone-rotary">（06）221-7201</i></span><span><i class="far fa-phone-office">（06）222-6115</i></span><span><i class="far fa-envelope">info@tlvm.com.tw</i></span></div>
            </div>
            <div class="web-link-cont">
              <div class="web-link-box"><a href="###">About Us</a><a href="###">Traffic</a><a href="###">Contact Us</a><a href="###">Privacy and Security</a><a href="###">Questionnaire</a></div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>Visits</span><span>5915</span></div>
            <div class="web-info"><span>Updated</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function(){
  
  });
</script>
