public/exhibition_article_cont_en.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">tech．humanity．friendly</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600"> </span><a href="member.html">周子瑜</a>,Hello</div>
            <div class="log-btn logout-btn" id="loginOut">LogOut</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">Register</a><a class="log-btn" href="login_page.html">Login</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="zh">繁中</option>
              <option value="en" selected="selected">English</option>
            </select>
          </div>
        </div>
      </div>
      <nav>
        <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
        <div class="nav-cont">
          <div class="nav-item en" id="navItem"><a class="n-item" href="###"><span>Virtual Reality</span><span class="en"></span></a><a class="n-item" href="history_list.html"><span>Literary History</span><span class="en"></span></a>
            <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>Literary Tour</span><span class="en"></span>
              <div class="n-nav-sup"><a href="writer_list.html"><span>Writer's history</span><span class="en"></span></a><a href="writer_story_list.html"><span>Story map</span><span class="en"></span></a><a href="theme_list.html"><span>Theme tour</span><span class="en"></span></a><a href="###"><span>Real Escape</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php"><span>Digital 3D</span><span class="en"></span></a>
            <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>Theme Platform</span><span class="en"></span>
              <div class="n-nav-sup"><a href="https://literature.sds.com.tw/"><span>Writer's platform</span><span class="en"></span></a><a href="exhibition_list.html"><span>Literary Exhibition</span><span class="en"></span></a><a href="###"><span>Virtual Reality(laiho)</span><span class="en"></span></a>
              </div>
            </div>
            <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>Maker Space</span><span class="en"></span>
              <div class="n-nav-sup"><a href="create_platform.html"><span>Maker Articles</span><span class="en"></span></a><a href="create_qa_list.html"><span>Forum</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="###"><span>Collecting Literature</span><span class="en"></span></a>
          </div>
          <div class="src-box">
            <input class="input-src" type="text" placeholder="Search..."/>
            <div class="src-btn"><i class="fas fa-search"></i></div>
          </div>
          <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </nav>
      <div class="sub-nav-list">
        <div class="nav-sup" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span><span class="en">Writer‘s history</span></a><a href="###"><span>故事地圖</span><span class="en">Story map</span></a><a href="###"><span>主題之旅</span><span class="en">Theme tour</span></a><a href="###"><span>實境解謎</span><span class="en">Real Escape</span></a>
        </div>
        <div class="nav-sup" id="navThemeList"><a href="###"><span>作家平台</span><span class="en">Writer‘s platform</span></a><a href="exhibition_list_en.html"><span>文學展示</span><span class="en">Literary Exhibition</span></a><a href="###"><span>虛擬實境</span><span class="en">Virtual Reality(laiho)</span></a>
        </div>
        <div class="nav-sup" id="navMakerList"><a href="create_platform_en.html"><span>共創文章</span><span class="en">Maker Articles</span></a><a href="create_qa_list.html"><span>交流討論</span><span class="en">Forum</span></a>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-tab-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index_en.html">Index</a><span>/</span><a href="exhibition_list_en.html">Literary Exhibition</a><span>/</span><a href="exhibition_cont_en.html">Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition</a><span>/</span>
          <div class="act-page">Not just a foreign land</div>
        </div><a class="back-btn" href="exhibition_cont_en.html"><i class="far fa-angle-left"></i> Back</a>
        <div class="page-nav-area"><a class="page-nav-box" href="###"><i class="far fa-user-edit"></i> Writer‘s platform</a>
          <div class="page-nav-box act"><i class="fas fa-kaaba"></i> Literary Exhibition</div><a class="page-nav-box" href="###"><i class="fas fa-vr-cardboard"></i> Virtual Reality</a>
        </div>
      </div>
    </div>
    <div class="page-wrap inner-single-page ex-page-wrap">
      <div class="main-cont">
        <div class="exhibition-banner-box">
          <div class="article-cont-banner" style="background: url(img/ex_banner.jpg) no-repeat center center/cover">
            <h2>Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition</h2>
          </div>
          <div class="exhibition-sub-banner">
            <div class="exhibition-sub exhibition-article-sub">
              <div class="exhibition-sub-img" style="background: url(img/ex_img02.jpg) no-repeat center center/cover"><img src="img/ex_img01.jpg" alt=""/></div>
              <div class="exhibition-article-tit">Not just a foreign land</div>
            </div>
            <div class="exhibition-sub-share">
              <div class="share-btn-box"><a href="###"><i class="far fa-check"></i>like <span>234</span></a><a href="###">Share</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-wrap ex-edit-wrap">
      <div class="main-cont">
        <h3 class="exhibition-tit">Introduction</h3>
        <div class="edit-area ex-edit-area" id="exEditArea">
          <div class="edit-box">
            <p>
              The war in Taiwanese memory started with the Pacific War. In 1942, in order to serve the Emperor, many young people volunteered to fight in Southeast Asia. In the memory of the common people, the war is tantamount to avoiding US air strikes and endless war mobilization exercises.<br>
              People in mainland China have experienced the merciless war in the Kanto region since 1931. The Japanese-Chinese War broke out in 1937, and the Chinese people went through numerous vicissitudes and sufferings. Unexpectedly, Japan had just surrendered. Two years later, the Kuomintang and the Communist Party launched a civil war, and the whole country was once again involved in an uninterrupted catastrophe.<br>
              The Government of the Republic of China promulgated the "Provisional Provisions for Mobilization for the Period of Rebellion" in 1948, and the whole of China entered the period of general mobilization for war. In 1949, with the defeat of Chiang Kai-shek's army and retreat to Taiwan, he continued to implement the "Provisional Provisions for Mobilization and Rebellion" in Taiwan, which extended the state of war indefinitely. The entire military and civilians of Taiwan must aim at "anti-communist restoration", and Taiwan has become a large temporary/wartime military fortress.<br>
              Under the banner of "Anti-Communist and Restoration", the immigrants and the people of the province are in a state of aphasia, unable to understand and sympathize with each other, and it is even more difficult to close the wounds of history. Only through literary metaphors and family writing, we can summon traumatic experiences and try to relocate the "dispersion" stories of individuals and families.
            </p>
            <hr/>
            <div class="ex-edit-tit">Strictly enforce "temporary/war" life</div>
            <p>
              The war in Taiwanese memory started with the Pacific War. In 1942, in order to serve the Emperor, many young people volunteered to fight in Southeast Asia. In the memory of the common people, the war is tantamount to avoiding US air strikes and endless war mobilization exercises.<br>
              People in mainland China have experienced the merciless war in the Kanto region since 1931. The Japanese-Chinese War broke out in 1937, and the Chinese people went through numerous vicissitudes and sufferings. Unexpectedly, Japan had just surrendered. Two years later, the Kuomintang and the Communist Party launched a civil war, and the whole country was once again involved in an uninterrupted catastrophe.<br>
              The Government of the Republic of China promulgated the "Provisional Provisions for Mobilization for the Period of Rebellion" in 1948, and the whole of China entered the period of general mobilization for war. In 1949, with the defeat of Chiang Kai-shek's army and retreat to Taiwan, he continued to implement the "Provisional Provisions for Mobilization and Rebellion" in Taiwan, which extended the state of war indefinitely. The entire military and civilians of Taiwan must aim for "anti-communist restoration", and Taiwan has become a large temporary/wartime military fortress.<br>
              Under the banner of "Anti-Communist and Restoration", the immigrants and the people of the province are in a state of aphasia, unable to understand and sympathize with each other, and it is even more difficult to close the wounds of history. Only through literary metaphors and family writing can we summon traumatic experiences and try to relocate the story of "dispersion" between individuals and families.
            </p>
            <div class="quote-area fas">
              <p>…One night, Huang Chunming and I came out from somewhere together, and both of them were willing to walk. We walked for a long time and talked for a long time. The road was very quiet, with only our voices. That was the closest I had to the "provincial writer"... But I kept talking, and he remained silent, no response, no communication. There is no doubt, and it seems that there is no friendship...</p>
              <p>Wang Dingjun's "Literary World: Wang Dingjun's Memoirs Four Steps" (2005)</p>
            </div>
            <div class="book-area"><img class="img-l" src="img/ex_art_img.jpg" alt="" style="width:35%"/>
              <p>
                They put lime on my face<br>
                They poured oil all over my body<br>
                They put waste brake fluid on my face<br>
                They put red lights on my eyes<br>
                They stuffed gears into my mouth<br>
                They illuminate me with a spotlight<br>
                They hide in the dark<br>
                They watched me with mouse eyes<br>
                They record my tossing body
              </p>
              <p>Commercial Birds (Awake) (2009)</p>
              <div class="book-info">Shang Qin, a modernist poet, came to Taiwan with the army at the age of 20 and began to write modern surrealist poetry. This poem "Awakening" (excerpt) is a metaphor of the poet using disturbing objects such as lime and brake oil to write down the deep trauma (war) experience like a nightmare.</div>
            </div>
            <div class="book-area"><img class="img-r" src="img/ex_art_img02.jpg" alt="" style="width:35%"/>
              <p>However, many years later, when I suppressed my tears and wiped my father's chest and back covered with age spots, the story was rewritten. My father told the Shanghai retreat that a shell hit the hospital opposite the camp. They almost made a mistake in rescuing patients and babies. The sailing schedule. In the middle of the night of the twelfth lunar month, the injured father was looking for a newborn child in the ruins. The baby's faint crying sounds like chords, echoing the rhythm of a rain of bullets. The father was covered in dust and dirt. In addition to the dirt and dust, the baby without diapers also had blood coming out of Mimi. No one can distinguish between the shards of glass everywhere and the clear vitreous that burst out of the baby's eye sockets. Father dodges the water sword on the lotus head like bullets, and then points to the bullet scar on his thigh: "Look, I still found you in rags and dead bodies, old newspapers on the ground and pictures of Ruan Lingyu, motherless child."</p>
              <p>Zhang Qijiang (Old Man) (1996)</p>
              <div class="book-info">Zhang Qijiang grew up in a military village, and wrote many novels about the memories of the village’s growth, as well as the displacement and loss of immigrants after the war. This paragraph describes how the son is helping the elderly father to take a bath, putting together memories that his father did not know if they are misplaced, contrasting the heroic figure who rescued the baby in the rain of bullets and the situation of today's old age.</div>
            </div>
            <div class="book-wrap">
              <div class="book-box"><img src="img/book.jpg" alt=""/><span>Jianghu Literature</span></div>
              <div class="book-box"><img src="img/book.jpg" alt=""/><span>Jianghu Literature</span></div>
            </div>
          </div>
          <div class="article-page-wrap" id="articlePageWrapDot"></div>
          <div class="article-page-wrap" id="articlePageWrap">
            <div class="article-page-box" id="articlePageBox"><a class="prev-box" href="###">
                <div class="page-arrow"><i class="fas fa-angle-up"></i></div><span><i class="fas fa-angle-left"></i> Previous</span>
                <div class="page-info"><span class="name">Preface</span>
                  <div class="img-box" style="background: url(img/excont_img01.jpg) no-repeat center center/cover"><img src="img/excont_img01.jpg" alt=""/></div>
                </div></a><a class="next-box" href="###"><span>Next <i class="fas fa-angle-right"></i></span>
                <div class="page-info"><span class="name">Your name</span>
                  <div class="img-box" style="background: url(img/excont_img02.jpg) no-repeat center center/cover"><img src="img/excont_img01.jpg" alt=""/></div>
                  <div class="page-arrow"><i class="fas fa-angle-down"></i></div>
                </div></a></div>
          </div>
          <div class="btn-area page-btn-area"><a class="btn" href="exhibition_cont_en.html"><i class="far fa-angle-left"></i> <span>Back</span></a></div>
        </div>
      </div>
    </div>
    <div class="page-wrap ex-art-swiper" id="exArtSwiperWrap">
      <div class="main-cont">
        <div class="exhibition-article-swiper">
          <div class="swiper-container" id="exArtSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter01.jpg) no-repeat center center/cover;"><img src="img/liter01.jpg" alt=""/></div>
                  <div class="exArt-txt">Small Terrace, Grand View Garden Han Lianglu Donation Exhibition</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/light_ex.jpg) no-repeat center center/cover;"><img src="img/light_ex.jpg" alt=""/></div>
                  <div class="exArt-txt">The Week of a Hundred Years-Haruo Sato 1920, Taiwan Travel Literature Exhibition</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter03.jpg) no-repeat center center/cover;"><img src="img/liter03.jpg" alt=""/></div>
                  <div class="exArt-txt">Literary Exhibition Title</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter04.jpg) no-repeat center center/cover;"><img src="img/liter04.jpg" alt=""/></div>
                  <div class="exArt-txt">Small Terrace, Grand View Garden Han Lianglu Donation Exhibition</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter05.jpg) no-repeat center center/cover;"><img src="img/liter05.jpg" alt=""/></div>
                  <div class="exArt-txt">Taiwan in the Japanese Occupation Period (4): Literature under the Influence of Modernization</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter01.jpg) no-repeat center center/cover;"><img src="img/liter01.jpg" alt=""/></div>
                  <div class="exArt-txt">Small Terrace, Grand View Garden Han Lianglu Donation Exhibition</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev" id="exArtP"><i class="fas fa-angle-left"></i></div>
          <div class="swiper-button-next" id="exArtN"><i class="fas fa-angle-right"></i></div>
          <div class="swiper-pagination" id="ExPage"></div>
        </div>
      </div>
    </div>
    <div class="light-ex-img-wrap" id="lightExImgWrap">
      <div class="light-tit">Photo
        <div class="light-close-btn"><i class="fas fa-times"></i></div>
      </div>
      <div class="light-ex-img-cont">
        <div class="light-ex-img" id="lightExImg"><img src="img/light_ex.jpg" alt=""/></div>
        <div class="light-ex-txt" id="lightExTxt">ResumeResumeResumeResumeResumeResumeResumeResume</div>
        <div class="light-ex-note">Source: Donor: Family of Chen Huoquan, Collection of National Taiwan Literature Museum</div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo">
          <div class="f-logo"><img src="img/logo_his.svg" alt=""/></div>
          <div class="f-logo-txt">700 No. 1, Zhongzheng Road, West Central District, Tainan City</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="qrcode-cont">
              <div class="qrcode"><img src="img/qrcode.jpg" alt=""/></div>
              <div class="qr-info"><span><i class="far fa-phone-rotary">（06）221-7201</i></span><span><i class="far fa-phone-office">（06）222-6115</i></span><span><i class="far fa-envelope">info@tlvm.com.tw</i></span></div>
            </div>
            <div class="web-link-cont">
              <div class="web-link-box"><a href="###">About Us</a><a href="###">Traffic</a><a href="###">Contact Us</a><a href="###">Privacy and Security</a><a href="###">Questionnaire</a></div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>Visits</span><span>5915</span></div>
            <div class="web-info"><span>Updated</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function () {
  	var exArtSwiper = new Swiper('#exArtSwiper', {
  		slidesPerView: 5,
  		spaceBetween: 50,
  		//- initialSlide: 2,
  		breakpoints: {
  			1200: {
  				spaceBetween: 30,
  			},
  			768: {
  				slidesPerView: 4,
  				spaceBetween: 20,
  			},
  			768: {
  				slidesPerView: 3,
  				spaceBetween: 20,
  			},
  			480: {
  				slidesPerView: 2,
  				spaceBetween: 20,
  			},
  		},
  		navigation: {
  			nextEl: '#exArtN',
  			prevEl: '#exArtP',
  		},
  		pagination: {
  			el: '#ExPage',
  			clickable: true,
  		},
  	});
  	//點擊照片觀看
  	$('.exArt-img-box').each(function(ind,item){
  		$(this).on('click',function(){
  			var imgUrl=$(this).find('.exArt-img img').attr('src');
  			var imgTxt=$(this).find('.exArt-txt').html();
  			$('#lightExImg').find('img').attr('src',imgUrl);
  			$('#lightExTxt').html(imgTxt);
  			$('#lightExImgWrap,#mask').fadeIn();
  		});
  	});
  });
  $(window).scroll(function () {
  	pageBtnFix();
  });
  $(window).resize(function () {
  	pageBtnFix();
  });
  function pageBtnFix(){
  	var windowW = $(window).width();
  	var windowScrollNum = $(window).scrollTop();
  	var $nav = $('#navArea');
  	var navH = $nav.outerHeight();
  	//定位用方塊位置
  	var sidePageTop=$('#articlePageWrapDot').offset().top;
  	var sidePageLeft=$('#articlePageWrapDot').offset().left;
  	var footerTop=$('#exArtSwiperWrap').offset().top;
  	//- var footerTop=$('footer').offset().top;
  	//上方固定高度
  	var sidePageTopFix=(sidePageTop - navH) - 10;
  	var $pageWrap=$('#articlePageWrap');
  	var $pageBox=$('#articlePageBox');
  	//下方固定高度(算法：抓到要卡footer上方，所以先抓fooer的方塊距離上方多少位置，在減掉NAV高度跟本身內容高度，再剪調需要的間距，就是滾到這時，這格方塊要卡住)
  	var sidePageH=$('#articlePageBox').outerHeight();
  	var sidePageBottomFix = footerTop - (sidePageH + navH ) - 20;
  	
  	//- console.log(sidePageTop);
  	//- console.log(sidePageLeft);
  	if(windowW > 480){
  		if(windowScrollNum > sidePageTopFix){
  			$pageBox.css({ 'position':'fixed', 'top': navH + 10, 'left': sidePageLeft});
  			if(windowScrollNum > sidePageBottomFix + 10){
  				if(windowW > 1650){
  					$pageWrap.css({'top': 'auto','bottom': '-41px'});
  				}else{
  					$pageWrap.css({'top': 'auto','bottom': '40px'});
  				}
  				$pageBox.removeAttr('style');
  			}else{
  				$pageWrap.removeAttr('style');
  			}
  		}else{
  			$pageBox.removeAttr('style');
  		}
  	}else{
  		$pageWrap.removeAttr('style');
  		$pageBox.removeAttr('style');
  	}
  }
</script>

pug/exhibition_article_cont_en.pug
include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'Literary Exhibition','link':'exhibition_list_en.html'},{'name':'Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition','link':'exhibition_cont_en.html'}],'actPage':'Not just a foreign land'}
				+breadBox(breadList)
				-const back={'name':'Back','link':'exhibition_cont_en.html'}
				+backPage(back)
				-const subNavList=[{'name':'Writer‘s platform','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'Literary Exhibition','icon':'<i class="fas fa-kaaba"></i>'},{'name':'Virtual Reality','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page.ex-page-wrap
			.main-cont
				.exhibition-banner-box
					.article-cont-banner(style="background: url(img/ex_banner.jpg) no-repeat center center/cover")
						h2 Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition
					.exhibition-sub-banner
						.exhibition-sub.exhibition-article-sub
							.exhibition-sub-img(style="background: url(img/ex_img02.jpg) no-repeat center center/cover")
								img(src="img/ex_img01.jpg", alt="")
							.exhibition-article-tit Not just a foreign land
						.exhibition-sub-share
							.share-btn-box
								a(href="###")
									i(class="far fa-check")
									| like <span>234</span>
								a(href="###") Share
		.page-wrap.ex-edit-wrap
			.main-cont
				h3.exhibition-tit Introduction
				.edit-area.ex-edit-area#exEditArea
					.edit-box
						p
							| The war in Taiwanese memory started with the Pacific War. In 1942, in order to serve the Emperor, many young people volunteered to fight in Southeast Asia. In the memory of the common people, the war is tantamount to avoiding US air strikes and endless war mobilization exercises.<br>
							| People in mainland China have experienced the merciless war in the Kanto region since 1931. The Japanese-Chinese War broke out in 1937, and the Chinese people went through numerous vicissitudes and sufferings. Unexpectedly, Japan had just surrendered. Two years later, the Kuomintang and the Communist Party launched a civil war, and the whole country was once again involved in an uninterrupted catastrophe.<br>
							| The Government of the Republic of China promulgated the "Provisional Provisions for Mobilization for the Period of Rebellion" in 1948, and the whole of China entered the period of general mobilization for war. In 1949, with the defeat of Chiang Kai-shek's army and retreat to Taiwan, he continued to implement the "Provisional Provisions for Mobilization and Rebellion" in Taiwan, which extended the state of war indefinitely. The entire military and civilians of Taiwan must aim at "anti-communist restoration", and Taiwan has become a large temporary/wartime military fortress.<br>
							| Under the banner of "Anti-Communist and Restoration", the immigrants and the people of the province are in a state of aphasia, unable to understand and sympathize with each other, and it is even more difficult to close the wounds of history. Only through literary metaphors and family writing, we can summon traumatic experiences and try to relocate the "dispersion" stories of individuals and families.
						hr
						.ex-edit-tit Strictly enforce "temporary/war" life
						p
							| The war in Taiwanese memory started with the Pacific War. In 1942, in order to serve the Emperor, many young people volunteered to fight in Southeast Asia. In the memory of the common people, the war is tantamount to avoiding US air strikes and endless war mobilization exercises.<br>
							| People in mainland China have experienced the merciless war in the Kanto region since 1931. The Japanese-Chinese War broke out in 1937, and the Chinese people went through numerous vicissitudes and sufferings. Unexpectedly, Japan had just surrendered. Two years later, the Kuomintang and the Communist Party launched a civil war, and the whole country was once again involved in an uninterrupted catastrophe.<br>
							| The Government of the Republic of China promulgated the "Provisional Provisions for Mobilization for the Period of Rebellion" in 1948, and the whole of China entered the period of general mobilization for war. In 1949, with the defeat of Chiang Kai-shek's army and retreat to Taiwan, he continued to implement the "Provisional Provisions for Mobilization and Rebellion" in Taiwan, which extended the state of war indefinitely. The entire military and civilians of Taiwan must aim for "anti-communist restoration", and Taiwan has become a large temporary/wartime military fortress.<br>
							| Under the banner of "Anti-Communist and Restoration", the immigrants and the people of the province are in a state of aphasia, unable to understand and sympathize with each other, and it is even more difficult to close the wounds of history. Only through literary metaphors and family writing can we summon traumatic experiences and try to relocate the story of "dispersion" between individuals and families.
						.quote-area.fas
							p …One night, Huang Chunming and I came out from somewhere together, and both of them were willing to walk. We walked for a long time and talked for a long time. The road was very quiet, with only our voices. That was the closest I had to the "provincial writer"... But I kept talking, and he remained silent, no response, no communication. There is no doubt, and it seems that there is no friendship...
							p Wang Dingjun's "Literary World: Wang Dingjun's Memoirs Four Steps" (2005)
						.book-area
							img.img-l(src="img/ex_art_img.jpg", alt="" style="width:35%")
							p
								| They put lime on my face<br>
								| They poured oil all over my body<br>
								| They put waste brake fluid on my face<br>
								| They put red lights on my eyes<br>
								| They stuffed gears into my mouth<br>
								| They illuminate me with a spotlight<br>
								| They hide in the dark<br>
								| They watched me with mouse eyes<br>
								| They record my tossing body
							p Commercial Birds (Awake) (2009)
							.book-info Shang Qin, a modernist poet, came to Taiwan with the army at the age of 20 and began to write modern surrealist poetry. This poem "Awakening" (excerpt) is a metaphor of the poet using disturbing objects such as lime and brake oil to write down the deep trauma (war) experience like a nightmare.
						.book-area
							img.img-r(src="img/ex_art_img02.jpg", alt="" style="width:35%")
							p However, many years later, when I suppressed my tears and wiped my father's chest and back covered with age spots, the story was rewritten. My father told the Shanghai retreat that a shell hit the hospital opposite the camp. They almost made a mistake in rescuing patients and babies. The sailing schedule. In the middle of the night of the twelfth lunar month, the injured father was looking for a newborn child in the ruins. The baby's faint crying sounds like chords, echoing the rhythm of a rain of bullets. The father was covered in dust and dirt. In addition to the dirt and dust, the baby without diapers also had blood coming out of Mimi. No one can distinguish between the shards of glass everywhere and the clear vitreous that burst out of the baby's eye sockets. Father dodges the water sword on the lotus head like bullets, and then points to the bullet scar on his thigh: "Look, I still found you in rags and dead bodies, old newspapers on the ground and pictures of Ruan Lingyu, motherless child."
							p Zhang Qijiang (Old Man) (1996)
							.book-info Zhang Qijiang grew up in a military village, and wrote many novels about the memories of the village’s growth, as well as the displacement and loss of immigrants after the war. This paragraph describes how the son is helping the elderly father to take a bath, putting together memories that his father did not know if they are misplaced, contrasting the heroic figure who rescued the baby in the rain of bullets and the situation of today's old age.
						.book-wrap
							.book-box
								img(src="img/book.jpg", alt="")
								span Jianghu Literature
							.book-box
								img(src="img/book.jpg", alt="")
								span Jianghu Literature
					.article-page-wrap#articlePageWrapDot
					.article-page-wrap#articlePageWrap
						.article-page-box#articlePageBox
							a(href="###").prev-box
								.page-arrow <i class="fas fa-angle-up"></i>
								span <i class="fas fa-angle-left"></i> Previous
								.page-info
									span.name Preface
									.img-box(style="background: url(img/excont_img01.jpg) no-repeat center center/cover")
										img(src="img/excont_img01.jpg", alt="")
							a(href="###").next-box
								span Next <i class="fas fa-angle-right"></i>
								.page-info
									span.name Your name
									.img-box(style="background: url(img/excont_img02.jpg) no-repeat center center/cover")
										img(src="img/excont_img01.jpg", alt="")
									.page-arrow <i class="fas fa-angle-down"></i>
					.btn-area.page-btn-area
						a(href="exhibition_cont_en.html").btn <i class="far fa-angle-left"></i> <span>Back</span>
		.page-wrap.ex-art-swiper#exArtSwiperWrap
			.main-cont
				.exhibition-article-swiper
					.swiper-container#exArtSwiper
						.swiper-wrapper
							.swiper-slide
								- const exArtImg01={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exArtInfo01={'img':exArtImg01,'imgUrl':'img/liter01.jpg','tit':'Small Terrace, Grand View Garden Han Lianglu Donation Exhibition'}
								+exArtSwiperBox(exArtInfo01)
							.swiper-slide
								- const exArtImg02={"background": "url(img/light_ex.jpg) no-repeat center center/cover"}
								- const exArtInfo02={'img':exArtImg02,'imgUrl':'img/light_ex.jpg','tit':'The Week of a Hundred Years-Haruo Sato 1920, Taiwan Travel Literature Exhibition'}
								+exArtSwiperBox(exArtInfo02)
							.swiper-slide
								- const exArtImg03={"background": "url(img/liter03.jpg) no-repeat center center/cover"}
								- const exArtInfo03={'img':exArtImg03,'imgUrl':'img/liter03.jpg','tit':'Literary Exhibition Title'}
								+exArtSwiperBox(exArtInfo03)
							.swiper-slide
								- const exArtImg04={"background": "url(img/liter04.jpg) no-repeat center center/cover"}
								- const exArtInfo04={'img':exArtImg04,'imgUrl':'img/liter04.jpg','tit':'Small Terrace, Grand View Garden Han Lianglu Donation Exhibition'}
								+exArtSwiperBox(exArtInfo04)
							.swiper-slide
								- const exArtImg05={"background": "url(img/liter05.jpg) no-repeat center center/cover"}
								- const exArtInfo05={'img':exArtImg05,'imgUrl':'img/liter05.jpg','tit':'Taiwan in the Japanese Occupation Period (4): Literature under the Influence of Modernization'}
								+exArtSwiperBox(exArtInfo05)
							.swiper-slide
								- const exArtImg06={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exArtInfo06={'img':exArtImg06,'imgUrl':'img/liter01.jpg','tit':'Small Terrace, Grand View Garden Han Lianglu Donation Exhibition'}
								+exArtSwiperBox(exArtInfo06)
					.swiper-button-prev#exArtP
						i(class="fas fa-angle-left")
					.swiper-button-next#exArtN
						i(class="fas fa-angle-right")
					.swiper-pagination#ExPage
		//- swiper lightbox 照片
		.light-ex-img-wrap#lightExImgWrap
			.light-tit Photo
				.light-close-btn <i class="fas fa-times"></i>
			.light-ex-img-cont
				.light-ex-img#lightExImg
					img(src="img/light_ex.jpg", alt="")
				.light-ex-txt#lightExTxt ResumeResumeResumeResumeResumeResumeResumeResume
				.light-ex-note Source: Donor: Family of Chen Huoquan, Collection of National Taiwan Literature Museum
		//-內容
		include includes/en/footer

script.
	$(document).ready(function () {
		var exArtSwiper = new Swiper('#exArtSwiper', {
			slidesPerView: 5,
			spaceBetween: 50,
			//- initialSlide: 2,
			breakpoints: {
				1200: {
					spaceBetween: 30,
				},
				768: {
					slidesPerView: 4,
					spaceBetween: 20,
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 20,
				},
				480: {
					slidesPerView: 2,
					spaceBetween: 20,
				},
			},
			navigation: {
				nextEl: '#exArtN',
				prevEl: '#exArtP',
			},
			pagination: {
				el: '#ExPage',
				clickable: true,
			},
		});
		//點擊照片觀看
		$('.exArt-img-box').each(function(ind,item){
			$(this).on('click',function(){
				var imgUrl=$(this).find('.exArt-img img').attr('src');
				var imgTxt=$(this).find('.exArt-txt').html();
				$('#lightExImg').find('img').attr('src',imgUrl);
				$('#lightExTxt').html(imgTxt);
				$('#lightExImgWrap,#mask').fadeIn();
			});
		});
	});
	$(window).scroll(function () {
		pageBtnFix();
	});
	$(window).resize(function () {
		pageBtnFix();
	});
	function pageBtnFix(){
		var windowW = $(window).width();
		var windowScrollNum = $(window).scrollTop();
		var $nav = $('#navArea');
		var navH = $nav.outerHeight();
		//定位用方塊位置
		var sidePageTop=$('#articlePageWrapDot').offset().top;
		var sidePageLeft=$('#articlePageWrapDot').offset().left;
		var footerTop=$('#exArtSwiperWrap').offset().top;
		//- var footerTop=$('footer').offset().top;
		//上方固定高度
		var sidePageTopFix=(sidePageTop - navH) - 10;
		var $pageWrap=$('#articlePageWrap');
		var $pageBox=$('#articlePageBox');
		//下方固定高度(算法：抓到要卡footer上方，所以先抓fooer的方塊距離上方多少位置，在減掉NAV高度跟本身內容高度，再剪調需要的間距，就是滾到這時，這格方塊要卡住)
		var sidePageH=$('#articlePageBox').outerHeight();
		var sidePageBottomFix = footerTop - (sidePageH + navH ) - 20;
		
		//- console.log(sidePageTop);
		//- console.log(sidePageLeft);
		if(windowW > 480){
			if(windowScrollNum > sidePageTopFix){
				$pageBox.css({ 'position':'fixed', 'top': navH + 10, 'left': sidePageLeft});
				if(windowScrollNum > sidePageBottomFix + 10){
					if(windowW > 1650){
						$pageWrap.css({'top': 'auto','bottom': '-41px'});
					}else{
						$pageWrap.css({'top': 'auto','bottom': '40px'});
					}
					$pageBox.removeAttr('style');
				}else{
					$pageWrap.removeAttr('style');
				}
			}else{
				$pageBox.removeAttr('style');
			}
		}else{
			$pageWrap.removeAttr('style');
			$pageBox.removeAttr('style');
		}
	}
