public/exhibition_article_cont_p2.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">科技．人文．友善體驗</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600">親愛的會員</span><a href="member_info.html">周子瑜</a>您好</div>
            <div class="log-btn logout-btn" id="loginOut">登出</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">註冊會員</a><a class="log-btn" href="login_page.html">會員登入</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="" disabled="disabled" selected="selected">語言</option>
              <option value="zh">繁中</option>
              <option value="en">English</option>
            </select>
          </div>
        </div>
      </div>
      <div class="nav-fix-box" id="navFixBox">
        <nav>
          <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
          <div class="nav-cont">
            <!--有英文版要加.en => .nav-item.en#navItem -->
            <div class="nav-item" id="navItem"> 
              <!--英文版 -const nav=[{'name':'Virtual Reality','enName':'','link':'###'}, {'name':'Literary History','enName':'','link':'history_list_p2.html'}, {'id':'navLiteraryBtn','name':'Literary Tour','enName':'','subNav':[{'name':'Writer\'s history','enName':'','link':'writer_list.html'},{'name':'Story map','enName':'','link':'writer_story_list.html'},{'name':'Theme tour','enName':'','link':'theme_list.html'},{'name':'Real Escape','enName':'','link':'###'}]}, {'name':'Digital 3D','enName':'','link':'http://211.75.82.187/WS/3dmodel.php','isOut':true}, {'id':'navThemeBtn','name':'Theme Platform','enName':'','link':'###','subNav':[{'name':'Writer\'s platform','enName':'','link':'https://literature.sds.com.tw/','isOut':true},{'name':'Literary Exhibition','enName':'','link':'exhibition_list_p2.html'},{'name':'Virtual Reality(laiho)','enName':'','link':'###'}]}, {'id':'navMakerBtn','name':'Maker Space','enName':'','subNav':[{'name':'Maker Articles','enName':'','link':'create_platform.html'},{'name':'Forum','enName':'','link':'create_qa_list.html'}]}, {'name':'Collecting Literature','enName':'','link':'###'} ]; //-n 是值 i 是KEY--><a class="n-item" href="travel.html"><span>筆尖上的地圖</span></a><a class="n-item" href="history_list_p2.html"><span>臺灣文學史</span></a>
              <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>文學踏查</span>
                <div class="n-nav-sup"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
                  <div class="n-nav-three-box"><a href="###"><span class="tit">實境解謎</span><span class="cont">小封神藏寶圖系列1</span></a><a href="###"><span class="cont">小封神藏寶圖系列2</span></a>
                  </div>
                </div>
              </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php" target="_blank"><span>數位3D</span></a>
              <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>主題平台</span>
                <div class="n-nav-sup"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
                </div>
              </div>
              <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>共創平台</span>
                <div class="n-nav-sup"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
                </div>
              </div><a class="n-item" href="###"><span>拾藏文學</span></a>
            </div>
            <div class="src-box">
              <input class="input-src" type="text" placeholder="搜尋..."/>
              <div class="src-btn"><i class="fas fa-search"></i></div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </nav>
        <div class="sub-nav-list">
          <div class="nav-sup sub-literaryList" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
            <div class="nav-three"><span>城市解謎</span>
              <div class="nav-three-box"><a href="###">小封神藏寶圖系列1</a><a href="###">小封神藏寶圖系列2</a>
              </div>
            </div>
          </div>
          <div class="nav-sup sub-themeList" id="navThemeList"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
          </div>
          <div class="nav-sup sub-makerList" id="navMakerList"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
          </div>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="stepMask"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-tab-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><a href="exhibition_list_p2.html">文學展示</a><span>/</span><a href="exhibition_cont_p2.html">逆旅．一九四九：臺灣戰後移民文學展</a><span>/</span>
          <div class="act-page">不只是異鄉</div>
        </div><a class="back-btn" href="exhibition_cont_p2.html"><i class="far fa-angle-left"></i> 返回文學展示</a>
        <div class="page-nav-area"><a class="page-nav-box" href="###"><i class="far fa-user-edit"></i> 作家平台</a><a class="page-nav-box"><i class="fas fa-kaaba"></i> 文學展示</a><a class="page-nav-box" href="###"><i class="fas fa-vr-cardboard"></i> 城市解謎1</a><a class="page-nav-box" href="###"><i class="fas fa-vr-cardboard"></i> 城市解謎2</a>
        </div>
      </div>
    </div>
    <div class="page-wrap inner-single-page ex-page-wrap">
      <div class="main-cont">
        <div class="exhibition-banner-box">
          <!--.article-cont-banner(style="background: url(img/ex_banner.jpg) no-repeat center center/cover")-->
          <div class="exhibition-sub-banner no-bg">
            <div class="exhibition-sub exhibition-article-sub">
              <div class="exhibition-sub-img" style="background: url(img/ex_img02.jpg) no-repeat center center/cover"><img src="img/ex_img01.jpg" alt=""/></div>
              <div class="exhibition-btn-box">
                <h2>逆旅．一九四九：臺灣戰後移民文學展</h2>
                <div class="exhibition-article-tit">不只是異鄉</div>
              </div>
              <div class="exhibition-sub-share">
                <div class="share-btn-box"><a href="###"><i class="far fa-check"></i>讚 <span>234</span></a><a href="###">分享</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-wrap ex-edit-wrap">
      <div class="main-cont">
        <h3 class="exhibition-tit">展覽介紹</h3>
        <div class="exhibition-article-maker">作者：<span>獨立評論在天下</span></div>
        <!-- 新增項目 - 第二階段-->
        <div class="src-tag-list exhibition-article-tag-list">
          <div class="gin-tag-box"><a href="###">#臺灣文學</a><a href="###">#臺灣府城</a><a href="###">#臺灣NO.1</a></div>
        </div>
        <!-- 新增項目 END - 第二階段-->
        <div class="edit-area ex-edit-area ex-inner-edit-area" id="exEditArea">
          <div class="edit-box"><img class="for-icon" src="img/icon_w.png" alt=""/><span style="font-size:30px">標題標題</span>
            <p>
              臺灣人記憶中的戰爭，是從太平洋戰爭開始的。一九四二年，不少青年為了報效天皇，自願到南洋打仗；而在老百姓的記憶裡，戰爭等於躲避美軍空襲，以及無止盡的戰爭動員演習。<br>
              中國大陸的百姓從一九三一年開始，就開始體驗了關東地區的無情戰火，一九三七年日華戰爭全面爆發，中國人民輾轉流離，歷經無數滄桑苦難。不料日本剛投降，兩年後國共雙方又發起內戰，全國再度捲入一場無間浩劫。<br>
              中華民國政府於一九四八年頒佈〈動員戡亂時期臨時條款〉，全中國進入戰爭總動員時期。一九四九年，隨著蔣介石軍隊敗退來臺，繼續在臺灣實行〈動員戡亂時期臨時條款〉，無限延長了戰爭狀態。全臺軍民都必須以「反共復國」為目標，臺灣則成為了一座大型的暫／戰時軍事要塞。<br>
              在「反共復國」的沉重大旗下，戰後移民與本省人都處於失語的狀態，無法彼此理解同情，更難縫合歷史傷口。只能透過文學隱喻、透過家族書寫，召喚創傷經驗，試圖重新安放個人與家族的「離散」故事。
            </p>
            <hr/><img src="img/liter03.jpg"/>
            <div class="ex-edit-tit">厲行「暫／戰」時生活</div>
            <p>
              臺灣人記憶中的戰爭，是從太平洋戰爭開始的。一九四二年，不少青年為了報效天皇，自願到南洋打仗；而在老百姓的記憶裡，戰爭等於躲避美軍空襲，以及無止盡的戰爭動員演習。<br>
              中國大陸的百姓從一九三一年開始，就開始體驗了關東地區的無情戰火，一九三七年日華戰爭全面爆發，中國人民輾轉流離，歷經無數滄桑苦難。不料日本剛投降，兩年後國共雙方又發起內戰，全國再度捲入一場無間浩劫。<br>
              中華民國政府於一九四八年頒佈〈動員戡亂時期臨時條款〉，全中國進入戰爭總動員時期。一九四九年，隨著蔣介石軍隊敗退來臺，繼續在臺灣實行〈動員戡亂時期臨時條款〉，無限延長了戰爭狀態。全臺軍民都必須以「反共復國」為目標，臺灣則成為了一座大型的暫／戰時軍事要塞。<br>
              在「反共復國」的沉重大旗下，戰後移民與本省人都處於失語的狀態，無法彼此理解同情，更難縫合歷史傷口。只能透過文學隱喻、透過家族書寫，召喚創傷經驗，試圖重新安放個人與家族的「離散」故事。
            </p>
            <div class="quote-area fas">
              <p>…有一天晚上，我和黃春明一同從某處出來，兩人都願意步行。我們走了很久也談了很久，馬路很靜，只有我倆的聲音，那是我和「本省作家」最接近的一次……可是我一直談，他一直默不作聲，沒有回響，沒有交流，沒有質疑，又好像談不上交情…</p>
              <p>王鼎鈞《文學江湖：王鼎鈞回憶錄四部曲之四》(2005)</p>
            </div><img class="for-line" src="img/hucerrarhx.png" alt=""/>
            <div class="book-area"><img class="img-l" src="img/ex_art_img.jpg" alt="" style="width:35%"/>
              <p>
                他們在我的臉上塗石灰<br>
                他們在我的全身澆泊油<br>
                他們在我的臉上身上抹廢棄的剎車油<br>
                他們在我的兩眼裝上發血光紅燈<br>
                他們把齒輪塞入我的口中<br>
                他們用集光燈照射著我<br>
                他們躲在暗處<br>
                他們用老鼠眼睛監視著我<br>
                他們記錄我輾轉的身軀
              </p>
              <p>商禽〈醒〉(2009)</p>
              <div class="book-info">商禽，現代派詩人，二十歲隨著軍隊來到臺灣，開始書寫超現實主義的現代詩。本詩〈醒〉（節錄）是詩人透過石灰及煞車油等等令人不安的物件比喻，寫下猶如夢魘一般，深層的創傷（戰爭）經驗。</div>
            </div>
            <div class="book-area"><img class="img-r" src="img/ex_art_img02.jpg" alt="" style="width:35%"/>
              <p>只是，很多年後，當我抑制淚水，擦拭父親佈滿老人斑的胸背，故事改寫了，父親訴說上海撤退時，一枚砲彈命中營地對面的醫院，他們為搶救病患、嬰兒而幾乎誤了船期。那個臘月天的深夜，負傷的父親在斷垣殘瓦裡尋找新生的孩子。嬰兒微弱的哭聲像和弦，呼應槍林彈雨的節奏。父親滿身灰土、髒污，沒有尿布的嬰兒除了髒污、灰土，還有汨汨冒出的鮮血。沒有人分得清遍地玻璃碎片和迸出嬰兒眼眶潔透的玻璃體。父親躲子彈般閃避蓮蓬頭的水劍，反手指著大腿上的彈疤：「瞧，老子還是在破布、屍體堆裡找到你，地上的舊報紙還有阮玲玉的照片，沒娘的孩子。」</p>
              <p>張啟疆〈老人家〉(1996)</p>
              <div class="book-info">張啟疆在眷村長大，書寫許多關於眷村成長記憶，以及戰後移民離鄉與失落的小說。本段落是描述兒子在幫老邁父親洗澡的時候，拼湊父親不知是否錯置的回憶，對照著當年在槍林彈雨中搶救嬰兒的英勇身影，與今日老衰遲暮的情境。</div>
            </div>
            <div class="book-wrap">
              <div class="book-box"><img src="img/book.jpg" alt=""/><span>江湖文學</span></div>
              <div class="book-box"><img src="img/book.jpg" alt=""/><span>江湖文學</span></div>
            </div>
          </div>
          <div class="article-page-wrap" id="articlePageWrapDot"></div>
          <div class="article-page-wrap" id="articlePageWrap">
            <div class="article-page-box" id="articlePageBox"><a class="prev-box" href="###">
                <div class="page-arrow"><i class="fas fa-angle-up"></i></div><span><i class="fas fa-angle-left"></i> 上一篇</span>
                <div class="page-info"><span class="name">前言</span>
                  <div class="img-box" style="background: url(img/excont_img01.jpg) no-repeat center center/cover"><img src="img/excont_img01.jpg" alt=""/></div>
                </div></a><a class="next-box" href="###"><span>下一篇 <i class="fas fa-angle-right"></i></span>
                <div class="page-info"><span class="name">一二三四五六</span>
                  <div class="img-box" style="background: url(img/excont_img02.jpg) no-repeat center center/cover"><img src="img/excont_img01.jpg" alt=""/></div>
                  <div class="page-arrow"><i class="fas fa-angle-down"></i></div>
                </div></a></div>
          </div>
          <div class="btn-area page-btn-area"><a class="btn" href="exhibition_cont_p2.html"><i class="far fa-angle-left"></i> <span>返 回</span></a></div>
        </div>
      </div>
    </div>
    <div class="page-wrap ex-art-swiper" id="exArtSwiperWrap">
      <div class="main-cont">
        <div class="exhibition-article-swiper">
          <div class="swiper-container" id="exArtSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter01.jpg) no-repeat center center/cover;"><img src="img/liter01.jpg" alt=""/></div>
                  <div class="exArt-txt">小露台、大觀園韓良露捐贈展</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/light_ex.jpg) no-repeat center center/cover;"><img src="img/light_ex.jpg" alt=""/></div>
                  <div class="exArt-txt">百年之週-佐藤春夫1920，臺灣旅行文學展</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter03.jpg) no-repeat center center/cover;"><img src="img/liter03.jpg" alt=""/></div>
                  <div class="exArt-txt">文學展示標題</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter04.jpg) no-repeat center center/cover;"><img src="img/liter04.jpg" alt=""/></div>
                  <div class="exArt-txt">小露台、大觀園韓良露捐贈展</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter05.jpg) no-repeat center center/cover;"><img src="img/liter05.jpg" alt=""/></div>
                  <div class="exArt-txt">日治時代的台灣(四)：近代化影響下的文學</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="exArt-img-box">
                  <div class="exArt-img" style="background:url(img/liter01.jpg) no-repeat center center/cover;"><img src="img/liter01.jpg" alt=""/></div>
                  <div class="exArt-txt">小露台、大觀園韓良露捐贈展</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev" id="exArtP"><i class="fas fa-angle-left"></i></div>
          <div class="swiper-button-next" id="exArtN"><i class="fas fa-angle-right"></i></div>
          <div class="swiper-pagination" id="ExPage"></div>
        </div>
      </div>
    </div>
    <div class="light-ex-img-wrap" id="lightExImgWrap">
      <div class="light-tit">照片展示
        <div class="light-close-btn"><i class="fas fa-times"></i></div>
      </div>
      <div class="light-ex-img-cont scroll-cont">
        <div class="light-ex-img-info">
          <div class="light-ex-img" id="lightExImg"><img src="img/light_ex.jpg" alt=""/></div>
          <div class="light-ex-txt" id="lightExTxt">簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述</div>
          <div class="light-ex-note">資料來源：捐贈者：陳火泉家屬，國立臺灣文學館典藏</div>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo"><a class="f-logo" href="https://www.nmtl.gov.tw/" target="_blank"><img src="img/logo_his.svg" alt=""/></a>
          <div class="f-logo-txt">700 臺南市中西區中正路1號<br><i class="far fa-phone-rotary"></i>（06）221-7201</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="web-link-cont">
              <div class="web-link-box"><a href="about.html">關於本站</a><a href="traffic_page.html">交通資訊</a><a href="###">聯絡我們</a>
                <div class="web-link" id="privacyBtn">隱私權及安全政策</div>
                <div class="web-link" id="questBtn">線上問卷</div>
                <!-- v4 add--><a href="medal_info_v4.html">集章任務說明</a>
                <!-- v4 add end-->
              </div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>瀏覽人次</span><span>5915</span></div>
            <div class="web-info"><span>更新日期</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
      <!-- 地圖推廣入口-->
      <div class="travel-enter-area close" id="travelEnterArea">
        <div class="switch-btn-box" id="travelEnterBtn">
          <div class="icon"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="c-step-side-box" id="cStepSideBtn">
          <div class="c-step-side-img"><img src="img/c_step_side.svg" alt=""/></div>
          <div class="c-step-side-txt"><i class="fas fa-comment-alt-exclamation"></i><span>集章任務開跑</span></div>
        </div>
      </div>
      <div class="light-wrap" id="privacyBox">
        <div class="light-tit">
          <h2>隱私權與安全政策</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <h3>一、隱私權保護政策</h3>
            <p> 個人隱私權已是使用者於網路世界瀏覽中主要之顧慮，國立臺灣文學館（以下簡稱本館）特創設隱私權保護政策，以下將對： 『個人資料的蒐集與使用方式』、『Cookies、IP address』、『對個人資料之保護與利用』加以說明與宣示：</p>
            <div class="tit">(一) 個人資料的蒐集與使用方式：</div>
            <p>為了在本網站上提供您最佳的網站服務，依不同頁面會請您提供相關個人的資料，其範圍如下：本網站在您使用電子報訂閱、團體導覽預約、活動報名、加入文學之友與刊登研討會訊息等系統功能表單時，會保留您所提供的姓名、電子郵件地址、連絡方式及使用時間等。</p>
            <div class="tit">(二) Cookies and IP Address：</div>
            <p>當使用者到本網站瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。</p>
            <div class="tit">(三) 對個人資料之保護與利用：</div>
            <p>本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料。我們採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義者，將會受到相關的法律處分。</p>
            <p>本網站雖將盡最大之努力以維護使用者之個人資料（不濫用與 不揭露），但因網路資料之傳輸無法確保百分之百的安全性， 因此本網站無法確信或擔保使用者所傳來或我們傳送予使用者 的資料完全安全。關於上述之風險，必須請使用者自行負擔。</p>
            <p>除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露於第三人或使用於蒐集目的以外之其他用途。</p>
            <h3>二、資訊安全政策</h3>
            <p>國立臺灣文學館(以下簡稱本館)尊重並保護您在使用網際網路時的安全及隱私保護利，為了幫助您瞭解「國立臺灣文學館全球資訊網」如何保護您在使用本網站各項服務的安全、及如何蒐集、應用及保護您所提供的個人資訊，請您詳細閱讀「國立臺灣文學館全球資訊網」的隱私保護及安全政策。請您仔細閱讀以下各項說明， 也歡迎您告訴我們您的想法，若有任何意見或疑 問，請E-mail至 twp@nmtl.gov.tw</p>
            <p>任何未經授權而企圖上載或更改本館所提供的各項服務及相關資訊的行為，都是嚴厲禁止而且可能觸犯法律。為了網站安全的目的和確保這項服務能夠繼續服務所有的網路使用者，本網站提供了以下的安全保護措施：</p>
          </div>
        </div>
      </div>
      <div class="light-wrap" id="questBox">
        <div class="light-tit">
          <h2>線上問卷</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <div class="quest-list-box">
              <div class="quest-list-tit">問卷主題</div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 日本文學之興趣調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 臺灣文學虛擬博物館滿意度調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 現代文學調查</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 集章步驟-->
      <div class="light-step-wrap close" id="lightStepWrap">
        <div class="light-step-close-box">
          <div class="light-step-close" id="lightStepClose"><img src="img/c_step_close.svg"/></div>
        </div>
        <div class="light-step-area">
          <div class="light-step-cont">
            <div class="light-step-tit">
              <div class="stpe-tit-d"><img src="img/c_step_d.svg"/></div>
              <div class="tit1"><span>集章任務開跑</span>
                <div class="arr"><img src="img/c_step_arr.svg"/></div>
              </div>
            </div>
            <div class="light-step-nav">
              <div class="step-box act" id="stepC1">STEP.1</div>
              <div class="step-box" id="stepC2">STEP.2</div>
              <div class="step-box" id="stepC3">STEP.3</div>
              <div class="step-box" id="stepC4">STEP.4</div>
            </div>
            <div class="light-step-sw-area">
              <div class="light-step-sw">
                <div class="swipe" id="lightStepSw">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">註冊會員或會員登入</div>
                        <div class="light-step-img cstep1"><img src="img/c_step1.png"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">前往「會員中心」，查看徽章收集進度</div>
                        <div class="light-step-img cstep2"><img src="img/c_step2.jpg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">完成各項集章任務，獲得更多徽章</div>
                        <div class="light-step-img cstep3"><img src="img/c_step3.svg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">累積更多徽章，兌換更多獎勵吧！</div>
                        <div class="light-step-img cstep4"><img src="img/c_step4.svg"/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function () {
  	var exArtSwiper = new Swiper('#exArtSwiper', {
  		slidesPerView: 5,
  		spaceBetween: 50,
  		//- initialSlide: 2,
  		breakpoints: {
  			1200: {
  				slidesPerView: 5,
  				spaceBetween: 30,
  			},
  			768: {
  				slidesPerView: 4,
  				spaceBetween: 20,
  			},
  			600: {
  				slidesPerView: 3,
  				spaceBetween: 20,
  			},
  			480: {
  				slidesPerView: 2,
  				spaceBetween: 20,
  			},
  		},
  		navigation: {
  			nextEl: '#exArtN',
  			prevEl: '#exArtP',
  		},
  		pagination: {
  			el: '#ExPage',
  			clickable: true,
  		},
  	});
  	//點擊照片觀看
  	$('.exArt-img-box').each(function(ind,item){
  		$(this).on('click',function(){
  			var imgUrl=$(this).find('.exArt-img img').attr('src');
  			var imgTxt=$(this).find('.exArt-txt').html();
  			$('#lightExImg').find('img').attr('src',imgUrl);
  			$('#lightExTxt').html(imgTxt);
  			$('#lightExImgWrap,#mask').fadeIn();
  		});
  	});
  });
  $(window).scroll(function () {
  	pageBtnFix();
  });
  $(window).resize(function () {
  	pageBtnFix();
  });
  function pageBtnFix(){
  	var windowW = $(window).width();
  	var windowScrollNum = $(window).scrollTop();
  	var $nav = $('nav');
  	//- var $nav = $('#navArea');//原本
  	var navH = $nav.outerHeight();
  	//定位用方塊位置
  	var sidePageTop=$('#articlePageWrapDot').offset().top;
  	var sidePageLeft=$('#articlePageWrapDot').offset().left;
  	var footerTop=$('#exArtSwiperWrap').offset().top;
  	//- var footerTop=$('footer').offset().top;
  	//上方固定高度
  	var sidePageTopFix=(sidePageTop - navH) - 10;
  	var $pageWrap=$('#articlePageWrap');
  	var $pageBox=$('#articlePageBox');
  	//下方固定高度(算法：抓到要卡footer上方，所以先抓fooer的方塊距離上方多少位置，在減掉NAV高度跟本身內容高度，再剪調需要的間距，就是滾到這時，這格方塊要卡住)
  	var sidePageH=$('#articlePageBox').outerHeight();
  	var sidePageBottomFix = footerTop - (sidePageH + navH ) - 20;
  	
  	//- console.log(sidePageTop);
  	//- console.log(sidePageLeft);
  	if(windowW > 480){
  		if(windowScrollNum > sidePageTopFix){
  			$pageBox.css({ 'position':'fixed', 'top': navH + 5, 'left': sidePageLeft});
  			if(windowScrollNum > sidePageBottomFix + 10){
  				if(windowW > 1650){
  					$pageWrap.css({'top': 'auto','bottom': '-41px'});
  				}else{
  					$pageWrap.css({'top': 'auto','bottom': '40px'});
  				}
  				$pageBox.removeAttr('style');
  			}else{
  				$pageWrap.removeAttr('style');
  			}
  		}else{
  			$pageBox.removeAttr('style');
  		}
  	}else{
  		$pageWrap.removeAttr('style');
  		$pageBox.removeAttr('style');
  	}
  }
</script>

pug/exhibition_article_cont_p2.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學展示','link':'exhibition_list_p2.html'},{'name':'逆旅．一九四九：臺灣戰後移民文學展','link':'exhibition_cont_p2.html'}],'actPage':'不只是異鄉'}
				+breadBox(breadList)
				-const back={'name':'返回文學展示','link':'exhibition_cont_p2.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'文學展示','icon':'<i class="fas fa-kaaba"></i>'},{'name':'城市解謎1','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'},{'name':'城市解謎2','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page.ex-page-wrap
			.main-cont
				.exhibition-banner-box
					//.article-cont-banner(style="background: url(img/ex_banner.jpg) no-repeat center center/cover")
					.exhibition-sub-banner.no-bg
						.exhibition-sub.exhibition-article-sub
							.exhibition-sub-img(style="background: url(img/ex_img02.jpg) no-repeat center center/cover")
								img(src="img/ex_img01.jpg", alt="")
							.exhibition-btn-box
								h2 逆旅．一九四九：臺灣戰後移民文學展
								.exhibition-article-tit 不只是異鄉
							.exhibition-sub-share
								.share-btn-box
									a(href="###")
										i(class="far fa-check")
										| 讚 <span>234</span>
									a(href="###") 分享
		.page-wrap.ex-edit-wrap
			.main-cont
				h3.exhibition-tit 展覽介紹
				.exhibition-article-maker 作者：<span>獨立評論在天下</span>
				// 新增項目 - 第二階段
				.src-tag-list.exhibition-article-tag-list
					.gin-tag-box
						a(href="###") #臺灣文學
						a(href="###") #臺灣府城
						a(href="###") #臺灣NO.1
				// 新增項目 END - 第二階段
				.edit-area.ex-edit-area.ex-inner-edit-area#exEditArea
					.edit-box
						img.for-icon(src="img/icon_w.png", alt="") 
						span(style="font-size:30px") 標題標題
						p
							| 臺灣人記憶中的戰爭，是從太平洋戰爭開始的。一九四二年，不少青年為了報效天皇，自願到南洋打仗；而在老百姓的記憶裡，戰爭等於躲避美軍空襲，以及無止盡的戰爭動員演習。<br>
							| 中國大陸的百姓從一九三一年開始，就開始體驗了關東地區的無情戰火，一九三七年日華戰爭全面爆發，中國人民輾轉流離，歷經無數滄桑苦難。不料日本剛投降，兩年後國共雙方又發起內戰，全國再度捲入一場無間浩劫。<br>
							| 中華民國政府於一九四八年頒佈〈動員戡亂時期臨時條款〉，全中國進入戰爭總動員時期。一九四九年，隨著蔣介石軍隊敗退來臺，繼續在臺灣實行〈動員戡亂時期臨時條款〉，無限延長了戰爭狀態。全臺軍民都必須以「反共復國」為目標，臺灣則成為了一座大型的暫／戰時軍事要塞。<br>
							| 在「反共復國」的沉重大旗下，戰後移民與本省人都處於失語的狀態，無法彼此理解同情，更難縫合歷史傷口。只能透過文學隱喻、透過家族書寫，召喚創傷經驗，試圖重新安放個人與家族的「離散」故事。
						hr
						img(src="img/liter03.jpg")
						.ex-edit-tit 厲行「暫／戰」時生活
						p
							| 臺灣人記憶中的戰爭，是從太平洋戰爭開始的。一九四二年，不少青年為了報效天皇，自願到南洋打仗；而在老百姓的記憶裡，戰爭等於躲避美軍空襲，以及無止盡的戰爭動員演習。<br>
							| 中國大陸的百姓從一九三一年開始，就開始體驗了關東地區的無情戰火，一九三七年日華戰爭全面爆發，中國人民輾轉流離，歷經無數滄桑苦難。不料日本剛投降，兩年後國共雙方又發起內戰，全國再度捲入一場無間浩劫。<br>
							| 中華民國政府於一九四八年頒佈〈動員戡亂時期臨時條款〉，全中國進入戰爭總動員時期。一九四九年，隨著蔣介石軍隊敗退來臺，繼續在臺灣實行〈動員戡亂時期臨時條款〉，無限延長了戰爭狀態。全臺軍民都必須以「反共復國」為目標，臺灣則成為了一座大型的暫／戰時軍事要塞。<br>
							| 在「反共復國」的沉重大旗下，戰後移民與本省人都處於失語的狀態，無法彼此理解同情，更難縫合歷史傷口。只能透過文學隱喻、透過家族書寫，召喚創傷經驗，試圖重新安放個人與家族的「離散」故事。
						.quote-area.fas
							p …有一天晚上，我和黃春明一同從某處出來，兩人都願意步行。我們走了很久也談了很久，馬路很靜，只有我倆的聲音，那是我和「本省作家」最接近的一次……可是我一直談，他一直默不作聲，沒有回響，沒有交流，沒有質疑，又好像談不上交情…
							p 王鼎鈞《文學江湖：王鼎鈞回憶錄四部曲之四》(2005)
						img.for-line(src="img/hucerrarhx.png", alt="")
						.book-area
							img.img-l(src="img/ex_art_img.jpg", alt="" style="width:35%")
							
							
							
							p
								| 他們在我的臉上塗石灰<br>
								| 他們在我的全身澆泊油<br>
								| 他們在我的臉上身上抹廢棄的剎車油<br>
								| 他們在我的兩眼裝上發血光紅燈<br>
								| 他們把齒輪塞入我的口中<br>
								| 他們用集光燈照射著我<br>
								| 他們躲在暗處<br>
								| 他們用老鼠眼睛監視著我<br>
								| 他們記錄我輾轉的身軀
							p 商禽〈醒〉(2009)
							.book-info 商禽，現代派詩人，二十歲隨著軍隊來到臺灣，開始書寫超現實主義的現代詩。本詩〈醒〉（節錄）是詩人透過石灰及煞車油等等令人不安的物件比喻，寫下猶如夢魘一般，深層的創傷（戰爭）經驗。
						.book-area
							img.img-r(src="img/ex_art_img02.jpg", alt="" style="width:35%")
							p 只是，很多年後，當我抑制淚水，擦拭父親佈滿老人斑的胸背，故事改寫了，父親訴說上海撤退時，一枚砲彈命中營地對面的醫院，他們為搶救病患、嬰兒而幾乎誤了船期。那個臘月天的深夜，負傷的父親在斷垣殘瓦裡尋找新生的孩子。嬰兒微弱的哭聲像和弦，呼應槍林彈雨的節奏。父親滿身灰土、髒污，沒有尿布的嬰兒除了髒污、灰土，還有汨汨冒出的鮮血。沒有人分得清遍地玻璃碎片和迸出嬰兒眼眶潔透的玻璃體。父親躲子彈般閃避蓮蓬頭的水劍，反手指著大腿上的彈疤：「瞧，老子還是在破布、屍體堆裡找到你，地上的舊報紙還有阮玲玉的照片，沒娘的孩子。」
							p 張啟疆〈老人家〉(1996)
							.book-info 張啟疆在眷村長大，書寫許多關於眷村成長記憶，以及戰後移民離鄉與失落的小說。本段落是描述兒子在幫老邁父親洗澡的時候，拼湊父親不知是否錯置的回憶，對照著當年在槍林彈雨中搶救嬰兒的英勇身影，與今日老衰遲暮的情境。
						.book-wrap
							.book-box
								img(src="img/book.jpg", alt="")
								span 江湖文學
							.book-box
								img(src="img/book.jpg", alt="")
								span 江湖文學
					.article-page-wrap#articlePageWrapDot
					.article-page-wrap#articlePageWrap
						.article-page-box#articlePageBox
							a(href="###").prev-box
								.page-arrow <i class="fas fa-angle-up"></i>
								span <i class="fas fa-angle-left"></i> 上一篇
								.page-info
									span.name 前言
									.img-box(style="background: url(img/excont_img01.jpg) no-repeat center center/cover")
										img(src="img/excont_img01.jpg", alt="")
							a(href="###").next-box
								span 下一篇 <i class="fas fa-angle-right"></i>
								.page-info
									span.name 一二三四五六
									.img-box(style="background: url(img/excont_img02.jpg) no-repeat center center/cover")
										img(src="img/excont_img01.jpg", alt="")
									.page-arrow <i class="fas fa-angle-down"></i>
					.btn-area.page-btn-area
						a(href="exhibition_cont_p2.html").btn <i class="far fa-angle-left"></i> <span>返 回</span>
		.page-wrap.ex-art-swiper#exArtSwiperWrap
			.main-cont
				.exhibition-article-swiper
					.swiper-container#exArtSwiper
						.swiper-wrapper
							.swiper-slide
								- const exArtImg01={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exArtInfo01={'img':exArtImg01,'imgUrl':'img/liter01.jpg','tit':'小露台、大觀園韓良露捐贈展'}
								+exArtSwiperBox(exArtInfo01)
							.swiper-slide
								- const exArtImg02={"background": "url(img/light_ex.jpg) no-repeat center center/cover"}
								- const exArtInfo02={'img':exArtImg02,'imgUrl':'img/light_ex.jpg','tit':'百年之週-佐藤春夫1920，臺灣旅行文學展'}
								+exArtSwiperBox(exArtInfo02)
							.swiper-slide
								- const exArtImg03={"background": "url(img/liter03.jpg) no-repeat center center/cover"}
								- const exArtInfo03={'img':exArtImg03,'imgUrl':'img/liter03.jpg','tit':'文學展示標題'}
								+exArtSwiperBox(exArtInfo03)
							.swiper-slide
								- const exArtImg04={"background": "url(img/liter04.jpg) no-repeat center center/cover"}
								- const exArtInfo04={'img':exArtImg04,'imgUrl':'img/liter04.jpg','tit':'小露台、大觀園韓良露捐贈展'}
								+exArtSwiperBox(exArtInfo04)
							.swiper-slide
								- const exArtImg05={"background": "url(img/liter05.jpg) no-repeat center center/cover"}
								- const exArtInfo05={'img':exArtImg05,'imgUrl':'img/liter05.jpg','tit':'日治時代的台灣(四)：近代化影響下的文學'}
								+exArtSwiperBox(exArtInfo05)
							.swiper-slide
								- const exArtImg06={"background": "url(img/liter01.jpg) no-repeat center center/cover"}
								- const exArtInfo06={'img':exArtImg06,'imgUrl':'img/liter01.jpg','tit':'小露台、大觀園韓良露捐贈展'}
								+exArtSwiperBox(exArtInfo06)
					.swiper-button-prev#exArtP
						i(class="fas fa-angle-left")
					.swiper-button-next#exArtN
						i(class="fas fa-angle-right")
					.swiper-pagination#ExPage
		//- swiper lightbox 照片
		.light-ex-img-wrap#lightExImgWrap
			.light-tit 照片展示
				.light-close-btn <i class="fas fa-times"></i>
			.light-ex-img-cont.scroll-cont
				.light-ex-img-info
					.light-ex-img#lightExImg
						img(src="img/light_ex.jpg", alt="")
					.light-ex-txt#lightExTxt 簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述
					.light-ex-note 資料來源：捐贈者：陳火泉家屬，國立臺灣文學館典藏
		//-內容
		include includes/footer

script.
	$(document).ready(function () {
		var exArtSwiper = new Swiper('#exArtSwiper', {
			slidesPerView: 5,
			spaceBetween: 50,
			//- initialSlide: 2,
			breakpoints: {
				1200: {
					slidesPerView: 5,
					spaceBetween: 30,
				},
				768: {
					slidesPerView: 4,
					spaceBetween: 20,
				},
				600: {
					slidesPerView: 3,
					spaceBetween: 20,
				},
				480: {
					slidesPerView: 2,
					spaceBetween: 20,
				},
			},
			navigation: {
				nextEl: '#exArtN',
				prevEl: '#exArtP',
			},
			pagination: {
				el: '#ExPage',
				clickable: true,
			},
		});
		//點擊照片觀看
		$('.exArt-img-box').each(function(ind,item){
			$(this).on('click',function(){
				var imgUrl=$(this).find('.exArt-img img').attr('src');
				var imgTxt=$(this).find('.exArt-txt').html();
				$('#lightExImg').find('img').attr('src',imgUrl);
				$('#lightExTxt').html(imgTxt);
				$('#lightExImgWrap,#mask').fadeIn();
			});
		});
	});
	$(window).scroll(function () {
		pageBtnFix();
	});
	$(window).resize(function () {
		pageBtnFix();
	});
	function pageBtnFix(){
		var windowW = $(window).width();
		var windowScrollNum = $(window).scrollTop();
		var $nav = $('nav');
		//- var $nav = $('#navArea');//原本
		var navH = $nav.outerHeight();
		//定位用方塊位置
		var sidePageTop=$('#articlePageWrapDot').offset().top;
		var sidePageLeft=$('#articlePageWrapDot').offset().left;
		var footerTop=$('#exArtSwiperWrap').offset().top;
		//- var footerTop=$('footer').offset().top;
		//上方固定高度
		var sidePageTopFix=(sidePageTop - navH) - 10;
		var $pageWrap=$('#articlePageWrap');
		var $pageBox=$('#articlePageBox');
		//下方固定高度(算法：抓到要卡footer上方，所以先抓fooer的方塊距離上方多少位置，在減掉NAV高度跟本身內容高度，再剪調需要的間距，就是滾到這時，這格方塊要卡住)
		var sidePageH=$('#articlePageBox').outerHeight();
		var sidePageBottomFix = footerTop - (sidePageH + navH ) - 20;
		
		//- console.log(sidePageTop);
		//- console.log(sidePageLeft);
		if(windowW > 480){
			if(windowScrollNum > sidePageTopFix){
				$pageBox.css({ 'position':'fixed', 'top': navH + 5, 'left': sidePageLeft});
				if(windowScrollNum > sidePageBottomFix + 10){
					if(windowW > 1650){
						$pageWrap.css({'top': 'auto','bottom': '-41px'});
					}else{
						$pageWrap.css({'top': 'auto','bottom': '40px'});
					}
					$pageBox.removeAttr('style');
				}else{
					$pageWrap.removeAttr('style');
				}
			}else{
				$pageBox.removeAttr('style');
			}
		}else{
			$pageWrap.removeAttr('style');
			$pageBox.removeAttr('style');
		}
	}
