public/exhibition_list_en.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">tech．humanity．friendly</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600"> </span><a href="member.html">周子瑜</a>,Hello</div>
            <div class="log-btn logout-btn" id="loginOut">LogOut</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">Register</a><a class="log-btn" href="login_page.html">Login</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="zh">繁中</option>
              <option value="en" selected="selected">English</option>
            </select>
          </div>
        </div>
      </div>
      <nav>
        <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
        <div class="nav-cont">
          <div class="nav-item en" id="navItem"><a class="n-item" href="###"><span>Virtual Reality</span><span class="en"></span></a><a class="n-item" href="history_list.html"><span>Literary History</span><span class="en"></span></a>
            <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>Literary Tour</span><span class="en"></span>
              <div class="n-nav-sup"><a href="writer_list.html"><span>Writer's history</span><span class="en"></span></a><a href="writer_story_list.html"><span>Story map</span><span class="en"></span></a><a href="theme_list.html"><span>Theme tour</span><span class="en"></span></a><a href="###"><span>Real Escape</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php"><span>Digital 3D</span><span class="en"></span></a>
            <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>Theme Platform</span><span class="en"></span>
              <div class="n-nav-sup"><a href="https://literature.sds.com.tw/"><span>Writer's platform</span><span class="en"></span></a><a href="exhibition_list.html"><span>Literary Exhibition</span><span class="en"></span></a><a href="###"><span>Virtual Reality(laiho)</span><span class="en"></span></a>
              </div>
            </div>
            <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>Maker Space</span><span class="en"></span>
              <div class="n-nav-sup"><a href="create_platform.html"><span>Maker Articles</span><span class="en"></span></a><a href="create_qa_list.html"><span>Forum</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="###"><span>Collecting Literature</span><span class="en"></span></a>
          </div>
          <div class="src-box">
            <input class="input-src" type="text" placeholder="Search..."/>
            <div class="src-btn"><i class="fas fa-search"></i></div>
          </div>
          <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </nav>
      <div class="sub-nav-list">
        <div class="nav-sup" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span><span class="en">Writer‘s history</span></a><a href="###"><span>故事地圖</span><span class="en">Story map</span></a><a href="###"><span>主題之旅</span><span class="en">Theme tour</span></a><a href="###"><span>實境解謎</span><span class="en">Real Escape</span></a>
        </div>
        <div class="nav-sup" id="navThemeList"><a href="###"><span>作家平台</span><span class="en">Writer‘s platform</span></a><a href="exhibition_list_en.html"><span>文學展示</span><span class="en">Literary Exhibition</span></a><a href="###"><span>虛擬實境</span><span class="en">Virtual Reality(laiho)</span></a>
        </div>
        <div class="nav-sup" id="navMakerList"><a href="create_platform_en.html"><span>共創文章</span><span class="en">Maker Articles</span></a><a href="create_qa_list.html"><span>交流討論</span><span class="en">Forum</span></a>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-tab-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index_en.html">Index</a><span>/</span>
          <div class="act-page">Literary Exhibition</div>
        </div>
        <div class="page-nav-area"><a class="page-nav-box" href="###"><i class="far fa-user-edit"></i> Writer‘s platform</a>
          <div class="page-nav-box act"><i class="fas fa-kaaba"></i> Literary Exhibition</div><a class="page-nav-box" href="###"><i class="fas fa-vr-cardboard"></i> Virtual Reality</a>
        </div>
      </div>
    </div>
    <div class="one-line-wrap">
      <div class="main-cont">
        <div class="creat-src-box">
          <div class="creat-src">
            <input type="text" name="" placeholder="Search Literary Exhibition..."/>
          </div>
          <div class="creat-src-btn"><i class="fas fa-search"></i>Search</div>
        </div>
      </div>
    </div>
    <div class="page-wrap page-gray-wrap">
      <div class="main-cont">
        <div class="exhibition-list">
          <div class="exhibition-box"><a class="exhibition-img" href="exhibition_cont_en.html" style="background:url(img/ex_img01.jpg) no-repeat center center/cover;"><img src="img/ex_img01.jpg" alt=""/></a>
            <div class="exhibition-cont"><a class="tit" href="exhibition_cont_en.html">Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition Label</a>
              <div class="cont"><a class="txt" href="exhibition_cont_en.html">This exhibition is dedicated to the sergeants and dependents of other provinces who thought it was only a temporary retreat in 1949, as well as their descendants, as well as all ethnic groups who have lived with them for 70 years. The exhibition name &quot;Inverse Travel&quot; has two meanings. One is when</a>
                <div class="share-btn-box"><a href="###"><i class="far fa-check"></i>like <span>234</span></a><a href="###">Share</a></div>
              </div>
            </div>
          </div>
          <div class="exhibition-box"><a class="exhibition-img" href="exhibition_cont_en.html" style="background:url(img/ex_img02.jpg) no-repeat center center/cover;"><img src="img/ex_img01.jpg" alt=""/></a>
            <div class="exhibition-cont"><a class="tit" href="exhibition_cont_en.html">Silent Chamber-White Horror Literature Mind-reading Silent Chamber-White Horror Literature Mind-reading</a>
              <div class="cont"><a class="txt" href="exhibition_cont_en.html">This exhibition is dedicated to the predecessors who are going forward with heavy burdens, and every islander who has been breathing the air of democracy and freedom in peace and time.</a>
                <div class="share-btn-box"><a href="###"><i class="far fa-check"></i>like <span>234</span></a><a href="###">Share</a></div>
              </div>
            </div>
          </div>
          <div class="exhibition-box"><a class="exhibition-img" href="exhibition_cont_en.html" style="background:url(img/ex_img03.jpg) no-repeat center center/cover;"><img src="img/ex_img01.jpg" alt=""/></a>
            <div class="exhibition-cont"><a class="tit" href="exhibition_cont_en.html">Remembrance of Our City──Hong Kong and Hong Kong Literary Years</a>
              <div class="cont"><a class="txt" href="exhibition_cont_en.html">Double-decker buses, tea restaurants, Chungking Mansions, Wulitou--this is our impression of Hong Kong. Traditional, modern, serious, vulgar, red roses, white roses, and there are islands and peninsulas.</a>
                <div class="share-btn-box"><a href="###"><i class="far fa-check"></i>like <span>234</span></a><a href="###">Share</a></div>
              </div>
            </div>
          </div>
          <div class="exhibition-box"><a class="exhibition-img" href="exhibition_cont_en.html" style="background:url(img/ex_img05.jpg) no-repeat center center/cover;"><img src="img/ex_img01.jpg" alt=""/></a>
            <div class="exhibition-cont"><a class="tit" href="exhibition_cont_en.html">Small terrace. Grand View Garden-Han Lianglu Donation Exhibition</a>
              <div class="cont"><a class="txt" href="exhibition_cont_en.html">Wandering female literary youth, SARS intellectuals, gourmet Monkey King, urban storytellers.... In Taiwan, the name &quot;Han Lianglu&quot; is like a well-known cultural brand</a>
                <div class="share-btn-box"><a href="###"><i class="far fa-check"></i>like <span>234</span></a><a href="###">Share</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-area"><a class="lim-btn" href="###"><i class="far fa-arrow-to-left"></i></a><a class="pre-btn" href="###"><i class="far fa-arrow-left"></i></a>
          <div class="page-box"><a class="act" href="###">1</a><a href="###">2</a><a href="###">3</a><a href="###">4</a><a href="###">5</a></div><a class="next-btn" href="###"><i class="far fa-arrow-right"></i></a><a class="lim-btn" href="###"><i class="far fa-arrow-to-right"></i></a>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo">
          <div class="f-logo"><img src="img/logo_his.svg" alt=""/></div>
          <div class="f-logo-txt">700 No. 1, Zhongzheng Road, West Central District, Tainan City</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="qrcode-cont">
              <div class="qrcode"><img src="img/qrcode.jpg" alt=""/></div>
              <div class="qr-info"><span><i class="far fa-phone-rotary">（06）221-7201</i></span><span><i class="far fa-phone-office">（06）222-6115</i></span><span><i class="far fa-envelope">info@tlvm.com.tw</i></span></div>
            </div>
            <div class="web-link-cont">
              <div class="web-link-box"><a href="###">About Us</a><a href="###">Traffic</a><a href="###">Contact Us</a><a href="###">Privacy and Security</a><a href="###">Questionnaire</a></div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>Visits</span><span>5915</span></div>
            <div class="web-info"><span>Updated</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function(){
  	var link ='exhibition_cont2_en.html';
  	$('.exhibition-box').eq(1).find('.exhibition-img').attr('href',link);
  	$('.exhibition-box').eq(1).find('.tit').attr('href',link);
  	$('.exhibition-box').eq(1).find('.cont').attr('href',link);
  });
</script>

pug/exhibition_list_en.pug
include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'actPage':'Literary Exhibition'}
				+breadBox(breadList)
				-const subNavList=[{'name':'Writer‘s platform','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'Literary Exhibition','icon':'<i class="fas fa-kaaba"></i>'},{'name':'Virtual Reality','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.one-line-wrap
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="Search Literary Exhibition...")
					.creat-src-btn
						i(class="fas fa-search")
						| Search
		.page-wrap.page-gray-wrap
			.main-cont
				.exhibition-list
					- const exImg01={"background": "url(img/ex_img01.jpg) no-repeat center center/cover"}
					- const exInfo01={'img':exImg01,'tit':'Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition Label','txt':'This exhibition is dedicated to the sergeants and dependents of other provinces who thought it was only a temporary retreat in 1949, as well as their descendants, as well as all ethnic groups who have lived with them for 70 years. The exhibition name "Inverse Travel" has two meanings. One is when'}
					+exListBox(exInfo01)
					- const exImg02={"background": "url(img/ex_img02.jpg) no-repeat center center/cover"}
					- const exInfo02={'img':exImg02,'tit':'Silent Chamber-White Horror Literature Mind-reading Silent Chamber-White Horror Literature Mind-reading','txt':'This exhibition is dedicated to the predecessors who are going forward with heavy burdens, and every islander who has been breathing the air of democracy and freedom in peace and time.'}
					+exListBox(exInfo02)
					- const exImg03={"background": "url(img/ex_img03.jpg) no-repeat center center/cover"}
					- const exInfo03={'img':exImg03,'tit':'Remembrance of Our City──Hong Kong and Hong Kong Literary Years','txt':'Double-decker buses, tea restaurants, Chungking Mansions, Wulitou--this is our impression of Hong Kong. Traditional, modern, serious, vulgar, red roses, white roses, and there are islands and peninsulas.'}
					+exListBox(exInfo03)
					- const exImg04={"background": "url(img/ex_img05.jpg) no-repeat center center/cover"}
					- const exInfo04={'img':exImg04,'tit':'Small terrace. Grand View Garden-Han Lianglu Donation Exhibition','txt':'Wandering female literary youth, SARS intellectuals, gourmet Monkey King, urban storytellers.... In Taiwan, the name "Han Lianglu" is like a well-known cultural brand'}
					+exListBox(exInfo04)
				+pagination
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){
		var link ='exhibition_cont2_en.html';
		$('.exhibition-box').eq(1).find('.exhibition-img').attr('href',link);
		$('.exhibition-box').eq(1).find('.tit').attr('href',link);
		$('.exhibition-box').eq(1).find('.cont').attr('href',link);
	});
