public/exhibition_cont2_en.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">tech．humanity．friendly</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600"> </span><a href="member.html">周子瑜</a>,Hello</div>
            <div class="log-btn logout-btn" id="loginOut">LogOut</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">Register</a><a class="log-btn" href="login_page.html">Login</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="zh">繁中</option>
              <option value="en" selected="selected">English</option>
            </select>
          </div>
        </div>
      </div>
      <nav>
        <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
        <div class="nav-cont">
          <div class="nav-item en" id="navItem"><a class="n-item" href="###"><span>Virtual Reality</span><span class="en"></span></a><a class="n-item" href="history_list.html"><span>Literary History</span><span class="en"></span></a>
            <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>Literary Tour</span><span class="en"></span>
              <div class="n-nav-sup"><a href="writer_list.html"><span>Writer's history</span><span class="en"></span></a><a href="writer_story_list.html"><span>Story map</span><span class="en"></span></a><a href="theme_list.html"><span>Theme tour</span><span class="en"></span></a><a href="###"><span>Real Escape</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php"><span>Digital 3D</span><span class="en"></span></a>
            <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>Theme Platform</span><span class="en"></span>
              <div class="n-nav-sup"><a href="https://literature.sds.com.tw/"><span>Writer's platform</span><span class="en"></span></a><a href="exhibition_list.html"><span>Literary Exhibition</span><span class="en"></span></a><a href="###"><span>Virtual Reality(laiho)</span><span class="en"></span></a>
              </div>
            </div>
            <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>Maker Space</span><span class="en"></span>
              <div class="n-nav-sup"><a href="create_platform.html"><span>Maker Articles</span><span class="en"></span></a><a href="create_qa_list.html"><span>Forum</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="###"><span>Collecting Literature</span><span class="en"></span></a>
          </div>
          <div class="src-box">
            <input class="input-src" type="text" placeholder="Search..."/>
            <div class="src-btn"><i class="fas fa-search"></i></div>
          </div>
          <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </nav>
      <div class="sub-nav-list">
        <div class="nav-sup" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span><span class="en">Writer‘s history</span></a><a href="###"><span>故事地圖</span><span class="en">Story map</span></a><a href="###"><span>主題之旅</span><span class="en">Theme tour</span></a><a href="###"><span>實境解謎</span><span class="en">Real Escape</span></a>
        </div>
        <div class="nav-sup" id="navThemeList"><a href="###"><span>作家平台</span><span class="en">Writer‘s platform</span></a><a href="exhibition_list_en.html"><span>文學展示</span><span class="en">Literary Exhibition</span></a><a href="###"><span>虛擬實境</span><span class="en">Virtual Reality(laiho)</span></a>
        </div>
        <div class="nav-sup" id="navMakerList"><a href="create_platform_en.html"><span>共創文章</span><span class="en">Maker Articles</span></a><a href="create_qa_list.html"><span>交流討論</span><span class="en">Forum</span></a>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-tab-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index_en.html">Index</a><span>/</span><a href="exhibition_list_en.html">Literary Exhibition</a><span>/</span>
          <div class="act-page">Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition</div>
        </div><a class="back-btn" href="exhibition_list_en.html"><i class="far fa-angle-left"></i> Back</a>
        <div class="page-nav-area"><a class="page-nav-box" href="###"><i class="far fa-user-edit"></i> Writer‘s platform</a>
          <div class="page-nav-box act"><i class="fas fa-kaaba"></i> Literary Exhibition</div><a class="page-nav-box" href="###"><i class="fas fa-vr-cardboard"></i> Virtual Reality</a>
        </div>
      </div>
    </div>
    <div class="page-wrap inner-single-page">
      <div class="main-cont">
        <div class="exhibition-banner-box">
          <div class="article-cont-banner" style="background: url(img/ex_banner.jpg) no-repeat center center/cover">
            <h2>Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition</h2>
          </div>
          <div class="exhibition-sub-banner">
            <div class="exhibition-sub">
              <div class="exhibition-sub-img" style="background: url(img/ex_img02.jpg) no-repeat center center/cover"><img src="img/ex_img01.jpg" alt=""/></div>
              <div class="exhibition-btn-box">
                <div class="ex-btn" id="exPartBtn1">Introduction</div>
                <div class="ex-btn" id="exPartBtn2">Zone</div>
              </div>
            </div>
            <div class="exhibition-sub-share">
              <div class="share-btn-box"><a href="###"><i class="far fa-check"></i>like <span>234</span></a><a href="###">Share</a></div>
            </div>
          </div>
        </div>
        <h3 class="exhibition-tit" id="exPart1">Introduction</h3>
        <div class="edit-area ex-edit-area">
          <div class="edit-box">
            <p>
              This exhibition is dedicated to the sergeants and dependents of other provinces who thought it was only a temporary retreat in 1949, as well as their descendants, as well as all the ethnic groups who have lived with them for 70 years<br>
              The exhibition name "Inverse Travel" has two meanings. One is today’s literal, a journey full of rebelliousness; the other is the ancient original meaning, such as Li Bai’s "Preface to the Peach and Li Garden of the Spring Night Banquet," A hostel that welcomes passersby.
            </p>
          </div>
        </div>
        <h3 class="exhibition-tit" id="exPart2">Zone</h3>
        <div class="exhibition-part-b-area"><a class="exhibition-part-b-box" href="exhibition_article_cont_en.html">
            <div class="exhibition-part-b-img" style="background:url(img/excont_img01.jpg) no-repeat center center/cover;"><img src="img/excont_img01.jpg" alt=""/></div>
            <div class="exhibition-part-b-cont">
              <div class="tit">Preface</div>
              <div class="cont">
                <p>Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so</p>
              </div>
              <div class="date">2019/01/01</div>
            </div></a><a class="exhibition-part-b-box" href="exhibition_article_cont_en.html">
            <div class="exhibition-part-b-img" style="background:url(img/excont_img02.jpg) no-repeat center center/cover;"><img src="img/excont_img01.jpg" alt=""/></div>
            <div class="exhibition-part-b-cont">
              <div class="tit">Not just a foreign land</div>
              <div class="cont">
                <p>Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so</p>
              </div>
              <div class="date">2019/01/01</div>
            </div></a><a class="exhibition-part-b-box" href="exhibition_article_cont_en.html">
            <div class="exhibition-part-b-img" style="background:url(img/excont_img03.jpg) no-repeat center center/cover;"><img src="img/excont_img01.jpg" alt=""/></div>
            <div class="exhibition-part-b-cont">
              <div class="tit">Your name</div>
              <div class="cont">
                <p>Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so</p>
              </div>
              <div class="date">2019/01/01</div>
            </div></a><a class="exhibition-part-b-box" href="exhibition_article_cont_en.html">
            <div class="exhibition-part-b-img" style="background:url(img/excont_img04.jpg) no-repeat center center/cover;"><img src="img/excont_img01.jpg" alt=""/></div>
            <div class="exhibition-part-b-cont">
              <div class="tit">Tangshan in Taiwan</div>
              <div class="cont">
                <p>Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so</p>
              </div>
              <div class="date">2019/01/01</div>
            </div></a><a class="exhibition-part-b-box" href="exhibition_article_cont_en.html">
            <div class="exhibition-part-b-img" style="background:url(img/excont_img05.jpg) no-repeat center center/cover;"><img src="img/excont_img01.jpg" alt=""/></div>
            <div class="exhibition-part-b-cont">
              <div class="tit">Hometown from a foreign land</div>
              <div class="cont">
                <p>Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so</p>
              </div>
              <div class="date">2019/01/01</div>
            </div></a><a class="exhibition-part-b-box" href="exhibition_article_cont_en.html">
            <div class="exhibition-part-b-img" style="background:url(img/excont_img06.jpg) no-repeat center center/cover;"><img src="img/excont_img01.jpg" alt=""/></div>
            <div class="exhibition-part-b-cont">
              <div class="tit">Don‘t forget because of writing</div>
              <div class="cont">
                <p>Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so</p>
              </div>
              <div class="date">2019/01/01</div>
            </div></a><a class="exhibition-part-b-box" href="exhibition_article_cont_en.html">
            <div class="exhibition-part-b-img" style="background:url(img/excont_img07.jpg) no-repeat center center/cover;"><img src="img/excont_img01.jpg" alt=""/></div>
            <div class="exhibition-part-b-cont">
              <div class="tit">Education resources</div>
              <div class="cont">
                <p>Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so</p>
              </div>
              <div class="date">2019/01/01</div>
            </div></a>
        </div>
        <div class="btn-area page-btn-area"><a class="btn" href="exhibition_list_en.html"><i class="far fa-angle-left"></i> <span>Back</span></a></div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo">
          <div class="f-logo"><img src="img/logo_his.svg" alt=""/></div>
          <div class="f-logo-txt">700 No. 1, Zhongzheng Road, West Central District, Tainan City</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="qrcode-cont">
              <div class="qrcode"><img src="img/qrcode.jpg" alt=""/></div>
              <div class="qr-info"><span><i class="far fa-phone-rotary">（06）221-7201</i></span><span><i class="far fa-phone-office">（06）222-6115</i></span><span><i class="far fa-envelope">info@tlvm.com.tw</i></span></div>
            </div>
            <div class="web-link-cont">
              <div class="web-link-box"><a href="###">About Us</a><a href="###">Traffic</a><a href="###">Contact Us</a><a href="###">Privacy and Security</a><a href="###">Questionnaire</a></div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>Visits</span><span>5915</span></div>
            <div class="web-info"><span>Updated</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function(){
  	var toPartList=[{'btn':'#exPartBtn1','part':'#exPart1'},{'btn':'#exPartBtn2','part':'#exPart2'}];
  	$.each(toPartList,function(ind,val){
  		var $btn=$(val.btn);
  		var $part=$(val.part);
  		$btn.on('click',function(){
  			var navH = $('#navArea').outerHeight();
  			var stopLine=$part.offset().top - 5;
  			$('html,body').animate({ scrollTop: stopLine - navH }, 'slow');
  		});
  	});
  });
</script>

pug/exhibition_cont2_en.pug
include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/en/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'Literary Exhibition','link':'exhibition_list_en.html'}],'actPage':'Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition'}
				+breadBox(breadList)
				-const back={'name':'Back','link':'exhibition_list_en.html'}
				+backPage(back)
				-const subNavList=[{'name':'Writer‘s platform','icon':'<i class="far fa-user-edit"></i>','link':'###'},{'name':'Literary Exhibition','icon':'<i class="fas fa-kaaba"></i>'},{'name':'Virtual Reality','icon':'<i class="fas fa-vr-cardboard"></i>','link':'###'}]
				+subNav(subNavList)
		.page-wrap.inner-single-page
			.main-cont
				.exhibition-banner-box
					.article-cont-banner(style="background: url(img/ex_banner.jpg) no-repeat center center/cover")
						h2 Adversity. 1949: Taiwan Post-War Immigration Literature Exhibition
					.exhibition-sub-banner
						.exhibition-sub
							.exhibition-sub-img(style="background: url(img/ex_img02.jpg) no-repeat center center/cover")
								img(src="img/ex_img01.jpg", alt="")
							.exhibition-btn-box
								.ex-btn#exPartBtn1 Introduction
								.ex-btn#exPartBtn2 Zone
						.exhibition-sub-share
							.share-btn-box
								a(href="###")
									i(class="far fa-check")
									| like <span>234</span>
								a(href="###") Share
				h3.exhibition-tit#exPart1 Introduction
				.edit-area.ex-edit-area
					.edit-box
						p
							| This exhibition is dedicated to the sergeants and dependents of other provinces who thought it was only a temporary retreat in 1949, as well as their descendants, as well as all the ethnic groups who have lived with them for 70 years<br>
							| The exhibition name "Inverse Travel" has two meanings. One is today’s literal, a journey full of rebelliousness; the other is the ancient original meaning, such as Li Bai’s "Preface to the Peach and Li Garden of the Spring Night Banquet," A hostel that welcomes passersby.
				h3.exhibition-tit#exPart2 Zone
				.exhibition-part-b-area
					- const exPartBImg01={"background": "url(img/excont_img01.jpg) no-repeat center center/cover"}
					- const exPartBInfo01={'img':exPartBImg01,'tit':'Preface','txt':'Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so','date':'2019/01/01'}
					+exPartBBox(exPartBInfo01)
					- const exPartBImg02={"background": "url(img/excont_img02.jpg) no-repeat center center/cover"}
					- const exPartBInfo02={'img':exPartBImg02,'tit':'Not just a foreign land','txt':'Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so','date':'2019/01/01'}
					+exPartBBox(exPartBInfo02)
					- const exPartBImg03={"background": "url(img/excont_img03.jpg) no-repeat center center/cover"}
					- const exPartBInfo03={'img':exPartBImg03,'tit':'Your name','txt':'Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so','date':'2019/01/01'}
					+exPartBBox(exPartBInfo03)
					- const exPartBImg04={"background": "url(img/excont_img04.jpg) no-repeat center center/cover"}
					- const exPartBInfo04={'img':exPartBImg04,'tit':'Tangshan in Taiwan','txt':'Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so','date':'2019/01/01'}
					+exPartBBox(exPartBInfo04)
					- const exPartBImg05={"background": "url(img/excont_img05.jpg) no-repeat center center/cover"}
					- const exPartBInfo05={'img':exPartBImg05,'tit':'Hometown from a foreign land','txt':'Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so','date':'2019/01/01'}
					+exPartBBox(exPartBInfo05)
					- const exPartBImg06={"background": "url(img/excont_img06.jpg) no-repeat center center/cover"}
					- const exPartBInfo06={'img':exPartBImg06,'tit':'Don‘t forget because of writing','txt':'Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so','date':'2019/01/01'}
					+exPartBBox(exPartBInfo06)
					- const exPartBImg07={"background": "url(img/excont_img07.jpg) no-repeat center center/cover"}
					- const exPartBInfo07={'img':exPartBImg07,'tit':'Education resources','txt':'Rather than describing them as accessories, in a sense, they have witnessed the development and evolution of Taiwan’s literary world together with writers, especially the owner of jewelry-writer Hu Pinqing, her academic contribution to Taiwan and France, and literary works. Translation and guidance, so','date':'2019/01/01'}
					+exPartBBox(exPartBInfo07)
				.btn-area.page-btn-area
					a(href="exhibition_list_en.html").btn <i class="far fa-angle-left"></i> <span>Back</span>
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){
		var toPartList=[{'btn':'#exPartBtn1','part':'#exPart1'},{'btn':'#exPartBtn2','part':'#exPart2'}];
		$.each(toPartList,function(ind,val){
			var $btn=$(val.btn);
			var $part=$(val.part);
			$btn.on('click',function(){
				var navH = $('#navArea').outerHeight();
				var stopLine=$part.offset().top - 5;
				$('html,body').animate({ scrollTop: stopLine - navH }, 'slow');
			});
		});
	});
