pug/history_cont.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area
			.main-cont
				-const breadList={'linkList':[{'name':'臺灣文學史','link':'history_list.html'}],'actPage':'明清漢語古典文'}
				+breadBox(breadList)
		.inner-single-page
			.main-cont
				.creat-src-box
					.creat-src
						input(type="text", name="" placeholder="搜尋臺灣文學史...")
					.creat-src-btn
						i(class="fas fa-search")
						| 搜尋
				.history-timeline-area
					.history-timeline-tit-box
						h2 明清漢語古典文
						-const back={'name':'返回臺灣文學史','link':'history_list.html'}
						+backPage(back)
					.history-timeline-area
						#timelineArea(style="width: 100%; height: 600px")
					//- .swiper-container.history-swiper#historyTimelineSwiper
					//- 	.swiper-wrapper
					//- 		.swiper-slide
					//- 			- const hisImg01={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
					//- 			- const hisTime01={'img':hisImg01,'date':'1063/01/01','tit':'陳第來臺，撰〈東番記〉','txt':'陳第隨沈有容來臺，〈東番記〉為最早實地踏查平埔族人生活之文獻。'}
					//- 			+historyTimeLine(hisTime01)
					//- 		.swiper-slide
					//- 			- const hisImg02={"background": "url(img/his_timeline01.png) no-repeat center center/cover"};
					//- 			- const hisTime02={'img':hisImg02,'date':'1651','tit':'沈光文遇颱來臺','txt':'沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。'}
					//- 			+historyTimeLine(hisTime02)
					//- 	.swiper-button-prev#timeLineP
					//- 		i(class="fas fa-angle-left")
					//- 		span 1063/01/01
					//- 	.swiper-button-next#timeLineN
					//- 		i(class="fas fa-angle-right")
					//- 		span 1064
					//- .history-timeline-tag-box 時間軸
					//- 其他時間導論
					.history-time-swiper-box
						.swiper-container.history-time-swiper#historyTimeSwiper
							.swiper-wrapper
								.swiper-slide.act
									- const hisTimeImg01={"background": "url(img/his01.jpg) no-repeat center center/cover"};
									- const hisTimeTime01={'img':hisTimeImg01,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
									+historyTimeHBox(hisTimeTime01)
								.swiper-slide
									- const hisTimeImg02={"background": "url(img/his02.jpg) no-repeat center center/cover"};
									- const hisTimeTime02={'img':hisTimeImg02,'date':'1895 - 1945','tit':'殖民地時期漢文古典文學'}
									+historyTimeHBox(hisTimeTime02)
								.swiper-slide
									- const hisTimeImg03={"background": "url(img/his03.jpg) no-repeat center center/cover"};
									- const hisTimeTime03={'img':hisTimeImg03,'date':'1945 - 1965','tit':'殖民地時期漢文新文學'}
									+historyTimeHBox(hisTimeTime03)
								.swiper-slide
									- const hisTimeImg04={"background": "url(img/his04.jpg) no-repeat center center/cover"};
									- const hisTimeTime04={'img':hisTimeImg04,'date':'1965 - 1989','tit':'殖民地時期日文新文學'}
									+historyTimeHBox(hisTimeTime04)
								.swiper-slide
									- const hisTimeImg05={"background": "url(img/his05.jpg) no-repeat center center/cover"};
									- const hisTimeTime05={'img':hisTimeImg05,'date':'1603 - 1895','tit':'明清漢語古典文學時期'}
									+historyTimeHBox(hisTimeTime05)
						.swiper-button-prev#hisTimeP
							i(class="fas fa-angle-left")
						.swiper-button-next#hisTimeN
							i(class="fas fa-angle-right")
					.history-tit
						h3.page-tit 明清漢語古典文學時期
						a(href="###").down-btn <i class="fad fa-file-pdf"></i> 檔案名稱.pdf
					.edit-area
						.edit-box 
							img.img-l(src="img/txt_img01.jpg", alt="")
							h3 明清漢語古典文學時期
							p 臺灣古典文學的源頭來自中國，但在涵蓋空間遼闊、時間長達數千年的中國文學史視野下，曾經發生在這座小島上、時間不足400年的臺灣古典文學，幾乎等同不存在，或被認為不值得一提。然而，若從臺灣主體觀點出發，其存在意義與價值則將有截然不同的評價。
							p 就藝術成就與思想內涵觀察，臺灣古典文學發展的巔峰，應該是在日本殖民時期的1895~1945年間，也就是19世紀末葉到20世紀初期。不過繁花競茂，並非一朝一夕可得，而是漢文化在臺灣200多年累積深化的結果。為期約200多年的明清漢語古典文學，其發展歷程大抵是從「移植」到「定根」的歷程。丘逢甲〈臺灣竹枝詞〉：「唐山流寓話巢痕，潮惠漳泉齒最繁。二百年來蕃衍後，寄生小草已深根。」雖是描述閩粵移民遷移來臺「在地化」的歷程，也足以說明漢語古典文學在臺灣的發展狀況。
							p 在漢族移入之前，臺灣島上已有不少原住民族定居，但他們的文化傳承依靠口傳，並無文字記錄。臺灣真正產生以文字為媒介的文學作品，最早是在17世紀中葉中國明朝滅亡之際。比鄭成功早來臺的沈光文，一般認定
						.btn-area
							a(href="history_list.html").btn <i class="far fa-angle-left"></i> <span>返回臺灣文學史</span>
					.more-article-link-area
						.more-article-link-box
							.more-article-link-tit 代表作家作品清單
							.book-link
								-const moreLink=['徐孚遠〈桃花〉（約1662）','王忠孝〈東寧友人貽丹荔枝十顆有懷〉（約1664）','藍鼎元《東征集》六卷(藍鼎元為藍廷珍擬寫的公檄、書稟、條陳、告諭的輯成)（1722）','郁永河《裨海記遊》（1697）','孫元衡〈諸羅縣即事〉（約1706）']
								each n,i in moreLink
									a(href="portfolio_list.html" target="_blank") <i class="fal fa-book"></i><span>#{n}</span>
						.more-article-link-box
							.more-article-link-tit 延伸閱讀
							.more-link
								-const moreLink2=['徐孚遠〈桃花〉（約1662）','王忠孝〈東寧友人貽丹荔枝十顆有懷〉（約1664）']
								each n,i in moreLink2
									a(href="history_more.html" target="_blank") #{n}
		//-內容
		include includes/footer
script(src="js/timeline_cont.js")
script.
	$(document).ready(function(){
		//時間軸
		//時間軸
		//- var TimeLineControlOptions = {
		//- 	language: 'zh-tw',
		//- };
		//- var timelineData={
		//- 	"events": [
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1651",
		//- 				"month":"9",
		//- 				"day":"1",
		//- 				"display_date":"1651/09/01"
		//- 			},
		//- 			//- "end_date":{
		//- 			//- 	"year":"1651",
		//- 			//- 	"month":"9",
		//- 			//- 	"day":"1",
		//- 			//- 	"hour":null,
		//- 			//- 	"minute":null,
		//- 			//- 	"second":null,
		//- 			//- 	"millisecond":null,
		//- 			//- 	"display_date":"1651/09/02"
		//- 			//- },
		//- 			//- "end_date": {
		//- 			//- 	//- "month": "8",
		//- 			//- 	//- "day": "9",
		//- 			//- 	"year": "1964"
		//- 			//- 	//- "display_date": "1963/10/10"
		//- 			//- },
		//- 			"text": {
		//- 				"headline": "<a herf='###'>陳第來臺，撰〈東番記〉</a>",
		//- 				"text": "陳第隨沈有容來臺，〈東番記〉為最早實地踏查平埔族人生活之文獻。<div class='his-timeline-tag-box'><a href='###'>#臺灣文學</a><a href='###'>#文化</a><a href='###'>#臺灣</a></div>",
		//- 			},
		//- 		},
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1651",
		//- 				"month":"9",
		//- 				"day":"3",
		//- 				"display_date":"1651/09/03"
		//- 			},
		//- 			//- "end_date":{
		//- 			//- 	"year":"1651",
		//- 			//- 	"month":"9",
		//- 			//- 	"day":"4",
		//- 			//- 	"hour":null,
		//- 			//- 	"minute":null,
		//- 			//- 	"second":null,
		//- 			//- 	"millisecond":null,
		//- 			//- 	"display_date":"1651/09/04"
		//- 			//- },
		//- 			"text": {
		//- 				"headline":"沈光文遇颱來臺",
		//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。"
		//- 			}
		//- 		},
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1651",
		//- 				"month":"9",
		//- 				"day":"5",
		//- 				"display_date":"1651/09/05"
		//- 			},
		//- 			//- "end_date":{
		//- 			//- 	"year":"1651",
		//- 			//- 	"month":"9",
		//- 			//- 	"day":"6",
		//- 			//- 	"display_date":"1651/09/06"
		//- 			//- },
		//- 			"text": {
		//- 				"headline":"沈光文來臺沈光文來臺沈光文來臺",
		//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。<div class='his-timeline-tag-box'><a href='###'>#臺灣文學</a><a href='###'>#文化</a><a href='###'>#臺灣</a></div>"
		//- 			}
		//- 		},
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1651",
		//- 				"month":"9",
		//- 				"day":"7",
		//- 				"display_date":"1651/09/07"
		//- 			},
		//- 			//- "end_date":{
		//- 			//- 	"year":"1651",
		//- 			//- 	"month":"9",
		//- 			//- 	"day":"4",
		//- 			//- 	"display_date":"1651/09/04"
		//- 			//- },
		//- 			"text": {
		//- 				"headline":"沈光文來臺沈光文來臺沈光文來臺",
		//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。"
		//- 			}
		//- 		},
		//- 		{
		//- 			"media": {
		//- 				"url": "img/his_timeline01.png",
		//- 				"credit": "沈有容《閩海贈言》",
		//- 			},
		//- 			"start_date":{
		//- 				"year":"1653",
		//- 				"month":"9",
		//- 				"day":"7",
		//- 				"display_date":"1651/09/07"
		//- 			},
		//- 			"text": {
		//- 				"headline":"沈光文遇颱來臺",
		//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。"
		//- 			}
		//- 		},
		//- 	]
		//- }
		//- timeline = new TL.Timeline('timelineArea',timelineData,TimeLineControlOptions);

		//- var historyTimelineSwiper = new Swiper('#historyTimelineSwiper', {
		//- 	//- speed: 400,
		//- 	//- spaceBetween: 100
		//- 	autoHeight: true,
		//- 	navigation: {
		//- 		nextEl: '#timeLineN',
		//- 		prevEl: '#timeLineP',
		//- 	},
		//- });
		//時區導論
		var historyTimeSwiper = new Swiper('#historyTimeSwiper', {
			//- speed: 400,
			//- spaceBetween: 100
			slidesPerView: 4,
			//- spaceBetween: 0,
			loop: true,
			autoHeight: true,
			breakpoints: {
				768: {
					slidesPerView: 3
				},
				600: {
					slidesPerView: 2
				},
				414: {
					slidesPerView: 1
				},
			},
			navigation: {
				nextEl: '#hisTimeN',
				prevEl: '#hisTimeP',
			},
		});
	});

public/history_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">科技．人文．友善體驗</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600">親愛的會員</span><a href="member_info.html">周子瑜</a>您好</div>
            <div class="log-btn logout-btn" id="loginOut">登出</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">註冊會員</a><a class="log-btn" href="login_page.html">會員登入</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="" disabled="disabled" selected="selected">語言</option>
              <option value="zh">繁中</option>
              <option value="en">English</option>
            </select>
          </div>
        </div>
      </div>
      <div class="nav-fix-box" id="navFixBox">
        <nav>
          <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
          <div class="nav-cont">
            <!--有英文版要加.en => .nav-item.en#navItem -->
            <div class="nav-item" id="navItem"> 
              <!--英文版 -const nav=[{'name':'Virtual Reality','enName':'','link':'###'}, {'name':'Literary History','enName':'','link':'history_list_p2.html'}, {'id':'navLiteraryBtn','name':'Literary Tour','enName':'','subNav':[{'name':'Writer\'s history','enName':'','link':'writer_list.html'},{'name':'Story map','enName':'','link':'writer_story_list.html'},{'name':'Theme tour','enName':'','link':'theme_list.html'},{'name':'Real Escape','enName':'','link':'###'}]}, {'name':'Digital 3D','enName':'','link':'http://211.75.82.187/WS/3dmodel.php','isOut':true}, {'id':'navThemeBtn','name':'Theme Platform','enName':'','link':'###','subNav':[{'name':'Writer\'s platform','enName':'','link':'https://literature.sds.com.tw/','isOut':true},{'name':'Literary Exhibition','enName':'','link':'exhibition_list_p2.html'},{'name':'Virtual Reality(laiho)','enName':'','link':'###'}]}, {'id':'navMakerBtn','name':'Maker Space','enName':'','subNav':[{'name':'Maker Articles','enName':'','link':'create_platform.html'},{'name':'Forum','enName':'','link':'create_qa_list.html'}]}, {'name':'Collecting Literature','enName':'','link':'###'} ]; //-n 是值 i 是KEY--><a class="n-item" href="travel.html"><span>筆尖上的地圖</span></a><a class="n-item" href="history_list_p2.html"><span>臺灣文學史</span></a>
              <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>文學踏查</span>
                <div class="n-nav-sup"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
                  <div class="n-nav-three-box"><a href="###"><span class="tit">實境解謎</span><span class="cont">小封神藏寶圖系列1</span></a><a href="###"><span class="cont">小封神藏寶圖系列2</span></a>
                  </div>
                </div>
              </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php" target="_blank"><span>數位3D</span></a>
              <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>主題平台</span>
                <div class="n-nav-sup"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
                </div>
              </div>
              <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>共創平台</span>
                <div class="n-nav-sup"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
                </div>
              </div><a class="n-item" href="###"><span>拾藏文學</span></a>
            </div>
            <div class="src-box">
              <input class="input-src" type="text" placeholder="搜尋..."/>
              <div class="src-btn"><i class="fas fa-search"></i></div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </nav>
        <div class="sub-nav-list">
          <div class="nav-sup sub-literaryList" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
            <div class="nav-three"><span>城市解謎</span>
              <div class="nav-three-box"><a href="###">小封神藏寶圖系列1</a><a href="###">小封神藏寶圖系列2</a>
              </div>
            </div>
          </div>
          <div class="nav-sup sub-themeList" id="navThemeList"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
          </div>
          <div class="nav-sup sub-makerList" id="navMakerList"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
          </div>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="stepMask"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-top-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><a href="history_list.html">臺灣文學史</a><span>/</span>
          <div class="act-page">明清漢語古典文</div>
        </div>
      </div>
    </div>
    <div class="inner-single-page">
      <div class="main-cont">
        <div class="creat-src-box">
          <div class="creat-src">
            <input type="text" name="" placeholder="搜尋臺灣文學史..."/>
          </div>
          <div class="creat-src-btn"><i class="fas fa-search"></i>搜尋</div>
        </div>
        <div class="history-timeline-area">
          <div class="history-timeline-tit-box">
            <h2>明清漢語古典文</h2><a class="back-btn" href="history_list.html"><i class="far fa-angle-left"></i> 返回臺灣文學史</a>
          </div>
          <div class="history-timeline-area">
            <div id="timelineArea" style="width: 100%; height: 600px"></div>
          </div>
          <div class="history-time-swiper-box">
            <div class="swiper-container history-time-swiper" id="historyTimeSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide act"><a class="literary-box" href="history_cont_p2.html">
                    <div class="literary-img" style="background:url(img/his01.jpg) no-repeat center center/cover;"></div>
                    <div class="literary-tit"><span class="tit">明清漢語古典文學時期</span><span class="date">1603 - 1895</span></div></a>
                </div>
                <div class="swiper-slide"><a class="literary-box" href="history_cont_p2.html">
                    <div class="literary-img" style="background:url(img/his02.jpg) no-repeat center center/cover;"></div>
                    <div class="literary-tit"><span class="tit">殖民地時期漢文古典文學</span><span class="date">1895 - 1945</span></div></a>
                </div>
                <div class="swiper-slide"><a class="literary-box" href="history_cont_p2.html">
                    <div class="literary-img" style="background:url(img/his03.jpg) no-repeat center center/cover;"></div>
                    <div class="literary-tit"><span class="tit">殖民地時期漢文新文學</span><span class="date">1945 - 1965</span></div></a>
                </div>
                <div class="swiper-slide"><a class="literary-box" href="history_cont_p2.html">
                    <div class="literary-img" style="background:url(img/his04.jpg) no-repeat center center/cover;"></div>
                    <div class="literary-tit"><span class="tit">殖民地時期日文新文學</span><span class="date">1965 - 1989</span></div></a>
                </div>
                <div class="swiper-slide"><a class="literary-box" href="history_cont_p2.html">
                    <div class="literary-img" style="background:url(img/his05.jpg) no-repeat center center/cover;"></div>
                    <div class="literary-tit"><span class="tit">明清漢語古典文學時期</span><span class="date">1603 - 1895</span></div></a>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev" id="hisTimeP"><i class="fas fa-angle-left"></i></div>
            <div class="swiper-button-next" id="hisTimeN"><i class="fas fa-angle-right"></i></div>
          </div>
          <div class="history-tit">
            <h3 class="page-tit">明清漢語古典文學時期</h3><a class="down-btn" href="###"><i class="fad fa-file-pdf"></i> 檔案名稱.pdf</a>
          </div>
          <div class="edit-area">
            <div class="edit-box"> <img class="img-l" src="img/txt_img01.jpg" alt=""/>
              <h3>明清漢語古典文學時期</h3>
              <p>臺灣古典文學的源頭來自中國，但在涵蓋空間遼闊、時間長達數千年的中國文學史視野下，曾經發生在這座小島上、時間不足400年的臺灣古典文學，幾乎等同不存在，或被認為不值得一提。然而，若從臺灣主體觀點出發，其存在意義與價值則將有截然不同的評價。</p>
              <p>就藝術成就與思想內涵觀察，臺灣古典文學發展的巔峰，應該是在日本殖民時期的1895~1945年間，也就是19世紀末葉到20世紀初期。不過繁花競茂，並非一朝一夕可得，而是漢文化在臺灣200多年累積深化的結果。為期約200多年的明清漢語古典文學，其發展歷程大抵是從「移植」到「定根」的歷程。丘逢甲〈臺灣竹枝詞〉：「唐山流寓話巢痕，潮惠漳泉齒最繁。二百年來蕃衍後，寄生小草已深根。」雖是描述閩粵移民遷移來臺「在地化」的歷程，也足以說明漢語古典文學在臺灣的發展狀況。</p>
              <p>在漢族移入之前，臺灣島上已有不少原住民族定居，但他們的文化傳承依靠口傳，並無文字記錄。臺灣真正產生以文字為媒介的文學作品，最早是在17世紀中葉中國明朝滅亡之際。比鄭成功早來臺的沈光文，一般認定</p>
            </div>
            <div class="btn-area"><a class="btn" href="history_list.html"><i class="far fa-angle-left"></i> <span>返回臺灣文學史</span></a></div>
          </div>
          <div class="more-article-link-area">
            <div class="more-article-link-box">
              <div class="more-article-link-tit">代表作家作品清單</div>
              <div class="book-link"><a href="portfolio_list.html" target="_blank"><i class="fal fa-book"></i><span>徐孚遠〈桃花〉（約1662）</span></a><a href="portfolio_list.html" target="_blank"><i class="fal fa-book"></i><span>王忠孝〈東寧友人貽丹荔枝十顆有懷〉（約1664）</span></a><a href="portfolio_list.html" target="_blank"><i class="fal fa-book"></i><span>藍鼎元《東征集》六卷(藍鼎元為藍廷珍擬寫的公檄、書稟、條陳、告諭的輯成)（1722）</span></a><a href="portfolio_list.html" target="_blank"><i class="fal fa-book"></i><span>郁永河《裨海記遊》（1697）</span></a><a href="portfolio_list.html" target="_blank"><i class="fal fa-book"></i><span>孫元衡〈諸羅縣即事〉（約1706）</span></a>
              </div>
            </div>
            <div class="more-article-link-box">
              <div class="more-article-link-tit">延伸閱讀</div>
              <div class="more-link"><a href="history_more.html" target="_blank">徐孚遠〈桃花〉（約1662）</a><a href="history_more.html" target="_blank">王忠孝〈東寧友人貽丹荔枝十顆有懷〉（約1664）</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo"><a class="f-logo" href="https://www.nmtl.gov.tw/" target="_blank"><img src="img/logo_his.svg" alt=""/></a>
          <div class="f-logo-txt">700 臺南市中西區中正路1號<br><i class="far fa-phone-rotary"></i>（06）221-7201</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="web-link-cont">
              <div class="web-link-box"><a href="about.html">關於本站</a><a href="traffic_page.html">交通資訊</a><a href="###">聯絡我們</a>
                <div class="web-link" id="privacyBtn">隱私權及安全政策</div>
                <div class="web-link" id="questBtn">線上問卷</div>
                <!-- v4 add--><a href="medal_info_v4.html">集章任務說明</a>
                <!-- v4 add end-->
              </div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>瀏覽人次</span><span>5915</span></div>
            <div class="web-info"><span>更新日期</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
      <!-- 地圖推廣入口-->
      <div class="travel-enter-area close" id="travelEnterArea">
        <div class="switch-btn-box" id="travelEnterBtn">
          <div class="icon"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="c-step-side-box" id="cStepSideBtn">
          <div class="c-step-side-img"><img src="img/c_step_side.svg" alt=""/></div>
          <div class="c-step-side-txt"><i class="fas fa-comment-alt-exclamation"></i><span>集章任務開跑</span></div>
        </div>
      </div>
      <div class="light-wrap" id="privacyBox">
        <div class="light-tit">
          <h2>隱私權與安全政策</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <h3>一、隱私權保護政策</h3>
            <p> 個人隱私權已是使用者於網路世界瀏覽中主要之顧慮，國立臺灣文學館（以下簡稱本館）特創設隱私權保護政策，以下將對： 『個人資料的蒐集與使用方式』、『Cookies、IP address』、『對個人資料之保護與利用』加以說明與宣示：</p>
            <div class="tit">(一) 個人資料的蒐集與使用方式：</div>
            <p>為了在本網站上提供您最佳的網站服務，依不同頁面會請您提供相關個人的資料，其範圍如下：本網站在您使用電子報訂閱、團體導覽預約、活動報名、加入文學之友與刊登研討會訊息等系統功能表單時，會保留您所提供的姓名、電子郵件地址、連絡方式及使用時間等。</p>
            <div class="tit">(二) Cookies and IP Address：</div>
            <p>當使用者到本網站瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。</p>
            <div class="tit">(三) 對個人資料之保護與利用：</div>
            <p>本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料。我們採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義者，將會受到相關的法律處分。</p>
            <p>本網站雖將盡最大之努力以維護使用者之個人資料（不濫用與 不揭露），但因網路資料之傳輸無法確保百分之百的安全性， 因此本網站無法確信或擔保使用者所傳來或我們傳送予使用者 的資料完全安全。關於上述之風險，必須請使用者自行負擔。</p>
            <p>除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露於第三人或使用於蒐集目的以外之其他用途。</p>
            <h3>二、資訊安全政策</h3>
            <p>國立臺灣文學館(以下簡稱本館)尊重並保護您在使用網際網路時的安全及隱私保護利，為了幫助您瞭解「國立臺灣文學館全球資訊網」如何保護您在使用本網站各項服務的安全、及如何蒐集、應用及保護您所提供的個人資訊，請您詳細閱讀「國立臺灣文學館全球資訊網」的隱私保護及安全政策。請您仔細閱讀以下各項說明， 也歡迎您告訴我們您的想法，若有任何意見或疑 問，請E-mail至 twp@nmtl.gov.tw</p>
            <p>任何未經授權而企圖上載或更改本館所提供的各項服務及相關資訊的行為，都是嚴厲禁止而且可能觸犯法律。為了網站安全的目的和確保這項服務能夠繼續服務所有的網路使用者，本網站提供了以下的安全保護措施：</p>
          </div>
        </div>
      </div>
      <div class="light-wrap" id="questBox">
        <div class="light-tit">
          <h2>線上問卷</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <div class="quest-list-box">
              <div class="quest-list-tit">問卷主題</div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 日本文學之興趣調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 臺灣文學虛擬博物館滿意度調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 現代文學調查</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 集章步驟-->
      <div class="light-step-wrap close" id="lightStepWrap">
        <div class="light-step-close-box">
          <div class="light-step-close" id="lightStepClose"><img src="img/c_step_close.svg"/></div>
        </div>
        <div class="light-step-area">
          <div class="light-step-cont">
            <div class="light-step-tit">
              <div class="stpe-tit-d"><img src="img/c_step_d.svg"/></div>
              <div class="tit1"><span>集章任務開跑</span>
                <div class="arr"><img src="img/c_step_arr.svg"/></div>
              </div>
            </div>
            <div class="light-step-nav">
              <div class="step-box act" id="stepC1">STEP.1</div>
              <div class="step-box" id="stepC2">STEP.2</div>
              <div class="step-box" id="stepC3">STEP.3</div>
              <div class="step-box" id="stepC4">STEP.4</div>
            </div>
            <div class="light-step-sw-area">
              <div class="light-step-sw">
                <div class="swipe" id="lightStepSw">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">註冊會員或會員登入</div>
                        <div class="light-step-img cstep1"><img src="img/c_step1.png"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">前往「會員中心」，查看徽章收集進度</div>
                        <div class="light-step-img cstep2"><img src="img/c_step2.jpg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">完成各項集章任務，獲得更多徽章</div>
                        <div class="light-step-img cstep3"><img src="img/c_step3.svg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">累積更多徽章，兌換更多獎勵吧！</div>
                        <div class="light-step-img cstep4"><img src="img/c_step4.svg"/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<script src="js/timeline_cont.js"></script>
<script>
  $(document).ready(function(){
  	//時間軸
  	//時間軸
  	//- var TimeLineControlOptions = {
  	//- 	language: 'zh-tw',
  	//- };
  	//- var timelineData={
  	//- 	"events": [
  	//- 		{
  	//- 			"media": {
  	//- 				"url": "img/his_timeline01.png",
  	//- 				"credit": "沈有容《閩海贈言》",
  	//- 			},
  	//- 			"start_date":{
  	//- 				"year":"1651",
  	//- 				"month":"9",
  	//- 				"day":"1",
  	//- 				"display_date":"1651/09/01"
  	//- 			},
  	//- 			//- "end_date":{
  	//- 			//- 	"year":"1651",
  	//- 			//- 	"month":"9",
  	//- 			//- 	"day":"1",
  	//- 			//- 	"hour":null,
  	//- 			//- 	"minute":null,
  	//- 			//- 	"second":null,
  	//- 			//- 	"millisecond":null,
  	//- 			//- 	"display_date":"1651/09/02"
  	//- 			//- },
  	//- 			//- "end_date": {
  	//- 			//- 	//- "month": "8",
  	//- 			//- 	//- "day": "9",
  	//- 			//- 	"year": "1964"
  	//- 			//- 	//- "display_date": "1963/10/10"
  	//- 			//- },
  	//- 			"text": {
  	//- 				"headline": "<a herf='###'>陳第來臺，撰〈東番記〉</a>",
  	//- 				"text": "陳第隨沈有容來臺，〈東番記〉為最早實地踏查平埔族人生活之文獻。<div class='his-timeline-tag-box'><a href='###'>#臺灣文學</a><a href='###'>#文化</a><a href='###'>#臺灣</a></div>",
  	//- 			},
  	//- 		},
  	//- 		{
  	//- 			"media": {
  	//- 				"url": "img/his_timeline01.png",
  	//- 				"credit": "沈有容《閩海贈言》",
  	//- 			},
  	//- 			"start_date":{
  	//- 				"year":"1651",
  	//- 				"month":"9",
  	//- 				"day":"3",
  	//- 				"display_date":"1651/09/03"
  	//- 			},
  	//- 			//- "end_date":{
  	//- 			//- 	"year":"1651",
  	//- 			//- 	"month":"9",
  	//- 			//- 	"day":"4",
  	//- 			//- 	"hour":null,
  	//- 			//- 	"minute":null,
  	//- 			//- 	"second":null,
  	//- 			//- 	"millisecond":null,
  	//- 			//- 	"display_date":"1651/09/04"
  	//- 			//- },
  	//- 			"text": {
  	//- 				"headline":"沈光文遇颱來臺",
  	//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。"
  	//- 			}
  	//- 		},
  	//- 		{
  	//- 			"media": {
  	//- 				"url": "img/his_timeline01.png",
  	//- 				"credit": "沈有容《閩海贈言》",
  	//- 			},
  	//- 			"start_date":{
  	//- 				"year":"1651",
  	//- 				"month":"9",
  	//- 				"day":"5",
  	//- 				"display_date":"1651/09/05"
  	//- 			},
  	//- 			//- "end_date":{
  	//- 			//- 	"year":"1651",
  	//- 			//- 	"month":"9",
  	//- 			//- 	"day":"6",
  	//- 			//- 	"display_date":"1651/09/06"
  	//- 			//- },
  	//- 			"text": {
  	//- 				"headline":"沈光文來臺沈光文來臺沈光文來臺",
  	//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。<div class='his-timeline-tag-box'><a href='###'>#臺灣文學</a><a href='###'>#文化</a><a href='###'>#臺灣</a></div>"
  	//- 			}
  	//- 		},
  	//- 		{
  	//- 			"media": {
  	//- 				"url": "img/his_timeline01.png",
  	//- 				"credit": "沈有容《閩海贈言》",
  	//- 			},
  	//- 			"start_date":{
  	//- 				"year":"1651",
  	//- 				"month":"9",
  	//- 				"day":"7",
  	//- 				"display_date":"1651/09/07"
  	//- 			},
  	//- 			//- "end_date":{
  	//- 			//- 	"year":"1651",
  	//- 			//- 	"month":"9",
  	//- 			//- 	"day":"4",
  	//- 			//- 	"display_date":"1651/09/04"
  	//- 			//- },
  	//- 			"text": {
  	//- 				"headline":"沈光文來臺沈光文來臺沈光文來臺",
  	//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。"
  	//- 			}
  	//- 		},
  	//- 		{
  	//- 			"media": {
  	//- 				"url": "img/his_timeline01.png",
  	//- 				"credit": "沈有容《閩海贈言》",
  	//- 			},
  	//- 			"start_date":{
  	//- 				"year":"1653",
  	//- 				"month":"9",
  	//- 				"day":"7",
  	//- 				"display_date":"1651/09/07"
  	//- 			},
  	//- 			"text": {
  	//- 				"headline":"沈光文遇颱來臺",
  	//- 				"text": "沈光文以詩文記錄臺灣風土，被譽為「海東文獻初祖」。"
  	//- 			}
  	//- 		},
  	//- 	]
  	//- }
  	//- timeline = new TL.Timeline('timelineArea',timelineData,TimeLineControlOptions);
  
  	//- var historyTimelineSwiper = new Swiper('#historyTimelineSwiper', {
  	//- 	//- speed: 400,
  	//- 	//- spaceBetween: 100
  	//- 	autoHeight: true,
  	//- 	navigation: {
  	//- 		nextEl: '#timeLineN',
  	//- 		prevEl: '#timeLineP',
  	//- 	},
  	//- });
  	//時區導論
  	var historyTimeSwiper = new Swiper('#historyTimeSwiper', {
  		//- speed: 400,
  		//- spaceBetween: 100
  		slidesPerView: 4,
  		//- spaceBetween: 0,
  		loop: true,
  		autoHeight: true,
  		breakpoints: {
  			768: {
  				slidesPerView: 3
  			},
  			600: {
  				slidesPerView: 2
  			},
  			414: {
  				slidesPerView: 1
  			},
  		},
  		navigation: {
  			nextEl: '#hisTimeN',
  			prevEl: '#hisTimeP',
  		},
  	});
  });
</script>
