pug/index_en.pug
include includes/en/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht virtual museum of taiwam literature
		include includes/en/nav
		.banner-area
			.banner-cont
				.banner-info
					.banner-tit(style="letter-spacing: 0px") Heading to the world
					.banner-sup-tit Technology, Humanities, Friendly experience
					p
						| Introduce the preservation and display of art, humanities and historical assets with technology,<br>
						| Continuing its life penetration, while deepening technology in the local community culture,<br>
						//- | Rooted in the development of smart cities, expecting to use technology to integrate the cross-domain and innovative<br>
						//- | The new knowledge system, combined with the various literary resources of the library,<br>
						| Enhance the convenience of the smart literature museum experience for the public and literature lovers.。
					a.banner-btn(href="###") More
		.main-area
			.main-cont
				-const indTit01={'tit':'臺灣文學史','titEn':'Literary History','moreLink':'history_list.html','isF':true};
				+indexTit(indTit01)
				//- 臺灣文學史 banner
				.swiper-container.literary-banner#LiteraryBanner
					.swiper-wrapper
						.swiper-slide
							- const hisTimeImg01={"background": "url(img/his01.jpg) no-repeat center center/cover"};
							- const hisTimeTime01={'img':hisTimeImg01,'date':'1603 - 1895','tit':'Ming and Qing Chinese Classical Literature Period'}
							+historyTimeBox(hisTimeTime01)
						.swiper-slide
							- const hisTimeImg02={"background": "url(img/his02.jpg) no-repeat center center/cover"};
							- const hisTimeTime02={'img':hisTimeImg02,'date':'1895 - 1945','tit':'Chinese Classical Literature in the Colonial Period'}
							+historyTimeBox(hisTimeTime02)
						.swiper-slide
							- const hisTimeImg03={"background": "url(img/his03.jpg) no-repeat center center/cover"};
							- const hisTimeTime03={'img':hisTimeImg03,'date':'1945 - 1965','tit':'Chinese New Literature in the Colonial Period'}
							+historyTimeBox(hisTimeTime03)
						.swiper-slide
							- const hisTimeImg04={"background": "url(img/his04.jpg) no-repeat center center/cover"};
							- const hisTimeTime04={'img':hisTimeImg04,'date':'1965 - 1989','tit':'Japanese New Literature in the Colonial Period'}
							+historyTimeBox(hisTimeTime04)
						.swiper-slide
							- const hisTimeImg05={"background": "url(img/his01.jpg) no-repeat center center/cover"};
							- const hisTimeTime05={'img':hisTimeImg05,'date':'1603 - 1895','tit':'Ming and Qing Chinese Classical Literature Period'}
							+historyTimeBox(hisTimeTime01)
					.swiper-pagination#LiteraryPage
				//- 作家行跡
				-const indTit02={'tit':'作家行跡','titEn':'Writer Track','moreLink':'writer_list.html'};
				+indexTit(indTit02)
				.ind-writer-area
					- const writerImg01={"background": "url(img/writer01.jpg) no-repeat center center/cover"}
					- const writerInfo01={'img':writerImg01,'tit':'Memorabilia of Ye Shitao','txt':'Ye Shitao was born in Baijin Town, Tainan City, Taiwan. Taiwan contemporary literary writer, whose creation is mainly based on novels and criticism, supplemented by prose and translation. Ye Shitao spanned the Japanese and postwar generations. He received two years of Chinese private school education before elementary school. He graduated from Tainan State No. 2 High School and served as an assistant editor of "Art Taiwan" hosted by Japanese writer Nishikawa Mitsuru.'}
					+writerBox(writerInfo01)
					- const writerImg02={"background": "url(img/writer02.jpg) no-repeat center center/cover"}
					- const writerInfo02={'img':writerImg02,'tit':'Li Tong Memorabilia','txt':'Li Tong, whose real name is Lai Xi’an, is a late well-known children‘s literature writer and lyricist in Taiwan. Born in Hualien, settled in Luodong Township, Yilan County. Graduated from Air Administration College. He started writing in 1978. The genre category includes children’s literature, prose, novels, new poems, lyrics, etc. In addition, there are related scripts, literary reviews, and reporting literature, but the most well-known works are children‘s literature and juvenile novels.','isRight':true}
					+writerBox(writerInfo02)
				//- 主題之旅
				-const indTit03={'tit':'主題之旅','titEn':'Theme tour','moreLink':'###'};
				+indexTit(indTit03)
				.ind-theme-area
					.ind-theme-box
						.ind-theme-img(style="background: url(img/theme01.jpg) no-repeat center center/cover")
							img(src="img/theme01.jpg", alt="")
						.ind-theme-txt
							h3 Suo Yi
							p Stepping out of Guoniuju, crossing the gourd alley, and walking through winding paths, Ye Shitao went straight to the public hall to participate in the throbbing of the literary congress, and the horror of being called into the police station to interrogate Luo Zhi's crimes, now has become hidden in the city.
					.ind-theme-box
						.ind-theme-img(style="background: url(img/theme02.jpg) no-repeat center center/cover")
							img(src="img/theme01.jpg", alt="")
						.ind-theme-txt
							h3 Step to find the little Fengshen
							p The little god is troubled, and asked Marshal Zhao and Kang to pawn the crown of the sky. He wanted to gamble to reverse his money, and the wind would disrupt the situation. The two of Kang and Zhao lost the ground.
				//- 文學展示
				-const indTit04={'tit':'文學展示','titEn':'Literary Exhibition','moreLink':'###'};
				+indexTit(indTit04)
			.ind-exhibition-area
				.swiper-container.exhibition-banner#ExhibitionBanner
					.swiper-wrapper
						a(href="###").swiper-slide
							.ind-exhibition-img(style="background: url(img/liter01.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Small Terrace, Grand View Garden Han Lianglu Donation Exhibition
						a(href="###").swiper-slide 
							.ind-exhibition-img(style="background: url(img/liter02.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt The Week of a Hundred Years-Haruo Sato 1920, Taiwan Travel Literature Exhibition
						a(href="###").swiper-slide
							.ind-exhibition-img(style="background: url(img/liter03.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Literary Show Title
						a(href="###").swiper-slide 
							.ind-exhibition-img(style="background: url(img/liter04.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Small Terrace, Grand View Garden Han Lianglu Donation Exhibition
						a(href="###").swiper-slide
							.ind-exhibition-img(style="background: url(img/liter05.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Taiwan in the Japanese Occupation Period (4): Literature under the Influence of Modernization
						a(href="###").swiper-slide
							.ind-exhibition-img(style="background: url(img/liter01.jpg) no-repeat center center/cover")
								img(src="img/liter01.jpg", alt="")
							.ind-exhibition-txt Small Terrace, Grand View Garden Han Lianglu Donation Exhibition
					.swiper-pagination#ExhibitionPage
		//-內容
		include includes/en/footer

script.
	$(document).ready(function(){
		$('#btn01').on('click',function(){
			console.log('btn01')
		});
		var LiteraryBannerSwiper = new Swiper('#LiteraryBanner', {
			slidesPerView: 4,
			spaceBetween: 0,
			breakpoints: {
				768: {
					slidesPerView: 3
				},
				600: {
					slidesPerView: 2
				},
				414: {
					slidesPerView: 1
				},
			},
			pagination: {
				el: '#LiteraryPage',
				clickable: true,
			},
		});

		var ExhibitionBannerSwiper = new Swiper('#ExhibitionBanner', {
			//- slidesPerView: 4,
			spaceBetween: 70,
			initialSlide: 2,
			//- breakpoints: {
			//- 	1000: {
			//- 		slidesPerView: 3
			//- 	},
			//- },
			pagination: {
				el: '#ExhibitionPage',
				clickable: true,
			},
		});
		//展覽點擊
		$('.ind-exhibition-img').each(function (index, item) {
			$(this).on('click', function () {
				ExhibitionBannerSwiper.slideTo(index, 300);
			});
		});
	});

public/index_en.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">virtual museum of taiwam literature</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">tech．humanity．friendly</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600"> </span><a href="member.html">周子瑜</a>,Hello</div>
            <div class="log-btn logout-btn" id="loginOut">LogOut</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">Register</a><a class="log-btn" href="login_page.html">Login</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="zh">繁中</option>
              <option value="en" selected="selected">English</option>
            </select>
          </div>
        </div>
      </div>
      <nav>
        <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
        <div class="nav-cont">
          <div class="nav-item en" id="navItem"><a class="n-item" href="###"><span>Virtual Reality</span><span class="en"></span></a><a class="n-item" href="history_list.html"><span>Literary History</span><span class="en"></span></a>
            <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>Literary Tour</span><span class="en"></span>
              <div class="n-nav-sup"><a href="writer_list.html"><span>Writer's history</span><span class="en"></span></a><a href="writer_story_list.html"><span>Story map</span><span class="en"></span></a><a href="theme_list.html"><span>Theme tour</span><span class="en"></span></a><a href="###"><span>Real Escape</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php"><span>Digital 3D</span><span class="en"></span></a>
            <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>Theme Platform</span><span class="en"></span>
              <div class="n-nav-sup"><a href="https://literature.sds.com.tw/"><span>Writer's platform</span><span class="en"></span></a><a href="exhibition_list.html"><span>Literary Exhibition</span><span class="en"></span></a><a href="###"><span>Virtual Reality(laiho)</span><span class="en"></span></a>
              </div>
            </div>
            <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>Maker Space</span><span class="en"></span>
              <div class="n-nav-sup"><a href="create_platform.html"><span>Maker Articles</span><span class="en"></span></a><a href="create_qa_list.html"><span>Forum</span><span class="en"></span></a>
              </div>
            </div><a class="n-item" href="###"><span>Collecting Literature</span><span class="en"></span></a>
          </div>
          <div class="src-box">
            <input class="input-src" type="text" placeholder="Search..."/>
            <div class="src-btn"><i class="fas fa-search"></i></div>
          </div>
          <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </nav>
      <div class="sub-nav-list">
        <div class="nav-sup" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span><span class="en">Writer‘s history</span></a><a href="###"><span>故事地圖</span><span class="en">Story map</span></a><a href="###"><span>主題之旅</span><span class="en">Theme tour</span></a><a href="###"><span>實境解謎</span><span class="en">Real Escape</span></a>
        </div>
        <div class="nav-sup" id="navThemeList"><a href="###"><span>作家平台</span><span class="en">Writer‘s platform</span></a><a href="exhibition_list_en.html"><span>文學展示</span><span class="en">Literary Exhibition</span></a><a href="###"><span>虛擬實境</span><span class="en">Virtual Reality(laiho)</span></a>
        </div>
        <div class="nav-sup" id="navMakerList"><a href="create_platform_en.html"><span>共創文章</span><span class="en">Maker Articles</span></a><a href="create_qa_list.html"><span>交流討論</span><span class="en">Forum</span></a>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="banner-area">
      <div class="banner-cont">
        <div class="banner-info">
          <div class="banner-tit" style="letter-spacing: 0px">Heading to the world</div>
          <div class="banner-sup-tit">Technology, Humanities, Friendly experience</div>
          <p>
            Introduce the preservation and display of art, humanities and historical assets with technology,<br>
            Continuing its life penetration, while deepening technology in the local community culture,<br>
            Enhance the convenience of the smart literature museum experience for the public and literature lovers.。
          </p><a class="banner-btn" href="###">More</a>
        </div>
      </div>
    </div>
    <div class="main-area">
      <div class="main-cont">
        <div class="ind-tit-box">
          <h2>臺灣文學史</h2>
          <div class="ind-en-tit ind-en-tit2"><span>Literary History</span><a href="history_list.html">More</a></div>
        </div>
        <div class="swiper-container literary-banner" id="LiteraryBanner">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a class="literary-box" href="history_cont.html">
                <div class="literary-img" style="background:url(img/his01.jpg) no-repeat center center/cover;"><img src="img/his01.jpg" alt=""/></div>
                <div class="literary-tit"><span class="tit">Ming and Qing Chinese Classical Literature Period</span><span class="date">1603 - 1895</span></div></a>
            </div>
            <div class="swiper-slide"><a class="literary-box" href="history_cont.html">
                <div class="literary-img" style="background:url(img/his02.jpg) no-repeat center center/cover;"><img src="img/his01.jpg" alt=""/></div>
                <div class="literary-tit"><span class="tit">Chinese Classical Literature in the Colonial Period</span><span class="date">1895 - 1945</span></div></a>
            </div>
            <div class="swiper-slide"><a class="literary-box" href="history_cont.html">
                <div class="literary-img" style="background:url(img/his03.jpg) no-repeat center center/cover;"><img src="img/his01.jpg" alt=""/></div>
                <div class="literary-tit"><span class="tit">Chinese New Literature in the Colonial Period</span><span class="date">1945 - 1965</span></div></a>
            </div>
            <div class="swiper-slide"><a class="literary-box" href="history_cont.html">
                <div class="literary-img" style="background:url(img/his04.jpg) no-repeat center center/cover;"><img src="img/his01.jpg" alt=""/></div>
                <div class="literary-tit"><span class="tit">Japanese New Literature in the Colonial Period</span><span class="date">1965 - 1989</span></div></a>
            </div>
            <div class="swiper-slide"><a class="literary-box" href="history_cont.html">
                <div class="literary-img" style="background:url(img/his01.jpg) no-repeat center center/cover;"><img src="img/his01.jpg" alt=""/></div>
                <div class="literary-tit"><span class="tit">Ming and Qing Chinese Classical Literature Period</span><span class="date">1603 - 1895</span></div></a>
            </div>
          </div>
          <div class="swiper-pagination" id="LiteraryPage"></div>
        </div>
        <div class="ind-tit-box">
          <h2>作家行跡</h2>
          <div class="ind-en-tit"><span>Writer Track</span><a href="writer_list.html">More</a></div>
        </div>
        <div class="ind-writer-area">
          <div class="writer-cont">
            <div class="writer-img"><a class="writer-img-box" href="writer_cont.html" style="background:url(img/writer01.jpg) no-repeat center center/cover;"><img src="img/writer01.jpg" alt=""/></a></div>
            <div class="writer-info">
              <h3>Memorabilia of Ye Shitao</h3>
              <div class="writer-txt">
                <p>Ye Shitao was born in Baijin Town, Tainan City, Taiwan. Taiwan contemporary literary writer, whose creation is mainly based on novels and criticism, supplemented by prose and translation. Ye Shitao spanned the Japanese and postwar generations. He received two years of Chinese private school education before elementary school. He graduated from Tainan State No. 2 High School and served as an assistant editor of &quot;Art Taiwan&quot; hosted by Japanese writer Nishikawa Mitsuru.</p>
              </div>
            </div>
          </div>
          <div class="writer-cont writer-cont-right">
            <div class="writer-img"><a class="writer-img-box" href="writer_cont.html" style="background:url(img/writer02.jpg) no-repeat center center/cover;"><img src="img/writer01.jpg" alt=""/></a></div>
            <div class="writer-info">
              <h3>Li Tong Memorabilia</h3>
              <div class="writer-txt">
                <p>Li Tong, whose real name is Lai Xi’an, is a late well-known children‘s literature writer and lyricist in Taiwan. Born in Hualien, settled in Luodong Township, Yilan County. Graduated from Air Administration College. He started writing in 1978. The genre category includes children’s literature, prose, novels, new poems, lyrics, etc. In addition, there are related scripts, literary reviews, and reporting literature, but the most well-known works are children‘s literature and juvenile novels.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="ind-tit-box">
          <h2>主題之旅</h2>
          <div class="ind-en-tit"><span>Theme tour</span><a href="###">More</a></div>
        </div>
        <div class="ind-theme-area">
          <div class="ind-theme-box">
            <div class="ind-theme-img" style="background: url(img/theme01.jpg) no-repeat center center/cover"><img src="img/theme01.jpg" alt=""/></div>
            <div class="ind-theme-txt">
              <h3>Suo Yi</h3>
              <p>Stepping out of Guoniuju, crossing the gourd alley, and walking through winding paths, Ye Shitao went straight to the public hall to participate in the throbbing of the literary congress, and the horror of being called into the police station to interrogate Luo Zhi's crimes, now has become hidden in the city.</p>
            </div>
          </div>
          <div class="ind-theme-box">
            <div class="ind-theme-img" style="background: url(img/theme02.jpg) no-repeat center center/cover"><img src="img/theme01.jpg" alt=""/></div>
            <div class="ind-theme-txt">
              <h3>Step to find the little Fengshen</h3>
              <p>The little god is troubled, and asked Marshal Zhao and Kang to pawn the crown of the sky. He wanted to gamble to reverse his money, and the wind would disrupt the situation. The two of Kang and Zhao lost the ground.</p>
            </div>
          </div>
        </div>
        <div class="ind-tit-box">
          <h2>文學展示</h2>
          <div class="ind-en-tit"><span>Literary Exhibition</span><a href="###">More</a></div>
        </div>
      </div>
      <div class="ind-exhibition-area">
        <div class="swiper-container exhibition-banner" id="ExhibitionBanner">
          <div class="swiper-wrapper"><a class="swiper-slide" href="###">
              <div class="ind-exhibition-img" style="background: url(img/liter01.jpg) no-repeat center center/cover"><img src="img/liter01.jpg" alt=""/></div>
              <div class="ind-exhibition-txt">Small Terrace, Grand View Garden Han Lianglu Donation Exhibition</div></a><a class="swiper-slide" href="###"> 
              <div class="ind-exhibition-img" style="background: url(img/liter02.jpg) no-repeat center center/cover"><img src="img/liter01.jpg" alt=""/></div>
              <div class="ind-exhibition-txt">The Week of a Hundred Years-Haruo Sato 1920, Taiwan Travel Literature Exhibition</div></a><a class="swiper-slide" href="###">
              <div class="ind-exhibition-img" style="background: url(img/liter03.jpg) no-repeat center center/cover"><img src="img/liter01.jpg" alt=""/></div>
              <div class="ind-exhibition-txt">Literary Show Title</div></a><a class="swiper-slide" href="###"> 
              <div class="ind-exhibition-img" style="background: url(img/liter04.jpg) no-repeat center center/cover"><img src="img/liter01.jpg" alt=""/></div>
              <div class="ind-exhibition-txt">Small Terrace, Grand View Garden Han Lianglu Donation Exhibition</div></a><a class="swiper-slide" href="###">
              <div class="ind-exhibition-img" style="background: url(img/liter05.jpg) no-repeat center center/cover"><img src="img/liter01.jpg" alt=""/></div>
              <div class="ind-exhibition-txt">Taiwan in the Japanese Occupation Period (4): Literature under the Influence of Modernization</div></a><a class="swiper-slide" href="###">
              <div class="ind-exhibition-img" style="background: url(img/liter01.jpg) no-repeat center center/cover"><img src="img/liter01.jpg" alt=""/></div>
              <div class="ind-exhibition-txt">Small Terrace, Grand View Garden Han Lianglu Donation Exhibition</div></a></div>
          <div class="swiper-pagination" id="ExhibitionPage"></div>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo">
          <div class="f-logo"><img src="img/logo_his.svg" alt=""/></div>
          <div class="f-logo-txt">700 No. 1, Zhongzheng Road, West Central District, Tainan City</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="qrcode-cont">
              <div class="qrcode"><img src="img/qrcode.jpg" alt=""/></div>
              <div class="qr-info"><span><i class="far fa-phone-rotary">（06）221-7201</i></span><span><i class="far fa-phone-office">（06）222-6115</i></span><span><i class="far fa-envelope">info@tlvm.com.tw</i></span></div>
            </div>
            <div class="web-link-cont">
              <div class="web-link-box"><a href="###">About Us</a><a href="###">Traffic</a><a href="###">Contact Us</a><a href="###">Privacy and Security</a><a href="###">Questionnaire</a></div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>Visits</span><span>5915</span></div>
            <div class="web-info"><span>Updated</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function(){
  	$('#btn01').on('click',function(){
  		console.log('btn01')
  	});
  	var LiteraryBannerSwiper = new Swiper('#LiteraryBanner', {
  		slidesPerView: 4,
  		spaceBetween: 0,
  		breakpoints: {
  			768: {
  				slidesPerView: 3
  			},
  			600: {
  				slidesPerView: 2
  			},
  			414: {
  				slidesPerView: 1
  			},
  		},
  		pagination: {
  			el: '#LiteraryPage',
  			clickable: true,
  		},
  	});
  
  	var ExhibitionBannerSwiper = new Swiper('#ExhibitionBanner', {
  		//- slidesPerView: 4,
  		spaceBetween: 70,
  		initialSlide: 2,
  		//- breakpoints: {
  		//- 	1000: {
  		//- 		slidesPerView: 3
  		//- 	},
  		//- },
  		pagination: {
  			el: '#ExhibitionPage',
  			clickable: true,
  		},
  	});
  	//展覽點擊
  	$('.ind-exhibition-img').each(function (index, item) {
  		$(this).on('click', function () {
  			ExhibitionBannerSwiper.slideTo(index, 300);
  		});
  	});
  });
</script>
