pug/member_mission_cont_v4.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		.freebee-light-area#freebeeLightArea
			.tit 兌獎權益與說明
			.freebee-light-cont.scroll-cont
				ul
					li 本活動兌換需輸入google表單
					li 本活動僅郵寄至台、澎、金、馬地區。
					li 參與本活動者保證所有填寫、提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料，如有不實或不正確之情事，將被取消得獎資格，且如有致生損害於主辦單位或其他任何第三人，應負一切民刑事責任。主辦單位對於任何不實或不正確之資料不負任何法律責任。
					li 得獎者不得要求將獎品讓與他人，也不得要求變換或折換現金。
					li 本活動注意事項載明於活動網頁中，參加本活動同時，即參加者同意接受本活動辦法及注意事項之規範。如有違反本活動注意事項之行為，主辦單位得取消其參加或得獎資格。
					li 中華民國稅法規定，獎項金額若達新台幣1,000元以上，獎項所得將列入個人年度綜合所得稅申報，故得獎人需提供身份證影本且依規定填寫並繳交相關收據方可領獎；獎品或獎金價值超過新台幣20,000元以上，需預先繳交獎項總價值10%所得稅，年度報稅時必須計入個人所得，故得獎者於領獎後、所得稅徵收前會收到贈獎單位所寄發的扣繳憑證。所得稅雖已預先扣繳，得獎者須完稅後方可領獎，但在申報所得稅時仍需計入計算。以上稅法規定若不願意配合，則視為自動棄權，不具得獎資格。其他未盡事宜，悉依中華民國稅法相關規定辦理。
					li 呈上述稅法規定，因本次機票獎項價值29,000元，中獎者須支付10%機會中獎所得稅(2,900元)，主辦單位將事先代扣10%所得稅，不願繳交稅金者視同放棄得獎權利。
					li 主辦單位保留本活動最終解釋權，改變、暫停或中止本活動細節之權利；主辦單位保有審核參加資格之權利。
					li 本活動所蒐集之得獎人資料，除依法規定須留存外，本次活動結束後，若無爭議事項或聯絡需要，將於六個月後銷毀。
			.check-box-area
				label(for="agree")
					input(type="checkbox" name="agree" id="agree" checked)
					.check-box.fas
					span 勾選即表示您同意接受本站<a href="###" target="_blank">隱私條款</a>與<a href="###" target="_blank">服務政策</a>
			.note-box#freebeeNote(style="display: none;") 請同意本站隱私條款與服務政策。
			.btn-area
				.member-gray-btn#freebeeCancle 取消
				a(href="member_mission_freebee_v4.html").member-orange-btn#freebeeGo
					span 輸入兌換資料
					<i class="fal fa-pen"></i>
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-top-area.page-top-area-g
			.main-cont
				-const breadList={'actPage':'會員中心'}
				+breadBox(breadList)
		.page-wrap.page-gray-wrap
			.main-cont
				.member-center-area
					.member-side
						h2.tit 會員中心
						.member-side-nav
							.item
								a(href="member_info.html") 會員資料
							.item
								a(href="member_collect_route.html") 收藏紀錄
							.item
								a(href="member_blog_list.html") 我的部落格
							// v4 add
							.item.act
								a(href="member_mission_list_v4.html") 集章任務
							.item
								a(href="member_medal_list_v4.html") 我的徽章
							// v4 add end
					.member-cont
						.member-mission-total-box
							.tit 來吧！挑戰者們，去尋找文學的寶藏吧！
							.cont
								.collect 已完成<span>22</span>/ 143 枚徽章
								.txt 徽章完成進度不會立即更新，請耐心等候約5分鐘呦！
						.member-info-cont
							.member-mission-area
								.member-mission-part
									.member-mission-part-tit 任務名稱：<span>一起到館旅行</span>
									.member-medal-area
										-const medal1={'isOn':true,'tit':'抵達臺灣文學基地','pro':'1/1','img':'medal4.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal1)
										-const medal2={'tit':'抵達高雄文學館','pro':'0/1','img':'medal3.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal2)
										-const medal3={'tit':'抵達臺灣文學館','pro':'0/1','img':'medal2.svg','txt':'參加專屬活動'};
										+memberMedalItem(medal3)
								.member-mission-part
									.member-mission-part-tit 任務介紹
									.member-mission-info 一起探索文學家族！<br><br>前往指定館舍，登入會員並掃描專屬Qrocde，即可獲得專屬徽章<br>集滿38間館舍，完成本次活動即可兌換以下精美小禮物呦！
								.member-mission-part
									.member-mission-part-tit.btn-part-tit 獎品介紹
										//- .div 獎品介紹
										.member-orange-btn#freebeeOpen
											span 前往兌換
											<i class="far fa-arrow-right"></i>
									.member-freebee-area
										-const freebee1={'img':'good1.png','tit':'晶透浮雕-鶯歌陶瓷杯墊','txt':'鶯歌高嶺土與陶土高溫燒製(約100g重)，尺寸:110x110mm<br><br>鶯歌陶瓷吸水杯墊服務再升級，獨家立體浮雕技術，類釉料水晶光澤，呈現細膩高規收藏品質。'}
										+memberFreebeeItem(freebee1)
										-const freebee2={'img':'good2.png','tit':'基隆嶼的秘密擴香組','txt':'2023基隆好物<br><br>- 基隆嶼造型擴香石<br>- 海洋調香氛精油<br>- 環保植纖盒+麻繩綁帶'}
										+memberFreebeeItem(freebee2)
										-const freebee3={'img':'good3.png','tit':'創意紙膠帶','txt':'尺寸15mm*5m'}
										+memberFreebeeItem(freebee3)
								.btn-area
									a(href="member_mission_list_v4.html").btn <i class="far fa-chevron-left"></i> 返回活動列表
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		$(".scroll-cont").mCustomScrollbar();

		$("#agree").on('change',function(){
			var isCheck=$("#agree").prop('checked');
			if(isCheck){
				$('#freebeeNote').hide();
				$('#freebeeGo').removeClass('off');
			}else{
				$('#freebeeNote').show();
				$('#freebeeGo').addClass('off');
			}
		});

		$('#freebeeOpen').on('click',function(){
			$('#freebeeLightArea,#mask').fadeIn();
		});

		$('#freebeeCancle,#mask').on('click',function(){
			$('#freebeeLightArea,#mask').fadeOut();
		});
	});

public/member_mission_cont_v4.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <div class="freebee-light-area" id="freebeeLightArea">
      <div class="tit">兌獎權益與說明</div>
      <div class="freebee-light-cont scroll-cont">
        <ul>
          <li>本活動兌換需輸入google表單</li>
          <li>本活動僅郵寄至台、澎、金、馬地區。</li>
          <li>參與本活動者保證所有填寫、提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料，如有不實或不正確之情事，將被取消得獎資格，且如有致生損害於主辦單位或其他任何第三人，應負一切民刑事責任。主辦單位對於任何不實或不正確之資料不負任何法律責任。</li>
          <li>得獎者不得要求將獎品讓與他人，也不得要求變換或折換現金。</li>
          <li>本活動注意事項載明於活動網頁中，參加本活動同時，即參加者同意接受本活動辦法及注意事項之規範。如有違反本活動注意事項之行為，主辦單位得取消其參加或得獎資格。</li>
          <li>中華民國稅法規定，獎項金額若達新台幣1,000元以上，獎項所得將列入個人年度綜合所得稅申報，故得獎人需提供身份證影本且依規定填寫並繳交相關收據方可領獎；獎品或獎金價值超過新台幣20,000元以上，需預先繳交獎項總價值10%所得稅，年度報稅時必須計入個人所得，故得獎者於領獎後、所得稅徵收前會收到贈獎單位所寄發的扣繳憑證。所得稅雖已預先扣繳，得獎者須完稅後方可領獎，但在申報所得稅時仍需計入計算。以上稅法規定若不願意配合，則視為自動棄權，不具得獎資格。其他未盡事宜，悉依中華民國稅法相關規定辦理。</li>
          <li>呈上述稅法規定，因本次機票獎項價值29,000元，中獎者須支付10%機會中獎所得稅(2,900元)，主辦單位將事先代扣10%所得稅，不願繳交稅金者視同放棄得獎權利。</li>
          <li>主辦單位保留本活動最終解釋權，改變、暫停或中止本活動細節之權利；主辦單位保有審核參加資格之權利。</li>
          <li>本活動所蒐集之得獎人資料，除依法規定須留存外，本次活動結束後，若無爭議事項或聯絡需要，將於六個月後銷毀。</li>
        </ul>
      </div>
      <div class="check-box-area">
        <label for="agree">
          <input type="checkbox" name="agree" id="agree" checked="checked"/>
          <div class="check-box fas"></div><span>勾選即表示您同意接受本站<a href="###" target="_blank">隱私條款</a>與<a href="###" target="_blank">服務政策</a></span>
        </label>
      </div>
      <div class="note-box" id="freebeeNote" style="display: none;">請同意本站隱私條款與服務政策。</div>
      <div class="btn-area">
        <div class="member-gray-btn" id="freebeeCancle">取消</div><a class="member-orange-btn" href="member_mission_freebee_v4.html" id="freebeeGo"><span>輸入兌換資料</span><i class="fal fa-pen"></i></a>
      </div>
    </div>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">科技．人文．友善體驗</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600">親愛的會員</span><a href="member_info.html">周子瑜</a>您好</div>
            <div class="log-btn logout-btn" id="loginOut">登出</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">註冊會員</a><a class="log-btn" href="login_page.html">會員登入</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="" disabled="disabled" selected="selected">語言</option>
              <option value="zh">繁中</option>
              <option value="en">English</option>
            </select>
          </div>
        </div>
      </div>
      <div class="nav-fix-box" id="navFixBox">
        <nav>
          <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
          <div class="nav-cont">
            <!--有英文版要加.en => .nav-item.en#navItem -->
            <div class="nav-item" id="navItem"> 
              <!--英文版 -const nav=[{'name':'Virtual Reality','enName':'','link':'###'}, {'name':'Literary History','enName':'','link':'history_list_p2.html'}, {'id':'navLiteraryBtn','name':'Literary Tour','enName':'','subNav':[{'name':'Writer\'s history','enName':'','link':'writer_list.html'},{'name':'Story map','enName':'','link':'writer_story_list.html'},{'name':'Theme tour','enName':'','link':'theme_list.html'},{'name':'Real Escape','enName':'','link':'###'}]}, {'name':'Digital 3D','enName':'','link':'http://211.75.82.187/WS/3dmodel.php','isOut':true}, {'id':'navThemeBtn','name':'Theme Platform','enName':'','link':'###','subNav':[{'name':'Writer\'s platform','enName':'','link':'https://literature.sds.com.tw/','isOut':true},{'name':'Literary Exhibition','enName':'','link':'exhibition_list_p2.html'},{'name':'Virtual Reality(laiho)','enName':'','link':'###'}]}, {'id':'navMakerBtn','name':'Maker Space','enName':'','subNav':[{'name':'Maker Articles','enName':'','link':'create_platform.html'},{'name':'Forum','enName':'','link':'create_qa_list.html'}]}, {'name':'Collecting Literature','enName':'','link':'###'} ]; //-n 是值 i 是KEY--><a class="n-item" href="travel.html"><span>筆尖上的地圖</span></a><a class="n-item" href="history_list_p2.html"><span>臺灣文學史</span></a>
              <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>文學踏查</span>
                <div class="n-nav-sup"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
                  <div class="n-nav-three-box"><a href="###"><span class="tit">實境解謎</span><span class="cont">小封神藏寶圖系列1</span></a><a href="###"><span class="cont">小封神藏寶圖系列2</span></a>
                  </div>
                </div>
              </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php" target="_blank"><span>數位3D</span></a>
              <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>主題平台</span>
                <div class="n-nav-sup"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
                </div>
              </div>
              <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>共創平台</span>
                <div class="n-nav-sup"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
                </div>
              </div><a class="n-item" href="###"><span>拾藏文學</span></a>
            </div>
            <div class="src-box">
              <input class="input-src" type="text" placeholder="搜尋..."/>
              <div class="src-btn"><i class="fas fa-search"></i></div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </nav>
        <div class="sub-nav-list">
          <div class="nav-sup sub-literaryList" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
            <div class="nav-three"><span>城市解謎</span>
              <div class="nav-three-box"><a href="###">小封神藏寶圖系列1</a><a href="###">小封神藏寶圖系列2</a>
              </div>
            </div>
          </div>
          <div class="nav-sup sub-themeList" id="navThemeList"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
          </div>
          <div class="nav-sup sub-makerList" id="navMakerList"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
          </div>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="stepMask"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-top-area page-top-area-g">
      <div class="main-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span>
          <div class="act-page">會員中心</div>
        </div>
      </div>
    </div>
    <div class="page-wrap page-gray-wrap">
      <div class="main-cont">
        <div class="member-center-area">
          <div class="member-side">
            <h2 class="tit">會員中心</h2>
            <div class="member-side-nav">
              <div class="item"><a href="member_info.html">會員資料</a></div>
              <div class="item"><a href="member_collect_route.html">收藏紀錄</a></div>
              <div class="item"><a href="member_blog_list.html">我的部落格</a></div>
              <!-- v4 add-->
              <div class="item act"><a href="member_mission_list_v4.html">集章任務</a></div>
              <div class="item"><a href="member_medal_list_v4.html">我的徽章</a></div>
              <!-- v4 add end-->
            </div>
          </div>
          <div class="member-cont">
            <div class="member-mission-total-box">
              <div class="tit">來吧！挑戰者們，去尋找文學的寶藏吧！</div>
              <div class="cont">
                <div class="collect">已完成<span>22</span>/ 143 枚徽章</div>
                <div class="txt">徽章完成進度不會立即更新，請耐心等候約5分鐘呦！</div>
              </div>
            </div>
            <div class="member-info-cont">
              <div class="member-mission-area">
                <div class="member-mission-part">
                  <div class="member-mission-part-tit">任務名稱：<span>一起到館旅行</span></div>
                  <div class="member-medal-area">
                    <div class="member-medal-box finish">
                      <div class="tit">抵達臺灣文學基地</div>
                      <div class="progress">1/1</div>
                      <div class="img-box">
                        <div class="img"><img src="img/medal4.svg" alt=""/></div>
                      </div>
                      <div class="txt">參加專屬活動</div>
                    </div>
                    <div class="member-medal-box">
                      <div class="tit">抵達高雄文學館</div>
                      <div class="progress">0/1</div>
                      <div class="img-box">
                        <div class="img"><img src="img/medal3.svg" alt=""/></div>
                      </div>
                      <div class="txt">參加專屬活動</div>
                    </div>
                    <div class="member-medal-box">
                      <div class="tit">抵達臺灣文學館</div>
                      <div class="progress">0/1</div>
                      <div class="img-box">
                        <div class="img"><img src="img/medal2.svg" alt=""/></div>
                      </div>
                      <div class="txt">參加專屬活動</div>
                    </div>
                  </div>
                </div>
                <div class="member-mission-part">
                  <div class="member-mission-part-tit">任務介紹</div>
                  <div class="member-mission-info">一起探索文學家族！<br><br>前往指定館舍，登入會員並掃描專屬Qrocde，即可獲得專屬徽章<br>集滿38間館舍，完成本次活動即可兌換以下精美小禮物呦！</div>
                </div>
                <div class="member-mission-part">
                  <div class="member-mission-part-tit btn-part-tit">獎品介紹
                    <div class="member-orange-btn" id="freebeeOpen"><span>前往兌換</span><i class="far fa-arrow-right"></i></div>
                  </div>
                  <div class="member-freebee-area">
                    <div class="member-freebee-box">
                      <div class="img-box"><img src="img/good1.png" alt=""/></div>
                      <div class="tit">晶透浮雕-鶯歌陶瓷杯墊</div>
                      <div class="txt">鶯歌高嶺土與陶土高溫燒製(約100g重)，尺寸:110x110mm<br><br>鶯歌陶瓷吸水杯墊服務再升級，獨家立體浮雕技術，類釉料水晶光澤，呈現細膩高規收藏品質。</div>
                    </div>
                    <div class="member-freebee-box">
                      <div class="img-box"><img src="img/good2.png" alt=""/></div>
                      <div class="tit">基隆嶼的秘密擴香組</div>
                      <div class="txt">2023基隆好物<br><br>- 基隆嶼造型擴香石<br>- 海洋調香氛精油<br>- 環保植纖盒+麻繩綁帶</div>
                    </div>
                    <div class="member-freebee-box">
                      <div class="img-box"><img src="img/good3.png" alt=""/></div>
                      <div class="tit">創意紙膠帶</div>
                      <div class="txt">尺寸15mm*5m</div>
                    </div>
                  </div>
                </div>
                <div class="btn-area"><a class="btn" href="member_mission_list_v4.html"><i class="far fa-chevron-left"></i> 返回活動列表</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo"><a class="f-logo" href="https://www.nmtl.gov.tw/" target="_blank"><img src="img/logo_his.svg" alt=""/></a>
          <div class="f-logo-txt">700 臺南市中西區中正路1號<br><i class="far fa-phone-rotary"></i>（06）221-7201</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="web-link-cont">
              <div class="web-link-box"><a href="about.html">關於本站</a><a href="traffic_page.html">交通資訊</a><a href="###">聯絡我們</a>
                <div class="web-link" id="privacyBtn">隱私權及安全政策</div>
                <div class="web-link" id="questBtn">線上問卷</div>
                <!-- v4 add--><a href="medal_info_v4.html">集章任務說明</a>
                <!-- v4 add end-->
              </div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>瀏覽人次</span><span>5915</span></div>
            <div class="web-info"><span>更新日期</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
      <!-- 地圖推廣入口-->
      <div class="travel-enter-area close" id="travelEnterArea">
        <div class="switch-btn-box" id="travelEnterBtn">
          <div class="icon"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="c-step-side-box" id="cStepSideBtn">
          <div class="c-step-side-img"><img src="img/c_step_side.svg" alt=""/></div>
          <div class="c-step-side-txt"><i class="fas fa-comment-alt-exclamation"></i><span>集章任務開跑</span></div>
        </div>
      </div>
      <div class="light-wrap" id="privacyBox">
        <div class="light-tit">
          <h2>隱私權與安全政策</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <h3>一、隱私權保護政策</h3>
            <p> 個人隱私權已是使用者於網路世界瀏覽中主要之顧慮，國立臺灣文學館（以下簡稱本館）特創設隱私權保護政策，以下將對： 『個人資料的蒐集與使用方式』、『Cookies、IP address』、『對個人資料之保護與利用』加以說明與宣示：</p>
            <div class="tit">(一) 個人資料的蒐集與使用方式：</div>
            <p>為了在本網站上提供您最佳的網站服務，依不同頁面會請您提供相關個人的資料，其範圍如下：本網站在您使用電子報訂閱、團體導覽預約、活動報名、加入文學之友與刊登研討會訊息等系統功能表單時，會保留您所提供的姓名、電子郵件地址、連絡方式及使用時間等。</p>
            <div class="tit">(二) Cookies and IP Address：</div>
            <p>當使用者到本網站瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。</p>
            <div class="tit">(三) 對個人資料之保護與利用：</div>
            <p>本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料。我們採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義者，將會受到相關的法律處分。</p>
            <p>本網站雖將盡最大之努力以維護使用者之個人資料（不濫用與 不揭露），但因網路資料之傳輸無法確保百分之百的安全性， 因此本網站無法確信或擔保使用者所傳來或我們傳送予使用者 的資料完全安全。關於上述之風險，必須請使用者自行負擔。</p>
            <p>除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露於第三人或使用於蒐集目的以外之其他用途。</p>
            <h3>二、資訊安全政策</h3>
            <p>國立臺灣文學館(以下簡稱本館)尊重並保護您在使用網際網路時的安全及隱私保護利，為了幫助您瞭解「國立臺灣文學館全球資訊網」如何保護您在使用本網站各項服務的安全、及如何蒐集、應用及保護您所提供的個人資訊，請您詳細閱讀「國立臺灣文學館全球資訊網」的隱私保護及安全政策。請您仔細閱讀以下各項說明， 也歡迎您告訴我們您的想法，若有任何意見或疑 問，請E-mail至 twp@nmtl.gov.tw</p>
            <p>任何未經授權而企圖上載或更改本館所提供的各項服務及相關資訊的行為，都是嚴厲禁止而且可能觸犯法律。為了網站安全的目的和確保這項服務能夠繼續服務所有的網路使用者，本網站提供了以下的安全保護措施：</p>
          </div>
        </div>
      </div>
      <div class="light-wrap" id="questBox">
        <div class="light-tit">
          <h2>線上問卷</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <div class="quest-list-box">
              <div class="quest-list-tit">問卷主題</div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 日本文學之興趣調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 臺灣文學虛擬博物館滿意度調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 現代文學調查</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 集章步驟-->
      <div class="light-step-wrap close" id="lightStepWrap">
        <div class="light-step-close-box">
          <div class="light-step-close" id="lightStepClose"><img src="img/c_step_close.svg"/></div>
        </div>
        <div class="light-step-area">
          <div class="light-step-cont">
            <div class="light-step-tit">
              <div class="stpe-tit-d"><img src="img/c_step_d.svg"/></div>
              <div class="tit1"><span>集章任務開跑</span>
                <div class="arr"><img src="img/c_step_arr.svg"/></div>
              </div>
            </div>
            <div class="light-step-nav">
              <div class="step-box act" id="stepC1">STEP.1</div>
              <div class="step-box" id="stepC2">STEP.2</div>
              <div class="step-box" id="stepC3">STEP.3</div>
              <div class="step-box" id="stepC4">STEP.4</div>
            </div>
            <div class="light-step-sw-area">
              <div class="light-step-sw">
                <div class="swipe" id="lightStepSw">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">註冊會員或會員登入</div>
                        <div class="light-step-img cstep1"><img src="img/c_step1.png"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">前往「會員中心」，查看徽章收集進度</div>
                        <div class="light-step-img cstep2"><img src="img/c_step2.jpg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">完成各項集章任務，獲得更多徽章</div>
                        <div class="light-step-img cstep3"><img src="img/c_step3.svg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">累積更多徽章，兌換更多獎勵吧！</div>
                        <div class="light-step-img cstep4"><img src="img/c_step4.svg"/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function(){
  	$(".scroll-cont").mCustomScrollbar();
  
  	$("#agree").on('change',function(){
  		var isCheck=$("#agree").prop('checked');
  		if(isCheck){
  			$('#freebeeNote').hide();
  			$('#freebeeGo').removeClass('off');
  		}else{
  			$('#freebeeNote').show();
  			$('#freebeeGo').addClass('off');
  		}
  	});
  
  	$('#freebeeOpen').on('click',function(){
  		$('#freebeeLightArea,#mask').fadeIn();
  	});
  
  	$('#freebeeCancle,#mask').on('click',function(){
  		$('#freebeeLightArea,#mask').fadeOut();
  	});
  });
</script>
