pug/travel_game_list.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'線上解謎'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 線上解謎
                .tit-sup 他、她、祂都解不開的謎，你能解開嗎？
        .travel-area.page-top-cover
            .travel-cont
                .travel-game-area
                    -const travelGame01={'img':'travel_game01.jpg','tit':'城市解謎—小封神2','cont':'「小封神藏寶圖」系列作品改編自臺南作家許丙丁的《小封神》，共設計三款遊戲互動，因應不同需求的活動方案。您可以分開遊玩，可看到三個獨立故事。但全部遊玩過一次後，便能發現故事其實緊密相扣，了解事件的前因後果。'};
                    +travelGameBox(travelGame01)
                    -const travelGame02={'img':'travel_game02.jpg','tit':'城市解謎—小封神1','cont':'「小封神藏寶圖」是以章回小說形式進行的城市解謎遊戲，以在地作家許丙丁的臺語神怪小說《小封神》為題材，結合臺南市區廟宇、古蹟地景為背景，將文學與地景以遊戲方式結合。遊戲中，玩家將扮演故事中的主角「呂善安」，在不同的地景中與各路神明、妖怪相遇，並解開「小封神藏寶圖」隱藏的秘密。'};
                    +travelGameBox(travelGame02)
                    -const travelGame03={'videoId':'LgjvaxeKen8','tit':'藏品3D掃瞄','cont':'國立臺灣文學館「數位遊戲開發暨藏品3D掃描、建模計畫」為「臺灣行卷—博物館示範計 畫」分項計畫之一，該計畫是以臺灣各地重要空間（含博物館典藏品）為基礎，透過專業研 究充實詮釋內涵與故事，轉化成為通俗易懂之故事或文字，再嘗試與觀眾個人情感記憶或生 命經驗連結，亦能活化文物。'};
                    +travelGameBox(travelGame03)
                    -const travelGame04={'img':'travel_game03.jpg','tit':'數位遊戲【夢獸之島】','cont':'本計畫以奇幻島嶼為概念，從葉石濤、張深切、龍瑛宗、林海音、姚一葦這五位作家取得靈感， 從臺文館的3D掃描藏品： 葉石濤的「藤椅」、張深切徒步旅行的「名人題字錄」、龍瑛宗的輪椅、林海音精心收藏的象偶、姚一葦渡海的皮箱設計成關卡道具，為第一人稱射擊VR遊戲。'};
                    +travelGameBox(travelGame04)
        include includes/footer_travel03

public/travel_game_list.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <span>線上解謎</span>
      </div>
      <div class="travel-page-tit-area">
        <h2>線上解謎</h2>
        <div class="tit-sup">他、她、祂都解不開的謎，你能解開嗎？</div>
      </div>
    </div>
    <div class="travel-area page-top-cover">
      <div class="travel-cont">
        <div class="travel-game-area">
          <div class="travel-game-box"><a class="img-area" href="###" target="_blank" rel="noopener noreferrer"><img src="img/travel_game01.jpg" alt=""/></a>
            <div class="travel-download-btn-cont">
              <div class="tit">城市解謎—小封神2</div>
              <div class="cont">「小封神藏寶圖」系列作品改編自臺南作家許丙丁的《小封神》，共設計三款遊戲互動，因應不同需求的活動方案。您可以分開遊玩，可看到三個獨立故事。但全部遊玩過一次後，便能發現故事其實緊密相扣，了解事件的前因後果。</div>
              <div class="btn-box"><a class="btn" href="###">解說遊玩.pdf <i class="fas fa-arrow-to-bottom"></i></a></div>
            </div>
          </div>
          <div class="travel-game-box"><a class="img-area" href="###" target="_blank" rel="noopener noreferrer"><img src="img/travel_game02.jpg" alt=""/></a>
            <div class="travel-download-btn-cont">
              <div class="tit">城市解謎—小封神1</div>
              <div class="cont">「小封神藏寶圖」是以章回小說形式進行的城市解謎遊戲，以在地作家許丙丁的臺語神怪小說《小封神》為題材，結合臺南市區廟宇、古蹟地景為背景，將文學與地景以遊戲方式結合。遊戲中，玩家將扮演故事中的主角「呂善安」，在不同的地景中與各路神明、妖怪相遇，並解開「小封神藏寶圖」隱藏的秘密。</div>
              <div class="btn-box"><a class="btn" href="###">解說遊玩.pdf <i class="fas fa-arrow-to-bottom"></i></a></div>
            </div>
          </div>
          <div class="travel-game-box">
            <div class="video-area">
              <iframe src="https://www.youtube.com/embed/LgjvaxeKen8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="travel-download-btn-cont">
              <div class="tit">藏品3D掃瞄</div>
              <div class="cont">國立臺灣文學館「數位遊戲開發暨藏品3D掃描、建模計畫」為「臺灣行卷—博物館示範計 畫」分項計畫之一，該計畫是以臺灣各地重要空間（含博物館典藏品）為基礎，透過專業研 究充實詮釋內涵與故事，轉化成為通俗易懂之故事或文字，再嘗試與觀眾個人情感記憶或生 命經驗連結，亦能活化文物。</div>
              <div class="btn-box"><a class="btn" href="###">解說遊玩.pdf <i class="fas fa-arrow-to-bottom"></i></a></div>
            </div>
          </div>
          <div class="travel-game-box"><a class="img-area" href="###" target="_blank" rel="noopener noreferrer"><img src="img/travel_game03.jpg" alt=""/></a>
            <div class="travel-download-btn-cont">
              <div class="tit">數位遊戲【夢獸之島】</div>
              <div class="cont">本計畫以奇幻島嶼為概念，從葉石濤、張深切、龍瑛宗、林海音、姚一葦這五位作家取得靈感， 從臺文館的3D掃描藏品： 葉石濤的「藤椅」、張深切徒步旅行的「名人題字錄」、龍瑛宗的輪椅、林海音精心收藏的象偶、姚一葦渡海的皮箱設計成關卡道具，為第一人稱射擊VR遊戲。</div>
              <div class="btn-box"><a class="btn" href="###">解說遊玩.pdf <i class="fas fa-arrow-to-bottom"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top-cover"></div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
