pug/travel_blog_list.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'部落格'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 部落格
                .tit-sup 用筆紀錄、寫下自己的文學
        .travel-area.page-top-cover
            .travel-cont
                .travel-news-type-area.blog-type-area
                    .travel-news-type-box
                        .tit 部落格分類
                        select#newsType.travel-sel(name="newsType")
                            option(value="1") 全部
                            option(value="2") 美食之旅
                            option(value="3") 其他
                    a(href="travel_blog_edit.html").travel-m-btn.travel-orange-btn 撰寫文章 <i class="fas fa-plus"></i>
                .travel-blog-list
                    .blog-sizer
                    .blog-gutter-sizer
                    -const travelBlog01={'img':'travel_news02.jpg','tit':'可讀·性—臺灣性別文學變裝特展','txt':'變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。'}
                    +travelBlogBox(travelBlog01)
                    -const travelBlog02={'img':'blog02.jpg','tit':'臺文館「臺灣字造」系列活動熱鬧開跑','txt':'變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。'}
                    +travelBlogBox(travelBlog02)
                    -const travelBlog03={'img':'blog04.jpg','tit':'5/28【閱讀地方，書寫風土】最終場！線上聽：楊双子「道道點心都是一個時代」','txt':'實體書策展在國立臺灣文學館藝文商店、各獨立書店展出，每  2  週更換一次書單，讓每間參與書店的選書都能被看見。同時搭配  10  場次相關主題的實體與線上講座、作者對談活動，讓生根地方的風土文學能量更加廣闊的發散與傳遞。'}
                    +travelBlogBox(travelBlog03)
                    -const travelBlog04={'img':'blog01.jpg','tit':'可讀·性—臺灣性別文學變裝特展','txt':'變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。'}
                    +travelBlogBox(travelBlog04)
                    -const travelBlog05={'img':'blog03.jpg','tit':'臺文館「臺灣字造」系列活動熱鬧開跑','txt':'變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。'}
                    +travelBlogBox(travelBlog05)
                    -const travelBlog06={'img':'blog05.jpg','tit':'5/28【閱讀地方，書寫風土】最終場！線上聽：楊双子「道道點心都是一個時代」','txt':'實體書策展在國立臺灣文學館藝文商店、各獨立書店展出，每  2  週更換一次書單，讓每間參與書店的選書都能被看見。同時搭配  10  場次相關主題的實體與線上講座、作者對談活動，讓生根地方的風土文學能量更加廣闊的發散與傳遞。'}
                    +travelBlogBox(travelBlog06)
        include includes/footer_travel03

<script src="js/masonry.pkgd.min.js"></script>
script.
    $(document).ready(function () {
        //=== 收藏文章 ===
        $(document).on('click','.icon-heart',function(){
            var hasOn=$(this).hasClass('on');
            hasOn ? $(this).removeClass('on') : $(this).addClass('on');
        });
    });
    $(window).on('load',function () {
        //- console.log('findDone');
        $('.travel-blog-list').masonry({
            // options...
            itemSelector: '.travel-blog-box',//流瀑物件
            columnWidth: '.blog-sizer',//抓取寬度
            gutter: '.blog-gutter-sizer',//物件間隔
            horizontalOrder: true,//是否照順序橫排
            //- percentPosition: true,
        });
    });

public/travel_blog_list.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <span>部落格</span>
      </div>
      <div class="travel-page-tit-area">
        <h2>部落格</h2>
        <div class="tit-sup">用筆紀錄、寫下自己的文學</div>
      </div>
    </div>
    <div class="travel-area page-top-cover">
      <div class="travel-cont">
        <div class="travel-news-type-area blog-type-area">
          <div class="travel-news-type-box">
            <div class="tit">部落格分類</div>
            <select class="travel-sel" id="newsType" name="newsType">
              <option value="1">全部</option>
              <option value="2">美食之旅</option>
              <option value="3">其他</option>
            </select>
          </div><a class="travel-m-btn travel-orange-btn" href="travel_blog_edit.html">撰寫文章 <i class="fas fa-plus"></i></a>
        </div>
        <div class="travel-blog-list">
          <div class="blog-sizer"></div>
          <div class="blog-gutter-sizer"></div>
          <div class="travel-blog-box"><a class="travel-blog-img" href="travel_blog_cont.html"><img src="img/travel_news02.jpg" alt=""/></a>
            <div class="travel-blog-date">
              <div class="date">2022.02.01</div>
              <div class="name-box">
                <div class="name">by <span>梁祝瑛</span></div>
                <div class="icon icon-heart"></div>
              </div>
            </div><a class="travel-theme-txt" href="travel_blog_cont.html">
              <div class="tit">可讀·性—臺灣性別文學變裝特展</div>
              <div class="txt">變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。</div></a>
            <div class="travel-page-info">
              <div class="info">358 次點閱</div>
              <div class="info">
                <div class="icon"><img src="img/icon_info_collect.svg" alt=""/></div>
                <div class="txt">54</div>
              </div>
              <div class="share-btn-box"><a class="sbtn" href="###"><i class="far fa-check"></i>讚 <span>234</span></a><a class="sbtn" href="###">分享</a></div>
            </div>
          </div>
          <div class="travel-blog-box"><a class="travel-blog-img" href="travel_blog_cont.html"><img src="img/blog02.jpg" alt=""/></a>
            <div class="travel-blog-date">
              <div class="date">2022.02.01</div>
              <div class="name-box">
                <div class="name">by <span>梁祝瑛</span></div>
                <div class="icon icon-heart"></div>
              </div>
            </div><a class="travel-theme-txt" href="travel_blog_cont.html">
              <div class="tit">臺文館「臺灣字造」系列活動熱鬧開跑</div>
              <div class="txt">變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。</div></a>
            <div class="travel-page-info">
              <div class="info">358 次點閱</div>
              <div class="info">
                <div class="icon"><img src="img/icon_info_collect.svg" alt=""/></div>
                <div class="txt">54</div>
              </div>
              <div class="share-btn-box"><a class="sbtn" href="###"><i class="far fa-check"></i>讚 <span>234</span></a><a class="sbtn" href="###">分享</a></div>
            </div>
          </div>
          <div class="travel-blog-box"><a class="travel-blog-img" href="travel_blog_cont.html"><img src="img/blog04.jpg" alt=""/></a>
            <div class="travel-blog-date">
              <div class="date">2022.02.01</div>
              <div class="name-box">
                <div class="name">by <span>梁祝瑛</span></div>
                <div class="icon icon-heart"></div>
              </div>
            </div><a class="travel-theme-txt" href="travel_blog_cont.html">
              <div class="tit">5/28【閱讀地方，書寫風土】最終場！線上聽：楊双子「道道點心都是一個時代」</div>
              <div class="txt">實體書策展在國立臺灣文學館藝文商店、各獨立書店展出，每  2  週更換一次書單，讓每間參與書店的選書都能被看見。同時搭配  10  場次相關主題的實體與線上講座、作者對談活動，讓生根地方的風土文學能量更加廣闊的發散與傳遞。</div></a>
            <div class="travel-page-info">
              <div class="info">358 次點閱</div>
              <div class="info">
                <div class="icon"><img src="img/icon_info_collect.svg" alt=""/></div>
                <div class="txt">54</div>
              </div>
              <div class="share-btn-box"><a class="sbtn" href="###"><i class="far fa-check"></i>讚 <span>234</span></a><a class="sbtn" href="###">分享</a></div>
            </div>
          </div>
          <div class="travel-blog-box"><a class="travel-blog-img" href="travel_blog_cont.html"><img src="img/blog01.jpg" alt=""/></a>
            <div class="travel-blog-date">
              <div class="date">2022.02.01</div>
              <div class="name-box">
                <div class="name">by <span>梁祝瑛</span></div>
                <div class="icon icon-heart"></div>
              </div>
            </div><a class="travel-theme-txt" href="travel_blog_cont.html">
              <div class="tit">可讀·性—臺灣性別文學變裝特展</div>
              <div class="txt">變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。</div></a>
            <div class="travel-page-info">
              <div class="info">358 次點閱</div>
              <div class="info">
                <div class="icon"><img src="img/icon_info_collect.svg" alt=""/></div>
                <div class="txt">54</div>
              </div>
              <div class="share-btn-box"><a class="sbtn" href="###"><i class="far fa-check"></i>讚 <span>234</span></a><a class="sbtn" href="###">分享</a></div>
            </div>
          </div>
          <div class="travel-blog-box"><a class="travel-blog-img" href="travel_blog_cont.html"><img src="img/blog03.jpg" alt=""/></a>
            <div class="travel-blog-date">
              <div class="date">2022.02.01</div>
              <div class="name-box">
                <div class="name">by <span>梁祝瑛</span></div>
                <div class="icon icon-heart"></div>
              </div>
            </div><a class="travel-theme-txt" href="travel_blog_cont.html">
              <div class="tit">臺文館「臺灣字造」系列活動熱鬧開跑</div>
              <div class="txt">變裝就是打破性別的傳統束縛，每個人都可以有自由選擇自己的人生、走自己的路，穿自己喜愛的衣裳，愛自己愛的人。而變裝如同情慾，更是流動而多元的。我們社會當中有一百個人，就有一百種服裝與姿態，就有一百種情慾的模樣。</div></a>
            <div class="travel-page-info">
              <div class="info">358 次點閱</div>
              <div class="info">
                <div class="icon"><img src="img/icon_info_collect.svg" alt=""/></div>
                <div class="txt">54</div>
              </div>
              <div class="share-btn-box"><a class="sbtn" href="###"><i class="far fa-check"></i>讚 <span>234</span></a><a class="sbtn" href="###">分享</a></div>
            </div>
          </div>
          <div class="travel-blog-box"><a class="travel-blog-img" href="travel_blog_cont.html"><img src="img/blog05.jpg" alt=""/></a>
            <div class="travel-blog-date">
              <div class="date">2022.02.01</div>
              <div class="name-box">
                <div class="name">by <span>梁祝瑛</span></div>
                <div class="icon icon-heart"></div>
              </div>
            </div><a class="travel-theme-txt" href="travel_blog_cont.html">
              <div class="tit">5/28【閱讀地方，書寫風土】最終場！線上聽：楊双子「道道點心都是一個時代」</div>
              <div class="txt">實體書策展在國立臺灣文學館藝文商店、各獨立書店展出，每  2  週更換一次書單，讓每間參與書店的選書都能被看見。同時搭配  10  場次相關主題的實體與線上講座、作者對談活動，讓生根地方的風土文學能量更加廣闊的發散與傳遞。</div></a>
            <div class="travel-page-info">
              <div class="info">358 次點閱</div>
              <div class="info">
                <div class="icon"><img src="img/icon_info_collect.svg" alt=""/></div>
                <div class="txt">54</div>
              </div>
              <div class="share-btn-box"><a class="sbtn" href="###"><i class="far fa-check"></i>讚 <span>234</span></a><a class="sbtn" href="###">分享</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top-cover"></div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html><script src="js/masonry.pkgd.min.js"></script>
<script>
  $(document).ready(function () {
      //=== 收藏文章 ===
      $(document).on('click','.icon-heart',function(){
          var hasOn=$(this).hasClass('on');
          hasOn ? $(this).removeClass('on') : $(this).addClass('on');
      });
  });
  $(window).on('load',function () {
      //- console.log('findDone');
      $('.travel-blog-list').masonry({
          // options...
          itemSelector: '.travel-blog-box',//流瀑物件
          columnWidth: '.blog-sizer',//抓取寬度
          gutter: '.blog-gutter-sizer',//物件間隔
          horizontalOrder: true,//是否照順序橫排
          //- percentPosition: true,
      });
  });
</script>
