public/travel_news_src_tag_list.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <span>最新資訊標籤結果</span>
      </div>
      <div class="travel-page-tit-area">
        <h2>最新資訊標籤結果</h2>
        <div class="tit-sup">包含“<span>文學</span>”的標籤結果，共<span>3</span>筆資料。</div>
      </div>
    </div>
    <div class="travel-area page-top-cover">
      <div class="travel-cont">
        <div class="travel-quote-tag-area">
          <div class="travel-quote-tag-tit">
            <div class="tit">代表標籤</div>
            <div class="more-btn" id="travelQuoteTagMoreBtn"><i class="fas fa-arrow-down"></i> 顯示全部標籤</div>
          </div>
          <div class="travel-quote-tag-cont" id="travelQuoteAllTagBox">
            <div class="travel-tag-area" id="travelQuoteAllInnerTagBox"><a href="travel_news_src_tag_list.html">#文學</a><a href="travel_news_src_tag_list.html">#小說</a><a href="travel_news_src_tag_list.html">#自由戀愛</a><a href="travel_news_src_tag_list.html">#貓狗文學</a><a href="travel_news_src_tag_list.html">#葉石濤</a><a href="travel_news_src_tag_list.html">#文學主義</a><a href="travel_news_src_tag_list.html">#性別文學</a><a href="travel_news_src_tag_list.html">#人文主義</a><a href="travel_news_src_tag_list.html">#大海</a>
            </div>
          </div>
        </div>
        <div class="travel-route-theme-list travel-route-theme-src-list">
          <div class="travel-route-theme-box travel-src-tag"><a class="travel-route-theme-img" href="travel_news_cont.html"><img src="img/travel_news01.jpg" alt=""/></a>
            <div class="travel-route-theme-cont">
              <div class="travel-src-tag-top">
                <div class="travel-route-theme-date">
                  <div class="date">2020.11.20</div>
                </div><a class="travel-route-theme-txt" href="travel_news_cont.html">
                  <div class="tit">女誡扇綺譚：臺南口袋名單精選！蘊含日式風情的老屋咖啡廳推薦</div>
                  <div class="cont">此路線為紀念日本作家佐藤春夫1920 年夏天走訪臺灣的意外之旅，以大小姐鬼魂傳說改創的小說作品為場景，走訪一趟時過百年的舊址，體會作家看臺...</div></a>
              </div>
              <div class="travel-tag-area"><a class="act" href="travel_news_src_tag_list.html">#文學</a><a href="travel_news_src_tag_list.html">#小說</a><a href="travel_news_src_tag_list.html">#自由戀愛</a>
              </div>
            </div>
          </div>
          <div class="travel-route-theme-box travel-src-tag"><a class="travel-route-theme-img" href="travel_news_cont.html"><img src="img/travel_news02.jpg" alt=""/></a>
            <div class="travel-route-theme-cont">
              <div class="travel-src-tag-top">
                <div class="travel-route-theme-date">
                  <div class="date">2020.11.20</div>
                </div><a class="travel-route-theme-txt" href="travel_news_cont.html">
                  <div class="tit">文學小封神：結局未必如人所願，但初心卻如此動人！面對人生的課題，你會如何</div>
                  <div class="cont">藉由「府城小封神」這條路線，讓我們回到文壇前輩許丙丁著作《小封神》的歷史場景，穿越時空詼諧來看待府城的民間信仰，了解赤崁園區附近廟...</div></a>
              </div>
              <div class="travel-tag-area"><a class="act" href="travel_news_src_tag_list.html">#文學</a><a href="travel_news_src_tag_list.html">#小說</a><a href="travel_news_src_tag_list.html">#自由戀愛</a>
              </div>
            </div>
          </div>
          <div class="travel-route-theme-box travel-src-tag"><a class="travel-route-theme-img" href="travel_news_cont.html"><img src="img/travel_news03.jpg" alt=""/></a>
            <div class="travel-route-theme-cont">
              <div class="travel-src-tag-top">
                <div class="travel-route-theme-date">
                  <div class="date">2020.11.20</div>
                </div><a class="travel-route-theme-txt" href="travel_news_cont.html">
                  <div class="tit">府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂</div>
                  <div class="cont">「府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂。這些奇聞八卦，是各時代作家的創作靈感。至少，府城三大奇案就一直...</div></a>
              </div>
              <div class="travel-tag-area"><a class="act" href="travel_news_src_tag_list.html">#文學</a><a href="travel_news_src_tag_list.html">#小說</a><a href="travel_news_src_tag_list.html">#自由戀愛</a>
              </div>
            </div>
          </div>
        </div>
        <div class="travel-pagination-area"><a href="###"><i class="fas fa-angle-double-left"></i></a><a href="###"><i class="fas fa-angle-left"></i></a><a class="num act" href="###">1</a><a class="num" href="###">2</a><a class="num" href="###">3</a><a class="num" href="###">4</a><a class="num" href="###">5</a><a href="###"><i class="fas fa-angle-right"></i></a><a href="###"><i class="fas fa-angle-double-right"></i></a></div>
      </div>
    </div>
    <div class="footer-top-cover"></div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
<script src="js/travel_moreTag.js"></script>

pug/travel_news_src_tag_list.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'最新資訊標籤結果'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 最新資訊標籤結果
                .tit-sup 包含“<span>文學</span>”的標籤結果，共<span>3</span>筆資料。
        .travel-area.page-top-cover
            .travel-cont
                //- 代表標籤
                -const srcLink='travel_news_src_tag_list.html';
                +travelQuoteTagArea(srcLink)
                .travel-route-theme-list.travel-route-theme-src-list
                    -const goLink='travel_news_cont.html';
                    -const travelRouteTheme01={'img':'travel_news01.jpg','tit':'女誡扇綺譚：臺南口袋名單精選！蘊含日式風情的老屋咖啡廳推薦','cont':'此路線為紀念日本作家佐藤春夫1920 年夏天走訪臺灣的意外之旅，以大小姐鬼魂傳說改創的小說作品為場景，走訪一趟時過百年的舊址，體會作家看臺...'};
                    +travelRouteSrcTagBox(goLink,srcLink,travelRouteTheme01)
                    -const travelRouteTheme02={'img':'travel_news02.jpg','tit':'文學小封神：結局未必如人所願，但初心卻如此動人！面對人生的課題，你會如何','cont':'藉由「府城小封神」這條路線，讓我們回到文壇前輩許丙丁著作《小封神》的歷史場景，穿越時空詼諧來看待府城的民間信仰，了解赤崁園區附近廟...'};
                    +travelRouteSrcTagBox(goLink,srcLink,travelRouteTheme02)
                    -const travelRouteTheme03={'img':'travel_news03.jpg','tit':'府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂','cont':'「府城撞見鬼」這條路線絕對不辜負府城超多奇案、傳說眼花撩亂。這些奇聞八卦，是各時代作家的創作靈感。至少，府城三大奇案就一直...'};
                    +travelRouteSrcTagBox(goLink,srcLink,travelRouteTheme03)
                +travelPaginationArea
        include includes/footer_travel03

script(src="js/travel_moreTag.js")
