pug/travel_theme_list.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'自己走走 - 主題路線'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 主題路線
                .tit-sup 挑選您愛的景點，享受喧嘩之外的寧靜之旅
        .travel-banner-area.travel-theme-banner-sw-area
            .travel-banner-cont.travel-banner-arrow.travel-theme-banner-sw-cont
                .swiper-containe.travel-banner.travel-theme-banner-sw#travelSwiper
                    .swiper-wrapper
                        .swiper-slide
                            a(href="travel_route_list.html").travel-theme-banner-sw-img
                                img(src="img/t_page_banner.jpg", alt="")
                                .tit-box
                                    .tit 與老樹綠蔭相伴，台北最自在的文學角落1
                        .swiper-slide
                            a(href="travel_route_list.html").travel-theme-banner-sw-img
                                img(src="img/treval_banner.png", alt="")
                                .tit-box
                                    .tit 與老樹綠蔭相伴，台北最自在的文學角落2
                    .swiper-pagination#bookPage
                .swiper-button-prev#bookPrev
                .swiper-button-next#bookNext
        .travel-area
            .travel-cont
                .travel-theme-cube-list
                    -const travelThemeCube01={'img':'theme_cube01.png','date':'2020.10.20','tit':'府城瑣憶 - 來趟輕鬆寫意的一日輕旅行'}
                    +travelThemeCubeBox(travelThemeCube01)
                    -const travelThemeCube02={'img':'theme_cube02.png','date':'2020.10.20','tit':'與老樹綠蔭相伴，臺北最自在的文學角落'}
                    +travelThemeCubeBox(travelThemeCube02)
                    -const travelThemeCube03={'img':'theme_cube03.png','date':'2020.10.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點'}
                    +travelThemeCubeBox(travelThemeCube03)
                    -const travelThemeCube04={'img':'theme_cube04.png','date':'2020.10.20','tit':'踏尋小封神 - 半日識神人'}
                    +travelThemeCubeBox(travelThemeCube04)
                    -const travelThemeCube05={'img':'theme_cube05.png','date':'2020.10.20','tit':'邂逅一段愛情，在八田與一及八田外代樹所凝視的烏及八田外代樹所凝視的烏'}
                    +travelThemeCubeBox(travelThemeCube05)
                    -const travelThemeCube06={'img':'theme_cube06.png','date':'2020.10.20','tit':'南方有佳餚'}
                    +travelThemeCubeBox(travelThemeCube06)
                +travelPaginationArea
        include includes/footer_travel03
script.
    $(document).ready(function () {
       var travelSwiper = new Swiper('#travelSwiper', {
            slidesPerView: 1,
            spaceBetween: 0,
            //- initialSlide: 2,
            //- breakpoints: {
            //- 	1200: {
            //- 		slidesPerView: 5,
            //- 		spaceBetween: 30,
            //- 	},
            //- 	768: {
            //- 		slidesPerView: 4,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	600: {
            //- 		slidesPerView: 3,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	480: {
            //- 		slidesPerView: 2,
            //- 		spaceBetween: 20,
            //- 	},
            //- },
            navigation: {
            	nextEl: '#bookNext',
            	prevEl: '#bookPrev',
            },
            pagination: {
            	el: '#bookPage',
            	clickable: true,
            },
        });
    });

public/travel_theme_list.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <span>自己走走 - 主題路線</span>
      </div>
      <div class="travel-page-tit-area">
        <h2>主題路線</h2>
        <div class="tit-sup">挑選您愛的景點，享受喧嘩之外的寧靜之旅</div>
      </div>
    </div>
    <div class="travel-banner-area travel-theme-banner-sw-area">
      <div class="travel-banner-cont travel-banner-arrow travel-theme-banner-sw-cont">
        <div class="swiper-containe travel-banner travel-theme-banner-sw" id="travelSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a class="travel-theme-banner-sw-img" href="travel_route_list.html"><img src="img/t_page_banner.jpg" alt=""/>
                <div class="tit-box">
                  <div class="tit">與老樹綠蔭相伴，台北最自在的文學角落1</div>
                </div></a></div>
            <div class="swiper-slide"><a class="travel-theme-banner-sw-img" href="travel_route_list.html"><img src="img/treval_banner.png" alt=""/>
                <div class="tit-box">
                  <div class="tit">與老樹綠蔭相伴，台北最自在的文學角落2</div>
                </div></a></div>
          </div>
          <div class="swiper-pagination" id="bookPage"></div>
        </div>
        <div class="swiper-button-prev" id="bookPrev"></div>
        <div class="swiper-button-next" id="bookNext"></div>
      </div>
    </div>
    <div class="travel-area">
      <div class="travel-cont">
        <div class="travel-theme-cube-list"><a class="travel-theme-cube-box" href="travel_route_list.html">
            <div class="travel-theme-cube-img">
              <div class="img"><img src="img/theme_cube01.png" alt=""/></div>
            </div>
            <div class="travel-theme-cube-cont">
              <div class="date">2020.10.20</div>
              <h3 class="tit">府城瑣憶 - 來趟輕鬆寫意的一日輕旅行</h3>
            </div></a><a class="travel-theme-cube-box" href="travel_route_list.html">
            <div class="travel-theme-cube-img">
              <div class="img"><img src="img/theme_cube02.png" alt=""/></div>
            </div>
            <div class="travel-theme-cube-cont">
              <div class="date">2020.10.20</div>
              <h3 class="tit">與老樹綠蔭相伴，臺北最自在的文學角落</h3>
            </div></a><a class="travel-theme-cube-box" href="travel_route_list.html">
            <div class="travel-theme-cube-img">
              <div class="img"><img src="img/theme_cube03.png" alt=""/></div>
            </div>
            <div class="travel-theme-cube-cont">
              <div class="date">2020.10.20</div>
              <h3 class="tit">置身典雅的臺灣文學館，捕捉幸福的最佳地點</h3>
            </div></a><a class="travel-theme-cube-box" href="travel_route_list.html">
            <div class="travel-theme-cube-img">
              <div class="img"><img src="img/theme_cube04.png" alt=""/></div>
            </div>
            <div class="travel-theme-cube-cont">
              <div class="date">2020.10.20</div>
              <h3 class="tit">踏尋小封神 - 半日識神人</h3>
            </div></a><a class="travel-theme-cube-box" href="travel_route_list.html">
            <div class="travel-theme-cube-img">
              <div class="img"><img src="img/theme_cube05.png" alt=""/></div>
            </div>
            <div class="travel-theme-cube-cont">
              <div class="date">2020.10.20</div>
              <h3 class="tit">邂逅一段愛情，在八田與一及八田外代樹所凝視的烏及八田外代樹所凝視的烏</h3>
            </div></a><a class="travel-theme-cube-box" href="travel_route_list.html">
            <div class="travel-theme-cube-img">
              <div class="img"><img src="img/theme_cube06.png" alt=""/></div>
            </div>
            <div class="travel-theme-cube-cont">
              <div class="date">2020.10.20</div>
              <h3 class="tit">南方有佳餚</h3>
            </div></a>
        </div>
        <div class="travel-pagination-area"><a href="###"><i class="fas fa-angle-double-left"></i></a><a href="###"><i class="fas fa-angle-left"></i></a><a class="num act" href="###">1</a><a class="num" href="###">2</a><a class="num" href="###">3</a><a class="num" href="###">4</a><a class="num" href="###">5</a><a href="###"><i class="fas fa-angle-right"></i></a><a href="###"><i class="fas fa-angle-double-right"></i></a></div>
      </div>
    </div>
    <div class="footer-top-cover"></div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
<script>
  $(document).ready(function () {
     var travelSwiper = new Swiper('#travelSwiper', {
          slidesPerView: 1,
          spaceBetween: 0,
          //- initialSlide: 2,
          //- breakpoints: {
          //- 	1200: {
          //- 		slidesPerView: 5,
          //- 		spaceBetween: 30,
          //- 	},
          //- 	768: {
          //- 		slidesPerView: 4,
          //- 		spaceBetween: 20,
          //- 	},
          //- 	600: {
          //- 		slidesPerView: 3,
          //- 		spaceBetween: 20,
          //- 	},
          //- 	480: {
          //- 		slidesPerView: 2,
          //- 		spaceBetween: 20,
          //- 	},
          //- },
          navigation: {
          	nextEl: '#bookNext',
          	prevEl: '#bookPrev',
          },
          pagination: {
          	el: '#bookPage',
          	clickable: true,
          },
      });
  });
</script>
