public/travel_family_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <a href="travel_family_list.html">家族走走</a> / <span>臺北市 - 臺灣文學基地</span>
      </div>
      <div class="travel-page-tit-area">
        <div class="tit-sup-up">臺北市</div>
        <h2> 臺灣文學基地</h2>
      </div>
    </div>
    <div class="museum-cont-tit-box"><img src="img/museum02.svg" alt=""/></div>
    <div class="travel-area">
      <div class="travel-cont">
        <div class="travel-page-cont">
          <div class="travel-page-txt-cont">
            <div class="travel-page-tit">歷史沿革</div>
            <div class="travel-page-outlink-area"><a class="link" href="###" target="_blank"><i class="fas fa-link"></i> <span>靜態檔url</span></a><a class="link" href="###" target="_blank"><i class="fas fa-link"></i> <span>地圖交通位置</span></a><a class="link" href="###" target="_blank"><i class="fas fa-link"></i> <span>營業時間</span></a>
            </div>
            <div class="travel-page-video-box">
              <iframe src="https://www.youtube.com/embed/IHQiHNCGENA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="travel-page-txt">
              <div class="edit-box travel-edit-box">
                <p class="def">臺灣文學基地坐落於齊東街日式宿舍群中，是全臺少數歷史建築保存最完整的區域，也是文化資產保存法第一批採面狀保存的日式宿舍群，區內包含一幢市定古蹟及九幢歷史建築，不僅蘊含著豐富的在地故事及與市民經驗的聯結，更突顯臺北市內碩果僅存的日式宿舍歷史群落活化與再利用的當代意義。</p>
                <p class="def">在棋盤般齊整的臺北市中心，齊東街就像是一條漫不經心的微笑，劃過濟南路與忠孝東路之間。這抹微笑背後，潛藏的是一段悠久歷史──兩百多年前的清朝時期，此地曾是一條通往松山、接向基隆，被稱為「三板橋街」的古道。當時，此地盡是一望無盡的水田與埤塘。在圳道、水田與埤塘間，還沒有名字的齊東街蜿蜒而生，擔起運送米糧、煤炭等民生物資的重責大任。</p>
                <p class="def">時值日治時期的1920年至1940年間，總督府在此陸續興建了日式文官宿舍，即現在的齊東街日式宿舍群。同時，所在區域也逐漸聚集了各種產業的會社、工廠等機構，商業活動越來越發達，也促成了此區「城東會」組織的成立，經常舉辦社區演講、戲劇欣賞、演藝欣賞及電影欣賞等活動，創造當時代的藝文體驗熱潮。</p>
                <p class="def">戰後，政府將此區沿用為中央政府官員宿舍，時任空軍副總司令之王叔銘少將也入住濟南路二段27號，往後官拜「空軍總司令」、「國防部參謀總長」等，至1992年遷出官邸為止，這幢日式老屋被以「將軍宅第」標誌。2000年後，齊東街因位處市中心，在都市急遽開發的大環境中，日式宿舍一度面臨拆遷的命運。幸而有在地幸福里居民，基於對建築聚落、老樹與環境的認同，於2002年組成「齊東文史工作室」，在居民及專家學者的努力下，促成鄰近九間連棟日式宿舍的歷史建築的保留，而這也被視為「是臺北市市民重要且無價的歷史文化資產」。</p>
                <p class="def">隨著都市開發，新式屋舍、學校與工廠的起建與進駐，「三板橋街」慢慢地消失在地圖上，只留下濟南路與忠孝東路之間的微笑弧線，提醒我們它曾經的存在。2011年文化部委請臺北市政府文化局修繕齊東街日式宿舍（濟南路二段25、27號），並將此歷史建築命名為「齊東詩舍」。2014年7月，國立臺灣文學館開始營運管理並策畫展覽及文學推廣活動。隨著齊東街53巷上5棟歷史建築的修復完成，2021年，這條蜿蜒的微笑巷道上，致力於創新與文化傳承的「臺灣文學基地」正式開幕！</p>
              </div>
            </div>
            <div class="travel-page-tit">路線文章</div>
            <div class="travel-page-recommon-list">
              <div class="item">
                <div class="icon"><img src="img/icon_doc.svg" alt=""/></div><a href="###">整個島嶼都是我們的文學館。</a>
              </div>
              <div class="item">
                <div class="icon"><img src="img/icon_doc.svg" alt=""/></div><a href="###">文學行動展 加值項目 「文壇封鎖中」桌遊</a>
              </div>
              <div class="item">
                <div class="icon"><img src="img/icon_doc.svg" alt=""/></div><a href="###">逆旅 ‧ 一九四九——臺灣戰後移民文學展</a>
              </div>
            </div>
          </div>
          <div class="travel-page-side">
            <div class="travel-page-side-box">
              <div class="travel-page-tit">臺北市其他館舍</div>
              <div class="recommon-museum-area"><a class="recommon-museum-box" href="travel_family_cont.html">
                  <div class="recommon-museum-img"><img src="img/museum15.svg" alt=""/></div>
                  <div class="recommon-museum-name">紀州庵文學森林</div></a><a class="recommon-museum-box" href="travel_family_cont.html">
                  <div class="recommon-museum-img"><img src="img/museum16.svg" alt=""/></div>
                  <div class="recommon-museum-name">林語堂故居</div></a><a class="recommon-museum-box" href="travel_family_cont.html">
                  <div class="recommon-museum-img"><img src="img/museum17.svg" alt=""/></div>
                  <div class="recommon-museum-name">梁實秋故居</div></a>
              </div>
            </div>
          </div>
          <div class="btn-area"><a class="travel-m-btn" href="travel_family_list.html"><i class="far fa-chevron-left"></i> 返回家族走走</a></div>
        </div>
      </div>
    </div>
    <div class="footer-top-cover"></div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>

pug/travel_family_cont.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'家族走走','url':'travel_family_list.html'}],'actName':'臺北市 - 臺灣文學基地'}
            +travelBread(bread)
            .travel-page-tit-area
                .tit-sup-up 臺北市
                h2  臺灣文學基地
        .museum-cont-tit-box
            img(src="img/museum02.svg", alt="")
        .travel-area
            .travel-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-tit 歷史沿革
                        .travel-page-outlink-area
                            -const urlList=['靜態檔url','地圖交通位置','營業時間']
                            each n in urlList
                                a(href="###" target="_blank").link <i class="fas fa-link"></i> <span>#{n}</span>
                        .travel-page-video-box
                            iframe(src="https://www.youtube.com/embed/IHQiHNCGENA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        .travel-page-txt
                            .edit-box.travel-edit-box
                                p.def 臺灣文學基地坐落於齊東街日式宿舍群中，是全臺少數歷史建築保存最完整的區域，也是文化資產保存法第一批採面狀保存的日式宿舍群，區內包含一幢市定古蹟及九幢歷史建築，不僅蘊含著豐富的在地故事及與市民經驗的聯結，更突顯臺北市內碩果僅存的日式宿舍歷史群落活化與再利用的當代意義。
                                p.def 在棋盤般齊整的臺北市中心，齊東街就像是一條漫不經心的微笑，劃過濟南路與忠孝東路之間。這抹微笑背後，潛藏的是一段悠久歷史──兩百多年前的清朝時期，此地曾是一條通往松山、接向基隆，被稱為「三板橋街」的古道。當時，此地盡是一望無盡的水田與埤塘。在圳道、水田與埤塘間，還沒有名字的齊東街蜿蜒而生，擔起運送米糧、煤炭等民生物資的重責大任。
                                p.def 時值日治時期的1920年至1940年間，總督府在此陸續興建了日式文官宿舍，即現在的齊東街日式宿舍群。同時，所在區域也逐漸聚集了各種產業的會社、工廠等機構，商業活動越來越發達，也促成了此區「城東會」組織的成立，經常舉辦社區演講、戲劇欣賞、演藝欣賞及電影欣賞等活動，創造當時代的藝文體驗熱潮。
                                p.def 戰後，政府將此區沿用為中央政府官員宿舍，時任空軍副總司令之王叔銘少將也入住濟南路二段27號，往後官拜「空軍總司令」、「國防部參謀總長」等，至1992年遷出官邸為止，這幢日式老屋被以「將軍宅第」標誌。2000年後，齊東街因位處市中心，在都市急遽開發的大環境中，日式宿舍一度面臨拆遷的命運。幸而有在地幸福里居民，基於對建築聚落、老樹與環境的認同，於2002年組成「齊東文史工作室」，在居民及專家學者的努力下，促成鄰近九間連棟日式宿舍的歷史建築的保留，而這也被視為「是臺北市市民重要且無價的歷史文化資產」。
                                p.def 隨著都市開發，新式屋舍、學校與工廠的起建與進駐，「三板橋街」慢慢地消失在地圖上，只留下濟南路與忠孝東路之間的微笑弧線，提醒我們它曾經的存在。2011年文化部委請臺北市政府文化局修繕齊東街日式宿舍（濟南路二段25、27號），並將此歷史建築命名為「齊東詩舍」。2014年7月，國立臺灣文學館開始營運管理並策畫展覽及文學推廣活動。隨著齊東街53巷上5棟歷史建築的修復完成，2021年，這條蜿蜒的微笑巷道上，致力於創新與文化傳承的「臺灣文學基地」正式開幕！
                        .travel-page-tit 路線文章
                        .travel-page-recommon-list
                            -const recommonList=['整個島嶼都是我們的文學館。','文學行動展 加值項目 「文壇封鎖中」桌遊','逆旅 ‧ 一九四九——臺灣戰後移民文學展']
                            each n in recommonList
                                .item
                                    .icon
                                        img(src="img/icon_doc.svg", alt="")
                                    a(href="###") #{n}
                    .travel-page-side
                        .travel-page-side-box
                            .travel-page-tit 臺北市其他館舍
                            .recommon-museum-area
                                -const recommonMuseum01={'img':'museum15.svg','name':'紀州庵文學森林'};
                                +recommonMuseumBox(recommonMuseum01)
                                -const recommonMuseum02={'img':'museum16.svg','name':'林語堂故居'};
                                +recommonMuseumBox(recommonMuseum02)
                                -const recommonMuseum03={'img':'museum17.svg','name':'梁實秋故居'};
                                +recommonMuseumBox(recommonMuseum03)
                    .btn-area
                        a(href="travel_family_list.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回家族走走
        include includes/footer_travel03
