public/travel_family_list.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <span>家族走走</span>
      </div>
      <div class="travel-page-tit-area">
        <h2>家族走走</h2>
        <div class="tit-sup">整個島嶼都是我們的文學館</div>
        <!-- v5 add-->
        <div class="tit-sup-note"><i class="fad fa-camera-retro"></i> 虛擬實境導覽</div>
        <!-- v5 add end-->
      </div>
      <div class="travel-family-place-sel-box">
        <div class="tit">選擇縣市</div>
        <select class="travel-sel" id="museumPlace" name="museumPlace">
          <option value="2">臺北市</option>
          <option value="17">宜蘭</option>
          <option value="7">臺中</option>
          <option value="9">南投</option>
          <option value="11">嘉義</option>
          <option value="14">屏東</option>
          <option value="13">高雄</option>
          <option value="12">臺南</option>
          <option value="10">雲林</option>
          <option value="18">金門</option>
          <option value="8">彰化</option>
          <option value="6">苗栗</option>
          <option value="5">新竹</option>
          <option value="4">桃園</option>
          <option value="19">花蓮</option>
        </select>
      </div>
    </div>
    <div class="travel-family-boder"><img src="img/bg_family_map_top.png" alt=""/></div>
    <div class="travel-area travel-family-area">
      <div class="travel-cont">
        <div class="travel-family-map"><img class="taiwan" src="img/taiwan_map.png" alt=""/>
          <div class="museum-dot museum-dot2"></div>
          <div class="museum-line museum-line2"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea2" data-num="2">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">臺北市</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum02.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">臺灣文學基地</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum03.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">臺灣文學基地</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev2"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext2"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <div class="museum-dot museum-dot17"></div>
          <div class="museum-line museum-line17"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea17" data-num="17">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">宜蘭</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw17">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum03.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">宜蘭文學館</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum03.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">宜蘭文學館</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev17"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext17"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <div class="museum-dot museum-dot7"></div>
          <div class="museum-line museum-line7"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea7" data-num="7">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">臺中</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw7">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum04.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">國立中興大學圖書館-李昂文藏館</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum04.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">國立中興大學圖書館-李昂文藏館</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev7"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext7"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <div class="museum-dot museum-dot9"></div>
          <div class="museum-line museum-line9"></div>
          <div class="travel-family-museum-box museumArea9">
            <div class="travel-family-sw-place">南投</div>
            <div class="museum-slide-box"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                <div class="museum-slide-img-box">
                  <div class="museum-slide-img"><img src="img/museum05.svg" alt=""/></div>
                </div>
                <div class="travel-family-sw-museum">南投縣文學資料館</div></a></div>
          </div>
          <div class="museum-dot museum-dot11"></div>
          <div class="museum-line museum-line11"></div>
          <div class="travel-family-museum-box museumArea11">
            <div class="travel-family-sw-place">嘉義</div>
            <div class="museum-slide-box"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                <div class="museum-slide-img-box">
                  <div class="museum-slide-img"><img src="img/museum06.svg" alt=""/></div>
                </div>
                <div class="travel-family-sw-museum">張文環文學館<br>(張文環故居)</div></a></div>
          </div>
          <div class="museum-dot museum-dot14"></div>
          <div class="museum-line museum-line14"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea14" data-num="14">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">屏東</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw14">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum07.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">屏東縣立圖書總館<br>屏東文學館</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum07.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">屏東縣立圖書總館<br>屏東文學館</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev14"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext14"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <div class="museum-dot museum-dot13"></div>
          <div class="museum-line museum-line13"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea13" data-num="13">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">高雄</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw13">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum08.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">鍾理和紀念館</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum08.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">鍾理和紀念館</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev13"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext13"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <div class="museum-dot museum-dot12"></div>
          <div class="museum-line museum-line12"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea12" data-num="12">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">臺南</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw12">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum09.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">葉石濤文學紀念館</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum09.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">葉石濤文學紀念館</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev12"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext12"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <div class="museum-dot museum-dot10"></div>
          <div class="museum-line museum-line10"></div>
          <div class="travel-family-museum-box museumArea10">
            <div class="travel-family-sw-place">雲林</div>
            <div class="museum-slide-box"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                <div class="museum-slide-img-box">
                  <div class="museum-slide-img"><img src="img/museum10.svg" alt=""/></div>
                </div>
                <div class="travel-family-sw-museum">鄭豐喜紀念圖書館</div></a></div>
          </div>
          <div class="museum-dot museum-dot18"></div>
          <div class="museum-line museum-line18"></div>
          <div class="travel-family-museum-box museumArea18">
            <div class="travel-family-sw-place">金門</div>
            <div class="museum-slide-box"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                <div class="museum-slide-img-box">
                  <div class="museum-slide-img"><img src="img/museum11.svg" alt=""/></div>
                </div>
                <div class="travel-family-sw-museum">金門睿友文學館</div></a></div>
          </div>
          <div class="museum-dot museum-dot8"></div>
          <div class="museum-line museum-line8"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea8" data-num="8">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">彰化</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw8">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum12.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">賴和紀念館</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum12.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">賴和紀念館</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev8"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext8"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <div class="museum-dot museum-dot6"></div>
          <div class="museum-line museum-line6"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea6" data-num="6">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">苗栗</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw6">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum13.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">詹冰文學故事館</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum13.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">詹冰文學故事館</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev6"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext6"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <div class="museum-dot museum-dot5"></div>
          <div class="museum-line museum-line5"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea5" data-num="5">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">新竹</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw5">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum14.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">龍瑛宗文學館</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum14.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">龍瑛宗文學館</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev5"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext5"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <div class="museum-dot museum-dot4"></div>
          <div class="museum-line museum-line4"></div>
          <div class="travel-family-museum-box museum-sw-box museumArea4" data-num="4">
            <div class="travel-family-sw-box">
              <div class="travel-family-sw-place">桃園</div>
              <div class="swiper-containe travel-family-sw" id="travelFamilySw4">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum01.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">鍾肇政文學生活園區</div></a></div>
                  <div class="swiper-slide"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                      <div class="museum-slide-img-box">
                        <div class="museum-slide-img"><img src="img/museum01.svg" alt=""/></div>
                      </div>
                      <div class="travel-family-sw-museum">鍾肇政文學生活園區</div></a></div>
                </div>
              </div>
              <div class="swiper-button-prev" id="familySwPrev4"><i class="fas fa-caret-left"></i></div>
              <div class="swiper-button-next" id="familySwNext4"><i class="fas fa-caret-right"></i></div>
            </div>
          </div>
          <!-- == 2024/12/16 新增 ==-->
          <div class="museum-dot museum-dot19"></div>
          <div class="museum-line museum-line19"></div>
          <div class="travel-family-museum-box museumArea19">
            <div class="travel-family-sw-place">花蓮</div>
            <div class="museum-slide-box"><a class="d-camera" href="###" target="_blank"><i class="fad fa-camera-retro"></i></a><a class="museum-slide" href="travel_family_cont.html">
                <div class="museum-slide-img-box">
                  <div class="museum-slide-img"><img src="img/museum39.svg" alt=""/></div>
                </div>
                <div class="travel-family-sw-museum">楊牧館舍</div></a></div>
          </div>
          <!-- == 2024/12/16 新增 end ==-->
        </div>
      </div>
    </div>
    <div class="travel-family-boder"><img src="img/bg_family_map_bot.png" alt=""/></div>
    <div class="footer-top-cover"></div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
<script src="js/travel_fmailySw.js"> </script>

pug/travel_family_list.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'家族走走'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 家族走走
                .tit-sup 整個島嶼都是我們的文學館
                // v5 add
                .tit-sup-note <i class="fad fa-camera-retro"></i> 虛擬實境導覽
                // v5 add end
            -const museumPlace=[{'no':'2','name':'臺北市'},{'no':'17','name':'宜蘭'},{'no':'7','name':'臺中'},{'no':'9','name':'南投'},{'no':'11','name':'嘉義'},{'no':'14','name':'屏東'},{'no':'13','name':'高雄'},{'no':'12','name':'臺南'},{'no':'10','name':'雲林'},{'no':'18','name':'金門'},{'no':'8','name':'彰化'},{'no':'6','name':'苗栗'},{'no':'5','name':'新竹'},{'no':'4','name':'桃園'},{'no':'19','name':'花蓮'}];
            .travel-family-place-sel-box
                .tit 選擇縣市
                select.travel-sel#museumPlace(name="museumPlace")
                    each n,i in museumPlace
                        option(value=n.no) #{n.name}
            //- .travel-family-place-sel-box
            //-     .tit 選擇縣市
            //-     .travel-sel-box#museumCountryBox
            //-         .travel-sel#museumCountry 臺北市
            //-         .travel-sel-item-box#museumCountryItem
            //-             each n,i in museumPlace
            //-                 -const mNum=i+1;
            //-                 .item.museumCountryName(id='museumCountry'+mNum data-num=mNum) #{n}
        .travel-family-boder
            img(src="img/bg_family_map_top.png", alt="")
        .travel-area.travel-family-area
            .travel-cont
                .travel-family-map
                    img.taiwan(src="img/taiwan_map.png", alt="")
                    -const travelFamilySwArea01={'areaNum':'2','place':'臺北市','museums':[{'img':'museum02.svg','name':'臺灣文學基地'},{'img':'museum03.svg','name':'臺灣文學基地'}]}
                    +travelFamilySwArea(travelFamilySwArea01)
                    -const travelFamilySwArea02={'areaNum':'17','place':'宜蘭','museums':[{'img':'museum03.svg','name':'宜蘭文學館'},{'img':'museum03.svg','name':'宜蘭文學館'}]}
                    +travelFamilySwArea(travelFamilySwArea02)
                    -const travelFamilySwArea03={'areaNum':'7','place':'臺中','museums':[{'img':'museum04.svg','name':'國立中興大學圖書館-李昂文藏館'},{'img':'museum04.svg','name':'國立中興大學圖書館-李昂文藏館'}]}
                    +travelFamilySwArea(travelFamilySwArea03)
                    -const travelFamilySwArea04={'areaNum':'9','place':'南投','img':'museum05.svg','name':'南投縣文學資料館'}
                    +travelFamilyMuseumBox(travelFamilySwArea04)
                    -const travelFamilySwArea05={'areaNum':'11','place':'嘉義','img':'museum06.svg','name':'張文環文學館<br>(張文環故居)'}
                    +travelFamilyMuseumBox(travelFamilySwArea05)
                    -const travelFamilySwArea06={'areaNum':'14','place':'屏東','museums':[{'img':'museum07.svg','name':'屏東縣立圖書總館<br>屏東文學館'},{'img':'museum07.svg','name':'屏東縣立圖書總館<br>屏東文學館'}]}
                    +travelFamilySwArea(travelFamilySwArea06)
                    -const travelFamilySwArea07={'areaNum':'13','place':'高雄','museums':[{'img':'museum08.svg','name':'鍾理和紀念館'},{'img':'museum08.svg','name':'鍾理和紀念館'}]}
                    +travelFamilySwArea(travelFamilySwArea07)
                    -const travelFamilySwArea08={'areaNum':'12','place':'臺南','museums':[{'img':'museum09.svg','name':'葉石濤文學紀念館'},{'img':'museum09.svg','name':'葉石濤文學紀念館'}]}
                    +travelFamilySwArea(travelFamilySwArea08)
                    -const travelFamilySwArea09={'areaNum':'10','place':'雲林','img':'museum10.svg','name':'鄭豐喜紀念圖書館'}
                    +travelFamilyMuseumBox(travelFamilySwArea09)
                    -const travelFamilySwArea10={'areaNum':'18','place':'金門','img':'museum11.svg','name':'金門睿友文學館'}
                    +travelFamilyMuseumBox(travelFamilySwArea10)
                    -const travelFamilySwArea11={'areaNum':'8','place':'彰化','museums':[{'img':'museum12.svg','name':'賴和紀念館'},{'img':'museum12.svg','name':'賴和紀念館'}]}
                    +travelFamilySwArea(travelFamilySwArea11)
                    -const travelFamilySwArea12={'areaNum':'6','place':'苗栗','museums':[{'img':'museum13.svg','name':'詹冰文學故事館'},{'img':'museum13.svg','name':'詹冰文學故事館'}]}
                    +travelFamilySwArea(travelFamilySwArea12)
                    -const travelFamilySwArea13={'areaNum':'5','place':'新竹','museums':[{'img':'museum14.svg','name':'龍瑛宗文學館'},{'img':'museum14.svg','name':'龍瑛宗文學館'}]}
                    +travelFamilySwArea(travelFamilySwArea13)
                    -const travelFamilySwArea14={'areaNum':'4','place':'桃園','museums':[{'img':'museum01.svg','name':'鍾肇政文學生活園區'},{'img':'museum01.svg','name':'鍾肇政文學生活園區'}]}
                    +travelFamilySwArea(travelFamilySwArea14)
                    // == 2024/12/16 新增 ==
                    -const travelFamilySwArea15={'areaNum':'19','place':'花蓮','img':'museum39.svg','name':'楊牧館舍'}
                    +travelFamilyMuseumBox(travelFamilySwArea15)
                    // == 2024/12/16 新增 end ==
        .travel-family-boder
            img(src="img/bg_family_map_bot.png", alt="")
        include includes/footer_travel03

script(src="js/travel_fmailySw.js") 
//- script.
    //- //== dom ==
    //- //- var actCountry = 1;//給RWD 手機時顯示使用當前的地區館舍
    //- $(document).ready(function () {
    //-     //=== 官舍sw ===
    //-     $('.museum-sw-box').each(function(ind,val){
    //-         var museumNum=$(val).data('num');
    //-         //- console.log(museumNum);
    //-         if(museumNum != undefined){
    //-             museumSw(museumNum);
    //-         }
    //-     });

    //-     //=== 讀取的館舍狀態 ===
    //-     //== dom ==
    //-     //- var windowW = $(window).width();
    //-     //- if (windowW < 768) {
    //-     //-     reMbMuseum(actCountry);
    //-     //- }
    //-     //=== 手機切換地區 ===
    //-     //== dom ==
    //-     //- $('#museumCountryBox').on('click',function(){
    //-     //-     var $mItem = $('#museumCountryItem');
    //-     //-     var mItemShow = $mItem.is(':visible');
    //-     //-     mItemShow ? $mItem.slideUp() : $mItem.slideDown();
    //-     //- });
    //-     //- $('.museumCountryName').on('click',function(){
    //-     //-     var countryNum = $(this).data('num');
    //-     //-     var countryTxt = $(this).html();
    //-     //-     actCountry = countryNum;
    //-     //-     $('#museumCountry').html(countryTxt);
    //-     //-     reMbMuseum(actCountry);
    //-     //- });
    //-     //== select ==
    //-     $('#museumPlace').on('change',function(){
    //-         reMbMuseum();
    //-         //- museumSw(actVal);
    //-     });
    //- });
    //- //== select ==
    //- $(window).on('load',function(){
    //-     reMbMuseum();
    //- });
    //- $(window).resize(function(){
    //-     var windowW = $(window).width();
    //-     if (windowW < 768) {
    //-         //== dom ==
    //-         //- reMbMuseum(actCountry);
    //-         //== select ==
    //-         reMbMuseum();
    //-     }else{
    //-         $('.travel-family-museum-box').show();
    //-         $('.travel-family-museum-box').removeClass('open');
    //-     }
    //- });

    //- //=== Ｒ至手機時選擇的項目和sw開啟 ===
    //- //== dom ==
    //- //- function reMbMuseum(num){
    //- //-     $('.travel-family-museum-box').removeClass('open');
    //- //-     $('.museumArea'+num).addClass('open');
    //- //- }
    //- //== select ==
    //- function reMbMuseum(){
    //-     var actVal = $('#museumPlace').val();
    //-     $('.travel-family-museum-box').removeClass('open');
    //-     $('.museumArea'+actVal).addClass('open');
    //-     //- console.log(actVal);
    //-     //- $('.travel-family-museum-box').hide();
    //-     //- $('.museumArea'+actVal).show();
    //- }

    //- function museumSw(num){
    //-     new Swiper('#travelFamilySw'+num, {
    //-         spaceBetween: 0,
    //-         navigation: {
    //-         	nextEl: '#familySwNext'+num,
    //-         	prevEl: '#familySwPrev'+num,
    //-         },
    //-     });
    //- }
