public/travel_route_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-route-popup-area" id="routePopup1">
      <div class="route-popup-close"></div>
      <div class="route-popup-img"><img src="img/tpage01.png" alt=""/></div>
      <div class="route-popup-cont">
        <div class="tit">
          <div class="icon"><img src="img/icon_place.svg" alt=""/></div><span>存仁藥局舊址</span>
        </div>
        <div class="address">地址：卓蘭鎮民族路民生路口的綠色建築</div>
        <div class="cont">這是詹冰開設的藥局，據在地耆老的說法，此棟在市場內的綠色的磁磚外牆至今無改，當時，這是鎮上最大的藥局，也是鎮上唯一具有藥劑師資格的藥師所開設的西藥房。詹冰在此執業多年，已成為鎮民心中的共同回憶。 此處建築依舊，但已不復往昔風光，藥局在歇業多年後，一樓店面租給店家，現在靜立市場一隅。依據立詩社創辦人之一的陳千</div>
        <div class="about">地景相關出版品/文宣品：《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010</div>
        <div class="data-from">資料出處：常設展資料、台灣文學基地官方網頁：<a href="###" target="_blank">https://tlb.nmtl.gov.tw/</a> 《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010</div>
      </div>
    </div>
    <div class="travel-route-popup-area" id="routePopup2">
      <div class="route-popup-close"></div>
      <div class="route-popup-img"><img src="img/tpage02.png" alt=""/></div>
      <div class="route-popup-cont">
        <div class="tit">
          <div class="icon"><img src="img/icon_place.svg" alt=""/></div><span>詹冰故居</span>
        </div>
        <div class="address">地址：卓蘭鎮新厝里仁愛路22號</div>
        <div class="cont">此處是詹冰的老家，詹冰是詩人的筆名，他的本名是詹益川。畢業於臺中一中、在中學時代已有文學啟蒙，前往日本留學後一度希望就讀文學科，但後來還是順應父親的期望，於日本明治藥專畢業、取得藥劑師資格後，返鄉執業。除了開藥局，具備藥師資格的他，同時也擔任國中的理化老師，任教多年，許</div>
        <div class="about">地景相關出版品/文宣品：《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010</div>
        <div class="data-from">資料出處：常設展資料、台灣文學基地官方網頁：<a href="###" target="_blank">https://tlb.nmtl.gov.tw/</a> 《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010</div>
      </div>
    </div>
    <div class="travel-route-popup-area" id="routePopup3">
      <div class="route-popup-close"></div>
      <div class="route-popup-img"><img src="img/tpage03.png" alt=""/></div>
      <div class="route-popup-cont">
        <div class="tit">
          <div class="icon"><img src="img/icon_place.svg" alt=""/></div><span>峨崙廟</span>
        </div>
        <div class="address">地址：苗栗縣卓蘭鎮中正路81巷10號</div>
        <div class="cont">峨崙廟是卓蘭當地信仰中心，此地聚居客家人口，廟內主祀三山國王。古廟建於道光年間，歷史悠久，更有廟內古鐘被耆老從他處尋回的美談，許多傳說足見古廟與鎮民生活息息相關，是在地人的共同記憶。 在詹冰的〈峨崙廟〉詩作裡，也有提到「我在童年摸過的龍珠龍柱／我在童年騎過的兩座石獅／我在童</div>
        <div class="about">地景相關出版品/文宣品：《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010</div>
        <div class="data-from">資料出處：常設展資料、台灣文學基地官方網頁：<a href="###" target="_blank">https://tlb.nmtl.gov.tw/</a> 《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010</div>
      </div>
    </div>
    <div class="travel-route-popup-area" id="routePopup4">
      <div class="route-popup-close"></div>
      <div class="route-popup-img"><img src="img/tpage04.png" alt=""/></div>
      <div class="route-popup-cont">
        <div class="tit">
          <div class="icon"><img src="img/icon_place.svg" alt=""/></div><span>卓蘭鎮椪柑果園</span>
        </div>
        <div class="address">地址：苗栗縣卓蘭鎮中正路81巷10號</div>
        <div class="cont">太太捧著一個椪柑說： 「好美的一個椪柑──可是，那位中醫師教我不要吃水果──。」 我看她充滿食慾的眼睛，覺得怪可憐。 我就說：偷偷吃一點嘛，醫生也不曉得──。 我覺得我像是伊甸園裡的一條蛇。 於是，太太就開始吃椪柑。 一會兒。整個椪柑都吃掉了。 我意外地說：「全部都吃掉了嗎？」 太</div>
        <div class="about">地景相關出版品/文宣品：《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010</div>
        <div class="data-from">資料出處：常設展資料、台灣文學基地官方網頁：<a href="###" target="_blank">https://tlb.nmtl.gov.tw/</a> 《周夢蝶詩文集 卷一：孤獨國∕還魂草∕風耳樓逸稿》，2010</div>
      </div>
    </div>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <a href="travel_theme_list.html">自己走走 - 主題路線</a> / <a href="travel_route_list.html">府城瑣憶 - 來趟輕鬆寫意的一日輕旅行</a> / <span>砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作</span>
      </div>
      <div class="travel-page-tit-area">
        <h2>砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作</h2>
        <div class="travel-page-info">
          <div class="info">by<span class="art">文學小編</span></div>
          <div class="info">2021.11.13</div>
          <div class="info">358 次點閱</div>
          <div class="info">
            <div class="icon"><img src="img/icon_info_collect.svg" alt=""/></div>
            <div class="txt">54</div>
          </div>
          <div class="info">
            <div class="icon"><img src="img/icon_comment.svg" alt=""/></div>
            <div class="txt">11</div>
          </div>
        </div>
      </div>
    </div>
    <div class="travel-page-main-banner" id="tMainBanner"><img src="img/t_page_banner.jpg" alt=""/></div>
    <div class="travel-page-banner-area">
      <div class="travel-banner-cont travel-banner-arrow">
        <div class="swiper-containe travel-page-banner" id="travelPageSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="travel-page-img act"><img src="img/t_page_banner.jpg" alt=""/></div>
            </div>
            <div class="swiper-slide">
              <div class="travel-page-img"><img src="img/tpage01.png" alt=""/></div>
            </div>
            <div class="swiper-slide">
              <div class="travel-page-img"><img src="img/tpage02.png" alt=""/></div>
            </div>
            <div class="swiper-slide">
              <div class="travel-page-img"><img src="img/tpage03.png" alt=""/></div>
            </div>
            <div class="swiper-slide">
              <div class="travel-page-img"><img src="img/tpage04.png" alt=""/></div>
            </div>
            <div class="swiper-slide">
              <div class="travel-page-img"><img src="img/tpage01.png" alt=""/></div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev" id="travelPagePrev"></div>
        <div class="swiper-button-next" id="travelPageNext"></div>
      </div>
    </div>
    <div class="travel-area">
      <div class="travel-cont travel-detail-cont">
        <div class="travel-page-cont">
          <div class="travel-page-txt-cont">
            <div class="travel-page-tit">主題介紹</div>
            <div class="travel-page-txt">
              <div class="edit-box travel-edit-box">
                <p class="def">苗栗卓蘭是水果之鄉，也是詩人詹冰的故鄉。卓蘭四季盛產不同的水果，遊客到此不免來趟採果之旅，小鎮上也有詩人留下的許多童詩，展現了生活裡可愛又生動的一面。</p>
                <p class="def">詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉：「現在是笑的極點。其證據是，正在滴下美麗的淚珠…。」也將觀察到的生態摘引入詩（〈山路上的螞蟻〉）：</p>
                <p class="def">小鎮留有他豐富生活足跡，他在卓蘭國中當了25年的理化教師，有藥師執照的他，開了當時鎮上最大的存仁藥局（也是當年鎮上唯一由專門藥師執業的藥局），此處更是笠詩社的誕生地──詹冰邀請了預計籌備詩刊的文友們來此討論、因而此處也成了《笠》詩刊創社之所在。他的故居至今仍維持完好，安靜的院落留有生活的痕跡，在水果之鄉生活的詩人夫妻，感情甜蜜動人，詹冰曾寫下的《椪柑》一詩，就是他看著太太「充滿食慾的眼睛」，慫恿被中醫禁口的太太偷吃水果，兩人的互動溫馨可愛，吃完一整個椪柑的太太，還賴皮說，醫生只說不要吃酸的水果。跟水果一樣甜蜜的情感，或許也是詹冰的創作原動力。</p>
                <p class="def">如今，鎮上已開幕的詹冰故事館煥然一新，它前身為卓蘭國小的日式宿舍，此刻已修整為紀念詹冰的文學園地，裡面有滿滿的故事，以全新的面貌迎接遊人，訴說小鎮詩人的文學軌跡。鎮上的信仰中心峨崙廟，也有著詹冰詩作的立牌，寫著「我在童年摸過的龍珠龍柱…（略）…到現在都不改變」，廟宇紀錄了歷史，詩人卻留下了情意，來峨崙廟拜神，「老妻要祈求一家平安子孫幸福，我只求老妻好好愛我」。在卓蘭小鎮唯一要擔心的就是路人被閃瞎了眼吧！</p>
                <p class="def">在出發前往果園採果之前，卓蘭小鎮正是最好的休憩點，果園四季開放，椪柑的清甜一如小鎮生活的滋潤清爽，來鎮上整備時別忘了在小鎮散步繞一繞—─路上處處可見的詹冰詩作，語言平易又充滿生活感，更沒有艱澀，詩人的現世生活幸福完滿，因此揮灑了無盡的童趣與愛吧！</p>
              </div>
            </div>
            <div class="travel-route-area">
              <div class="travel-route-box">
                <div class="icon-scale" id="route1"></div>
                <div class="travel-route-img"><img src="img/tpage01.png" alt=""/></div>
                <div class="travel-route-cont">
                  <div class="tit">存仁藥局舊址</div>
                  <div class="address">卓蘭鎮民族路民生路口的綠色建築</div>
                  <div class="cont">臺灣文藝102期陳千武口述資料，談及籌備笠詩社之緣起，稱詹冰家一樓是藥局、眾人前往二樓的客廳開會，比對詹冰在卓蘭的故居（僅一樓）與存...</div>
                </div>
              </div>
              <div class="travel-route-box">
                <div class="icon-scale" id="route2"></div>
                <div class="travel-route-img"><img src="img/tpage02.png" alt=""/></div>
                <div class="travel-route-cont">
                  <div class="tit">詹冰故居</div>
                  <div class="address">卓蘭鎮新厝里仁愛路22號</div>
                  <div class="cont">詹冰故居，詩人在鎮上生活的地方，此處並未開放參觀。</div>
                </div>
              </div>
              <div class="travel-route-box">
                <div class="icon-scale" id="route3"></div>
                <div class="travel-route-img"><img src="img/tpage03.png" alt=""/></div>
                <div class="travel-route-cont">
                  <div class="tit">峨崙廟</div>
                  <div class="address">苗栗縣卓蘭鎮中正路81巷10號</div>
                  <div class="cont">街上詹冰〈峨崙廟〉詩作立牌，峨崙廟廟口。</div>
                </div>
              </div>
              <div class="travel-route-box">
                <div class="icon-scale" id="route4"></div>
                <div class="travel-route-img"><img src="img/tpage04.png" alt=""/></div>
                <div class="travel-route-cont">
                  <div class="tit">卓蘭鎮椪柑果園</div>
                  <div class="address">苗栗縣卓蘭鎮</div>
                  <div class="cont">卓蘭柑橘類從民國五十年開始經濟栽培，卓蘭所產柑桔以椪柑為主，採收期為11月至12月。</div>
                </div>
              </div>
            </div>
            <div class="travel-route-article-area">
              <div class="travel-route-article-box">
                <div class="tit">撰寫作者</div>
                <div class="route-article">
                  <div class="icon"><img src="img/default_member.svg" alt=""/></div>
                  <div class="name">文學小編</div>
                </div>
                <div class="route-article-cont">以「臺灣文學連結生活」為主軸，將作家或作品與在地生活的連結</div>
              </div>
              <div class="travel-route-article-box">
                <div class="tit">相關標籤</div>
                <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#歷史古蹟 </a><a href="travel_route_src_tag_list.html">#文學創作</a><a href="travel_route_src_tag_list.html">#一日遊卓蘭 </a></div>
              </div>
            </div>
          </div>
          <div class="travel-page-side">
            <div class="travel-page-side-box">
              <div class="travel-page-tit">路線評分</div>
              <div class="travel-page-score-total">
                <div class="icon"><img src="img/icon_star.svg" alt=""/></div>
                <div class="score">4.3 分</div>
              </div>
            </div>
            <div class="travel-page-side-box">
              <div class="travel-page-tit">推薦主題路線</div>
              <div class="travel-theme-side-area"><a class="travel-theme-side-box" href="travel_route_cont.html"><img src="img/t_page_banner.jpg" alt=""/>
                  <div class="tit">砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作</div></a><a class="travel-theme-side-box" href="travel_route_cont.html"><img src="img/travel_theme01.jpg" alt=""/>
                  <div class="tit">樟之細路：走走步道、悠遊苗栗大湖小鎮—老官道...</div></a></div>
            </div>
            <!-- 電腦版-->
            <div class="travel-page-side-btn pc-show">
              <div class="travel-m-btn act"><i class="fas fa-heart"></i> 已加入收藏</div><a class="travel-m-btn" href="###">Google 地圖</a>
              <div class="travel-m-btn">生態植物學習單</div>
              <div class="travel-m-btn">文學歷史課程</div>
              <div class="travel-m-btn">人文學者介紹</div>
            </div>
            <div class="travel-page-tool pc-show">
              <div class="icon i-link"></div>
              <div class="icon i-fb"></div>
              <div class="icon i-line"></div>
              <div class="icon i-thumb"></div>
            </div>
          </div>
          <div class="btn-area"><a class="travel-m-btn" href="travel_route_list.html"><i class="far fa-chevron-left"></i> 返回路線列表</a></div>
          <!-- 手機版-->
          <div class="travel-page-tool mb-fix-bot">
            <div class="mb-list-area">
              <div class="mb-icon-box">
                <div class="icon i-link"></div>
                <div class="icon i-fb"></div>
                <div class="icon i-line"></div>
                <div class="icon i-thumb"></div>
              </div>
              <div class="mb-list-box" id="mbList">
                <div class="mb-list"><a class="btn" href="###">生態植物學習單</a><a class="btn" href="###">文學歷史課程</a><a class="btn" href="###">文學歷史課程</a>
                  <div class="btn close" id="mbListClose">關閉</div>
                </div>
              </div>
            </div>
            <div class="mb-btn-box">
              <div class="btn"><i class="fas fa-heart"></i><span>加入收藏</span></div>
              <div class="btn"><span>Google地圖</span></div>
              <div class="btn" id="mbListOpen"><span>學習清單</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="travel-area travel-pagebg02">
      <div class="travel-cont">
        <div class="travel-page-more-cont">
          <div class="tit">猜你應該會喜歡的內容</div>
          <div class="travel-morelike-sw-area">
            <div class="swiper-containe travel-morelike-sw" id="travelMoreSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="travel-theme-box"><a class="travel-theme" href="travel_route_cont.html">
                      <div class="travel-theme-box-img"><img src="img/travel02.png" alt=""/></div>
                      <div class="travel-theme-txt">
                        <div class="date">2020.11.20</div>
                        <div class="tit">置身典雅的臺灣文學館，捕捉幸福的最佳地點</div>
                      </div></a>
                    <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#歷史古蹟</a><a href="travel_route_src_tag_list.html">#文學創作</a><a href="travel_route_src_tag_list.html">#臺南景點</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="travel-theme-box"><a class="travel-theme" href="travel_route_cont.html">
                      <div class="travel-theme-box-img"><img src="img/travel03.png" alt=""/></div>
                      <div class="travel-theme-txt">
                        <div class="date">2020.10.20</div>
                        <div class="tit">文學力 —— 書寫 LÁN 臺灣常設展</div>
                      </div></a>
                    <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#活動講座</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="travel-theme-box"><a class="travel-theme" href="travel_route_cont.html">
                      <div class="travel-theme-box-img"><img src="img/travel04.png" alt=""/></div>
                      <div class="travel-theme-txt">
                        <div class="date">2020.11.20</div>
                        <div class="tit">浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉</div>
                      </div></a>
                    <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#歷史古蹟</a><a href="travel_route_src_tag_list.html">#文學創作</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="travel-page-cont">
          <div class="travel-page-txt-cont">
            <div class="travel-page-tit">評論</div>
            <div class="travel-page-common-area">
              <div class="travel-page-common-user">
                <div class="user-img"><img src="img/default_member.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <!--  未登入-->
                  <div class="travel-page-common-note" style="display:none">您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。</div>
                  <!--  登入後-->
                  <div class="page-common-star-box">
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star1"/>
                      <div class="star-c fas"></div>
                    </div>
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star2"/>
                      <div class="star-c fas"></div>
                    </div>
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star3"/>
                      <div class="star-c fas"></div>
                    </div>
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star4"/>
                      <div class="star-c fas"></div>
                    </div>
                    <div class="star">
                      <input class="star-input" type="checkbox" id="star5"/>
                      <div class="star-c fas"></div>
                    </div>
                  </div>
                  <div class="travel-page-common-input">
                    <input type="text" placeholder="留言..."/>
                    <div class="sumbit"><img src="img/brown_arrow_r.svg" alt=""/></div>
                  </div>
                  <div class="travel-page-robot-box">機器人驗證Box</div>
                </div>
              </div>
              <div class="travel-page-common-user req">
                <div class="user-img"><img src="img/icon_t_user.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <div class="page-common-req">
                    <div class="info">
                      <div class="name-box">
                        <div class="name">雅婷</div>
                        <div class="star-box"><i class="fas fa-star on"></i> <i class="fas fa-star on"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></div>
                      </div>
                      <div class="cont">是一個非常棒的地方，會想去看看～
                      </div>
                    </div>
                    <div class="date">2021/10/10</div>
                  </div>
                </div>
              </div>
              <div class="travel-page-common-user req">
                <div class="user-img"><img src="img/icon_t_user.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <div class="page-common-req">
                    <div class="info">
                      <div class="name-box">
                        <div class="name">雯雯</div>
                        <div class="star-box"><i class="fas fa-star on"></i> <i class="fas fa-star on"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></div>
                      </div>
                      <div class="cont">居然是我的家鄉，等假期去附近走走：）
                      </div>
                    </div>
                    <div class="date">2021/10/10</div>
                  </div>
                </div>
              </div>
              <div class="travel-page-common-user req">
                <div class="user-img"><img src="img/icon_t_user.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <div class="page-common-req">
                    <div class="info">
                      <div class="name-box">
                        <div class="name">美華</div>
                      </div>
                      <div class="cont">
                        <div class="reply-alert">此內容可能違反規定或涉嫌洗版，已將內容屏蔽</div>
                      </div>
                    </div>
                    <div class="date">2021/10/10</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="travel-page-recommon"><a class="travel-recommon-cont" href="###">
              <div class="travel-recommon-box">
                <div class="travel-recommon-tit">
                  <h3>活動月曆</h3><span>各大館舍、實體展覽推薦。</span>
                  <div class="icon"><img src="img/wh_arrow_r.svg" alt=""/></div>
                </div><img class="bg" src="img/bg_go02.png" alt=""/>
              </div></a>
          </div>
        </div>
      </div>
    </div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
<script>
  var travelMoreSwiper;
  $(document).ready(function () {
      var travelPageSwiper = new Swiper('#travelPageSwiper', {
          slidesPerView: 5,
          spaceBetween: 20,
          //- initialSlide: 2,
          breakpoints: {
              1024: {
          		slidesPerView: 4,
          		spaceBetween: 20,
          	},
          	768: {
          		slidesPerView: 3,
          		spaceBetween: 10,
          	},
          	480: {
          		slidesPerView: 2,
          		spaceBetween: 10,
          	},
          },
          navigation: {
          	nextEl: '#travelPageNext',
          	prevEl: '#travelPagePrev',
          },
          //- pagination: {
          //- 	el: '#ExPage',
          //- 	clickable: true,
          //- },
      });
      //=== 點選banner換圖 ===
      $('.travel-page-img').on('click',function(){
          $('.travel-page-img').removeClass('act');
          $(this).addClass('act');
          var actImgLink=$(this).find('img').attr('src');
          $('#tMainBanner').find('img').attr('src',actImgLink);
      });
      //- $('.travel-footer-area').addClass('bg2');
      //=== 星星評分 ===
      var starList=[
          {'btn':'#star1','list':['#star1']},
          {'btn':'#star2','list':['#star1','#star2']},
          {'btn':'#star3','list':['#star1','#star2','#star3']},
          {'btn':'#star4','list':['#star1','#star2','#star3','#star4']},
          {'btn':'#star5','list':['#star1','#star2','#star3','#star4','#star5']}
      ];
      $.each(starList,function(ind,val){
          var $btn=$(val.btn);
          $btn.on('click',function(){
              $('.star-input').prop('checked', false);
              $.each(val.list,function(ind,val){
                  $(val).prop('checked', true);
              });
          });
      });
  
      //=== 景點popup ===
      var routeL=$('.travel-route-area').find('.travel-route-box').length;
      var routeList=[];
      for(var i = 1; i < routeL+1; i++) {
          //- printf("%d ", i);
          routeList.push(i);
      }
      $.each(routeList,function(ind,val){
          $('#route'+val).on('click',function(){
              $('#routePopup'+val).fadeIn(300);
              $('#mask').fadeIn(300);
              $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
              bgTravelFix();
          });
          //- $('#routeSide'+val).on('click',function(){
          //-     $('#routePopup'+val).fadeIn(300);
          //-     $('#mask').fadeIn(300);
          //-     $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
          //-     bgTravelFix();
          //- });
      })
      //== 關閉時消除滾輪 ==
      $('#mask,.route-popup-close').on('click',function(){
          $('.travel-route-popup-area,#mask').fadeOut(300);
          $('.route-popup-cont').mCustomScrollbar("destroy");
          bgTravelUnFix();
      });
      
      //== 手機學習單開啟 ==
      $('#mbListOpen').on('click',function(){
          $(this).addClass('act');
          $('#mbList').slideDown();
      });
      $('#mbListClose').on('click',function(){
          $('#mbListOpen').removeClass('act');
          $('#mbList').slideUp();
      });
  
      //== 手機猜你喜歡區塊 ==
      travelMoreArea();
  });
  
  $(window).resize(function(){
      //== 手機猜你喜歡區塊 ==
      travelMoreArea();
  });
  
  function bgTravelFix() {
      $('body').css({'overflow':'hidden'});
      //- scTop = $(document).scrollTop();
      //- $('body').css({ 'top': -scTop, 'position': 'fixed', 'width': '100%' });
  }
  function bgTravelUnFix() {
      $('body').removeAttr('style');
      //- $('html,body').animate({ scrollTop: scTop }, 0);
  }
  
  //== 手機猜你喜歡區塊 ==
  function travelMoreArea(){
      var windowW=$(window).width();
      if(windowW > 767){
          //== 電腦版不需要sw，如果有啟動要取消 ==
          if(!!travelMoreSwiper){
              travelMoreSwiper.destroy();
          }
      }else{
          //== 如果沒有啟動sw在執行 ==
          if( !travelMoreSwiper || travelMoreSwiper.destroyed == true){
              travelMoreSwiper = new Swiper('#travelMoreSwiper', {
                  slidesPerView: 1,
                  spaceBetween: 20,
                  initialSlide: 1
              });
          }
      }
  }
</script>

pug/travel_route_cont.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        -const RoutePopup01={'id':'routePopup1','img':'tpage01.png','tit':'存仁藥局舊址','address':'卓蘭鎮民族路民生路口的綠色建築','cont':'這是詹冰開設的藥局，據在地耆老的說法，此棟在市場內的綠色的磁磚外牆至今無改，當時，這是鎮上最大的藥局，也是鎮上唯一具有藥劑師資格的藥師所開設的西藥房。詹冰在此執業多年，已成為鎮民心中的共同回憶。 此處建築依舊，但已不復往昔風光，藥局在歇業多年後，一樓店面租給店家，現在靜立市場一隅。依據立詩社創辦人之一的陳千'};
        +travelRoutePopup(RoutePopup01)
        -const RoutePopup02={'id':'routePopup2','img':'tpage02.png','tit':'詹冰故居','address':'卓蘭鎮新厝里仁愛路22號','cont':'此處是詹冰的老家，詹冰是詩人的筆名，他的本名是詹益川。畢業於臺中一中、在中學時代已有文學啟蒙，前往日本留學後一度希望就讀文學科，但後來還是順應父親的期望，於日本明治藥專畢業、取得藥劑師資格後，返鄉執業。除了開藥局，具備藥師資格的他，同時也擔任國中的理化老師，任教多年，許'};
        +travelRoutePopup(RoutePopup02)
        -const RoutePopup03={'id':'routePopup3','img':'tpage03.png','tit':'峨崙廟','address':'苗栗縣卓蘭鎮中正路81巷10號','cont':'峨崙廟是卓蘭當地信仰中心，此地聚居客家人口，廟內主祀三山國王。古廟建於道光年間，歷史悠久，更有廟內古鐘被耆老從他處尋回的美談，許多傳說足見古廟與鎮民生活息息相關，是在地人的共同記憶。 在詹冰的〈峨崙廟〉詩作裡，也有提到「我在童年摸過的龍珠龍柱／我在童年騎過的兩座石獅／我在童'};
        +travelRoutePopup(RoutePopup03)
        -const RoutePopup04={'id':'routePopup4','img':'tpage04.png','tit':'卓蘭鎮椪柑果園','address':'苗栗縣卓蘭鎮中正路81巷10號','cont':'太太捧著一個椪柑說： 「好美的一個椪柑──可是，那位中醫師教我不要吃水果──。」 我看她充滿食慾的眼睛，覺得怪可憐。 我就說：偷偷吃一點嘛，醫生也不曉得──。 我覺得我像是伊甸園裡的一條蛇。 於是，太太就開始吃椪柑。 一會兒。整個椪柑都吃掉了。 我意外地說：「全部都吃掉了嗎？」 太'};
        +travelRoutePopup(RoutePopup04)
        .travel-area
            -const bread={'links':[{'name':'自己走走 - 主題路線','url':'travel_theme_list.html'},{'name':'府城瑣憶 - 來趟輕鬆寫意的一日輕旅行','url':'travel_route_list.html'}],'actName':'砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                .travel-page-info
                    .info by
                        span.art 文學小編
                    .info 2021.11.13
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_info_collect.svg", alt="")
                        .txt 54
                    .info
                        .icon
                            img(src="img/icon_comment.svg", alt="")
                        .txt 11
                    //- .share-btn-box
                    //-     a(href="###")
                    //-         i(class="far fa-check")
                    //-         | 讚 <span>234</span>
        .travel-page-main-banner#tMainBanner
            img(src="img/t_page_banner.jpg", alt="")
        .travel-page-banner-area
            .travel-banner-cont.travel-banner-arrow
                .swiper-containe.travel-page-banner#travelPageSwiper
                    .swiper-wrapper
                        .swiper-slide
                            .travel-page-img.act
                                img(src="img/t_page_banner.jpg", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage01.png", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage02.png", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage03.png", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage04.png", alt="")
                        .swiper-slide
                            .travel-page-img
                                img(src="img/tpage01.png", alt="")
                .swiper-button-prev#travelPagePrev
                .swiper-button-next#travelPageNext
        .travel-area
            .travel-cont.travel-detail-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-tit 主題介紹
                        .travel-page-txt
                            .edit-box.travel-edit-box
                                p.def 苗栗卓蘭是水果之鄉，也是詩人詹冰的故鄉。卓蘭四季盛產不同的水果，遊客到此不免來趟採果之旅，小鎮上也有詩人留下的許多童詩，展現了生活裡可愛又生動的一面。
                                p.def 詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉：「現在是笑的極點。其證據是，正在滴下美麗的淚珠…。」也將觀察到的生態摘引入詩（〈山路上的螞蟻〉）：
                                p.def 小鎮留有他豐富生活足跡，他在卓蘭國中當了25年的理化教師，有藥師執照的他，開了當時鎮上最大的存仁藥局（也是當年鎮上唯一由專門藥師執業的藥局），此處更是笠詩社的誕生地──詹冰邀請了預計籌備詩刊的文友們來此討論、因而此處也成了《笠》詩刊創社之所在。他的故居至今仍維持完好，安靜的院落留有生活的痕跡，在水果之鄉生活的詩人夫妻，感情甜蜜動人，詹冰曾寫下的《椪柑》一詩，就是他看著太太「充滿食慾的眼睛」，慫恿被中醫禁口的太太偷吃水果，兩人的互動溫馨可愛，吃完一整個椪柑的太太，還賴皮說，醫生只說不要吃酸的水果。跟水果一樣甜蜜的情感，或許也是詹冰的創作原動力。
                                p.def 如今，鎮上已開幕的詹冰故事館煥然一新，它前身為卓蘭國小的日式宿舍，此刻已修整為紀念詹冰的文學園地，裡面有滿滿的故事，以全新的面貌迎接遊人，訴說小鎮詩人的文學軌跡。鎮上的信仰中心峨崙廟，也有著詹冰詩作的立牌，寫著「我在童年摸過的龍珠龍柱…（略）…到現在都不改變」，廟宇紀錄了歷史，詩人卻留下了情意，來峨崙廟拜神，「老妻要祈求一家平安子孫幸福，我只求老妻好好愛我」。在卓蘭小鎮唯一要擔心的就是路人被閃瞎了眼吧！
                                p.def 在出發前往果園採果之前，卓蘭小鎮正是最好的休憩點，果園四季開放，椪柑的清甜一如小鎮生活的滋潤清爽，來鎮上整備時別忘了在小鎮散步繞一繞—─路上處處可見的詹冰詩作，語言平易又充滿生活感，更沒有艱澀，詩人的現世生活幸福完滿，因此揮灑了無盡的童趣與愛吧！
                        .travel-route-area
                            -const travelRoute01={'id':'route1','img':'tpage01.png','tit':'存仁藥局舊址','address':'卓蘭鎮民族路民生路口的綠色建築','cont':'臺灣文藝102期陳千武口述資料，談及籌備笠詩社之緣起，稱詹冰家一樓是藥局、眾人前往二樓的客廳開會，比對詹冰在卓蘭的故居（僅一樓）與存...'};
                            +travelRouteBox(travelRoute01)
                            -const travelRoute02={'id':'route2','img':'tpage02.png','tit':'詹冰故居','address':'卓蘭鎮新厝里仁愛路22號','cont':'詹冰故居，詩人在鎮上生活的地方，此處並未開放參觀。'};
                            +travelRouteBox(travelRoute02)
                            -const travelRoute03={'id':'route3','img':'tpage03.png','tit':'峨崙廟','address':'苗栗縣卓蘭鎮中正路81巷10號','cont':'街上詹冰〈峨崙廟〉詩作立牌，峨崙廟廟口。'};
                            +travelRouteBox(travelRoute03)
                            -const travelRoute04={'id':'route4','img':'tpage04.png','tit':'卓蘭鎮椪柑果園','address':'苗栗縣卓蘭鎮','cont':'卓蘭柑橘類從民國五十年開始經濟栽培，卓蘭所產柑桔以椪柑為主，採收期為11月至12月。'};
                            +travelRouteBox(travelRoute04)
                        .travel-route-article-area
                            .travel-route-article-box
                                .tit 撰寫作者
                                .route-article
                                    .icon
                                        img(src="img/default_member.svg", alt="")
                                    .name 文學小編
                                .route-article-cont 以「臺灣文學連結生活」為主軸，將作家或作品與在地生活的連結
                            .travel-route-article-box
                                .tit 相關標籤
                                .travel-tag-area
                                    a(href="travel_route_src_tag_list.html") #歷史古蹟 
                                    a(href="travel_route_src_tag_list.html") #文學創作
                                    a(href="travel_route_src_tag_list.html") #一日遊卓蘭 
                    //- .travel-page-side.mb-side
                    .travel-page-side
                        .travel-page-side-box
                            .travel-page-tit 路線評分
                            .travel-page-score-total
                                //- .icon <i class="fas fa-star"></i>
                                .icon
                                    img(src="img/icon_star.svg", alt="")
                                .score 4.3 分
                        .travel-page-side-box
                            .travel-page-tit 推薦主題路線
                            .travel-theme-side-area
                                a(href="travel_route_cont.html").travel-theme-side-box
                                    img(src="img/t_page_banner.jpg", alt="")
                                    .tit 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                                a(href="travel_route_cont.html").travel-theme-side-box
                                    img(src="img/travel_theme01.jpg", alt="")
                                    .tit 樟之細路：走走步道、悠遊苗栗大湖小鎮—老官道...
                        // 電腦版
                        .travel-page-side-btn.pc-show
                            .travel-m-btn.act <i class="fas fa-heart"></i> 已加入收藏
                            a(href="###").travel-m-btn Google 地圖
                            .travel-m-btn 生態植物學習單
                            .travel-m-btn 文學歷史課程
                            .travel-m-btn 人文學者介紹
                        //- .travel-page-tool.pc-show
                        .travel-page-tool.pc-show
                            //- .icon.i-heart
                            .icon.i-link
                            .icon.i-fb
                            .icon.i-line
                            .icon.i-thumb
                    .btn-area
                        a(href="travel_route_list.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回路線列表
                    // 手機版
                    .travel-page-tool.mb-fix-bot
                        .mb-list-area
                            .mb-icon-box
                                //- .icon.i-heart
                                .icon.i-link
                                .icon.i-fb
                                .icon.i-line
                                .icon.i-thumb
                            .mb-list-box#mbList
                                .mb-list
                                    a(href="###").btn 生態植物學習單
                                    a(href="###").btn 文學歷史課程
                                    a(href="###").btn 文學歷史課程
                                    .btn.close#mbListClose 關閉
                        .mb-btn-box
                            .btn
                                <i class="fas fa-heart"></i>
                                span 加入收藏
                            .btn
                                span Google地圖
                            .btn#mbListOpen
                                span 學習清單
        .travel-area.travel-pagebg02
            .travel-cont
                .travel-page-more-cont
                    .tit 猜你應該會喜歡的內容
                    -const linkTo='travel_route_cont.html';
                    -const tagTo="travel_route_src_tag_list.html";
                    -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    .travel-morelike-sw-area
                        .swiper-containe.travel-morelike-sw#travelMoreSwiper
                            .swiper-wrapper
                                .swiper-slide
                                    +travelThemeBox(travelTheme01,linkTo,tagTo)
                                .swiper-slide
                                    +travelThemeBox(travelTheme02,linkTo,tagTo)
                                .swiper-slide
                                    +travelThemeBox(travelTheme03,linkTo,tagTo)
                    //- .travel-theme-area
                    //-     -const linkTo='travel_route_cont.html';
                    //-     -const tagTo="travel_route_src_tag_list.html";
                    //-     -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    //-     +travelThemeBox(travelTheme01,linkTo,tagTo)
                    //-     -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    //-     +travelThemeBox(travelTheme02,linkTo,tagTo)
                    //-     -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    //-     +travelThemeBox(travelTheme03,linkTo,tagTo)
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-tit 評論
                        .travel-page-common-area
                            .travel-page-common-user
                                .user-img
                                    img(src="img/default_member.svg", alt="")
                                .travel-page-common-cont
                                    //  未登入
                                    .travel-page-common-note(style="display:none") 您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。
                                    //  登入後
                                    .page-common-star-box
                                        -const starNum=[1,2,3,4,5];
                                        each n in starNum
                                            .star
                                                input(type="checkbox" id="star"+n).star-input
                                                .star-c.fas
                                    .travel-page-common-input
                                        input(type="text" placeholder="留言...")
                                        .sumbit
                                            img(src="img/brown_arrow_r.svg", alt="")
                                    .travel-page-robot-box 機器人驗證Box
                            -const pageCommonReq01={'hasStar':true,'img':'icon_t_user.svg','name':'雅婷','cont':'是一個非常棒的地方，會想去看看～','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq01)
                            -const pageCommonReq02={'hasStar':true,'img':'icon_t_user.svg','name':'雯雯','cont':'居然是我的家鄉，等假期去附近走走：）','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq02)
                            -const pageCommonReq03={'isCover':true,'img':'icon_t_user.svg','name':'美華','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq03)
                    .travel-page-recommon
                        -const travelRecommon02={'tit':'活動月曆','sup':'各大館舍、實體展覽推薦。','img':'bg_go02.png','link':'###'}
                        +travelRecommon(travelRecommon02)
        include includes/footer_travel02

script.
    var travelMoreSwiper;
    $(document).ready(function () {
        var travelPageSwiper = new Swiper('#travelPageSwiper', {
            slidesPerView: 5,
            spaceBetween: 20,
            //- initialSlide: 2,
            breakpoints: {
                1024: {
            		slidesPerView: 4,
            		spaceBetween: 20,
            	},
            	768: {
            		slidesPerView: 3,
            		spaceBetween: 10,
            	},
            	480: {
            		slidesPerView: 2,
            		spaceBetween: 10,
            	},
            },
            navigation: {
            	nextEl: '#travelPageNext',
            	prevEl: '#travelPagePrev',
            },
            //- pagination: {
            //- 	el: '#ExPage',
            //- 	clickable: true,
            //- },
        });
        //=== 點選banner換圖 ===
        $('.travel-page-img').on('click',function(){
            $('.travel-page-img').removeClass('act');
            $(this).addClass('act');
            var actImgLink=$(this).find('img').attr('src');
            $('#tMainBanner').find('img').attr('src',actImgLink);
        });
        //- $('.travel-footer-area').addClass('bg2');
        //=== 星星評分 ===
        var starList=[
            {'btn':'#star1','list':['#star1']},
            {'btn':'#star2','list':['#star1','#star2']},
            {'btn':'#star3','list':['#star1','#star2','#star3']},
            {'btn':'#star4','list':['#star1','#star2','#star3','#star4']},
            {'btn':'#star5','list':['#star1','#star2','#star3','#star4','#star5']}
        ];
        $.each(starList,function(ind,val){
            var $btn=$(val.btn);
            $btn.on('click',function(){
                $('.star-input').prop('checked', false);
                $.each(val.list,function(ind,val){
                    $(val).prop('checked', true);
                });
            });
        });

        //=== 景點popup ===
        var routeL=$('.travel-route-area').find('.travel-route-box').length;
        var routeList=[];
        for(var i = 1; i < routeL+1; i++) {
            //- printf("%d ", i);
            routeList.push(i);
        }
        $.each(routeList,function(ind,val){
            $('#route'+val).on('click',function(){
                $('#routePopup'+val).fadeIn(300);
                $('#mask').fadeIn(300);
                $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
                bgTravelFix();
            });
            //- $('#routeSide'+val).on('click',function(){
            //-     $('#routePopup'+val).fadeIn(300);
            //-     $('#mask').fadeIn(300);
            //-     $('#routePopup'+val).find('.route-popup-cont').mCustomScrollbar();//內容滾輪
            //-     bgTravelFix();
            //- });
        })
        //== 關閉時消除滾輪 ==
        $('#mask,.route-popup-close').on('click',function(){
            $('.travel-route-popup-area,#mask').fadeOut(300);
            $('.route-popup-cont').mCustomScrollbar("destroy");
            bgTravelUnFix();
        });
        
        //== 手機學習單開啟 ==
        $('#mbListOpen').on('click',function(){
            $(this).addClass('act');
            $('#mbList').slideDown();
        });
        $('#mbListClose').on('click',function(){
            $('#mbListOpen').removeClass('act');
            $('#mbList').slideUp();
        });

        //== 手機猜你喜歡區塊 ==
        travelMoreArea();
    });

    $(window).resize(function(){
        //== 手機猜你喜歡區塊 ==
        travelMoreArea();
    });

    function bgTravelFix() {
        $('body').css({'overflow':'hidden'});
        //- scTop = $(document).scrollTop();
        //- $('body').css({ 'top': -scTop, 'position': 'fixed', 'width': '100%' });
    }
    function bgTravelUnFix() {
        $('body').removeAttr('style');
        //- $('html,body').animate({ scrollTop: scTop }, 0);
    }

    //== 手機猜你喜歡區塊 ==
    function travelMoreArea(){
        var windowW=$(window).width();
        if(windowW > 767){
            //== 電腦版不需要sw，如果有啟動要取消 ==
            if(!!travelMoreSwiper){
                travelMoreSwiper.destroy();
            }
        }else{
            //== 如果沒有啟動sw在執行 ==
            if( !travelMoreSwiper || travelMoreSwiper.destroyed == true){
                travelMoreSwiper = new Swiper('#travelMoreSwiper', {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    initialSlide: 1
                });
            }
        }
    }
