public/travel_worksheet_list.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <span>學習單</span>
      </div>
      <div class="travel-page-tit-area">
        <h2>學習單</h2>
        <div class="tit-sup">學習、歷程、多元評量、實作學習等教學理念</div>
      </div>
    </div>
    <div class="travel-area page-top-cover">
      <div class="travel-cont">
        <div class="travel-news-type-area">
          <div class="travel-news-type-box">
            <div class="tit">更多資源</div><a class="more-link" href="https://learn.nmtl.gov.tw/home/zh-tw" target="_blank">文學五金行 <i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>
        <div class="worksheet-area">
          <div class="worksheet-box">
            <div class="travel-download-btn-cont">
              <div class="tit">綜觀臺灣70年代之文學歷史學習單</div>
              <div class="cont">臺灣鄉土文學論戰（1977年-1978年）是一場從1970年代初期開始，關於臺灣文學之寫作方向和路線的探討，特別是在1977年4月至1978年1月之間，關於這個議題的討論，更是達到了前所未有的高潮，一般稱之為「鄉土文學論戰」。</div>
              <div class="btn-box"><a class="btn" href="###">下載學習單 <i class="fas fa-arrow-to-bottom"></i></a></div>
            </div>
            <div class="about-worksheet-link-area">
              <div class="icon-tit">
                <div class="icon"><img src="img/icon_worksheet_book.svg" alt=""/></div>
              </div>
              <div class="tit">相關文章</div>
              <ul class="about-worksheet-list">
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">臺南府城-浮生半日遊之一日輕旅行</a></li>
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">高雄愛情碼頭雙人行</a></li>
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">家族旅遊屏東二天一夜好選擇</a></li>
              </ul>
            </div>
          </div>
          <div class="worksheet-box">
            <div class="travel-download-btn-cont">
              <div class="tit">文學欣賞：文壇冬青樹─林海音</div>
              <div class="cont">學習活動重點：以林海音的生命經歷為主軸，輔以其文學作品、文學活動、文化事業，呈顯林海音對臺灣文壇的影響，也間接展現臺灣文壇成行的經過。</div>
              <div class="btn-box"><a class="btn" href="###">下載學習單 <i class="fas fa-arrow-to-bottom"></i></a></div>
            </div>
            <div class="about-worksheet-link-area">
              <div class="icon-tit">
                <div class="icon"><img src="img/icon_worksheet_book.svg" alt=""/></div>
              </div>
              <div class="tit">相關文章</div>
              <ul class="about-worksheet-list">
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">臺南府城-浮生半日遊之一日輕旅行</a></li>
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">高雄愛情碼頭雙人行</a></li>
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">家族旅遊屏東二天一夜好選擇</a></li>
              </ul>
            </div>
          </div>
          <div class="worksheet-box">
            <div class="travel-download-btn-cont">
              <div class="tit">教育部現代公民核心能力課程計畫 -文學與人生</div>
              <div class="cont">臺灣鄉土文學論戰（1977年-1978年）是一場從1970年代初期開始，關於臺灣文學之寫作方向和路線的探討，特別是在1977年4月至1978年1月之間，關於這個議題的討論，更是達到了前所未有的高潮，一般稱之為「鄉土文學論戰」。</div>
              <div class="btn-box"><a class="btn" href="###">下載學習單 <i class="fas fa-arrow-to-bottom"></i></a></div>
            </div>
            <div class="about-worksheet-link-area">
              <div class="icon-tit">
                <div class="icon"><img src="img/icon_worksheet_book.svg" alt=""/></div>
              </div>
              <div class="tit">相關文章</div>
              <ul class="about-worksheet-list">
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">家族旅遊屏東二天一夜好選擇</a></li>
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">臺南府城-浮生半日遊之一日輕旅行</a></li>
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">文學之旅有你有我，從旅途中獲得...</a></li>
                <li><i class="fas fa-map-marker-alt"></i><a href="travel_route_cont.html">吾島走踏，日夜無眠，臺南府城之....</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top-cover"></div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>

pug/travel_worksheet_list.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'學習單'}
            +travelBread(bread)
            .travel-page-tit-area
                h2 學習單
                .tit-sup 學習、歷程、多元評量、實作學習等教學理念
        .travel-area.page-top-cover
            .travel-cont
                .travel-news-type-area
                    .travel-news-type-box
                        .tit 更多資源
                        a.more-link(href="https://learn.nmtl.gov.tw/home/zh-tw" target="_blank") 文學五金行 <i class="fas fa-external-link-alt"></i>
                .worksheet-area
                    -const worksheet01={'tit':'綜觀臺灣70年代之文學歷史學習單','cont':'臺灣鄉土文學論戰（1977年-1978年）是一場從1970年代初期開始，關於臺灣文學之寫作方向和路線的探討，特別是在1977年4月至1978年1月之間，關於這個議題的討論，更是達到了前所未有的高潮，一般稱之為「鄉土文學論戰」。','list':['臺南府城-浮生半日遊之一日輕旅行','高雄愛情碼頭雙人行','家族旅遊屏東二天一夜好選擇']};
                    +worksheetBox(worksheet01)
                    -const worksheet02={'tit':'文學欣賞：文壇冬青樹─林海音','cont':'學習活動重點：以林海音的生命經歷為主軸，輔以其文學作品、文學活動、文化事業，呈顯林海音對臺灣文壇的影響，也間接展現臺灣文壇成行的經過。','list':['臺南府城-浮生半日遊之一日輕旅行','高雄愛情碼頭雙人行','家族旅遊屏東二天一夜好選擇']};
                    +worksheetBox(worksheet02)
                    -const worksheet03={'tit':'教育部現代公民核心能力課程計畫 -文學與人生','cont':'臺灣鄉土文學論戰（1977年-1978年）是一場從1970年代初期開始，關於臺灣文學之寫作方向和路線的探討，特別是在1977年4月至1978年1月之間，關於這個議題的討論，更是達到了前所未有的高潮，一般稱之為「鄉土文學論戰」。','list':['家族旅遊屏東二天一夜好選擇','臺南府城-浮生半日遊之一日輕旅行','文學之旅有你有我，從旅途中獲得...','吾島走踏，日夜無眠，臺南府城之....']};
                    +worksheetBox(worksheet03)
                    //- -const worksheet04={'tit':'','cont':'','list':['']};
                    //- +worksheetBox(worksheet04)
        include includes/footer_travel03
