public/travel.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-banner-area">
      <div class="travel-banner-cont travel-banner-arrow">
        <div class="book-top"><img src="img/book_cover_top.png" alt=""/></div>
        <div class="book-bottom"><img src="img/book_cover_bottom.png" alt=""/></div>
        <div class="swiper-containe travel-banner" id="travelSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a class="travel-banner-img" href="###"><img src="img/treval_banner.png" alt=""/></a></div>
            <div class="swiper-slide"><a class="travel-banner-img" href="###"><img src="img/treval_banner.png" alt=""/></a></div>
          </div>
          <div class="swiper-pagination" id="bookPage"></div>
        </div>
        <div class="swiper-button-prev" id="bookPrev"></div>
        <div class="swiper-button-next" id="bookNext"></div>
      </div>
    </div>
    <div class="travel-area travel-bg01">
      <div class="bg-pattern pattern01"></div>
      <div class="bg-pattern pattern02"></div>
      <section class="travel-cont travel-cont-box">
        <div class="travel-tit"><span>還不知道怎麼做嗎？別擔心</span>
          <h2>推薦你來體驗</h2>
        </div>
        <div class="travel-recommon-area"><a class="travel-recommon-cont" href="travel_theme_list.html">
            <div class="travel-recommon-box">
              <div class="travel-recommon-tit">
                <h3>自己走走</h3><span>各種主題散步路線，一手掌握。</span>
                <div class="icon"><img src="img/wh_arrow_r.svg" alt=""/></div>
              </div><img class="bg" src="img/bg_go01.png" alt=""/>
            </div></a><a class="travel-recommon-cont" href="travel_event_map.html">
            <div class="travel-recommon-box">
              <div class="travel-recommon-tit">
                <h3>活動月曆</h3><span>各大館舍、實體展覽推薦。</span>
                <div class="icon"><img src="img/wh_arrow_r.svg" alt=""/></div>
              </div><img class="bg" src="img/bg_go02.png" alt=""/>
            </div></a><a class="travel-recommon-cont" href="travel_family_list.html">
            <div class="travel-recommon-box">
              <div class="travel-recommon-tit">
                <h3>家族走走</h3><span>各大館舍、實體展覽推薦。</span>
                <div class="icon"><img src="img/wh_arrow_r.svg" alt=""/></div>
              </div><img class="bg" src="img/bg_go03.png" alt=""/>
            </div></a>
        </div>
      </section>
    </div>
    <div class="travel-area travel-bg02">
      <div class="cloud cloud01"></div>
      <div class="cloud cloud02"></div>
      <section class="travel-cont travel-cont-box">
        <div class="travel-tit-box">
          <div class="travel-tit">
            <div class="butterfly01"></div>
            <div class="butterfly02"></div><span>掌握HOT消息</span>
            <h2>最新資訊</h2>
          </div>
        </div>
        <div class="travel-theme-banner">
          <div class="travel-theme-tab">最新資訊</div><a class="travel-theme-banner-img" href="travel_news_cont.html"><img src="img/travel01.png" alt=""/></a>
          <div class="travel-theme-banner-cont"><a class="travel-theme-txt" href="travel_news_cont.html">
              <div class="date">2020.11.20</div>
              <div class="tit">砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作</div>
              <div class="txt">砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作。詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉...</div></a>
            <div class="travel-tag-area"><a href="travel_news_src_tag_list.html">#歷史古蹟 </a><a href="travel_news_src_tag_list.html">#文學創作</a><a href="travel_news_src_tag_list.html">#一日遊卓蘭 </a></div>
          </div>
        </div>
        <div class="travel-theme-area">
          <div class="travel-theme-box">
            <div class="travel-theme-tab">最新資訊</div><a class="travel-theme" href="travel_news_cont.html">
              <div class="travel-theme-box-img"><img src="img/travel02.png" alt=""/></div>
              <div class="travel-theme-txt">
                <div class="date">2020.11.20</div>
                <div class="tit">置身典雅的臺灣文學館，捕捉幸福的最佳地點</div>
              </div></a>
            <div class="travel-tag-area"><a href="travel_news_src_tag_list.html">#歷史古蹟</a><a href="travel_news_src_tag_list.html">#文學創作</a><a href="travel_news_src_tag_list.html">#臺南景點</a>
            </div>
          </div>
          <div class="travel-theme-box">
            <div class="travel-theme-tab">最新資訊</div><a class="travel-theme" href="travel_news_cont.html">
              <div class="travel-theme-box-img"><img src="img/travel03.png" alt=""/></div>
              <div class="travel-theme-txt">
                <div class="date">2020.10.20</div>
                <div class="tit">文學力 —— 書寫 LÁN 臺灣常設展</div>
              </div></a>
            <div class="travel-tag-area"><a href="travel_news_src_tag_list.html">#活動講座</a>
            </div>
          </div>
          <div class="travel-theme-box">
            <div class="travel-theme-tab">最新資訊</div><a class="travel-theme" href="travel_news_cont.html">
              <div class="travel-theme-box-img"><img src="img/travel04.png" alt=""/></div>
              <div class="travel-theme-txt">
                <div class="date">2020.11.20</div>
                <div class="tit">浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉</div>
              </div></a>
            <div class="travel-tag-area"><a href="travel_news_src_tag_list.html">#歷史古蹟</a><a href="travel_news_src_tag_list.html">#文學創作</a>
            </div>
          </div>
        </div>
        <div class="travel-theme-more"><a href="travel_news_list.html"> <span>觀看更多內容</span><img src="img/brown_arrow_r.svg" alt=""/></a></div>
      </section>
    </div>
    <div class="travel-new-bg-bottom"></div>
    <div class="travel-area travel-bg02">
      <div class="cloud cloud01"></div>
      <div class="cloud cloud02"></div>
      <section class="travel-cont travel-cont-box">
        <div class="travel-tit-box">
          <div class="travel-tit">
            <div class="butterfly01"></div>
            <div class="butterfly02"></div><span>尋找靈感</span>
            <h2>更多的精選內容</h2>
          </div>
        </div>
        <div class="travel-theme-banner"><a class="travel-theme-banner-img" href="travel_route_cont.html"><img src="img/travel01.png" alt=""/></a>
          <div class="travel-theme-banner-cont"><a class="travel-theme-txt" href="travel_route_cont.html">
              <div class="date">2020.11.20</div>
              <div class="tit">砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作</div>
              <div class="txt">砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作。詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉...</div></a>
            <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#歷史古蹟 </a><a href="travel_route_src_tag_list.html">#文學創作</a><a href="travel_route_src_tag_list.html">#一日遊卓蘭 </a></div>
          </div>
        </div>
        <div class="travel-theme-area">
          <div class="travel-theme-box"><a class="travel-theme" href="travel_route_cont.html">
              <div class="travel-theme-box-img"><img src="img/travel02.png" alt=""/></div>
              <div class="travel-theme-txt">
                <div class="date">2020.11.20</div>
                <div class="tit">置身典雅的臺灣文學館，捕捉幸福的最佳地點</div>
              </div></a>
            <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#歷史古蹟</a><a href="travel_route_src_tag_list.html">#文學創作</a><a href="travel_route_src_tag_list.html">#臺南景點</a>
            </div>
          </div>
          <div class="travel-theme-box"><a class="travel-theme" href="travel_route_cont.html">
              <div class="travel-theme-box-img"><img src="img/travel03.png" alt=""/></div>
              <div class="travel-theme-txt">
                <div class="date">2020.10.20</div>
                <div class="tit">文學力 —— 書寫 LÁN 臺灣常設展</div>
              </div></a>
            <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#活動講座</a>
            </div>
          </div>
          <div class="travel-theme-box"><a class="travel-theme" href="travel_route_cont.html">
              <div class="travel-theme-box-img"><img src="img/travel04.png" alt=""/></div>
              <div class="travel-theme-txt">
                <div class="date">2020.11.20</div>
                <div class="tit">浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉</div>
              </div></a>
            <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#歷史古蹟</a><a href="travel_route_src_tag_list.html">#文學創作</a>
            </div>
          </div>
        </div>
        <div class="travel-theme-more"><a href="travel_theme_list.html"> <span>觀看更多內容</span><img src="img/brown_arrow_r.svg" alt=""/></a></div>
      </section>
    </div>
    <div class="travel-area travel-bg03">
      <div class="cloud cloud03"></div>
      <div class="cloud cloud04"></div>
      <section class="travel-cont">
        <div class="travel-tit-box">
          <div class="travel-tit"><span>關於我們</span>
            <h2>全國文學地景網    </h2>
          </div>
        </div>
        <div class="travel-about">以「臺灣文學連結生活」為主軸，將作家或作品與在地生活的連結，從生活的面向如飲食、交通、環境等，設定以目標消費者感興趣的話題與主。  </div>
        <div class="travel-about-btn-area"><a class="travel-m-btn" href="###"><span>了解全國文學地景網</span><i class="fal fa-long-arrow-right"></i></a><a class="travel-m-btn" href="###"><span>了解臺灣文學館</span><i class="fal fa-long-arrow-right"></i></a></div>
      </section>
    </div>
    <div class="travel-footer-area">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="https://www.facebook.com/NmtlTainan" target="_blank"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="https://www.youtube.com/@nmtl2748" target="_blank"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
<script>
  $(document).ready(function () {
      var travelSwiper = new Swiper('#travelSwiper', {
          slidesPerView: 1,
          spaceBetween: 0,
          //- initialSlide: 2,
          //- breakpoints: {
          //- 	1200: {
          //- 		slidesPerView: 5,
          //- 		spaceBetween: 30,
          //- 	},
          //- 	768: {
          //- 		slidesPerView: 4,
          //- 		spaceBetween: 20,
          //- 	},
          //- 	600: {
          //- 		slidesPerView: 3,
          //- 		spaceBetween: 20,
          //- 	},
          //- 	480: {
          //- 		slidesPerView: 2,
          //- 		spaceBetween: 20,
          //- 	},
          //- },
          navigation: {
          	nextEl: '#bookNext',
          	prevEl: '#bookPrev',
          },
          pagination: {
          	el: '#bookPage',
          	clickable: true,
          },
      });
  });
</script>

pug/travel.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        //- .travel-area
        //-     .travel-search-area
        //-         input(type="text" placeholder="Hi, Sandy  大家都在搜主題路線")
        //-         .travel-search
        //-             img(src="img/icon_search.svg", alt="")
        .travel-banner-area
            .travel-banner-cont.travel-banner-arrow
                .book-top
                    img(src="img/book_cover_top.png", alt="")
                .book-bottom
                    img(src="img/book_cover_bottom.png", alt="")
                .swiper-containe.travel-banner#travelSwiper
                    .swiper-wrapper
                        .swiper-slide
                            a(href="###").travel-banner-img
                                img(src="img/treval_banner.png", alt="")
                        .swiper-slide
                            a(href="###").travel-banner-img
                                img(src="img/treval_banner.png", alt="")
                    .swiper-pagination#bookPage
                .swiper-button-prev#bookPrev
                .swiper-button-next#bookNext
        .travel-area.travel-bg01
            .bg-pattern.pattern01
            .bg-pattern.pattern02
            section.travel-cont.travel-cont-box
                .travel-tit
                    span 還不知道怎麼做嗎？別擔心
                    h2 推薦你來體驗
                .travel-recommon-area
                    -const travelRecommon01={'tit':'自己走走','sup':'各種主題散步路線，一手掌握。','img':'bg_go01.png','link':'travel_theme_list.html'}
                    +travelRecommon(travelRecommon01)
                    -const travelRecommon02={'tit':'活動月曆','sup':'各大館舍、實體展覽推薦。','img':'bg_go02.png','link':'travel_event_map.html'}
                    +travelRecommon(travelRecommon02)
                    -const travelRecommon03={'tit':'家族走走','sup':'各大館舍、實體展覽推薦。','img':'bg_go03.png','link':'travel_family_list.html'}
                    +travelRecommon(travelRecommon03)
        .travel-area.travel-bg02
            .cloud.cloud01
            .cloud.cloud02
            section.travel-cont.travel-cont-box
                .travel-tit-box
                    .travel-tit
                        .butterfly01
                        .butterfly02
                        span 掌握HOT消息
                        h2 最新資訊
                .travel-theme-banner
                    .travel-theme-tab 最新資訊
                    a(href="travel_news_cont.html").travel-theme-banner-img
                        img(src="img/travel01.png", alt="")
                    .travel-theme-banner-cont
                        a(href="travel_news_cont.html").travel-theme-txt
                            .date 2020.11.20
                            .tit 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                            .txt 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作。詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉...
                        .travel-tag-area
                            a(href="travel_news_src_tag_list.html") #歷史古蹟 
                            a(href="travel_news_src_tag_list.html") #文學創作
                            a(href="travel_news_src_tag_list.html") #一日遊卓蘭 
                .travel-theme-area
                    -const linkTo01='travel_news_cont.html';
                    -const tagTo01="travel_news_src_tag_list.html";
                    -const travelTheme01_1={'hasTag': true,'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    +travelThemeBox(travelTheme01_1,linkTo01,tagTo01)
                    -const travelTheme02_1={'hasTag': true,'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    +travelThemeBox(travelTheme02_1,linkTo01,tagTo01)
                    -const travelTheme03_1={'hasTag': true,'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    +travelThemeBox(travelTheme03_1,linkTo01,tagTo01)
                .travel-theme-more
                    a(href="travel_news_list.html") 
                        span 觀看更多內容
                        img(src="img/brown_arrow_r.svg", alt="")
        .travel-new-bg-bottom
        .travel-area.travel-bg02
            .cloud.cloud01
            .cloud.cloud02
            section.travel-cont.travel-cont-box
                .travel-tit-box
                    .travel-tit
                        .butterfly01
                        .butterfly02
                        span 尋找靈感
                        h2 更多的精選內容
                .travel-theme-banner
                    //- .travel-theme-tab 自己走走
                    a(href="travel_route_cont.html").travel-theme-banner-img
                        img(src="img/travel01.png", alt="")
                    .travel-theme-banner-cont
                        a(href="travel_route_cont.html").travel-theme-txt
                            .date 2020.11.20
                            .tit 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                            .txt 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作。詹冰的詩像是生活裡的小故事、或是一個剎那的即景，簡單生動，像卓蘭一樣。他說滿開的〈櫻花〉...
                        .travel-tag-area
                            a(href="travel_route_src_tag_list.html") #歷史古蹟 
                            a(href="travel_route_src_tag_list.html") #文學創作
                            a(href="travel_route_src_tag_list.html") #一日遊卓蘭 
                .travel-theme-area
                    -const linkTo02='travel_route_cont.html';
                    -const tagTo02="travel_route_src_tag_list.html";
                    -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    +travelThemeBox(travelTheme01,linkTo02,tagTo02)
                    -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    +travelThemeBox(travelTheme02,linkTo02,tagTo02)
                    -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    +travelThemeBox(travelTheme03,linkTo02,tagTo02)
                .travel-theme-more
                    a(href="travel_theme_list.html") 
                        span 觀看更多內容
                        img(src="img/brown_arrow_r.svg", alt="")
        .travel-area.travel-bg03
            .cloud.cloud03
            .cloud.cloud04
            section.travel-cont
                .travel-tit-box
                    .travel-tit
                        span 關於我們
                        h2 全國文學地景網    
                .travel-about 以「臺灣文學連結生活」為主軸，將作家或作品與在地生活的連結，從生活的面向如飲食、交通、環境等，設定以目標消費者感興趣的話題與主。  
                .travel-about-btn-area
                    a(href="###").travel-m-btn
                        span 了解全國文學地景網
                        <i class="fal fa-long-arrow-right"></i>
                    a(href="###").travel-m-btn
                        span 了解臺灣文學館
                        <i class="fal fa-long-arrow-right"></i>
        include includes/footer_travel
script.
    $(document).ready(function () {
        var travelSwiper = new Swiper('#travelSwiper', {
            slidesPerView: 1,
            spaceBetween: 0,
            //- initialSlide: 2,
            //- breakpoints: {
            //- 	1200: {
            //- 		slidesPerView: 5,
            //- 		spaceBetween: 30,
            //- 	},
            //- 	768: {
            //- 		slidesPerView: 4,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	600: {
            //- 		slidesPerView: 3,
            //- 		spaceBetween: 20,
            //- 	},
            //- 	480: {
            //- 		slidesPerView: 2,
            //- 		spaceBetween: 20,
            //- 	},
            //- },
            navigation: {
            	nextEl: '#bookNext',
            	prevEl: '#bookPrev',
            },
            pagination: {
            	el: '#bookPage',
            	clickable: true,
            },
        });
    });
