pug/travel_blog_cont.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'部落格','url':'travel_blog_list.html'}],'actName':'可讀·性—臺灣性別文學變裝特展'}
            +travelBread(bread)
        .blog-tit-area
            img.bg-img(src="img/blog01.jpg", alt="")
            .cloud.cloud05
            .cloud.cloud06
            .blog-tit
                h2 可讀·性—臺灣性別文學變裝特展
                .travel-page-info
                    .info by
                        span.art 文學小編
                    .info 2021.11.13
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_wh_collect.svg", alt="")
                        .txt 54
                    //- .info
                    //-     .icon
                    //-         img(src="img/icon_wh_comment.svg", alt="")
                    //-     .txt 11
                    //- .share-btn-box
                    //-     a(href="###")
                    //-         i(class="far fa-check")
                    //-         | 讚 <span>234</span>
        .travel-area
            .travel-cont.travel-detail-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-txt.travel-blog-txt
                            // 標題
                            .tit 標題標題標題標題標題標題
                            // 內文
                            p 城郊的田野與土壤使人前仆後繼地誤入，虛構的、橫跨東西半球的土地連結跟隨著植物的竄生意象而成型，於是如同滿佈眼前的玉米植株一般，屬於臺灣華僑集體的歸鄉潛意識便在炎炎夏日中破出地表。八零年代外地文學帶有的重層疏離感：「外國與本國」間的隔閡、與其連帶的「城區與鄉間」間的隔閡，便清楚地顯現在這篇「政治寓言」之中。
                            // 圖片置左
                            .blog-img
                                img(src="img/blog01.jpg", alt="")
                                .note-box
                                    .note 書影，圖源https://reurl.cc/XWLMN7
                            // 連結
                            a(href="###" target="_blank").link-box 書影 原書連結
                            // 圖片置中
                            .blog-img.center
                                img(src="img/blog03.jpg", alt="")
                                .note-box
                                    .note 書影，圖源https://reurl.cc/XWLMN7
                            // 引用
                            .quote-box
                                .cont 「當我一步步離開公路走向幽深，玉米葉摩搓的聲音繼續在我耳邊嘈切，奇怪的是，雖然酒意不見了，我的血液卻加倍澎湃起來……」
                            // 圖片置右
                            .blog-img.right
                                img(src="img/blog04.jpg", alt="")
                                .note-box
                                    a(href="###" target="_blank").note 書影，圖源https://reurl.cc/XWLMN7
                            p(style="font-size: 14px;") 城郊的田野與土壤使人前仆後繼地誤入，虛構的、橫跨東西半球的土地連結跟隨著植物的竄生意象而成型，於是如同滿佈眼前的玉米植株一般，屬於臺灣華僑集體的歸鄉潛意識便在炎炎夏日中破出地表。八零年代外地文學帶有的重層疏離感：「外國與本國」間的隔閡、與其連帶的「城區與鄉間」間的隔閡，便清楚地顯現在這篇「政治寓言」之中。
                        .travel-route-article-area
                            .travel-route-article-box
                                .tit 撰寫作者
                                .route-article
                                    .icon
                                        img(src="img/default_member.svg", alt="")
                                    .name 劉雅婷
                                .route-article-cont 大家好，我是再臺灣土生土長的雅婷，熱衷於探索臺灣，維持身心靈的健康快樂。
                            .travel-route-article-box
                                .tit 相關分類
                                .travel-tag-area
                                    a(href="###") #美食之旅
                    .travel-page-side
                        .travel-page-side-box
                            .travel-page-tit 體驗主題路線
                            .travel-theme-side-area
                                a(href="travel_cont.html").travel-theme-side-box
                                    img(src="img/t_page_banner.jpg", alt="")
                                    .tit 砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作
                                a(href="travel_cont.html").travel-theme-side-box
                                    img(src="img/travel_theme01.jpg", alt="")
                                    .tit 樟之細路：走走步道、悠遊苗栗大湖小鎮—老官道...
                        // 電腦版
                        .travel-page-side-btn.pc-show
                            a(href="travel_blog_edit.html").travel-m-btn.travel-orange-btn <i class="fas fa-plus"></i> 撰寫文章
                            .travel-m-btn <i class="fas fa-heart"></i> 加入收藏
                            .travel-m-btn.act <i class="fas fa-heart"></i> 已加入收藏
                        .travel-page-tool.pc-show
                            //- .icon.i-heart
                            .icon.i-link
                            .icon.i-fb
                            .icon.i-line
                            .icon.i-thumb
                    .btn-area
                        a(href="travel_blog_list.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回部落格
                    // 手機版
                    .travel-page-tool.mb-fix-bot
                        .mb-list-area
                            .mb-icon-box
                                //- .icon.i-heart
                                .icon.i-link
                                .icon.i-fb
                                .icon.i-line
                                .icon.i-thumb
                        .mb-btn-box
                            .btn.w50
                                <i class="fas fa-heart"></i>
                                span 加入收藏
                            a(href="travel_blog_edit.html").btn.w50.travel-m-btn.travel-orange-btn <i class="fas fa-plus"></i> 撰寫文章
        .travel-area.travel-pagebg02
            .travel-cont
                .travel-page-more-cont
                    .tit 猜你應該會喜歡的內容
                    -const linkTo='travel_route_cont.html';
                    -const tagTo="travel_route_src_tag_list.html";
                    -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    .travel-morelike-sw-area
                        .swiper-containe.travel-morelike-sw#travelMoreSwiper
                            .swiper-wrapper
                                .swiper-slide
                                    +travelThemeBox(travelTheme01,linkTo,tagTo)
                                .swiper-slide
                                    +travelThemeBox(travelTheme02,linkTo,tagTo)
                                .swiper-slide
                                    +travelThemeBox(travelTheme03,linkTo,tagTo)
                    //- .travel-theme-area
                    //-     -const linkTo='travel_blog_cont.html'
                    //-     -const tagTo="###";
                    //-     -const travelTheme01={'img':'travel02.png','date':'2020.11.20','tit':'置身典雅的臺灣文學館，捕捉幸福的最佳地點','tagList':['歷史古蹟','文學創作','臺南景點']};
                    //-     +travelThemeBox(travelTheme01,linkTo,tagTo)
                    //-     -const travelTheme02={'img':'travel03.png','date':'2020.10.20','tit':'文學力 —— 書寫 LÁN 臺灣常設展','tagList':['活動講座']};
                    //-     +travelThemeBox(travelTheme02,linkTo,tagTo)
                    //-     -const travelTheme03={'img':'travel04.png','date':'2020.11.20','tit':'浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉','tagList':['歷史古蹟','文學創作']};
                    //-     +travelThemeBox(travelTheme03,linkTo,tagTo)
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-page-tit 評論
                        .travel-page-common-area
                            .travel-page-common-user
                                .user-img
                                    img(src="img/default_member.svg", alt="")
                                .travel-page-common-cont
                                    //  未登入
                                    .travel-page-common-note(style="display:none") 您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。
                                    //  登入後
                                    //- .page-common-star-box
                                    //-     -const starNum=[1,2,3,4,5];
                                    //-     each n in starNum
                                    //-         .star
                                    //-             input(type="checkbox" id="star"+n).star-input
                                    //-             .star-c.fas
                                    .travel-page-common-input
                                        input(type="text" placeholder="留言...")
                                        .sumbit
                                            img(src="img/brown_arrow_r.svg", alt="")
                                    .travel-page-robot-box 機器人驗證Box
                            -const pageCommonReq01={'img':'icon_t_user.svg','name':'雅婷','cont':'是一個非常棒的地方，會想去看看～','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq01)
                            -const pageCommonReq02={'img':'icon_t_user.svg','name':'雯雯','cont':'居然是我的家鄉，等假期去附近走走：）','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq02)
                            -const pageCommonReq03={'isCover':true,'img':'icon_t_user.svg','name':'美華','date':'2021/10/10'};
                            +pageCommonReq(pageCommonReq03)
                    .travel-page-recommon
                        -const travelRecommon02={'tit':'活動月曆','sup':'各大館舍、實體展覽推薦。','img':'bg_go02.png','link':'###'}
                        +travelRecommon(travelRecommon02)
        include includes/footer_travel02
script.
    var travelMoreSwiper;
    $(document).ready(function () {
        //== 手機猜你喜歡區塊 ==
        travelMoreArea();

        //== 內文br重置 ==
        $('.travel-blog-txt').find('p').each(function(ind,val){
            var textCont=$(val).text();
            var strList = textCont.split('\n');
            var textContChange = strList.join('<br>');
            $(val).html(textContChange);
        });
    });

    $(window).resize(function(){
        //== 手機猜你喜歡區塊 ==
        travelMoreArea();
    });

    //== 手機猜你喜歡區塊 ==
    function travelMoreArea(){
        var windowW=$(window).width();
        if(windowW > 767){
            //== 電腦版不需要sw，如果有啟動要取消 ==
            if(!!travelMoreSwiper){
                travelMoreSwiper.destroy();
            }
        }else{
            //== 如果沒有啟動sw在執行 ==
            if( !travelMoreSwiper || travelMoreSwiper.destroyed == true){
                travelMoreSwiper = new Swiper('#travelMoreSwiper', {
                    slidesPerView: 1,
                    spaceBetween: 20,
                    initialSlide: 1
                });
            }
        }
    }

public/travel_blog_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <a href="travel_blog_list.html">部落格</a> / <span>可讀·性—臺灣性別文學變裝特展</span>
      </div>
    </div>
    <div class="blog-tit-area"><img class="bg-img" src="img/blog01.jpg" alt=""/>
      <div class="cloud cloud05"></div>
      <div class="cloud cloud06"></div>
      <div class="blog-tit">
        <h2>可讀·性—臺灣性別文學變裝特展</h2>
        <div class="travel-page-info">
          <div class="info">by<span class="art">文學小編</span></div>
          <div class="info">2021.11.13</div>
          <div class="info">358 次點閱</div>
          <div class="info">
            <div class="icon"><img src="img/icon_wh_collect.svg" alt=""/></div>
            <div class="txt">54</div>
          </div>
        </div>
      </div>
    </div>
    <div class="travel-area">
      <div class="travel-cont travel-detail-cont">
        <div class="travel-page-cont">
          <div class="travel-page-txt-cont">
            <div class="travel-page-txt travel-blog-txt">
              <!-- 標題-->
              <div class="tit">標題標題標題標題標題標題</div>
              <!-- 內文-->
              <p>城郊的田野與土壤使人前仆後繼地誤入，虛構的、橫跨東西半球的土地連結跟隨著植物的竄生意象而成型，於是如同滿佈眼前的玉米植株一般，屬於臺灣華僑集體的歸鄉潛意識便在炎炎夏日中破出地表。八零年代外地文學帶有的重層疏離感：「外國與本國」間的隔閡、與其連帶的「城區與鄉間」間的隔閡，便清楚地顯現在這篇「政治寓言」之中。</p>
              <!-- 圖片置左-->
              <div class="blog-img"><img src="img/blog01.jpg" alt=""/>
                <div class="note-box">
                  <div class="note">書影，圖源https://reurl.cc/XWLMN7</div>
                </div>
              </div>
              <!-- 連結--><a class="link-box" href="###" target="_blank">書影 原書連結</a>
              <!-- 圖片置中-->
              <div class="blog-img center"><img src="img/blog03.jpg" alt=""/>
                <div class="note-box">
                  <div class="note">書影，圖源https://reurl.cc/XWLMN7</div>
                </div>
              </div>
              <!-- 引用-->
              <div class="quote-box">
                <div class="cont">「當我一步步離開公路走向幽深，玉米葉摩搓的聲音繼續在我耳邊嘈切，奇怪的是，雖然酒意不見了，我的血液卻加倍澎湃起來……」</div>
              </div>
              <!-- 圖片置右-->
              <div class="blog-img right"><img src="img/blog04.jpg" alt=""/>
                <div class="note-box"><a class="note" href="###" target="_blank">書影，圖源https://reurl.cc/XWLMN7</a></div>
              </div>
              <p style="font-size: 14px;">城郊的田野與土壤使人前仆後繼地誤入，虛構的、橫跨東西半球的土地連結跟隨著植物的竄生意象而成型，於是如同滿佈眼前的玉米植株一般，屬於臺灣華僑集體的歸鄉潛意識便在炎炎夏日中破出地表。八零年代外地文學帶有的重層疏離感：「外國與本國」間的隔閡、與其連帶的「城區與鄉間」間的隔閡，便清楚地顯現在這篇「政治寓言」之中。</p>
            </div>
            <div class="travel-route-article-area">
              <div class="travel-route-article-box">
                <div class="tit">撰寫作者</div>
                <div class="route-article">
                  <div class="icon"><img src="img/default_member.svg" alt=""/></div>
                  <div class="name">劉雅婷</div>
                </div>
                <div class="route-article-cont">大家好，我是再臺灣土生土長的雅婷，熱衷於探索臺灣，維持身心靈的健康快樂。</div>
              </div>
              <div class="travel-route-article-box">
                <div class="tit">相關分類</div>
                <div class="travel-tag-area"><a href="###">#美食之旅</a></div>
              </div>
            </div>
          </div>
          <div class="travel-page-side">
            <div class="travel-page-side-box">
              <div class="travel-page-tit">體驗主題路線</div>
              <div class="travel-theme-side-area"><a class="travel-theme-side-box" href="travel_cont.html"><img src="img/t_page_banner.jpg" alt=""/>
                  <div class="tit">砂糖橘詹冰淇淋：椪柑的清甜如小鎮生活的滋潤清爽，路上處處可見的詹冰詩作</div></a><a class="travel-theme-side-box" href="travel_cont.html"><img src="img/travel_theme01.jpg" alt=""/>
                  <div class="tit">樟之細路：走走步道、悠遊苗栗大湖小鎮—老官道...</div></a></div>
            </div>
            <!-- 電腦版-->
            <div class="travel-page-side-btn pc-show"><a class="travel-m-btn travel-orange-btn" href="travel_blog_edit.html"><i class="fas fa-plus"></i> 撰寫文章</a>
              <div class="travel-m-btn"><i class="fas fa-heart"></i> 加入收藏</div>
              <div class="travel-m-btn act"><i class="fas fa-heart"></i> 已加入收藏</div>
            </div>
            <div class="travel-page-tool pc-show">
              <div class="icon i-link"></div>
              <div class="icon i-fb"></div>
              <div class="icon i-line"></div>
              <div class="icon i-thumb"></div>
            </div>
          </div>
          <div class="btn-area"><a class="travel-m-btn" href="travel_blog_list.html"><i class="far fa-chevron-left"></i> 返回部落格</a></div>
          <!-- 手機版-->
          <div class="travel-page-tool mb-fix-bot">
            <div class="mb-list-area">
              <div class="mb-icon-box">
                <div class="icon i-link"></div>
                <div class="icon i-fb"></div>
                <div class="icon i-line"></div>
                <div class="icon i-thumb"></div>
              </div>
            </div>
            <div class="mb-btn-box">
              <div class="btn w50"><i class="fas fa-heart"></i><span>加入收藏</span></div><a class="btn w50 travel-m-btn travel-orange-btn" href="travel_blog_edit.html"><i class="fas fa-plus"></i> 撰寫文章</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="travel-area travel-pagebg02">
      <div class="travel-cont">
        <div class="travel-page-more-cont">
          <div class="tit">猜你應該會喜歡的內容</div>
          <div class="travel-morelike-sw-area">
            <div class="swiper-containe travel-morelike-sw" id="travelMoreSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="travel-theme-box"><a class="travel-theme" href="travel_route_cont.html">
                      <div class="travel-theme-box-img"><img src="img/travel02.png" alt=""/></div>
                      <div class="travel-theme-txt">
                        <div class="date">2020.11.20</div>
                        <div class="tit">置身典雅的臺灣文學館，捕捉幸福的最佳地點</div>
                      </div></a>
                    <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#歷史古蹟</a><a href="travel_route_src_tag_list.html">#文學創作</a><a href="travel_route_src_tag_list.html">#臺南景點</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="travel-theme-box"><a class="travel-theme" href="travel_route_cont.html">
                      <div class="travel-theme-box-img"><img src="img/travel03.png" alt=""/></div>
                      <div class="travel-theme-txt">
                        <div class="date">2020.10.20</div>
                        <div class="tit">文學力 —— 書寫 LÁN 臺灣常設展</div>
                      </div></a>
                    <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#活動講座</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="travel-theme-box"><a class="travel-theme" href="travel_route_cont.html">
                      <div class="travel-theme-box-img"><img src="img/travel04.png" alt=""/></div>
                      <div class="travel-theme-txt">
                        <div class="date">2020.11.20</div>
                        <div class="tit">浪漫臺三線．214公里的踏查之旅 ─ 前往梨之鄉</div>
                      </div></a>
                    <div class="travel-tag-area"><a href="travel_route_src_tag_list.html">#歷史古蹟</a><a href="travel_route_src_tag_list.html">#文學創作</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="travel-page-cont">
          <div class="travel-page-txt-cont">
            <div class="travel-page-tit">評論</div>
            <div class="travel-page-common-area">
              <div class="travel-page-common-user">
                <div class="user-img"><img src="img/default_member.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <!--  未登入-->
                  <div class="travel-page-common-note" style="display:none">您需要<a href="login_page.html">登入</a>才能留言。如尚未成為會員，請先<a href="register.html">註冊</a>。</div>
                  <!--  登入後-->
                  <div class="travel-page-common-input">
                    <input type="text" placeholder="留言..."/>
                    <div class="sumbit"><img src="img/brown_arrow_r.svg" alt=""/></div>
                  </div>
                  <div class="travel-page-robot-box">機器人驗證Box</div>
                </div>
              </div>
              <div class="travel-page-common-user req">
                <div class="user-img"><img src="img/icon_t_user.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <div class="page-common-req">
                    <div class="info">
                      <div class="name-box">
                        <div class="name">雅婷</div>
                      </div>
                      <div class="cont">是一個非常棒的地方，會想去看看～
                      </div>
                    </div>
                    <div class="date">2021/10/10</div>
                  </div>
                </div>
              </div>
              <div class="travel-page-common-user req">
                <div class="user-img"><img src="img/icon_t_user.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <div class="page-common-req">
                    <div class="info">
                      <div class="name-box">
                        <div class="name">雯雯</div>
                      </div>
                      <div class="cont">居然是我的家鄉，等假期去附近走走：）
                      </div>
                    </div>
                    <div class="date">2021/10/10</div>
                  </div>
                </div>
              </div>
              <div class="travel-page-common-user req">
                <div class="user-img"><img src="img/icon_t_user.svg" alt=""/></div>
                <div class="travel-page-common-cont">
                  <div class="page-common-req">
                    <div class="info">
                      <div class="name-box">
                        <div class="name">美華</div>
                      </div>
                      <div class="cont">
                        <div class="reply-alert">此內容可能違反規定或涉嫌洗版，已將內容屏蔽</div>
                      </div>
                    </div>
                    <div class="date">2021/10/10</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="travel-page-recommon"><a class="travel-recommon-cont" href="###">
              <div class="travel-recommon-box">
                <div class="travel-recommon-tit">
                  <h3>活動月曆</h3><span>各大館舍、實體展覽推薦。</span>
                  <div class="icon"><img src="img/wh_arrow_r.svg" alt=""/></div>
                </div><img class="bg" src="img/bg_go02.png" alt=""/>
              </div></a>
          </div>
        </div>
      </div>
    </div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
<script>
  var travelMoreSwiper;
  $(document).ready(function () {
      //== 手機猜你喜歡區塊 ==
      travelMoreArea();
  
      //== 內文br重置 ==
      $('.travel-blog-txt').find('p').each(function(ind,val){
          var textCont=$(val).text();
          var strList = textCont.split('\n');
          var textContChange = strList.join('<br>');
          $(val).html(textContChange);
      });
  });
  
  $(window).resize(function(){
      //== 手機猜你喜歡區塊 ==
      travelMoreArea();
  });
  
  //== 手機猜你喜歡區塊 ==
  function travelMoreArea(){
      var windowW=$(window).width();
      if(windowW > 767){
          //== 電腦版不需要sw，如果有啟動要取消 ==
          if(!!travelMoreSwiper){
              travelMoreSwiper.destroy();
          }
      }else{
          //== 如果沒有啟動sw在執行 ==
          if( !travelMoreSwiper || travelMoreSwiper.destroyed == true){
              travelMoreSwiper = new Swiper('#travelMoreSwiper', {
                  slidesPerView: 1,
                  spaceBetween: 20,
                  initialSlide: 1
              });
          }
      }
  }
</script>
