pug/travel_about.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[],'actName':'筆尖上的地圖'}
            +travelBread(bread)
            .travel-page-tit-area
                .tit-sup-up 關於
                h2  筆尖上的地圖
        .travel-area.page-top-cover
            .travel-cont
                .travel-about-area
                    .edit-box.travel-edit-box
                        p.def 本站為文化部「科技．人文．友善體驗-博物館數位導覽示範計畫」的執行成果 ，其主要核心以科技導入藝術、人文與歷史資產之保存與展示，延續其生命滲 透力，同時將科技深化在地社群文化，扎根智能城市發展，期望利用科技整合 人文經濟的跨域與創新知識體系，結合本館各項文學資源，提升民眾與文學愛 好者更便利之智慧文學館體驗。
                        p.def 「航向世界」的入口圖示，是本站的核心意念。機能具展示、研究以及共創服務，內容包括：虛擬實境、臺灣文學史、文學踏查、數位3D、主題平台、共創平台六個區域。各個區域皆由臺文館結合專家團隊共同打造而成，並與時俱進，持續新增資料。也歡迎使用者回饋意見，一起打造「航向世界」的船。
                        p.def 本以下說明部分區域的使用方式及閱讀建議：虛擬實境──以「臺灣文學的內在世界常設展」、以專業典藏修護室以及典藏庫房工作區為展示內容，使用者可使用手機附加VR載體，體會虛擬實境之感，亦能720度旋轉觀看，點選單一物件，即可看見說明內容；臺灣文學史──分時期與主題介紹臺灣文學史的發展，每一個時期備有導讀及大事記，利用游標移動時間軸，可閱讀該時期的事件內容，點選標籤字詞，亦可獲得相關的資訊。共創平台，將持續發展與使用者的對話並回應本站的內容。本站期待以「維基精神（wiki spirit）」，創發更多與使用者互動的機制，在這虛擬世界裡一起參與文學的進程。
                        p.def 合作團隊：<br>國立中興大學：由臺灣文學與跨國文化研究所特聘教授邱貴芬帶領研究團隊，開發具有Timeline閱讀機能的新編臺灣文學史。撰寫導讀的學者專家：明清漢語古典文學時期／廖振富教授；殖民地時期：漢文古典文學時期／施淑教授；殖民地時期：漢文新文學／施淑教授；殖民地時期：日文新文學／施淑教授；重建與反共時期／范銘如教授；現代主義文學時期／邱貴芬教授；鄉土文學時期／邱貴芬教授：反建制時期／陳芷凡副教授；後鄉土文學時期／范銘如教授。 邱教授同時也是開發「作家主題平台」的原創者。團隊主持人另有：詹閔旭助理教授，共同主持人：林餘佐博士候選人、金儒農博士；助理：黃瓊慧小姐、洪千媚小姐、李如恩小姐、蔡岱叡先生、陳嘉樺先生、顧曼齡小姐。
                        p.def
                            | 愛迪斯數位科技股份有限公司：負責開發建置「數位3D」平台，內容包括臺文館典藏品3D掃描成果、數位線上遊戲。<br><br>
                            | 聖傑國際數位科技有限公司：建置「作家主題平台」，負責匯入、更新資料。<br><br>
                            | 其他內容則由本館團隊合作而成。<br><br>
                            | 2019.08
        include includes/footer_travel03

public/travel_about.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <span>筆尖上的地圖</span>
      </div>
      <div class="travel-page-tit-area">
        <div class="tit-sup-up">關於</div>
        <h2> 筆尖上的地圖</h2>
      </div>
    </div>
    <div class="travel-area page-top-cover">
      <div class="travel-cont">
        <div class="travel-about-area">
          <div class="edit-box travel-edit-box">
            <p class="def">本站為文化部「科技．人文．友善體驗-博物館數位導覽示範計畫」的執行成果 ，其主要核心以科技導入藝術、人文與歷史資產之保存與展示，延續其生命滲 透力，同時將科技深化在地社群文化，扎根智能城市發展，期望利用科技整合 人文經濟的跨域與創新知識體系，結合本館各項文學資源，提升民眾與文學愛 好者更便利之智慧文學館體驗。</p>
            <p class="def">「航向世界」的入口圖示，是本站的核心意念。機能具展示、研究以及共創服務，內容包括：虛擬實境、臺灣文學史、文學踏查、數位3D、主題平台、共創平台六個區域。各個區域皆由臺文館結合專家團隊共同打造而成，並與時俱進，持續新增資料。也歡迎使用者回饋意見，一起打造「航向世界」的船。</p>
            <p class="def">本以下說明部分區域的使用方式及閱讀建議：虛擬實境──以「臺灣文學的內在世界常設展」、以專業典藏修護室以及典藏庫房工作區為展示內容，使用者可使用手機附加VR載體，體會虛擬實境之感，亦能720度旋轉觀看，點選單一物件，即可看見說明內容；臺灣文學史──分時期與主題介紹臺灣文學史的發展，每一個時期備有導讀及大事記，利用游標移動時間軸，可閱讀該時期的事件內容，點選標籤字詞，亦可獲得相關的資訊。共創平台，將持續發展與使用者的對話並回應本站的內容。本站期待以「維基精神（wiki spirit）」，創發更多與使用者互動的機制，在這虛擬世界裡一起參與文學的進程。</p>
            <p class="def">合作團隊：<br>國立中興大學：由臺灣文學與跨國文化研究所特聘教授邱貴芬帶領研究團隊，開發具有Timeline閱讀機能的新編臺灣文學史。撰寫導讀的學者專家：明清漢語古典文學時期／廖振富教授；殖民地時期：漢文古典文學時期／施淑教授；殖民地時期：漢文新文學／施淑教授；殖民地時期：日文新文學／施淑教授；重建與反共時期／范銘如教授；現代主義文學時期／邱貴芬教授；鄉土文學時期／邱貴芬教授：反建制時期／陳芷凡副教授；後鄉土文學時期／范銘如教授。 邱教授同時也是開發「作家主題平台」的原創者。團隊主持人另有：詹閔旭助理教授，共同主持人：林餘佐博士候選人、金儒農博士；助理：黃瓊慧小姐、洪千媚小姐、李如恩小姐、蔡岱叡先生、陳嘉樺先生、顧曼齡小姐。</p>
            <p class="def">
              愛迪斯數位科技股份有限公司：負責開發建置「數位3D」平台，內容包括臺文館典藏品3D掃描成果、數位線上遊戲。<br><br>
              聖傑國際數位科技有限公司：建置「作家主題平台」，負責匯入、更新資料。<br><br>
              其他內容則由本館團隊合作而成。<br><br>
              2019.08
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top-cover"></div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
