pug/travel_news_cont.pug
include includes/travel_mixin
<!DOCTYPE html>
html
    include includes/header
    body.travel-bg
        h1.ht 臺灣文學虛擬博物館
        include includes/nav_travel
        .travel-area
            -const bread={'links':[{'name':'最新資訊','url':'travel_news_list.html'}],'actName':'建築導覽遊戲腳本徵選'}
            +travelBread(bread)
        .blog-tit-area
            img.bg-img(src="img/travel_news01.jpg", alt="")
            .cloud.cloud05
            .cloud.cloud06
            .blog-tit
                h2 建築導覽遊戲腳本徵選
                .travel-page-info
                    //- .info by
                    //-     span.art 文學小編
                    .info 2021.11.13
                    .info 358 次點閱
                    .info
                        .icon
                            img(src="img/icon_wh_collect.svg", alt="")
                        .txt 54
                    //- .info
                    //-     .icon
                    //-         img(src="img/icon_wh_comment.svg", alt="")
                    //-     .txt 11
                    //- .share-btn-box
                    //-     a(href="###")
                    //-         i(class="far fa-check")
                    //-         | 讚 <span>234</span>
        .travel-area
            .travel-cont.travel-detail-cont
                .travel-page-cont
                    .travel-page-txt-cont
                        .travel-tag-area
                            -const tagList=['文學','小說','自由戀愛']
                            each n in tagList
                                a(href="travel_news_src_tag_list.html") ##{n}
                        .travel-page-txt-banner
                            img(src="img/travel_news01.jpg", alt="")
                        .travel-page-txt
                            .edit-box.travel-edit-box
                                p.def 本徵選活動以「國立臺灣文學館(國定古蹟原臺南州廳)」為主題，運用原臺南州廳過往的歷史風華、建築美學、修復再利用作為創寫遊戲腳本的背景藍本，再以結合數位3D掃描、建模、AR等技術，開發智慧導覽應用程式的方式，向大眾徵求「遊戲故事腳本」，讓過去的原臺南州廳，也就是現在的國立臺灣文學館，得以用更加多元的面貌呈現在社會大眾面前，進而使其親近與感受「建築與文學」的生命力。
                                p.def 此次徵選將選出金、銀、銅獎及數名佳作，首獎獎金五萬元，作品將由專業廠商開發成數位遊戲，歡迎各方高手踴躍參加。
                    .travel-page-side
                        //電腦版
                        .travel-page-side-btn.pc-show
                            .travel-m-btn <i class="fas fa-heart"></i> 加入收藏
                            .travel-m-btn.act <i class="fas fa-heart"></i> 已加入收藏
                        .travel-page-tool.pc-show
                                //- .icon.i-heart
                                .icon.i-link
                                .icon.i-fb
                                .icon.i-line
                                .icon.i-thumb
                    .btn-area
                        a(href="travel_news_list.html").travel-m-btn <i class="far fa-chevron-left"></i> 返回最新資訊
                    // 手機版
                    .travel-page-tool.mb-fix-bot
                        .mb-list-area
                            .mb-icon-box
                                //- .icon.i-heart
                                .icon.i-link
                                .icon.i-fb
                                .icon.i-line
                                .icon.i-thumb
                        .mb-btn-box
                            .btn.w100
                                <i class="fas fa-heart"></i>
                                span 加入收藏
        include includes/footer_travel03

public/travel_news_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body class="travel-bg">
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="travel-nav-area">
      <div class="travel-nav-cont"><a class="travel-logo" href="travel.html"><img src="img/go_logo.svg" alt=""/></a>
        <div class="travel-nav" id="travelNav"><a class="item" href="travel_about.html"><span>品牌介紹 </span></a>
          <div class="item item-mc"><span>自己走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_theme_list.html"><span>主題路線</span></a><a href="travel_game_list.html"><span>線上解謎</span></a>
            </div>
          </div>
          <div class="item item-mc"><span>一起走走</span>
            <div class="icon icon-plus"></div>
            <div class="tsup-nav"><a href="travel_news_list.html"><span>最新資訊</span></a><a href="travel_event_map.html"><span>活動月曆</span></a>
            </div>
          </div><a class="item" href="travel_family_list.html"><span>家族走走 </span></a><a class="item" href="travel_blog_list.html"><span>部落格 </span></a><a class="item" href="travel_worksheet_list.html"><span>學習單 </span></a>
          <div class="travel-user-mb">
            <!--未登入--><a class="item" href="register.html"><span>註冊</span></a><a class="item" href="login.html"><span>登入</span></a>
            <!--已登入--><a class="item" href="member_info.html"><span>會員中心</span></a><a class="item" href="###"><span>登出</span></a>
          </div>
        </div>
        <div class="travel-user"><a class="travel-search" href="travel_search.html"><img src="img/icon_search.svg" alt=""/></a>
          <div class="travel-btn travel-user-box"><a href="login_page.html">登入 </a>| <a href="register.html">註冊</a></div>
          <div class="travel-lang-box">
            <select class="travel-lang-sel" id="lang" name="lang">
              <option value="" disabled="" selected="">語言</option>
              <option value="zh">中文</option>
              <option value="en">English</option>
            </select>
          </div>
          <button class="hamburger hamburger--squeeze travel-ham" type="button" id="travelHam"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap travel-light" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <script src="js/travel_common.js"> </script>
    <div class="travel-area">
      <div class="travel-bread-area"><a href="travel.html">首頁</a> / <a href="travel_news_list.html">最新資訊</a> / <span>建築導覽遊戲腳本徵選</span>
      </div>
    </div>
    <div class="blog-tit-area"><img class="bg-img" src="img/travel_news01.jpg" alt=""/>
      <div class="cloud cloud05"></div>
      <div class="cloud cloud06"></div>
      <div class="blog-tit">
        <h2>建築導覽遊戲腳本徵選</h2>
        <div class="travel-page-info">
          <div class="info">2021.11.13</div>
          <div class="info">358 次點閱</div>
          <div class="info">
            <div class="icon"><img src="img/icon_wh_collect.svg" alt=""/></div>
            <div class="txt">54</div>
          </div>
        </div>
      </div>
    </div>
    <div class="travel-area">
      <div class="travel-cont travel-detail-cont">
        <div class="travel-page-cont">
          <div class="travel-page-txt-cont">
            <div class="travel-tag-area"><a href="travel_news_src_tag_list.html">#文學</a><a href="travel_news_src_tag_list.html">#小說</a><a href="travel_news_src_tag_list.html">#自由戀愛</a>
            </div>
            <div class="travel-page-txt-banner"><img src="img/travel_news01.jpg" alt=""/></div>
            <div class="travel-page-txt">
              <div class="edit-box travel-edit-box">
                <p class="def">本徵選活動以「國立臺灣文學館(國定古蹟原臺南州廳)」為主題，運用原臺南州廳過往的歷史風華、建築美學、修復再利用作為創寫遊戲腳本的背景藍本，再以結合數位3D掃描、建模、AR等技術，開發智慧導覽應用程式的方式，向大眾徵求「遊戲故事腳本」，讓過去的原臺南州廳，也就是現在的國立臺灣文學館，得以用更加多元的面貌呈現在社會大眾面前，進而使其親近與感受「建築與文學」的生命力。</p>
                <p class="def">此次徵選將選出金、銀、銅獎及數名佳作，首獎獎金五萬元，作品將由專業廠商開發成數位遊戲，歡迎各方高手踴躍參加。</p>
              </div>
            </div>
          </div>
          <div class="travel-page-side">
            <!--電腦版-->
            <div class="travel-page-side-btn pc-show">
              <div class="travel-m-btn"><i class="fas fa-heart"></i> 加入收藏</div>
              <div class="travel-m-btn act"><i class="fas fa-heart"></i> 已加入收藏</div>
            </div>
            <div class="travel-page-tool pc-show">
              <div class="icon i-link"></div>
              <div class="icon i-fb"></div>
              <div class="icon i-line"></div>
              <div class="icon i-thumb"></div>
            </div>
          </div>
          <div class="btn-area"><a class="travel-m-btn" href="travel_news_list.html"><i class="far fa-chevron-left"></i> 返回最新資訊</a></div>
          <!-- 手機版-->
          <div class="travel-page-tool mb-fix-bot">
            <div class="mb-list-area">
              <div class="mb-icon-box">
                <div class="icon i-link"></div>
                <div class="icon i-fb"></div>
                <div class="icon i-line"></div>
                <div class="icon i-thumb"></div>
              </div>
            </div>
            <div class="mb-btn-box">
              <div class="btn w100"><i class="fas fa-heart"></i><span>加入收藏</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-top-cover"></div>
    <div class="travel-footer-area bg2">
      <div class="travel-cont">
        <div class="travel-footer-box">
          <div class="tlogo-w"><img src="img/go_wlogo.svg" alt=""/></div>
          <div class="travel-footer-info">網站客服 hikingnote@gmail.com</div>
          <div class="travel-footer-info"><a href="travel_about.html">關於我們</a><span>｜</span><a href="Partner.html">合作夥伴</a><span>｜</span><a href="Marketing.html">行銷合作</a><span>｜</span><a href="Service.html">服務條款</a><span>｜</span><a href="privacy.html">隱私權政策</a>
          </div>
          <div class="travel-footer-about"><span>相關連結</span><a class="tm-logo" href="index.html"><img src="img/logo.svg" alt=""/></a></div>
        </div>
        <div class="travel-footer-box">
          <div class="travel-footer-social"><a class="icon" href="###"><img src="img/icon_gofb.svg" alt=""/></a><a class="icon" href="###"><img src="img/icon_goyt.svg" alt=""/></a></div>
          <div class="tcopyright">© 2021 literature, Inc.</div>
        </div>
      </div>
      <div class="travel-gotop" id="travelGoTop"><i class="fas fa-arrow-to-top"></i></div>
    </div>
  </body>
</html>
