public/writer_book_comment_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript" src="js/timeline/timeline-min.js"></script>
    <link rel="stylesheet" href="css/timeline/timeline.css"/>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/storymap/storymap.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <div class="nav-area" id="navArea">
      <div class="nav-info-area">
        <div class="nav-slogn">科技．人文．友善體驗</div>
        <div class="nav-user-area">
          <div class="nav-user" id="loginBox">
            <div class="login-user"><span class="mbno-600">親愛的會員</span><a href="member_info.html">周子瑜</a>您好</div>
            <div class="log-btn logout-btn" id="loginOut">登出</div>
          </div>
          <div class="login-btn-box" id="unLoginBox" style="display:none;"><a class="log-btn regis-btn" href="register.html">註冊會員</a><a class="log-btn" href="login_page.html">會員登入</a></div><a class="log-btn fb-btn" href="###" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <div class="lang-sel-box">
            <select class="lang-sel" id="lang" name="lang">
              <option value="" disabled="disabled" selected="selected">語言</option>
              <option value="zh">繁中</option>
              <option value="en">English</option>
            </select>
          </div>
        </div>
      </div>
      <div class="nav-fix-box" id="navFixBox">
        <nav>
          <h2 class="ht"><span>臺灣文學虛擬博物館 導航列</span></h2><a class="logo" href="index.html"><img src="img/logo.svg" alt="臺灣文學虛擬博物館"/></a>
          <div class="nav-cont">
            <!--有英文版要加.en => .nav-item.en#navItem -->
            <div class="nav-item" id="navItem"> 
              <!--英文版 -const nav=[{'name':'Virtual Reality','enName':'','link':'###'}, {'name':'Literary History','enName':'','link':'history_list_p2.html'}, {'id':'navLiteraryBtn','name':'Literary Tour','enName':'','subNav':[{'name':'Writer\'s history','enName':'','link':'writer_list.html'},{'name':'Story map','enName':'','link':'writer_story_list.html'},{'name':'Theme tour','enName':'','link':'theme_list.html'},{'name':'Real Escape','enName':'','link':'###'}]}, {'name':'Digital 3D','enName':'','link':'http://211.75.82.187/WS/3dmodel.php','isOut':true}, {'id':'navThemeBtn','name':'Theme Platform','enName':'','link':'###','subNav':[{'name':'Writer\'s platform','enName':'','link':'https://literature.sds.com.tw/','isOut':true},{'name':'Literary Exhibition','enName':'','link':'exhibition_list_p2.html'},{'name':'Virtual Reality(laiho)','enName':'','link':'###'}]}, {'id':'navMakerBtn','name':'Maker Space','enName':'','subNav':[{'name':'Maker Articles','enName':'','link':'create_platform.html'},{'name':'Forum','enName':'','link':'create_qa_list.html'}]}, {'name':'Collecting Literature','enName':'','link':'###'} ]; //-n 是值 i 是KEY--><a class="n-item" href="travel.html"><span>筆尖上的地圖</span></a><a class="n-item" href="history_list_p2.html"><span>臺灣文學史</span></a>
              <div class="n-item" id="navLiteraryBtn" opSupNav="opSupNav"><span>文學踏查</span>
                <div class="n-nav-sup"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
                  <div class="n-nav-three-box"><a href="###"><span class="tit">實境解謎</span><span class="cont">小封神藏寶圖系列1</span></a><a href="###"><span class="cont">小封神藏寶圖系列2</span></a>
                  </div>
                </div>
              </div><a class="n-item" href="http://211.75.82.187/WS/3dmodel.php" target="_blank"><span>數位3D</span></a>
              <div class="n-item" id="navThemeBtn" opSupNav="opSupNav"><span>主題平台</span>
                <div class="n-nav-sup"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
                </div>
              </div>
              <div class="n-item" id="navMakerBtn" opSupNav="opSupNav"><span>共創平台</span>
                <div class="n-nav-sup"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
                </div>
              </div><a class="n-item" href="###"><span>拾藏文學</span></a>
            </div>
            <div class="src-box">
              <input class="input-src" type="text" placeholder="搜尋..."/>
              <div class="src-btn"><i class="fas fa-search"></i></div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </nav>
        <div class="sub-nav-list">
          <div class="nav-sup sub-literaryList" id="navLiteraryList"><a href="writer_list.html"><span>作家行跡</span></a><a href="writer_story_list.html"><span>故事地圖</span></a><a href="theme_list.html"><span>主題之旅</span></a>
            <div class="nav-three"><span>城市解謎</span>
              <div class="nav-three-box"><a href="###">小封神藏寶圖系列1</a><a href="###">小封神藏寶圖系列2</a>
              </div>
            </div>
          </div>
          <div class="nav-sup sub-themeList" id="navThemeList"><a href="https://literature.sds.com.tw/" target="_blank"><span>作家平台</span></a><a href="exhibition_list_p2.html"><span>文學展示</span></a><a href="exhibition_map.html"><span>展場地圖</span></a>
          </div>
          <div class="nav-sup sub-makerList" id="navMakerList"><a href="create_platform.html"><span>共創文章</span></a><a href="create_qa_list.html"><span>交流討論</span></a>
          </div>
        </div>
      </div>
    </div>
    <div id="fixNav"></div>
    <div class="mask" id="stepMask"></div>
    <div class="mask" id="mask"></div>
    <div class="light-txt-wrap" id="lightTxtWrap">
      <div class="light-txt-cont">
        <div class="light-txt" id="lightTxt">訊息</div>
        <div class="btn" id="lightTxtClose">確定</div>
      </div>
    </div>
    <div class="page-tab-area">
      <div class="main-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><a href="writer_list.html">文學踏查 - 作家平台</a><span>/</span>
          <div class="act-page">葉石濤</div>
        </div><a class="back-btn" href="writer_list.html"><i class="far fa-angle-left"></i> 返回作家平台</a>
        <div class="page-nav-area"><a class="page-nav-box act" href="writer_list.html"><i class="fal fa-books"></i> 作家平台</a><a class="page-nav-box" href="writer_story_list.html"><i class="fal fa-map-marked-alt"></i> 故事地圖</a><a class="page-nav-box" href="theme_list.html"><i class="fal fa-map-signs"></i> 主題之旅</a>
        </div>
      </div>
    </div>
    <div class="page-writer-bread-area">
      <div class="main-cont">
        <div class="writer-bread"><a href="writer_cont_v5.html">葉石濤</a><span class="spa">/</span><a href="writer_book_comment_list.html">評論資料</a><span class="spa">/</span><span class="act">臺灣文學史(韓文版)｜國家文化記憶庫2.0</span>
        </div>
      </div>
    </div>
    <div class="page-wrap page-gray-wrap">
      <div class="main-cont">
        <div class="writer-track-tit">
          <h3>評論資料</h3>
        </div>
        <div class="writer-book-area">
          <div class="writer-book-img-box">
            <div class="writer-book-img"><img src="img/book12.jpg" alt=""/></div>
            <div class="writer-book-name img" id="imgTitle">臺灣文學史(韓文版)｜國家文化記憶庫2.0</div>
          </div>
          <div class="writer-book-cont">
            <div class="writer-book-name-box">
              <h4 class="writer-book-name tit">臺灣文學史(韓文版)｜國家文化記憶庫2.0</h4>
            </div>
            <div class="cont">
              <div class="edit-box">
                <p>文學評論集，葉石濤著。1979年3月，由台北遠景出版社出版。這本集子是從作者最早的蘭開版《葉石濤評論集》(1968) 脫胎而來，加上1973年三信版的《葉石濤作家論集》中新增的作品及之後的新作，可以說是彙集了作者1965年到1979年以前，所有重要的作家論、作品論，以及台灣文學史論述之大成，也是葉石濤戰後30多年間、重要台灣文學發言的總集合。總共有28篇作品，有8篇台灣文學史論，有8篇7家作家論，其餘為作品論。</p>
                <p>本集的台灣文學史論述，以〈台灣的鄉土文學〉揭開序幕。1965年的台灣文學，尚掩蓋在反共文學的煙霧中時，葉石濤在這篇文章中首先表示，台灣的新文學自賴和以降，自成一個文學發展的體系，台灣作家個個像受難的使徒背著沉重的十字架，像唐‧吉訶德一樣揮矛迎向風車挑戰，就是為了建立自己的文學。從戰前、戰中到戰後，台灣作家從鄉土這唯一統一的主題，已然連成一脈，發願在有生之年寫成一部台灣鄉土文學史。1967年，則發表了另一篇〈兩年來的省籍作家及其小說〉，主要是以《台灣文藝》以及1965年鍾肇政主編出版的兩套叢書：「本省籍作家作品選集」(文壇社) 及「台灣省青年作家叢書」(幼獅書店) 各10冊上面的作家作品資料，補充他的台灣鄉土文學史論。1968年，他又發表了〈一年來的省籍作家及其作品──兼論省籍作家的特質〉，仍然可以視為前者的補充論述，比較特別的是，本篇以「紀錄性」(documentry)、「地域性」(regionalism)、「觀念」(idea) 三種趨勢，做為他分析台灣作家作品之後，歸納出來的特質。他說，作家應自由創作，忠實地批評時代政治、社會和既成道德秩序。敏銳地捕捉居住地域的環境變遷情形。表現透過觀念的處理而重塑的鄉土。「我們的文學必須富於民族靈魂和鄉土色彩。」是作者第一次這麼具體地表述他的台灣文學本質論。</p>
                <p>至於更為確定的台灣文學史觀表述，應是1977年發表的〈台灣鄉土文學史導論〉，這篇文章藉南非白人女作家N‧歌蒂瑪(Nadina Gordimer)為現代非洲文學下定義的模式──所謂非洲的作品就是非洲人寫的作品，以及在非洲土地上，在精神及心理層面上跟非洲人有共通經驗的作品，絕不受語言膚色制約。因此，台灣鄉土文學就是不分族群的台灣人所寫的文學，也是具台灣共通生活經驗、歷史的文學。葉石濤說：「台灣的鄉土文學應該是以『台灣為中心』寫出來的作品；……它應該是站在台灣的立場上來透視整個世界的作品。儘管……作家可以自由地寫出任何他們感興趣及喜愛的事物，但是他們應具有根深蒂固的『台灣意識』，否則台灣鄉土文學豈不成為某種『流亡文學』？」。所謂「台灣意識」，就是跟廣大人民生活息息相關的事物反映出來的意識，就是台灣人民長期是外來殖民統治壓迫的共通經驗，「一定是『反帝、反封建』的共通經驗以及篳路藍縷以啟山林的，跟大自然搏鬥的共通紀錄，而絕不是站在統治者意識上所寫出來的，背叛廣大人民意願的任何作品。」</p>
                <p>「台灣意識」台灣文學論的出現，使得他的、述作台灣鄉土文學史的願望，已具體成型，也確立了他自己的台灣文學史觀。這篇論述，也一舉釐清了台灣文學一直含混不清的外貌，促發70年代的鄉土文學定義的爭論。</p>
                <p>作家論的部分，分別討論了張文環、吳濁流、鍾理和、鍾肇政、林海音、黃娟、季季7家，可以說開啟了台灣文學作家學術評論的先河。作品論方面，則討論了張文環《在地上爬的人》、吳濁流〈幕後的支配者〉、鍾肇政的《輪迴》、《沉淪》、《中元的構圖》、黃靈芝的〈蟹〉、鄭清文的《校園裡的椰子樹》，李喬的兩本書(《飄然曠野》與《戀歌》)、七等生的小說(〈放生鼠〉、〈精神病患〉、〈昨夜在鹿鎮〉)、《僵局》和林懷民的〈安德烈‧紀德的冬天〉、〈逝者〉。</p>
                <p>本書可以視為葉石濤80年代文學史巨著《台灣文學史綱》的奠基之作。</p>
                <p>文學評論集，葉石濤著。1979年3月，由台北遠景出版社出版。這本集子是從作者最早的蘭開版《葉石濤評論集》(1968) 脫胎而來，加上1973年三信版的《葉石濤作家論集》中新增的作品及之後的新作，可以說是彙集了作者1965年到1979年以前，所有重要的作家論、作品論，以及台灣文學史論述之大成，也是葉石濤戰後30多年間、重要台灣文學發言的總集合。總共有28篇作品，有8篇台灣文學史論，有8篇7家作家論，其餘為作品論。</p>
                <p>本集的台灣文學史論述，以〈台灣的鄉土文學〉揭開序幕。1965年的台灣文學，尚掩蓋在反共文學的煙霧中時，葉石濤在這篇文章中首先表示，台灣的新文學自賴和以降，自成一個文學發展的體系，台灣作家個個像受難的使徒背著沉重的十字架，像唐‧吉訶德一樣揮矛迎向風車挑戰，就是為了建立自己的文學。從戰前、戰中到戰後，台灣作家從鄉土這唯一統一的主題，已然連成一脈，發願在有生之年寫成一部台灣鄉土文學史。1967年，則發表了另一篇〈兩年來的省籍作家及其小說〉，主要是以《台灣文藝》以及1965年鍾肇政主編出版的兩套叢書：「本省籍作家作品選集」(文壇社) 及「台灣省青年作家叢書」(幼獅書店) 各10冊上面的作家作品資料，補充他的台灣鄉土文學史論。1968年，他又發表了〈一年來的省籍作家及其作品──兼論省籍作家的特質〉，仍然可以視為前者的補充論述，比較特別的是，本篇以「紀錄性」(documentry)、「地域性」(regionalism)、「觀念」(idea) 三種趨勢，做為他分析台灣作家作品之後，歸納出來的特質。他說，作家應自由創作，忠實地批評時代政治、社會和既成道德秩序。敏銳地捕捉居住地域的環境變遷情形。表現透過觀念的處理而重塑的鄉土。「我們的文學必須富於民族靈魂和鄉土色彩。」是作者第一次這麼具體地表述他的台灣文學本質論。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="writer-track-back"><a href="writer_book_comment_list.html"><i class="fas fa-chevron-left"></i> 返回列表</a></div>
      </div>
    </div>
    <footer>
      <div class="main-cont">
        <div class="footer-logo"><a class="f-logo" href="https://www.nmtl.gov.tw/" target="_blank"><img src="img/logo_his.svg" alt=""/></a>
          <div class="f-logo-txt">700 臺南市中西區中正路1號<br><i class="far fa-phone-rotary"></i>（06）221-7201</div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info">
            <div class="web-link-cont">
              <div class="web-link-box"><a href="about.html">關於本站</a><a href="traffic_page.html">交通資訊</a><a href="###">聯絡我們</a>
                <div class="web-link" id="privacyBtn">隱私權及安全政策</div>
                <div class="web-link" id="questBtn">線上問卷</div>
                <!-- v4 add--><a href="medal_info_v4.html">集章任務說明</a>
                <!-- v4 add end-->
              </div>
              <div class="copyright">© 2020 VIRTUAL MUSEUM OF TAIWAN LITERATURE</div>
            </div>
          </div>
          <div class="web-info-box">
            <div class="web-info"><span>瀏覽人次</span><span>5915</span></div>
            <div class="web-info"><span>更新日期</span><span>2020/05/30</span></div>
          </div>
        </div>
      </div>
      <div class="gotop" id="goTop"><i class="fas fa-arrow-up"></i><span>TOP</span></div>
      <!-- 地圖推廣入口-->
      <div class="travel-enter-area close" id="travelEnterArea">
        <div class="switch-btn-box" id="travelEnterBtn">
          <div class="icon"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="c-step-side-box" id="cStepSideBtn">
          <div class="c-step-side-img"><img src="img/c_step_side.svg" alt=""/></div>
          <div class="c-step-side-txt"><i class="fas fa-comment-alt-exclamation"></i><span>集章任務開跑</span></div>
        </div>
      </div>
      <div class="light-wrap" id="privacyBox">
        <div class="light-tit">
          <h2>隱私權與安全政策</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <h3>一、隱私權保護政策</h3>
            <p> 個人隱私權已是使用者於網路世界瀏覽中主要之顧慮，國立臺灣文學館（以下簡稱本館）特創設隱私權保護政策，以下將對： 『個人資料的蒐集與使用方式』、『Cookies、IP address』、『對個人資料之保護與利用』加以說明與宣示：</p>
            <div class="tit">(一) 個人資料的蒐集與使用方式：</div>
            <p>為了在本網站上提供您最佳的網站服務，依不同頁面會請您提供相關個人的資料，其範圍如下：本網站在您使用電子報訂閱、團體導覽預約、活動報名、加入文學之友與刊登研討會訊息等系統功能表單時，會保留您所提供的姓名、電子郵件地址、連絡方式及使用時間等。</p>
            <div class="tit">(二) Cookies and IP Address：</div>
            <p>當使用者到本網站瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。</p>
            <div class="tit">(三) 對個人資料之保護與利用：</div>
            <p>本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料。我們採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義者，將會受到相關的法律處分。</p>
            <p>本網站雖將盡最大之努力以維護使用者之個人資料（不濫用與 不揭露），但因網路資料之傳輸無法確保百分之百的安全性， 因此本網站無法確信或擔保使用者所傳來或我們傳送予使用者 的資料完全安全。關於上述之風險，必須請使用者自行負擔。</p>
            <p>除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露於第三人或使用於蒐集目的以外之其他用途。</p>
            <h3>二、資訊安全政策</h3>
            <p>國立臺灣文學館(以下簡稱本館)尊重並保護您在使用網際網路時的安全及隱私保護利，為了幫助您瞭解「國立臺灣文學館全球資訊網」如何保護您在使用本網站各項服務的安全、及如何蒐集、應用及保護您所提供的個人資訊，請您詳細閱讀「國立臺灣文學館全球資訊網」的隱私保護及安全政策。請您仔細閱讀以下各項說明， 也歡迎您告訴我們您的想法，若有任何意見或疑 問，請E-mail至 twp@nmtl.gov.tw</p>
            <p>任何未經授權而企圖上載或更改本館所提供的各項服務及相關資訊的行為，都是嚴厲禁止而且可能觸犯法律。為了網站安全的目的和確保這項服務能夠繼續服務所有的網路使用者，本網站提供了以下的安全保護措施：</p>
          </div>
        </div>
      </div>
      <div class="light-wrap" id="questBox">
        <div class="light-tit">
          <h2>線上問卷</h2>
          <div class="light-close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="light-cont scroll-cont">
          <div class="light-scroll-cont">
            <div class="quest-list-box">
              <div class="quest-list-tit">問卷主題</div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 日本文學之興趣調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 臺灣文學虛擬博物館滿意度調查</a></div>
              <div class="quest-box"><a href="###" target="_blank"><i class="fas fa-pen-square"></i> 現代文學調查</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 集章步驟-->
      <div class="light-step-wrap close" id="lightStepWrap">
        <div class="light-step-close-box">
          <div class="light-step-close" id="lightStepClose"><img src="img/c_step_close.svg"/></div>
        </div>
        <div class="light-step-area">
          <div class="light-step-cont">
            <div class="light-step-tit">
              <div class="stpe-tit-d"><img src="img/c_step_d.svg"/></div>
              <div class="tit1"><span>集章任務開跑</span>
                <div class="arr"><img src="img/c_step_arr.svg"/></div>
              </div>
            </div>
            <div class="light-step-nav">
              <div class="step-box act" id="stepC1">STEP.1</div>
              <div class="step-box" id="stepC2">STEP.2</div>
              <div class="step-box" id="stepC3">STEP.3</div>
              <div class="step-box" id="stepC4">STEP.4</div>
            </div>
            <div class="light-step-sw-area">
              <div class="light-step-sw">
                <div class="swipe" id="lightStepSw">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">註冊會員或會員登入</div>
                        <div class="light-step-img cstep1"><img src="img/c_step1.png"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">前往「會員中心」，查看徽章收集進度</div>
                        <div class="light-step-img cstep2"><img src="img/c_step2.jpg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">完成各項集章任務，獲得更多徽章</div>
                        <div class="light-step-img cstep3"><img src="img/c_step3.svg"/></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="light-step-sw-box">
                        <div class="tit">累積更多徽章，兌換更多獎勵吧！</div>
                        <div class="light-step-img cstep4"><img src="img/c_step4.svg"/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function(){
  	$(window).scroll(function () {
  		//- var windowScrollNum = $(window).scrollTop();
  		var windowScrollNum = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
  		windowScrollNum > 300 ? $('#imgTitle').fadeIn(): $('#imgTitle').fadeOut();
  	});
  });
</script>

pug/writer_book_comment_cont.pug
include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		h1.ht 臺灣文學虛擬博物館
		include includes/nav
		.page-tab-area
			.main-cont
				-const breadList={'linkList':[{'name':'文學踏查 - 作家平台','link':'writer_list.html'}],'actPage':'葉石濤'}
				+breadBox(breadList)
				-const back={'name':'返回作家平台','link':'writer_list.html'}
				+backPage(back)
				-const subNavList=[{'name':'作家平台','icon':'<i class="fal fa-books"></i>','link':'writer_list.html','act':true},{'name':'故事地圖','icon':'<i class="fal fa-map-marked-alt"></i>','link':'writer_story_list.html'},{'name':'主題之旅','icon':'<i class="fal fa-map-signs"></i>','link':'theme_list.html'}]
				+subNav(subNavList)
		.page-writer-bread-area
			.main-cont
				-const writerBread={'links':[{'link':'writer_book_comment_list.html','txt':'評論資料'}],'act':'臺灣文學史(韓文版)｜國家文化記憶庫2.0'}
				+writerBread(writerBread)
		.page-wrap.page-gray-wrap
			.main-cont
				.writer-track-tit
					h3 評論資料
				.writer-book-area
					.writer-book-img-box
						.writer-book-img
							img(src="img/book12.jpg", alt="")
						.writer-book-name.img#imgTitle 臺灣文學史(韓文版)｜國家文化記憶庫2.0
					.writer-book-cont
						.writer-book-name-box
							h4.writer-book-name.tit 臺灣文學史(韓文版)｜國家文化記憶庫2.0
						.cont
							.edit-box
								p 文學評論集，葉石濤著。1979年3月，由台北遠景出版社出版。這本集子是從作者最早的蘭開版《葉石濤評論集》(1968) 脫胎而來，加上1973年三信版的《葉石濤作家論集》中新增的作品及之後的新作，可以說是彙集了作者1965年到1979年以前，所有重要的作家論、作品論，以及台灣文學史論述之大成，也是葉石濤戰後30多年間、重要台灣文學發言的總集合。總共有28篇作品，有8篇台灣文學史論，有8篇7家作家論，其餘為作品論。
								p 本集的台灣文學史論述，以〈台灣的鄉土文學〉揭開序幕。1965年的台灣文學，尚掩蓋在反共文學的煙霧中時，葉石濤在這篇文章中首先表示，台灣的新文學自賴和以降，自成一個文學發展的體系，台灣作家個個像受難的使徒背著沉重的十字架，像唐‧吉訶德一樣揮矛迎向風車挑戰，就是為了建立自己的文學。從戰前、戰中到戰後，台灣作家從鄉土這唯一統一的主題，已然連成一脈，發願在有生之年寫成一部台灣鄉土文學史。1967年，則發表了另一篇〈兩年來的省籍作家及其小說〉，主要是以《台灣文藝》以及1965年鍾肇政主編出版的兩套叢書：「本省籍作家作品選集」(文壇社) 及「台灣省青年作家叢書」(幼獅書店) 各10冊上面的作家作品資料，補充他的台灣鄉土文學史論。1968年，他又發表了〈一年來的省籍作家及其作品──兼論省籍作家的特質〉，仍然可以視為前者的補充論述，比較特別的是，本篇以「紀錄性」(documentry)、「地域性」(regionalism)、「觀念」(idea) 三種趨勢，做為他分析台灣作家作品之後，歸納出來的特質。他說，作家應自由創作，忠實地批評時代政治、社會和既成道德秩序。敏銳地捕捉居住地域的環境變遷情形。表現透過觀念的處理而重塑的鄉土。「我們的文學必須富於民族靈魂和鄉土色彩。」是作者第一次這麼具體地表述他的台灣文學本質論。
								p 至於更為確定的台灣文學史觀表述，應是1977年發表的〈台灣鄉土文學史導論〉，這篇文章藉南非白人女作家N‧歌蒂瑪(Nadina Gordimer)為現代非洲文學下定義的模式──所謂非洲的作品就是非洲人寫的作品，以及在非洲土地上，在精神及心理層面上跟非洲人有共通經驗的作品，絕不受語言膚色制約。因此，台灣鄉土文學就是不分族群的台灣人所寫的文學，也是具台灣共通生活經驗、歷史的文學。葉石濤說：「台灣的鄉土文學應該是以『台灣為中心』寫出來的作品；……它應該是站在台灣的立場上來透視整個世界的作品。儘管……作家可以自由地寫出任何他們感興趣及喜愛的事物，但是他們應具有根深蒂固的『台灣意識』，否則台灣鄉土文學豈不成為某種『流亡文學』？」。所謂「台灣意識」，就是跟廣大人民生活息息相關的事物反映出來的意識，就是台灣人民長期是外來殖民統治壓迫的共通經驗，「一定是『反帝、反封建』的共通經驗以及篳路藍縷以啟山林的，跟大自然搏鬥的共通紀錄，而絕不是站在統治者意識上所寫出來的，背叛廣大人民意願的任何作品。」
								p 「台灣意識」台灣文學論的出現，使得他的、述作台灣鄉土文學史的願望，已具體成型，也確立了他自己的台灣文學史觀。這篇論述，也一舉釐清了台灣文學一直含混不清的外貌，促發70年代的鄉土文學定義的爭論。
								p 作家論的部分，分別討論了張文環、吳濁流、鍾理和、鍾肇政、林海音、黃娟、季季7家，可以說開啟了台灣文學作家學術評論的先河。作品論方面，則討論了張文環《在地上爬的人》、吳濁流〈幕後的支配者〉、鍾肇政的《輪迴》、《沉淪》、《中元的構圖》、黃靈芝的〈蟹〉、鄭清文的《校園裡的椰子樹》，李喬的兩本書(《飄然曠野》與《戀歌》)、七等生的小說(〈放生鼠〉、〈精神病患〉、〈昨夜在鹿鎮〉)、《僵局》和林懷民的〈安德烈‧紀德的冬天〉、〈逝者〉。
								p 本書可以視為葉石濤80年代文學史巨著《台灣文學史綱》的奠基之作。
								p 文學評論集，葉石濤著。1979年3月，由台北遠景出版社出版。這本集子是從作者最早的蘭開版《葉石濤評論集》(1968) 脫胎而來，加上1973年三信版的《葉石濤作家論集》中新增的作品及之後的新作，可以說是彙集了作者1965年到1979年以前，所有重要的作家論、作品論，以及台灣文學史論述之大成，也是葉石濤戰後30多年間、重要台灣文學發言的總集合。總共有28篇作品，有8篇台灣文學史論，有8篇7家作家論，其餘為作品論。
								p 本集的台灣文學史論述，以〈台灣的鄉土文學〉揭開序幕。1965年的台灣文學，尚掩蓋在反共文學的煙霧中時，葉石濤在這篇文章中首先表示，台灣的新文學自賴和以降，自成一個文學發展的體系，台灣作家個個像受難的使徒背著沉重的十字架，像唐‧吉訶德一樣揮矛迎向風車挑戰，就是為了建立自己的文學。從戰前、戰中到戰後，台灣作家從鄉土這唯一統一的主題，已然連成一脈，發願在有生之年寫成一部台灣鄉土文學史。1967年，則發表了另一篇〈兩年來的省籍作家及其小說〉，主要是以《台灣文藝》以及1965年鍾肇政主編出版的兩套叢書：「本省籍作家作品選集」(文壇社) 及「台灣省青年作家叢書」(幼獅書店) 各10冊上面的作家作品資料，補充他的台灣鄉土文學史論。1968年，他又發表了〈一年來的省籍作家及其作品──兼論省籍作家的特質〉，仍然可以視為前者的補充論述，比較特別的是，本篇以「紀錄性」(documentry)、「地域性」(regionalism)、「觀念」(idea) 三種趨勢，做為他分析台灣作家作品之後，歸納出來的特質。他說，作家應自由創作，忠實地批評時代政治、社會和既成道德秩序。敏銳地捕捉居住地域的環境變遷情形。表現透過觀念的處理而重塑的鄉土。「我們的文學必須富於民族靈魂和鄉土色彩。」是作者第一次這麼具體地表述他的台灣文學本質論。
				.writer-track-back
					a(href="writer_book_comment_list.html") <i class="fas fa-chevron-left"></i> 返回列表
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		$(window).scroll(function () {
			//- var windowScrollNum = $(window).scrollTop();
			var windowScrollNum = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
			windowScrollNum > 300 ? $('#imgTitle').fadeIn(): $('#imgTitle').fadeOut();
		});
	});
