pug/writer_book_online_cont_BK.pug
include includes/mixin
<!DOCTYPE html>
html(class="js csstransforms csstransforms3d")
	//- include includes/header
	head
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//- 設定給手機device用
		meta(name="viewport", content="width=device-width,initial-scale=1.0, user-scalable=no")
		meta(name="title" content="臺灣文學虛擬博物館")
		meta(name="description" content="科技、人文、友善體驗")
		meta(name="Copyright" content="© 2020")
		//- FB分享設定
		meta(property="og:title" content="臺灣文學虛擬博物館")
		meta(property="og:site_name" content="科技、人文、友善體驗")
		meta(property="og:url" content="自定義分享連結的網址")
		meta(property="og:description" content="科技、人文、友善體驗")
		meta(property="og:image" content="呈現的圖片至少要1200x630")
		meta(property="og:type" content="website")
		//- https://developers.facebook.com/tools/debug (Facebook測試的og屬性的地方)
		title 臺灣文學虛擬博物館
		//- 頁籤icon
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		//- JS
		//- script(src="js/jquery-1.11.0.min.js")
		//- script(src="js/jquery-3.1.1.min.js")
		//- 驗證
		//- script(src="js/jquery.validate.min.js")
		//- script(src="js/additional-methods.min.js")
		//- script(src="js/messages_zh_TW.js")
		//- 輪播swiper
		//- script(src="js/swiper.min.js")
		//- 自定義滾輪
		//- script(src="js/jquery.mCustomScrollbar.concat.min.js")
		//- 日期選擇器
		//- script(src="js/datepicker.min.js")
		//- script(src="js/i18n/datepicker.en.js")
		//- script(src="js/i18n/datepicker.zh.js")
		//- 共用ＪＳ
		//- script(src="js/common.js")

		//-時間軸
		//- script(type="text/javascript" src="js/timeline/timeline-min.js")
		//- link(rel="stylesheet" href="css/timeline/timeline.css")
		//- 書本
		script(src="js/book/jquery.min.1.7.js")
		link(href="js/book/magazine.css" rel="stylesheet" type="text/css")
		link(rel="stylesheet" href="js/book/font-awesome.min.css")
		//- turn.js 和 zoom.min.js 順序必須要在jquery.min.1.7.js之下
		script(src="js/book/turn.js")
		script(src="js/book/zoom.min.js")
		script(src="js/book/magazine.js")
		script(src="js/book/hash.js")

		//- CSS
		//- FONT文字
		link(rel="stylesheet", href="css/all.min.css")
		//- 漢堡CSS https://jonsuh.com/hamburgers/
		//- link(rel="stylesheet", href="css/hamburgers.min.css")
		//- 滾輪自定義
		//- link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
		//- swiper
		//- link(rel="stylesheet", href="css/swiper.min.css")
		//- 日期選取器
		//- link(rel="stylesheet", href="css/datepicker.min.css")

		//- 地圖css
		//- link(rel="stylesheet" href="css/storymap/storymap.css")

		link(rel="stylesheet", href="css/sty.css?v2")


	//-改到下面去
	//- <script src="js/book/turn.js"></script>
	//- <script src="js/book/zoom.min.js"></script>
	//- <script src="js/book/magazine.js"></script>
	//- <link href="js/book/magazine.css" rel="stylesheet" type="text/css">
	//- <script type="text/javascript" src="js/book/jquery.min.1.7.js"></script>
	//- //- <script type="text/javascript" src="js/book/modernizr.2.5.3.min.js"></script>
	//- <script type="text/javascript" src="js/book/hash.js"></script>
	//- <link rel="stylesheet" href="js/book/font-awesome.min.css">
	body
		h1.ht 臺灣文學虛擬博物館
		section.book-area
			a(href="writer_book_online_list.html").book-home <i class="fas fa-books"></i> 返回列表
			<div id="canvas" style="display: block;">
				.zoom-btn#zoomBtn <i class="fas fa-expand-alt"></i> 放大
				//- <div class="zoom-icon zoom-icon-in"></div>

				<div class="magazine-viewport" style="position: relative; overflow: hidden; width: 1413px; height: 770px;">
					<div class="container">
						<div class="magazine animated" style="position: relative; width: 766px; height: 540.235px; top: -270.117px; left: -383px; margin-left: -191.5px;">
							//- Next button
							<div ignore="1" id="nextBtn" class="next-button book-btn" style="height: 540.235px; background-position: -38px 254.117px;">
								<i class="fas fa-caret-right"></i>
							</div>
							//- Previous button
							<div ignore="1" id="preBtn" class="previous-button book-btn" style="display: none; height: 540.235px; background-position: -4px 254.117px;">
								<i class="fas fa-caret-left"></i>
							</div>
							<div id="fristImg">
								<div class="gradient"></div>
								<img src="img/1.jpg">
							</div>
							<div>
								<div class="gradient"></div>
								<img src="img/2.jpg">
							</div>
							<div>
								<div class="gradient"></div>
								<img src="img/3.jpg">
							</div>
							<div>
								<div class="gradient"></div>
								<img src="img/4.jpg">
							</div>
							<div>
								<div class="gradient"></div>
								<img src="img/5.jpg">
							</div>
							<div>
								<div class="gradient"></div>
								<img src="img/6.jpg">
							</div>
							<div>
								<div class="gradient"></div>
								<img src="img/7.jpg">
							</div>
							<div>
								<div class="gradient"></div>
								<img src="img/8.jpg">
							</div>
						</div>
					</div>
				</div>

				//- Thumbnails
				//- <div class="thumbnails" style="height: 115.117px; display: block;">
				//- 	<div style="margin-top: 7.55859px;">
				<div class="thumbnails">
					<div>
						<ul>
							<li class="current">
								<img src="img/1.jpg" width="38" height="50" class="page-1">
								//- <span>1</span>
							</li>
							<li>
								<img src="img/2.jpg" width="38" height="50" class="page-2">
								<img src="img/3.jpg" width="38" height="50" class="page-3">
								//- <span>2-3</span>
							</li>
							<li>
								<img src="img/4.jpg" width="38" height="50" class="page-4">
								<img src="img/5.jpg" width="38" height="50" class="page-5">
							</li>
							<li>
								<img src="img/6.jpg" width="38" height="50" class="page-6">
								<img src="img/7.jpg" width="38" height="50" class="page-7">
							</li>
							<li>
								<img src="img/8.jpg" width="38" height="50" class="page-8">
							</li>
							//- <li class="d">
							//- 	<img src="img/3-normal.jpg" width="38" height="50" class="page-6">
							//- 	//- <span>6</span>
							//- </li>
							//- <li class="i">
							//- 	<img src="img/3-normal.jpg" width="38" height="50" class="page-6">
							//- 	//- <span>6</span>
							//- </li>
						</ul>
					</div>
				</div>

				//- script(type="text/javascript").
				//- 	function loadApp() {
				//- 		//-   window.page_image_path = 'https://literature.sds.com.tw/storage/ReadingTranslation/pages/487/%page'
				//- 		window.page_image_path="img/";

				//- 		$('#canvas').fadeIn(1000);

				//- 		const imgW = $('#fristImg').find('img').width();
				//- 		const imgH = $('#fristImg').find('img').height();
				//- 		//- console.log(imgW, imgH);
				//- 		var flipbook = $('.magazine');

				//- 		// Check if the CSS was already loaded

				//- 		if (flipbook.width() == 0 || flipbook.height() == 0) {
				//- 			setTimeout(loadApp, 10);
				//- 			return;
				//- 		}

				//- 		// Create the flipbook

				//- 		flipbook.turn({
				//- 			direction: "ltr",

				//- 			// Magazine width

				//- 			width: imgW * 2,//2400,

				//- 			// Magazine height

				//- 			height: imgH,//1695,

				//- 			// Duration in millisecond

				//- 			duration: 1000,

				//- 			// Hardware acceleration

				//- 			acceleration: !isChrome(),

				//- 			// Enables gradients

				//- 			gradients: true,

				//- 			// Auto center this flipbook

				//- 			autoCenter: true,

				//- 			// Elevation from the edge of the flipbook when turning a page

				//- 			elevation: 50,

				//- 			// The number of pages

				//- 			// pages: 6,

				//- 			// Events

				//- 			when: {
				//- 				turning: function (event, page, view) {

				//- 					var book = $(this),
				//- 					currentPage = book.turn('page'),
				//- 					pages = book.turn('pages');

				//- 					// Update the current URI

				//- 					Hash.go('page/' + page).update();

				//- 					// Show and hide navigation buttons

				//- 					disableControls(page);


				//- 					$('.thumbnails .page-' + currentPage).
				//- 					parent().
				//- 					removeClass('current');

				//- 					$('.thumbnails .page-' + page).
				//- 					parent().
				//- 					addClass('current');



				//- 				},

				//- 				turned: function (event, page, view) {

				//- 					disableControls(page);

				//- 					$(this).turn('center');

				//- 					if (page == 1) {
				//- 						$(this).turn('peel', 'br');
				//- 					}

				//- 				},

				//- 				missing: function (event, pages) {

				//- 					// Add pages that aren't in the magazine
				//- 					//不需要動態加入，直接放在dom上
				//- 					// for (var i = 0; i < pages.length; i++)
				//- 					//   addPage(pages[i], $(this));

				//- 				}
				//- 			}

				//- 		});

				//- 		// Zoom.js

				//- 		$('.magazine-viewport').zoom({
				//- 			flipbook: $('.magazine'),

				//- 			max: function () {

				//- 				return largeMagazineWidth() / $('.magazine').width();

				//- 			},

				//- 			when: {

				//- 				swipeLeft: function () {

				//- 					$(this).zoom('flipbook').turn('next');

				//- 				},

				//- 				swipeRight: function () {

				//- 					$(this).zoom('flipbook').turn('previous');

				//- 				},

				//- 				resize: function (event, scale, page, pageElement) {

				//- 					if (scale == 1)
				//- 						loadSmallPage(page, pageElement);
				//- 					else
				//- 						loadLargePage(page, pageElement);

				//- 				},

				//- 				zoomIn: function () {

				//- 					$('.thumbnails').hide();
				//- 					$('.made').hide();
				//- 					$('.magazine').removeClass('animated').addClass('zoom-in');
				//- 					//- $('.zoom-icon').removeClass('zoom-icon-in').addClass('zoom-icon-out');
				//- 					$('#zoomBtn').html('<i class="fas fa-compress-alt"></i> 縮小');

				//- 					if (!window.escTip && !$.isTouch) {
				//- 						escTip = true;

				//- 						$('<div />', { 'class': 'exit-message' }).
				//- 							html('<div>點擊 ESC 離開</div>').
				//- 							appendTo($('body')).
				//- 							delay(2000).
				//- 							animate({ opacity: 0 }, 500, function () {
				//- 								$(this).remove();
				//- 							});
				//- 					}
				//- 				},

				//- 				zoomOut: function () {

				//- 					$('.exit-message').hide();
				//- 					$('.thumbnails').fadeIn();
				//- 					$('.made').fadeIn();
				//- 					//- $('.zoom-icon').removeClass('zoom-icon-out').addClass('zoom-icon-in');
				//- 					$('#zoomBtn').html('<i class="fas fa-expand-alt"></i> 放大');

				//- 					setTimeout(function () {
				//- 						$('.magazine').addClass('animated').removeClass('zoom-in');
				//- 						resizeViewport();
				//- 					}, 0);

				//- 				}
				//- 			}
				//- 		});

				//- 		// Zoom event(本藏)

				//- 		// if ($.isTouch)
				//- 		//   $('.magazine-viewport').bind('zoom.doubleTap', zoomTo);
				//- 		// else
				//- 		//   $('.magazine-viewport').bind('zoom.tap', zoomTo);


				//- 		// Using arrow keys to turn the page

				//- 		$(document).keydown(function (e) {

				//- 			var previous = 37, next = 39, esc = 27;

				//- 			switch (e.keyCode) {
				//- 				case previous:

				//- 					// left arrow
				//- 					$('.magazine').turn('previous');
				//- 					e.preventDefault();

				//- 					break;
				//- 				case next:

				//- 					//right arrow
				//- 					$('.magazine').turn('next');
				//- 					e.preventDefault();

				//- 					break;
				//- 				case esc:

				//- 					$('.magazine-viewport').zoom('zoomOut');
				//- 					e.preventDefault();

				//- 					break;
				//- 			}
				//- 		});

				//- 		// URIs - Format #/page/1 

				//- 		Hash.on('^page\/([0-9]*)$', {
				//- 			yep: function (path, parts) {
				//- 				var page = parts[1];

				//- 				if (page !== undefined) {
				//- 					if ($('.magazine').turn('is'))
				//- 						$('.magazine').turn('page', page);
				//- 				}

				//- 			},
				//- 			nop: function (path) {

				//- 				if ($('.magazine').turn('is'))
				//- 					$('.magazine').turn('page', 1);
				//- 			}
				//- 		});


				//- 		$(window).resize(function () {
				//- 			resizeViewport();
				//- 		}).bind('orientationchange', function () {
				//- 			resizeViewport();
				//- 		});

				//- 		// Events for thumbnails

				//- 		$('.thumbnails').click(function (event) {

				//- 			var page;

				//- 			if (event.target && (page = /page-([0-9]+)/.exec($(event.target).attr('class')))) {

				//- 				$('.magazine').turn('page', page[1]);
				//- 			}
				//- 		});

				//- 		$('.thumbnails li').
				//- 			bind($.mouseEvents.over, function () {

				//- 				$(this).addClass('thumb-hover');

				//- 			}).bind($.mouseEvents.out, function () {

				//- 				$(this).removeClass('thumb-hover');

				//- 			});

				//- 		if ($.isTouch) {

				//- 			$('.thumbnails').
				//- 			addClass('thumbanils-touch').
				//- 			bind($.mouseEvents.move, function (event) {
				//- 				event.preventDefault();
				//- 			});

				//- 		} else {

				//- 			$('.thumbnails ul').mouseover(function () {

				//- 				$('.thumbnails').addClass('thumbnails-hover');

				//- 			}).mousedown(function () {

				//- 				return false;

				//- 			}).mouseout(function () {

				//- 				$('.thumbnails').removeClass('thumbnails-hover');

				//- 			});

				//- 		}


				//- 		// Regions

				//- 		if ($.isTouch) {
				//- 			$('.magazine').bind('touchstart', regionClick);
				//- 		} else {
				//- 			$('.magazine').click(regionClick);
				//- 		}

				//- 		// Events for the next button(下一頁按鈕)
				//- 		$('#nextBtn').on('click',(e)=>{
				//- 			$('.magazine').turn('next');
				//- 		});

				//- 		//- $('.next-button').bind($.mouseEvents.over, function () {

				//- 		//- 	$(this).addClass('next-button-hover');

				//- 		//- }).bind($.mouseEvents.out, function () {

				//- 		//- 	$(this).removeClass('next-button-hover');

				//- 		//- }).bind($.mouseEvents.down, function () {

				//- 		//- 	$(this).addClass('next-button-down');

				//- 		//- }).bind($.mouseEvents.up, function () {

				//- 		//- 	$(this).removeClass('next-button-down');

				//- 		//- }).click(function () {

				//- 		//- 	$('.magazine').turn('next');

				//- 		//- });

				//- 		// Events for the next button(上一頁按鈕)
				//- 		$('#preBtn').on('click',(e)=>{
				//- 			$('.magazine').turn('previous');
				//- 		});

				//- 		//- $('.previous-button').bind($.mouseEvents.over, function () {

				//- 		//- 	$(this).addClass('previous-button-hover');

				//- 		//- }).bind($.mouseEvents.out, function () {

				//- 		//- 	$(this).removeClass('previous-button-hover');

				//- 		//- }).bind($.mouseEvents.down, function () {

				//- 		//- 	$(this).addClass('previous-button-down');

				//- 		//- }).bind($.mouseEvents.up, function () {

				//- 		//- 	$(this).removeClass('previous-button-down');

				//- 		//- }).click(function () {

				//- 		//- 	$('.magazine').turn('previous');

				//- 		//- });
						


				//- 		resizeViewport();

				//- 		$('.magazine').addClass('animated');

				//- 	}

				//- 	// Zoom icon
				//- 	let zoomSwitch = true;
				//- 	$('#zoomBtn').on('click',(e)=>{
				//- 		if(zoomSwitch){
				//- 			$('.magazine-viewport').zoom('zoomIn');
				//- 			zoomSwitch = false;
				//- 		}else{
				//- 			$('.magazine-viewport').zoom('zoomOut');
				//- 			zoomSwitch = true;
				//- 		}
				//- 	});

				//- 	//- $('.zoom-icon').bind('mouseover', function () {

				//- 	//- 	if ($(this).hasClass('zoom-icon-in'))
				//- 	//- 		$(this).addClass('zoom-icon-in-hover');

				//- 	//- 	if ($(this).hasClass('zoom-icon-out'))
				//- 	//- 		$(this).addClass('zoom-icon-out-hover');

				//- 	//- }).bind('mouseout', function () {

				//- 	//- 	if ($(this).hasClass('zoom-icon-in'))
				//- 	//- 		$(this).removeClass('zoom-icon-in-hover');

				//- 	//- 	if ($(this).hasClass('zoom-icon-out'))
				//- 	//- 		$(this).removeClass('zoom-icon-out-hover');

				//- 	//- }).bind('click', function () {

				//- 	//- 	if ($(this).hasClass('zoom-icon-in'))
				//- 	//- 		$('.magazine-viewport').zoom('zoomIn');
				//- 	//- 	else if ($(this).hasClass('zoom-icon-out'))
				//- 	//- 		$('.magazine-viewport').zoom('zoomOut');

				//- 	//- });

				//- 	$('#canvas').hide();


				//- 	// Load the HTML4 version if there's not CSS transform

				//- 	//- yepnope({
				//- 	//-   test: Modernizr.csstransforms,
				//- 	//-   yep: ['https://literature.sds.com.tw/reading_assets/lib/turn.js'],
				//- 	//-   nope: ['https://literature.sds.com.tw/reading_assets/lib/turn.html4.min.js'],
				//- 	//-   both: ['https://literature.sds.com.tw/reading_assets/lib/zoom.min.js', 'https://literature.sds.com.tw/reading_assets/js/magazine.js', 'https://literature.sds.com.tw/reading_assets/css/magazine.css'],
				//- 	//-   complete: loadApp
				//- 	//- });
				//- 	//- $(document).ready(function() {
				//- 	//- 	loadApp();
				//- 	//- 	//- yepnope({
				//- 	//- 	//- 	test: Modernizr.csstransforms,
				//- 	//- 	//- 	yep: ['js/book/turn.js'],
				//- 	//- 	//- 	nope: ['js/book/turn.html4.min.js'],
				//- 	//- 	//- 	both: ['js/book/zoom.min.js', 'js/book/magazine.js', 'js/book/magazine.css'],
				//- 	//- 	//- 	complete: loadApp
				//- 	//- 	//- });
				//- 	//- });

			</div>

//- script(src="js/book/jquery.min.1.7.js")
//- link(href="js/book/magazine.css" rel="stylesheet" type="text/css")
//- link(rel="stylesheet" href="js/book/font-awesome.min.css")
//- //- turn.js 和 zoom.min.js 順序必須要在jquery.min.1.7.js之下
//- script(src="js/book/turn.js")
//- script(src="js/book/zoom.min.js")
//- script(src="js/book/magazine.js")
//- script(src="js/book/hash.js")

script.
	function loadApp() {
		//-   window.page_image_path = 'https://literature.sds.com.tw/storage/ReadingTranslation/pages/487/%page'
		window.page_image_path="img/";

		$('#canvas').fadeIn(1000);

		const imgW = $('#fristImg').find('img').width();
		const imgH = $('#fristImg').find('img').height();
		//- console.log(imgW, imgH);
		var flipbook = $('.magazine');

		// Check if the CSS was already loaded

		if (flipbook.width() == 0 || flipbook.height() == 0) {
			setTimeout(loadApp, 10);
			return;
		}

		// Create the flipbook

		flipbook.turn({
			direction: "ltr",

			// Magazine width

			width: imgW * 2,//2400,

			// Magazine height

			height: imgH,//1695,

			// Duration in millisecond

			duration: 1000,

			// Hardware acceleration

			acceleration: !isChrome(),

			// Enables gradients

			gradients: true,

			// Auto center this flipbook

			autoCenter: true,

			// Elevation from the edge of the flipbook when turning a page

			elevation: 50,

			// The number of pages

			// pages: 6,

			// Events

			when: {
				turning: function (event, page, view) {

					var book = $(this),
					currentPage = book.turn('page'),
					pages = book.turn('pages');

					// Update the current URI

					Hash.go('page/' + page).update();

					// Show and hide navigation buttons

					disableControls(page);


					$('.thumbnails .page-' + currentPage).
					parent().
					removeClass('current');

					$('.thumbnails .page-' + page).
					parent().
					addClass('current');



				},

				turned: function (event, page, view) {

					disableControls(page);

					$(this).turn('center');

					if (page == 1) {
						$(this).turn('peel', 'br');
					}

				},

				missing: function (event, pages) {

					// Add pages that aren't in the magazine
					//不需要動態加入，直接放在dom上
					// for (var i = 0; i < pages.length; i++)
					//   addPage(pages[i], $(this));

				}
			}

		});

		// Zoom.js

		$('.magazine-viewport').zoom({
			flipbook: $('.magazine'),

			max: function () {

				return largeMagazineWidth() / $('.magazine').width();

			},

			when: {

				swipeLeft: function () {

					$(this).zoom('flipbook').turn('next');

				},

				swipeRight: function () {

					$(this).zoom('flipbook').turn('previous');

				},

				resize: function (event, scale, page, pageElement) {

					if (scale == 1)
						loadSmallPage(page, pageElement);
					else
						loadLargePage(page, pageElement);

				},

				zoomIn: function () {

					$('.thumbnails').hide();
					$('.made').hide();
					$('.magazine').removeClass('animated').addClass('zoom-in');
					//- $('.zoom-icon').removeClass('zoom-icon-in').addClass('zoom-icon-out');
					$('#zoomBtn').html('<i class="fas fa-compress-alt"></i> 縮小');

					if (!window.escTip && !$.isTouch) {
						escTip = true;

						$('<div />', { 'class': 'exit-message' }).
							html('<div>點擊 ESC 離開</div>').
							appendTo($('body')).
							delay(2000).
							animate({ opacity: 0 }, 500, function () {
								$(this).remove();
							});
					}
				},

				zoomOut: function () {

					$('.exit-message').hide();
					$('.thumbnails').fadeIn();
					$('.made').fadeIn();
					//- $('.zoom-icon').removeClass('zoom-icon-out').addClass('zoom-icon-in');
					$('#zoomBtn').html('<i class="fas fa-expand-alt"></i> 放大');

					setTimeout(function () {
						$('.magazine').addClass('animated').removeClass('zoom-in');
						resizeViewport();
					}, 0);

				}
			}
		});

		// Zoom event(本藏)

		// if ($.isTouch)
		//   $('.magazine-viewport').bind('zoom.doubleTap', zoomTo);
		// else
		//   $('.magazine-viewport').bind('zoom.tap', zoomTo);


		// Using arrow keys to turn the page

		$(document).keydown(function (e) {

			var previous = 37, next = 39, esc = 27;

			switch (e.keyCode) {
				case previous:

					// left arrow
					$('.magazine').turn('previous');
					e.preventDefault();

					break;
				case next:

					//right arrow
					$('.magazine').turn('next');
					e.preventDefault();

					break;
				case esc:

					$('.magazine-viewport').zoom('zoomOut');
					e.preventDefault();

					break;
			}
		});

		// URIs - Format #/page/1 

		Hash.on('^page\/([0-9]*)$', {
			yep: function (path, parts) {
				var page = parts[1];

				if (page !== undefined) {
					if ($('.magazine').turn('is'))
						$('.magazine').turn('page', page);
				}

			},
			nop: function (path) {

				if ($('.magazine').turn('is'))
					$('.magazine').turn('page', 1);
			}
		});


		$(window).resize(function () {
			resizeViewport();
		}).bind('orientationchange', function () {
			resizeViewport();
		});

		// Events for thumbnails

		$('.thumbnails').click(function (event) {

			var page;

			if (event.target && (page = /page-([0-9]+)/.exec($(event.target).attr('class')))) {

				$('.magazine').turn('page', page[1]);
			}
		});

		$('.thumbnails li').
			bind($.mouseEvents.over, function () {

				$(this).addClass('thumb-hover');

			}).bind($.mouseEvents.out, function () {

				$(this).removeClass('thumb-hover');

			});

		if ($.isTouch) {

			$('.thumbnails').
			addClass('thumbanils-touch').
			bind($.mouseEvents.move, function (event) {
				event.preventDefault();
			});

		} else {

			$('.thumbnails ul').mouseover(function () {

				$('.thumbnails').addClass('thumbnails-hover');

			}).mousedown(function () {

				return false;

			}).mouseout(function () {

				$('.thumbnails').removeClass('thumbnails-hover');

			});

		}


		// Regions

		if ($.isTouch) {
			$('.magazine').bind('touchstart', regionClick);
		} else {
			$('.magazine').click(regionClick);
		}

		// Events for the next button(下一頁按鈕)
		$('#nextBtn').on('click',(e)=>{
			$('.magazine').turn('next');
		});

		//- $('.next-button').bind($.mouseEvents.over, function () {

		//- 	$(this).addClass('next-button-hover');

		//- }).bind($.mouseEvents.out, function () {

		//- 	$(this).removeClass('next-button-hover');

		//- }).bind($.mouseEvents.down, function () {

		//- 	$(this).addClass('next-button-down');

		//- }).bind($.mouseEvents.up, function () {

		//- 	$(this).removeClass('next-button-down');

		//- }).click(function () {

		//- 	$('.magazine').turn('next');

		//- });

		// Events for the next button(上一頁按鈕)
		$('#preBtn').on('click',(e)=>{
			$('.magazine').turn('previous');
		});

		//- $('.previous-button').bind($.mouseEvents.over, function () {

		//- 	$(this).addClass('previous-button-hover');

		//- }).bind($.mouseEvents.out, function () {

		//- 	$(this).removeClass('previous-button-hover');

		//- }).bind($.mouseEvents.down, function () {

		//- 	$(this).addClass('previous-button-down');

		//- }).bind($.mouseEvents.up, function () {

		//- 	$(this).removeClass('previous-button-down');

		//- }).click(function () {

		//- 	$('.magazine').turn('previous');

		//- });
		


		resizeViewport();

		$('.magazine').addClass('animated');

	}

	// Zoom icon
	let zoomSwitch = true;
	$('#zoomBtn').on('click',(e)=>{
		if(zoomSwitch){
			$('.magazine-viewport').zoom('zoomIn');
			zoomSwitch = false;
		}else{
			$('.magazine-viewport').zoom('zoomOut');
			zoomSwitch = true;
		}
	});

	//- $('.zoom-icon').bind('mouseover', function () {

	//- 	if ($(this).hasClass('zoom-icon-in'))
	//- 		$(this).addClass('zoom-icon-in-hover');

	//- 	if ($(this).hasClass('zoom-icon-out'))
	//- 		$(this).addClass('zoom-icon-out-hover');

	//- }).bind('mouseout', function () {

	//- 	if ($(this).hasClass('zoom-icon-in'))
	//- 		$(this).removeClass('zoom-icon-in-hover');

	//- 	if ($(this).hasClass('zoom-icon-out'))
	//- 		$(this).removeClass('zoom-icon-out-hover');

	//- }).bind('click', function () {

	//- 	if ($(this).hasClass('zoom-icon-in'))
	//- 		$('.magazine-viewport').zoom('zoomIn');
	//- 	else if ($(this).hasClass('zoom-icon-out'))
	//- 		$('.magazine-viewport').zoom('zoomOut');

	//- });

	$('#canvas').hide();
	$(document).ready(function() {
		loadApp();
		//- yepnope({
		//- 	test: Modernizr.csstransforms,
		//- 	yep: ['js/book/turn.js'],
		//- 	nope: ['js/book/turn.html4.min.js'],
		//- 	both: ['js/book/zoom.min.js', 'js/book/magazine.js', 'js/book/magazine.css'],
		//- 	complete: loadApp
		//- });
	});
//- <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
//- script(src="js/turn.js")
//- script(src="js/zoom.min.js")
//- script.
//- 	$(document).ready(function(){
//- 		$("#flipbook").turn({
//- 			width: 400,
//- 			//- height: 300,
//- 			autoCenter: true
//- 		});
//- 		$(".mag").zoom({
//- 			flipbook: $("#flipbook"),
//- 			max: function() {
//- 				return 3000/$('#flipbook').width();
//- 			}
//- 		});
//- 		$('#flipbook').turn('peel', 'br');
//- 		//- $(window).scroll(function () {
//- 		//- 	//- var windowScrollNum = $(window).scrollTop();
//- 		//- 	var windowScrollNum = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
//- 		//- 	windowScrollNum > 300 ? $('#imgTitle').fadeIn(): $('#imgTitle').fadeOut();
//- 		//- });
//- 	});
//- style.
//- 	body{
//- 		background: #000;
//- 	}
//- 	.mag{
//- 		margin: 0 auto;
//- 	}
//- 	#flipbook{
//- 		width:400px;
//- 		height:300px;
//- 		margin: 0 auto;
//- 		transition: .2s;
//- 	}
//- 	#flipbook img{
//- 		width:100%;
//- 	}

//- 	#flipbook .page{
//- 		width:400px;
//- 		height:300px;
//- 		background-color:white;
//- 		line-height:300px;
//- 		font-size:20px;
//- 		text-align:center;
//- 	}
//- 	.turn-page{
//- 		background: #fff;
//- 	}

//- 	#flipbook .page-wrapper{
//- 		-webkit-perspective:2000px;
//- 		-moz-perspective:2000px;
//- 		-ms-perspective:2000px;
//- 		-o-perspective:2000px;
//- 		perspective:2000px;
//- 	}

//- 	#flipbook .hard{
//- 		background:#ccc !important;
//- 		color:#333;
//- 		-webkit-box-shadow:inset 0 0 5px #666;
//- 		-moz-box-shadow:inset 0 0 5px #666;
//- 		-o-box-shadow:inset 0 0 5px #666;
//- 		-ms-box-shadow:inset 0 0 5px #666;
//- 		box-shadow:inset 0 0 5px #666;
//- 		font-weight:bold;
//- 	}

//- 	#flipbook .odd{
//- 		background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
//- 		background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
//- 		background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
//- 		background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
//- 		background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
//- 		background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
//- 		-webkit-box-shadow:inset 0 0 5px #666;
//- 		-moz-box-shadow:inset 0 0 5px #666;
//- 		-o-box-shadow:inset 0 0 5px #666;
//- 		-ms-box-shadow:inset 0 0 5px #666;
//- 		box-shadow:inset 0 0 5px #666;
		
//- 	}

//- 	#flipbook .even{
//- 		background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
//- 		background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
//- 		background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
//- 		background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
//- 		background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
//- 		background-image:linear-gradient(left, #fff 95%, #dadada 100%);
//- 		-webkit-box-shadow:inset 0 0 5px #666;
//- 		-moz-box-shadow:inset 0 0 5px #666;
//- 		-o-box-shadow:inset 0 0 5px #666;
//- 		-ms-box-shadow:inset 0 0 5px #666;
//- 		box-shadow:inset 0 0 5px #666;
//- 	}

public/writer_book_online_cont_BK.html
<!DOCTYPE html>
<html class="js csstransforms csstransforms3d">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="臺灣文學虛擬博物館"/>
    <meta name="description" content="科技、人文、友善體驗"/>
    <meta name="Copyright" content="© 2020"/>
    <meta property="og:title" content="臺灣文學虛擬博物館"/>
    <meta property="og:site_name" content="科技、人文、友善體驗"/>
    <meta property="og:url" content="自定義分享連結的網址"/>
    <meta property="og:description" content="科技、人文、友善體驗"/>
    <meta property="og:image" content="呈現的圖片至少要1200x630"/>
    <meta property="og:type" content="website"/>
    <title>臺灣文學虛擬博物館</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/book/jquery.min.1.7.js"></script>
    <link href="js/book/magazine.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="js/book/font-awesome.min.css"/>
    <script src="js/book/turn.js"></script>
    <script src="js/book/zoom.min.js"></script>
    <script src="js/book/magazine.js"></script>
    <script src="js/book/hash.js"></script>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/sty.css?v2"/>
  </head>
  <body>
    <h1 class="ht">臺灣文學虛擬博物館</h1>
    <section class="book-area"><a class="book-home" href="writer_book_online_list.html"><i class="fas fa-books"></i> 返回列表</a><div id="canvas" style="display: block;">
      <div class="zoom-btn" id="zoomBtn"><i class="fas fa-expand-alt"></i> 放大</div><div class="magazine-viewport" style="position: relative; overflow: hidden; width: 1413px; height: 770px;">
<div class="container">
<div class="magazine animated" style="position: relative; width: 766px; height: 540.235px; top: -270.117px; left: -383px; margin-left: -191.5px;">
<div ignore="1" id="nextBtn" class="next-button book-btn" style="height: 540.235px; background-position: -38px 254.117px;">
<i class="fas fa-caret-right"></i>
</div>
<div ignore="1" id="preBtn" class="previous-button book-btn" style="display: none; height: 540.235px; background-position: -4px 254.117px;">
<i class="fas fa-caret-left"></i>
</div>
<div id="fristImg">
<div class="gradient"></div>
<img src="img/1.jpg">
</div>
<div>
<div class="gradient"></div>
<img src="img/2.jpg">
</div>
<div>
<div class="gradient"></div>
<img src="img/3.jpg">
</div>
<div>
<div class="gradient"></div>
<img src="img/4.jpg">
</div>
<div>
<div class="gradient"></div>
<img src="img/5.jpg">
</div>
<div>
<div class="gradient"></div>
<img src="img/6.jpg">
</div>
<div>
<div class="gradient"></div>
<img src="img/7.jpg">
</div>
<div>
<div class="gradient"></div>
<img src="img/8.jpg">
</div>
</div>
</div>
</div>
<div class="thumbnails">
<div>
<ul>
<li class="current">
<img src="img/1.jpg" width="38" height="50" class="page-1">
</li>
<li>
<img src="img/2.jpg" width="38" height="50" class="page-2">
<img src="img/3.jpg" width="38" height="50" class="page-3">
</li>
<li>
<img src="img/4.jpg" width="38" height="50" class="page-4">
<img src="img/5.jpg" width="38" height="50" class="page-5">
</li>
<li>
<img src="img/6.jpg" width="38" height="50" class="page-6">
<img src="img/7.jpg" width="38" height="50" class="page-7">
</li>
<li>
<img src="img/8.jpg" width="38" height="50" class="page-8">
</li>
</ul>
</div>
</div>
</div>
    </section>
  </body>
</html>
<script>
  function loadApp() {
  	//-   window.page_image_path = 'https://literature.sds.com.tw/storage/ReadingTranslation/pages/487/%page'
  	window.page_image_path="img/";
  
  	$('#canvas').fadeIn(1000);
  
  	const imgW = $('#fristImg').find('img').width();
  	const imgH = $('#fristImg').find('img').height();
  	//- console.log(imgW, imgH);
  	var flipbook = $('.magazine');
  
  	// Check if the CSS was already loaded
  
  	if (flipbook.width() == 0 || flipbook.height() == 0) {
  		setTimeout(loadApp, 10);
  		return;
  	}
  
  	// Create the flipbook
  
  	flipbook.turn({
  		direction: "ltr",
  
  		// Magazine width
  
  		width: imgW * 2,//2400,
  
  		// Magazine height
  
  		height: imgH,//1695,
  
  		// Duration in millisecond
  
  		duration: 1000,
  
  		// Hardware acceleration
  
  		acceleration: !isChrome(),
  
  		// Enables gradients
  
  		gradients: true,
  
  		// Auto center this flipbook
  
  		autoCenter: true,
  
  		// Elevation from the edge of the flipbook when turning a page
  
  		elevation: 50,
  
  		// The number of pages
  
  		// pages: 6,
  
  		// Events
  
  		when: {
  			turning: function (event, page, view) {
  
  				var book = $(this),
  				currentPage = book.turn('page'),
  				pages = book.turn('pages');
  
  				// Update the current URI
  
  				Hash.go('page/' + page).update();
  
  				// Show and hide navigation buttons
  
  				disableControls(page);
  
  
  				$('.thumbnails .page-' + currentPage).
  				parent().
  				removeClass('current');
  
  				$('.thumbnails .page-' + page).
  				parent().
  				addClass('current');
  
  
  
  			},
  
  			turned: function (event, page, view) {
  
  				disableControls(page);
  
  				$(this).turn('center');
  
  				if (page == 1) {
  					$(this).turn('peel', 'br');
  				}
  
  			},
  
  			missing: function (event, pages) {
  
  				// Add pages that aren't in the magazine
  				//不需要動態加入，直接放在dom上
  				// for (var i = 0; i < pages.length; i++)
  				//   addPage(pages[i], $(this));
  
  			}
  		}
  
  	});
  
  	// Zoom.js
  
  	$('.magazine-viewport').zoom({
  		flipbook: $('.magazine'),
  
  		max: function () {
  
  			return largeMagazineWidth() / $('.magazine').width();
  
  		},
  
  		when: {
  
  			swipeLeft: function () {
  
  				$(this).zoom('flipbook').turn('next');
  
  			},
  
  			swipeRight: function () {
  
  				$(this).zoom('flipbook').turn('previous');
  
  			},
  
  			resize: function (event, scale, page, pageElement) {
  
  				if (scale == 1)
  					loadSmallPage(page, pageElement);
  				else
  					loadLargePage(page, pageElement);
  
  			},
  
  			zoomIn: function () {
  
  				$('.thumbnails').hide();
  				$('.made').hide();
  				$('.magazine').removeClass('animated').addClass('zoom-in');
  				//- $('.zoom-icon').removeClass('zoom-icon-in').addClass('zoom-icon-out');
  				$('#zoomBtn').html('<i class="fas fa-compress-alt"></i> 縮小');
  
  				if (!window.escTip && !$.isTouch) {
  					escTip = true;
  
  					$('<div />', { 'class': 'exit-message' }).
  						html('<div>點擊 ESC 離開</div>').
  						appendTo($('body')).
  						delay(2000).
  						animate({ opacity: 0 }, 500, function () {
  							$(this).remove();
  						});
  				}
  			},
  
  			zoomOut: function () {
  
  				$('.exit-message').hide();
  				$('.thumbnails').fadeIn();
  				$('.made').fadeIn();
  				//- $('.zoom-icon').removeClass('zoom-icon-out').addClass('zoom-icon-in');
  				$('#zoomBtn').html('<i class="fas fa-expand-alt"></i> 放大');
  
  				setTimeout(function () {
  					$('.magazine').addClass('animated').removeClass('zoom-in');
  					resizeViewport();
  				}, 0);
  
  			}
  		}
  	});
  
  	// Zoom event(本藏)
  
  	// if ($.isTouch)
  	//   $('.magazine-viewport').bind('zoom.doubleTap', zoomTo);
  	// else
  	//   $('.magazine-viewport').bind('zoom.tap', zoomTo);
  
  
  	// Using arrow keys to turn the page
  
  	$(document).keydown(function (e) {
  
  		var previous = 37, next = 39, esc = 27;
  
  		switch (e.keyCode) {
  			case previous:
  
  				// left arrow
  				$('.magazine').turn('previous');
  				e.preventDefault();
  
  				break;
  			case next:
  
  				//right arrow
  				$('.magazine').turn('next');
  				e.preventDefault();
  
  				break;
  			case esc:
  
  				$('.magazine-viewport').zoom('zoomOut');
  				e.preventDefault();
  
  				break;
  		}
  	});
  
  	// URIs - Format #/page/1 
  
  	Hash.on('^page\/([0-9]*)$', {
  		yep: function (path, parts) {
  			var page = parts[1];
  
  			if (page !== undefined) {
  				if ($('.magazine').turn('is'))
  					$('.magazine').turn('page', page);
  			}
  
  		},
  		nop: function (path) {
  
  			if ($('.magazine').turn('is'))
  				$('.magazine').turn('page', 1);
  		}
  	});
  
  
  	$(window).resize(function () {
  		resizeViewport();
  	}).bind('orientationchange', function () {
  		resizeViewport();
  	});
  
  	// Events for thumbnails
  
  	$('.thumbnails').click(function (event) {
  
  		var page;
  
  		if (event.target && (page = /page-([0-9]+)/.exec($(event.target).attr('class')))) {
  
  			$('.magazine').turn('page', page[1]);
  		}
  	});
  
  	$('.thumbnails li').
  		bind($.mouseEvents.over, function () {
  
  			$(this).addClass('thumb-hover');
  
  		}).bind($.mouseEvents.out, function () {
  
  			$(this).removeClass('thumb-hover');
  
  		});
  
  	if ($.isTouch) {
  
  		$('.thumbnails').
  		addClass('thumbanils-touch').
  		bind($.mouseEvents.move, function (event) {
  			event.preventDefault();
  		});
  
  	} else {
  
  		$('.thumbnails ul').mouseover(function () {
  
  			$('.thumbnails').addClass('thumbnails-hover');
  
  		}).mousedown(function () {
  
  			return false;
  
  		}).mouseout(function () {
  
  			$('.thumbnails').removeClass('thumbnails-hover');
  
  		});
  
  	}
  
  
  	// Regions
  
  	if ($.isTouch) {
  		$('.magazine').bind('touchstart', regionClick);
  	} else {
  		$('.magazine').click(regionClick);
  	}
  
  	// Events for the next button(下一頁按鈕)
  	$('#nextBtn').on('click',(e)=>{
  		$('.magazine').turn('next');
  	});
  
  	//- $('.next-button').bind($.mouseEvents.over, function () {
  
  	//- 	$(this).addClass('next-button-hover');
  
  	//- }).bind($.mouseEvents.out, function () {
  
  	//- 	$(this).removeClass('next-button-hover');
  
  	//- }).bind($.mouseEvents.down, function () {
  
  	//- 	$(this).addClass('next-button-down');
  
  	//- }).bind($.mouseEvents.up, function () {
  
  	//- 	$(this).removeClass('next-button-down');
  
  	//- }).click(function () {
  
  	//- 	$('.magazine').turn('next');
  
  	//- });
  
  	// Events for the next button(上一頁按鈕)
  	$('#preBtn').on('click',(e)=>{
  		$('.magazine').turn('previous');
  	});
  
  	//- $('.previous-button').bind($.mouseEvents.over, function () {
  
  	//- 	$(this).addClass('previous-button-hover');
  
  	//- }).bind($.mouseEvents.out, function () {
  
  	//- 	$(this).removeClass('previous-button-hover');
  
  	//- }).bind($.mouseEvents.down, function () {
  
  	//- 	$(this).addClass('previous-button-down');
  
  	//- }).bind($.mouseEvents.up, function () {
  
  	//- 	$(this).removeClass('previous-button-down');
  
  	//- }).click(function () {
  
  	//- 	$('.magazine').turn('previous');
  
  	//- });
  	
  
  
  	resizeViewport();
  
  	$('.magazine').addClass('animated');
  
  }
  
  // Zoom icon
  let zoomSwitch = true;
  $('#zoomBtn').on('click',(e)=>{
  	if(zoomSwitch){
  		$('.magazine-viewport').zoom('zoomIn');
  		zoomSwitch = false;
  	}else{
  		$('.magazine-viewport').zoom('zoomOut');
  		zoomSwitch = true;
  	}
  });
  
  //- $('.zoom-icon').bind('mouseover', function () {
  
  //- 	if ($(this).hasClass('zoom-icon-in'))
  //- 		$(this).addClass('zoom-icon-in-hover');
  
  //- 	if ($(this).hasClass('zoom-icon-out'))
  //- 		$(this).addClass('zoom-icon-out-hover');
  
  //- }).bind('mouseout', function () {
  
  //- 	if ($(this).hasClass('zoom-icon-in'))
  //- 		$(this).removeClass('zoom-icon-in-hover');
  
  //- 	if ($(this).hasClass('zoom-icon-out'))
  //- 		$(this).removeClass('zoom-icon-out-hover');
  
  //- }).bind('click', function () {
  
  //- 	if ($(this).hasClass('zoom-icon-in'))
  //- 		$('.magazine-viewport').zoom('zoomIn');
  //- 	else if ($(this).hasClass('zoom-icon-out'))
  //- 		$('.magazine-viewport').zoom('zoomOut');
  
  //- });
  
  $('#canvas').hide();
  $(document).ready(function() {
  	loadApp();
  	//- yepnope({
  	//- 	test: Modernizr.csstransforms,
  	//- 	yep: ['js/book/turn.js'],
  	//- 	nope: ['js/book/turn.html4.min.js'],
  	//- 	both: ['js/book/zoom.min.js', 'js/book/magazine.js', 'js/book/magazine.css'],
  	//- 	complete: loadApp
  	//- });
  });
</script>
